[2019-01-25 18:39] SidharthBansal commented on #300
Other ideas:
* Addition of danger bot
* Addition of codeclimate
* Addition of dependabot

[2019-01-25 19:20] SidharthBansal opened #301 "[Discussion] : Login Project"
Following problems observed:
* No proper login/signup for the website. Relies on pl.org for activity
* Improper usernames are not entertained with flash messages
* User who has given access to mapknitter once has to give it whenever they login
* Sign up mapknitter basic+alternative flow missing
* OAuth missing
* email does not work instead of username
* Clicking No option on pl.org enables the use

[2019-01-25 19:21] SidharthBansal commented on #301
There are 2 functionalities:
* Mapknitter should have its own authentication system
* Mapknitter will use Pl.org authentication system
Currently it is improperly implemented. In which direction we have to move?

[2019-01-25 19:24] SidharthBansal opened #302 "Discussion: integrating or merging Mapknitter into plots2/PublicLab.org"
Can we merge Mapknitter to the pl.org/maps?
Similar workflow with mapmiller can be obtained.
Thanks

[2019-01-25 20:40] jywarren commented on #302
I'm interested but would like to brainstorm out how that would work!

[2019-01-25 20:40] jywarren commented on #302
One idea would be to make it embeddable? Or allow people to start a map from PL.org but still have a separate app?

[2019-01-25 21:01] gauravano commented on #300
Hey @jywarren @SidharthBansal,

There are some projects formed from this issue like Rails upgrade, User Interface, etc. I think we should divide this one into more planning issues.

Regarding installation of dangerbot, codeclimate and dependabot I have opened issue Sidharth.
Thanks!

[2019-01-25 21:24] grvsachdeva opened #303 "Add dangerfile to the project"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-25 21:54] gauravano commented on #297
Hi @jywarren, I tried to reproduce the issue but wasn't successful. @DaveF63 were you able to create the map after trying again? Thanks!

[2019-01-25 21:59] gauravano commented on #297
Hi @DaveF63 thanks for reporting the issue. @jywarren the error still exists. I am setting up mapknitter locally and will start working on issues, codebase exploration shortly. Thanks!

[2019-01-25 22:06] gauravano commented on #294
Hey @jywarren, any update on this issue?

[2019-01-25 22:10] gauravano commented on #297
While creating map anonymously, some assets are not loading

![map_create_error](https://user-images.githubusercontent.com/20878070/51775530-0e0c5180-211c-11e9-82cb-a7dc87ceb46e.png)

[2019-01-25 22:17] gauravano commented on #268
Hi @jywarren @sagarpreet-chadha, you want to update the checklist so that new issues can be formed from here? Thanks!

[2019-01-25 22:20] gauravano commented on #257
Hi @steviepubliclab, thanks for reporting. I will update the issue details soon. If anyone want to inspect the issue, feel free to add details. Thanks!

[2019-01-26 04:48] satyajeetmaharana commented on #303
Hi,
Could I please work on it? I am a newbie to opensource and looking forward to making some contributions.

[2019-01-26 05:03] SidharthBansal commented on #302
I am in **favour of embedded like the chatroom** is embedded on chat.publiclab.org
We can create a **subdomain**.
In case we want entire integration then this will result in creating all things in plots2. Benefit is plots2 is highly maintained over mapknitter. Also, we don't need to do Rails Upgrade, Bootstrap upgrade separate UI projects here.
But it will be really long as we have to copy and pas

[2019-01-26 05:08] SidharthBansal commented on #246
Part of #300

[2019-01-26 05:09] SidharthBansal commented on #252
Part of #300

[2019-01-26 05:13] SidharthBansal opened #304 "Planning issue: expand test coverage with more thorough testing"
Mapknitter repository requires a lot of unit tests, integration tests, fixtures and functional tests for each MVC pattern present in the repo along with routes explorations.
So @jywarren we can discuss testing in this issue.
Refer #300

[2019-01-26 06:06] SidharthBansal commented on #301
@jywarren @gauravano are there users who use pl but not mapknitter and users which use mapknitter but not pl.org?
This question can tell us whether we want both projects( + integration project for both )or single project(one of above).

[2019-01-26 06:07] SidharthBansal commented on #268
Part of #300

[2019-01-26 06:09] SidharthBansal opened #305 "Rails Upgrade"
Upgrade the version of Rails to Rails 5.
Part of #300

[2019-01-26 08:46] gauravano commented on #303
Hi @satyajeetmaharana! Welcome to Open Source world and Public Lab :tada:. You can work on this issue. Thanks!

[2019-01-26 20:43] satyajeetmaharana commented on #303
Hi @gauravano , Thank you so much. I have opened a pull request after going through the guidelines. Could you please review it? Please let me know if you have any feedback/suggestions.
#306

[2019-01-27 07:56] Dhiraj240 commented on #305
@SidharthBansal @jywarren @gauravano  I would like to work on the this from now onwards so that i get familiar with the end parts of the project before GSOC.
So should i start with breaking up the issues and submitting PR ?

[2019-01-27 08:14] SidharthBansal commented on #305
You can try some small issues of mapknitter to become familiar with this repo. Then you can start breaking this and open up a pr for this issue.

[2019-01-27 08:19] SidharthBansal opened #307 "Support: Installation Issues with MapKnitter"
Facing trouble installing Mapknitter? We are here to help you.

[2019-01-27 08:26] SidharthBansal opened #308 "Supportive Community Planning at MapKnitter"
Hi folks, we have many supportive tasks listed at the plots2 listed in wiki page https://github.com/publiclab/plots2/wiki/Supportive-Tasks
Let's replicate this from plots2 to mapknitter to enhance community bonding.
@gauravano @jywarren @ebarry

[2019-01-27 08:32] SidharthBansal commented on #300
I am trying to shift some portion of the crowd from plots2 to mapknitter also so that this repository will become active as plots2, image-sequencer is. I hope @jywarren, @gauravano @ebarry you will like this.

[2019-01-27 08:34] SidharthBansal commented on #308
Hi folks,
@tsparksh @faithngetich @DakshGondaliya @mohitRJranjan @milaaraujo @kevinzluo
@stefannibrasil @gauravano @ViditChitkara @tech4GT @mridulnagpal @namangupta01 @sagarpreet-chadha @Souravirus @jywarren @MayankKashyap @siaw23 @ryzokuken @ccpandhare @icarito @steviepubliclab @ebarry @jywarren, @sagarpreet-chadha, @icarito, @JonathanXu1, @uzorjchibuzor, @eli6, @kevinzluo, @ValentinaTironi, @rex

[2019-01-27 08:35] SidharthBansal commented on #308
@narnt @hydro-m @love-opensource @romanrodriguez @shubhangi-chauhan @Dhiraj240 @geekychaser @codeIriss @CoderJolly
@shivani-kapania @aashna27 @StlMaris123 @cheneyshreve @roshniRam @tsparksh @Codeama @Kanikashrivastav @seafr @petersowah @rafael-acerqueira @codeIriss @BrainBuzzer @shelbyfirebaugh @sandyvern @carolineh101 @edieblu @lilliankorinek @pyluftig @toyblox @chanjess @msarit @blancasnz @emcta

[2019-01-27 08:35] uzorjchibuzor commented on #308
Hello friends.

[2019-01-27 08:36] SidharthBansal commented on #308
https://code.publiclab.org#r=all
Thanks for creating a very supportive community at Plots2.
Now we are aiming to create Mapknitter as supportive as plots2 is. Any suggestion?
You all can start working on the issues, exploring this repository and help us as much you want to.

Thanks all.
Refer #300

[2019-01-27 09:06] Dhiraj240 commented on #308
@SidharthBansal  Cool, sure i will do it.

[2019-01-27 09:14] SidharthBansal commented on #308
Great thanks

On Sun, Jan 27, 2019, 2:36 PM Dhiraj Sharma <notifications@github.com wrote:

[2019-01-27 09:19] Dhiraj240 opened #309 "[Welcoming] Review & troubleshoot a newcomer's pull request"
(Work in progress! Please help!)

As part of our ongoing work to [welcome newcomers](https://code.publiclab.org/), we need to help them make well-formatted pull requests, and troubleshoot the issues they encounter. This will help newcomers get started in a codebase they may not be familiar with! mag male_detective

([see more issues like this here](https://github.com/publiclab/mapknitter/issues))

[2019-01-27 09:44] SidharthBansal commented on #308
No need to close this issue. We will be discussing more stuff of community
bonding here.
Labelling can be done by mentoring.
Thanks Dhiraj.
What else we can do for greater community bonding at Mapknitter?

On Sun, Jan 27, 2019, 2:53 PM Dhiraj Sharma <notifications@github.com wrote:

[2019-01-27 10:06] Dhiraj240 commented on #308
I think we should start a gitter channel for ```Mapknitter``` as depending on how many people join that channel we could get a rough idea about interested people.
I will try to open ```first-timers issue``` and some medium level issues so that people get some confidence as they are good to go with this project once i start working on the project things will be more clear.

[2019-01-27 10:17] SidharthBansal commented on #308
@Dhiraj240 thanks for suggestions. We require help to break the issues in smaller pieces and ftos etc.
Dhiraj please open up the other supportive tasks mentioned on https://github.com/publiclab/plots2/wiki/Supportive-Tasks

[2019-01-27 10:22] Dhiraj240 opened #310 "Add screenshots or GIFs to open pull requests to illustrate new features"
As part of our ongoing work to welcome newcomers, this will help them get started in a codebase they may not be familiar with!

 With so many [new contributors](https://code.publiclab.org) (yay! ) we need help reviewing newly submitted code! One way to help is to **download someone's code and take a screenshot** to confirm it works.

  ## Find a pull request by a newcomer
 Browse through this list

[2019-01-27 10:38] Dhiraj240 opened #311 "[Welcoming] Help add code links to existing issues"
As part of our ongoing work to welcome newcomers, and to produce more welcoming [first timers only issues](https://code.publiclab.org), we need to add URLs leading to specific lines of code, to many issues. (see [more issues like this here](https://github.com/publiclab/plots2/wiki/Google-Code-in-Tasks))

 This will help newcomers get started in a codebase they may not be familiar with!

 ### Find

[2019-01-27 10:39] Dhiraj240 opened #312 "[Welcoming] Suggest new changes & Report Bugs"
(Work in progress! Please help!)

 As part of our ongoing work to [welcome newcomers](https://code.publiclab.org), we need people to tell about bugs and suggestion, and troubleshoot the issues they encounter. This will help newcomers get started in a codebase they may not be familiar with!

 ### Find a bug or a suggestion
 Whether it is on publiclab.org main website, or in it's editor or any other

[2019-01-27 10:54] Dhiraj240 commented on #308
@SidharthBansal  Done.Also i have updated the wiki page of ```Mapknitter``` too.

[2019-01-27 10:59] IshaGupta18 commented on #308
Yes absolutely, will love to work at mapknitter and make it amazing!

On Sun, Jan 27, 2019, 2:06 PM Sidharth Bansal <notifications@github.com
wrote:

[2019-01-27 12:42] IshaGupta18 commented on #301
Once @jywarren @gauravano suggest what to do... I could take this one up! If we begin to make a login system as good as plots2 from scratch, don't you think that it will be a big project @SidharthBansal ?

[2019-01-27 13:14] SidharthBansal commented on #301
There are multiple choices. I also want to work on this. Let's wait for
Jeff reply.

On Sun, Jan 27, 2019, 6:12 PM Isha Gupta <notifications@github.com wrote:

[2019-01-27 14:05] IshaGupta18 commented on #301
Oh okay, so we'll somehow be taking help from plots, that would be great too!

[2019-01-27 14:07] CoderJolly commented on #308
Sure, would love to work at mapknitter and make it first-timer friendly

[2019-01-27 14:32] SidharthBansal commented on #305
@Dhiraj240 you can start working on #304 then

[2019-01-27 14:35] SidharthBansal commented on #302
Agreed.
Can you please tell what Exporter code does in brief. I am new to MK.
Thanks

[2019-01-27 14:47] jywarren commented on #302
Roughly it will turn the exporting task (a huge resource use) into an
external cloud service. 😄

On Jan 27, 2019 11:36 AM, "Sidharth Bansal" <notifications@github.com>
wrote:

Agreed.
Can you please tell what Exporter code does in brief. I am new to MK.
Thanks

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/publiclab/mapkni

[2019-01-27 14:48] SidharthBansal commented on #302
Got it thanks

On Sun, Jan 27, 2019, 8:17 PM Jeffrey Warren <notifications@github.com
wrote:

[2019-01-27 16:40] jywarren commented on #302
Also just to list out pros and cons to consider:

## Pros

* Better integration or merge would mean MK users would be better connected with and supported by the PL community
* Less redundant systems like spam mgmt, bios, email notification?

## Cons or issues to consider

* Makes plots2 less a general purpose CMS and collaboration platform if it must include a lot of MK code (though not if we make

[2019-01-27 17:46] sagarpreet-chadha commented on #302
I guess if we can integrate MK to plots2 using minimal lines of code , that would be ideal , so that we have **modular** and **first-timer friendly** code in both repos .

[2019-01-27 17:55] oorjitchowdhary commented on #308
Just noted that we're using `help-wanted` label here... Let's change it to 'help wanted` as we did at plots2.. this will let new contributors discover this repo

[2019-01-27 17:58] SidharthBansal commented on #308
Thanks for reminder.

On Sun, Jan 27, 2019, 11:25 PM Oorjit Chowdhary <notifications@github.com
wrote:

[2019-01-27 18:13] rexagod opened #314 "Add CODE_OF_CONDUCT.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-28 01:33] sashadev-sky commented on #308
@SidharthBansal maybe we should ask the person to do check-in next week to highlight mapknitter as a section and ask everyone to do at least one thing for it that week. I think check-ins could be a great place to get new projects moving? You have received a good amount of response here too!

[2019-01-28 08:19] SidharthBansal commented on #308
Yeah, we can do checkins in rotations between plots2 and mapknitter. Next
week checkin can be done in this repository and then in plots2. Then in
mapknitter and so on.
Thanks for great suggestion

On Mon, Jan 28, 2019 at 7:03 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-01-28 14:10] avsingh999 opened #315 "error in legacy editor"
### What happened just before the problem occurred
when click on legacy editor then showing this error
![mapkinter](https://user-images.githubusercontent.com/25536022/51841366-79c90700-2334-11e9-9be2-10d7e2883df1.png)

### Relevant URLs

https://mapknitter.org/maps/beer?legacy=true

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating system
chrome

[2019-01-28 16:52] jywarren commented on #315
I think we should probably move towards deprecating the legacy editor. It's
been some years since we moved to the new one. Thank for reporting!

On Mon, Jan 28, 2019, 11:11 AM welcome[bot] <notifications@github.com wrote:

[2019-01-28 17:01] jywarren commented on #298
OK, i'd like to add in an overview of the export system step by step; i've left notes where we might make changes or improvements as well, and will link to lines of code where these things currently happen!

Also -- a couple ideas:

1. Idea: produce separate GeoTiffs to skip the
2. Idea: produce TMS tiles from any collection of images, given tile coordinates and image sources (with known corner co

[2019-01-28 18:14] Dhiraj240 commented on #305
@SidharthBansal @jywarren alright !!

[2019-01-28 20:19] jywarren commented on #298
@SidharthBansal @tech4GT @icarito just so you see this additional note breaking down the export process. There are portions that could be accomplished with traditional ImageMagick/GDAL combo just breaking out the Ruby-controlled code in our codebase (see #296 but i'll copy in more here), but I am hoping we can accomplish a lot in stand-alone containers in a serverless or at least remote REST model

[2019-01-28 22:43] gauravano commented on #308
Hi everyone! @SidharthBansal I guess @sashadev-sky meant highlighting mapknitter in check-in by adding a section dedicated to that. Opening the check-In in repo other that plots2 can also be considered.

Before starting with new issues, resolving old bugs is equally important otherwise you'll be irritated by those bugs while working on new features so please take a look at previously opened issues

[2019-01-28 22:44] gauravano commented on #308
Hey @oorjitchowdhary, I have changed the label from `help-wanted` to `help wanted`, so now issues will be highlighted. Thanks!

[2019-01-29 03:56] jywarren commented on #258
Merging into #296 and #298!

[2019-01-29 03:56] #258 closed

[2019-01-29 12:00] Yugandhartripathi commented on #314
I would like to work on this.

[2019-01-29 12:47] jywarren commented on #314
Those are specific to in-person events that need not bear on this copy,
thanks! Although it's interesting to note that by making copies we will
need to watch for any changes to the original and keep this up to date.
Thanks!!

On Tue, Jan 29, 2019, 9:30 AM Yugandhar Tripathi <notifications@github.com
wrote:

[2019-01-29 14:54] jywarren opened #317 "(after expanding our tests) go through dependabot upgrades and test, approve, merge them"
Dependabot has made a lot of suggestions to upgrade everything. We could leave this a bit if we are anticipating big Rails upgrades as in #305, but once we have much better tests, as in #304, we could just start merging these:

https://github.com/publiclab/mapknitter/pulls?q=is%3Apr+is%3Aopen+label%3Adependencies

[2019-01-29 15:02] jywarren commented on #304
I think for the unit and functional tests, the process could be:

* look at the source file (in `/app/models/` or `/app/controllers/`)
* identify a method that does not have a corresponding test in `/test/unit/` (for models) or `/test/functional/` (for controllers)
* create a test following the example of existing tests
* add a basic assertion -- `assert_response :success` for functional tests, or

[2019-01-29 16:53] Yugandhartripathi commented on #314
@jywarren making copies already led to the duplication of the following in code of conduct files of all repos of this org.
![image](https://user-images.githubusercontent.com/32102845/51924324-d569c200-2412-11e9-9bd4-50dc8d83531e.png)
I opened a PR(#4724) for plots2 initially thinking it's unique case then I saw the same in imagesequencer and opened a first timer issue(#727) there for others lookin

[2019-01-29 18:31] jywarren commented on #314
It's such a small set of changes maybe once this is complete we can just
quickly copy this one over all the rest. Thanks for your help!!!!

On Tue, Jan 29, 2019, 1:53 PM Yugandhar Tripathi <notifications@github.com
wrote:

[2019-01-30 19:18] gauravano opened #319 "Ruby version update"
Hi, we are using very old ruby version `2.1.2` which is troubling with the installation.

Errors I faced:
1. Error running '__rvm_make -j8' while installing ruby 2.1.2

Solved by `rvm get head`
After completing installation of ruby version, I switched to it.

2. I ran `bundle install` and got below error

[code]

I deleted the Gemfile.lock and ran bundle install again.

3. After that I got this er

[2019-01-30 19:43] gauravano commented on #225
Hi @mathewlippincott, first of all sorry for such a looong delay in responding and thanks for writing about the issue faced. @jywarren what do you think about this issue?

Thanks!

[2019-01-30 19:46] gauravano commented on #207
Hi @ebarry @jywarren do we still wanted this auto-addition? just confirming as issue is too old, to know about the status. Thanks!

[2019-01-30 19:52] gauravano commented on #153
Hi @jywarren can we close this one as this issue is alraedy opened at #85? Thanks!

[2019-01-30 20:01] ebarry commented on #207
ah, this would have been great two years ago! but perhaps now we need to plan out a website tag subscription for them.

[2019-01-30 20:24] jywarren commented on #225
Yes I think it's an issue because we no longer render the images in a
canvas. I tried a number of fixes using css image outlines and think
there's still some promise there, although the edge gets distorted too. The
other alternative that might be cleaner is to use a native leaflet polygon
and maintain it aligned with the image edges manually. Thanks Gaurav and
Mathew.

On Wed, Jan 30, 2019, 2:43 P

[2019-01-30 20:46] gauravano commented on #207
So, can we close this issue?

[2019-01-30 20:49] ebarry commented on #207
yes
--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Wed, Jan 30, 2019 at 3:46 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-30 20:54] gauravano commented on #207
Thank you Liz for confirming!

[2019-01-30 20:54] #207 closed

[2019-01-30 22:15] gauravano commented on #319
Update: @jywarren lets update to ruby 2.4.4 so contributors don't face issue while switching for contributing from plots2 to here. Also, I tried but there are some error due to docker I guess, so need help.

Thanks!

[2019-01-31 15:15] steviepubliclab commented on #236
Hi, thanks for bumping this up. I check the maps I had mentioned in this thread and they seem ok now. Can close.

Thank you!

[2019-01-31 16:55] #236 closed

[2019-01-31 17:46] #153 closed

[2019-02-01 21:47] jywarren commented on #300
Made a project to track some of this work!!!

[2019-02-01 21:49] #315 closed

[2019-02-01 21:49] jywarren commented on #315
We'd love to have your help in writing tests however! #304

[2019-02-02 14:53] Dhiraj240 commented on #307
@SidharthBansal After tackling to much issues and setting up ubuntu on vmware, today i was able to manage things.
But a small error is coming as when i use ```curl -L https://get.rvm.io | bash -s stable``` it asks for a key and there i am getting ```timeout error ``` which is annoying me.
Need Help !

[2019-02-02 21:05] SidharthBansal commented on #307
Same behaviour here. Trying to debug.

On Sat, Feb 2, 2019, 8:23 PM Dhiraj Sharma <notifications@github.com wrote:

[2019-02-04 01:35] sashadev-sky commented on #308
@SidharthBansal @gauravano Yes I was thinking to just ask the person doing the check-in to add a "MapKnitter" section  -- similar to the "survey" section it will be carried over and when it stops being relevant we can remove it

@shubhscoder what do you think? Would you be interested in adding that to your check-in this week?

[2019-02-04 02:39] shubhscoder commented on #308
Yes sure !

On Mon, Feb 4, 2019, 7:05 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-02-04 08:04] rexagod opened #322 "Correct README.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-04 10:33] SidharthBansal commented on #308
This would be awesome

On Mon, Feb 4, 2019 at 8:09 AM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2019-02-04 13:01] Dhiraj240 commented on #307
@SidharthBansal Have you found the solution @jywarren  can you provide us help with this?

[2019-02-04 15:21] jywarren commented on #308
That sounds like a great idea!

On Sun, Feb 3, 2019 at 9:40 PM Shubham Sangamnerkar <
notifications@github.com> wrote:

[2019-02-04 16:11] jywarren commented on #300
Opened a more detailed list here for Leaflet.DistortableImage, the UI for map knitting: https://github.com/publiclab/Leaflet.DistortableImage/issues/126

[2019-02-06 14:43] kaunair commented on #307
Does the docker container work properly?
I'm getting an error while building it.

`ERROR: Service 'web' failed to build: The command '/bin/sh -c apt-get update -qqe-dev ruby-dev gdal-bin python-gdal curl libcurl4-openssl-dev libssl-dev zip nod`

[2019-02-06 15:48] jywarren commented on #307
oh, hmm, maybe this is a question for @icarito - but the docker container
should be used in Travis, and that is building currently. Can you add more
information from the error you saw, maybe a fuller log shared in
gist.github.com? Thanks!

On Wed, Feb 6, 2019 at 9:43 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-02-06 18:42] Dhiraj240 commented on #307
Thanks it worked @jywarren  but now when i ran ```bundle exec rake db:setup``` it asked me a root password which didn't work for mysql and it is throwing an error.
I looked stack overflow and other sites but they to haven't solved the issue.
May i know as how can i see or check the root password in ubuntu ?
Although i will check this again in morning.

[2019-02-06 20:39] jywarren commented on #300
@kayrufty wrote in with some great UI notes -- just noting to Kay that we have issues open for some, and not others. I'll note connected issues where they exist, and we can break out new ones as we go. THANKS!!!

* Lock background: On a couple occasions I accidentally moved the google maps background and it was difficult to get it back perfectly aligned with my pictures.

...actually this one, i'm

[2019-02-07 05:26] kaunair commented on #307
[Here](https://gist.github.com/kaunair/ffd8f41abdc6d9a5d495c0877636d245) is a larger error log
I was trying to build the container using docker compose

[2019-02-07 06:26] tech4GT commented on #298
Starting work now! @icarito Can you please share some of the resources you have been going through, that would be a big help for me :)

[2019-02-07 07:07] tech4GT commented on #298
@jywarren @icarito I would be starting with a basic express configuration that takes an image url and a sequencer string and returns the final output, can we create a repository for this on publiclab? Or should I make this on my github??

[2019-02-07 08:36] tech4GT commented on #298
Okay a couple of things here
- We should add a flag to the run config which allows us to disable the progress logs(it'll unnecessarily slow down the server otherwise)
- I have some ideas in mind to speed up the pixelManipulation API which will in turn speed up most modules
- Should we return the output as a data uri or us the imgur service like we originally planned? Or maybe we can have a paramet

[2019-02-07 13:23] IshaGupta18 commented on #300
Yes I think this would be very much needed to make MapKnitter as good as plots2. I am interested in tackling and brainstorming on some of these projects,especially the ones related to MapKnitter UI and I also wanted to chime in some suggestions for UI design for it to be of efficient and smooth use to the public, as I think a lot of brainstorming can be done on making the website easy to use and b

[2019-02-07 16:44] jywarren opened #325 "Installing MapKnitter exporter dependencies"
I'm trying to install all deps for MapKnitter Exporter only, so I can start isolating out the code in the exporter, as per #298 -- but getting some errors (on ARM, admittedly so maybe not on a normal x86 system)

Trying just `gdal` and `python-gdal` now, then imagemagick separately

`sudo apt-get install gdal-bin python-gdal`

`sudo apt-get install imagemagick ruby-rmagick libfreeimage3 libfreeima

[2019-02-07 16:45] jywarren commented on #325
Could be we need to include more sources: https://askubuntu.com/questions/417466/arm-ubuntu-fails-to-get-certain-packages

[2019-02-07 16:46] jywarren commented on #325
also trying `sudo apt-get update` then re-running

[2019-02-07 16:49] jywarren commented on #325
This seems to be working...

[2019-02-07 17:01] kaunair commented on #126
Hey! I'd like to take this issue!
I'm thinking of creating a model called map_likes with map_id and user_id as attributes. Would this be sufficient or should I rename it to something else in case you would incorporate other features like followers?
Also should there be any email notification sent after liking?

[2019-02-07 17:31] gauravano commented on #203
Hi! I tried to reproduce the issue but wasn't able to do so. Although, image is taking a bit time to upload like 4 min for 3.5 mb file but the upload was completed. @jywarren what do you think about this one? Thanks!

[2019-02-07 18:20] jywarren opened #326 "Planning a new Exporter UI - tracking export processes"
The current Exporter UI is OK, but we could substantially improve it and will have to reconfigure it while implementing the new Exporter project in #298 -- currently, this is what it looks like:

![image](https://user-images.githubusercontent.com/24359/52433383-f6997500-2ada-11e9-8ada-79c0a8f218d1.png)

![image](https://user-images.githubusercontent.com/24359/52433444-16c93400-2adb-11e9-88e8-4b42e

[2019-02-07 18:27] jywarren commented on #326
![image](https://user-images.githubusercontent.com/24359/52433909-26954800-2adc-11e9-90bf-161757a8d6de.png)

[2019-02-07 18:29] gauravano commented on #203
Although, I found some bugs like Image greater than 10 mb is also uploaded and other file formats like mp4 are allowed to be chosen and don't give error. I will open issues for them. Thanks!

[2019-02-07 18:31] gauravano commented on #203
@jywarren I tested all this on https://mapknitter.org/maps/lireille which seems to be a spam post so feel free to delete it.

[2019-02-07 18:33] jywarren commented on #300
Hi @IshaGupta18 -- thanks, that would be great! If you'd like to chime in on the Exporter UI discussion here, that'd be awesome: https://github.com/publiclab/mapknitter/issues/326

I think we could also start one called `MapKnitter Editor UI discussion` where we can discuss the basic editor layout here: https://mapknitter.org/maps/cranston-test (say, UI for the Uploading, Image listing, Exporting,

[2019-02-07 18:36] jywarren commented on #300
Also note that I've built in a few of these projects with more detail on our [Summer of Code program](https://publiclab.org/gsoc) Ideas page: https://publiclab.org/gsoc-ideas, including:

* MapKnitter Synchronous Editing
* MapKnitter Cloud Exporter
* MapKnitter UI (a collection of projects)
* MapKnitter Image Management

[2019-02-07 18:39] jywarren opened #327 "MapKnitter Front Page UI discussion"
Arriving at the front of MapKnitter, we see a map of maps and a list of recently started maps, and some recent authors.

![image](https://user-images.githubusercontent.com/24359/52434301-0a45db00-2add-11e9-90ab-b96ede621881.png)

We could do better! I'm brainstorming, i think there may be 2 issues - a true front page that really welcomes and shows how these maps can be made -- with illustrations o

[2019-02-07 18:46] jywarren commented on #203
Thanks! OK, let's close this and open new ones for faster upload,
restricting upload type, better error reporting and other refinements to
image upload handling. Thanks!

On Thu, Feb 7, 2019 at 1:29 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-07 18:48] jywarren commented on #126
Let's name the model `map_reactions` and have a `reaction_type` column that
has default `like`, but we could add `follow` or others in the future. How
does that sound? Thanks, and we'd love help -- i do think we are /very/
interested in full unit testing for any new feature so please bear that in
mind!

On Thu, Feb 7, 2019 at 12:02 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-02-07 19:00] jywarren commented on #298
How about https://github.com/publiclab/image-sequencer-app, which we
created a while back?

Let's start with a dataurl, but we should also plan to have an abstract way
to "put" the image somewhere.

Great!

On Thu, Feb 7, 2019 at 3:36 AM Varun Gupta <notifications@github.com> wrote:

[2019-02-07 19:36] tech4GT commented on #298
@jywarren Ok pushing the most basic setup now!

[2019-02-07 19:45] tech4GT commented on #298
@jywarren Can you please grant me push access to the repository :sweat_smile:

[2019-02-07 19:48] kaunair commented on #126
Sound's good. What other kind of reactions are we having? Github like reactions?

[2019-02-07 20:16] jywarren commented on #126
potentially -- best to just plan ahead!

But wait - what if we thought a bit more about this and made reactions to
individual images instead of to maps? We are considering making the
platform more image centric in any case. What do you think?

On Thu, Feb 7, 2019 at 2:49 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-02-07 20:19] jywarren commented on #298
doing so now, thanks!!!

On Thu, Feb 7, 2019 at 2:46 PM Varun Gupta <notifications@github.com> wrote:

[2019-02-07 20:26] tech4GT commented on #298
Okay I'll try to deploy the container with a very basic setup tomorrow, and then I'll raise an issue for the optimizations, maybe I can document some of my ideas over there too!
Also on a different note I tried out the app locally and it works like a charm :v:

[2019-02-07 20:29] jywarren commented on #298
oh wow!!! very cool.

Check out the various "projects" several of which are optimization related:
https://github.com/publiclab/image-sequencer/labels/project

On Thu, Feb 7, 2019 at 3:27 PM Varun Gupta <notifications@github.com> wrote:

[2019-02-07 20:32] tech4GT commented on #298
One think I am concerned about though is, if we do switch to web assembly, what parts of the main code we would need to re-write or should we just switch to something like openCV entirely?
I think we can start with making optimizations in javascript and then move towards web-assembly if that gets unmanageable, what do you think?

[2019-02-07 20:37] jywarren commented on #298
Yeah i am not sure about it. I think we can follow multiple paths to
optimize and should probably discuss that in the IS repo. Switching several
modules to openCV would be powerful and flexible. So would webAssembly of
pixelManipulation.

On Thu, Feb 7, 2019 at 3:33 PM Varun Gupta <notifications@github.com> wrote:

[2019-02-07 20:39] tech4GT commented on #298
I think you are right, also please do have a look at the repository, I have pushed the basic file I wrote earlier today, will be extending this **A LOT** but I think this gives us a start.

[2019-02-07 20:46] kaunair commented on #126
Interesting..
I'm new to Mapknitter here, isn't the point to stitch the images together to create a map?
What's more important to the user: the individual images or the stitched map?
But if we're going to be more image centric then adding reactions to images makes more sense!

[2019-02-07 20:52] jywarren commented on #126
Yes, i think though that there's a conceptual change we're considering,
especially because it may be faster to just start uploading images instead
of starting by "creating a map", and then people can just select any group
of images to generate an export. Then images can "belong" to multiple
collections for export. We're not 100% set on it but it does seem like a
simpler mental model with a few les

[2019-02-07 21:16] Divy123 commented on #300
@jywarren one thing that I went through the ideas for image-sequencer project.
Is that a single idea that is mentioned there under gsoc-ideas or are they multiple?

[2019-02-07 21:18] jywarren commented on #300
Multiple... and as we often get multiple proposals for the same project, we
are ok with breaking big ones into pieces. Thanks!

On Thu, Feb 7, 2019, 4:17 PM Slytherin <notifications@github.com wrote:

[2019-02-07 21:20] Divy123 commented on #300
Thanks .

[2019-02-07 22:45] gauravano commented on #105
Hey @jywarren,  this issue somewhat relates to the file size upload issue - https://github.com/publiclab/mapknitter/issues/203 . I think, this can also be closed and we can track File-upload in a single issue. What do you think?

[2019-02-07 22:50] gauravano opened #328 "Limit file upload size"
We currently allow users to upload files of size greater than 10 mb despite the fact that Image Upload tab carries note - "10mb max" for file size.

I uploaded the image of size 16.2 MB here- https://mapknitter.org/maps/lireille and no error was thrown.

The goal of this issue is to throw the error if file size if greater than 10mb.

Relevant issues:
https://github.com/publiclab/mapknitter/issues/

[2019-02-07 22:55] gauravano opened #329 "Allow uploading of Images only"
Although, the goal of Mapknitter is clear that images should be uploaded to make the map but for to take care of our database and spam, we should limit uploading of only images.

I tried uploading mp4 file and to surprise no error was thrown. So, we need to fix the accept type of file.

Thanks!

[2019-02-07 22:56] gauravano commented on #203
Hey @jywarren, I opened 2 separate issues for both problems #328 #329, so closing this one. Thanks!

[2019-02-07 22:56] #203 closed

[2019-02-07 23:01] gauravano opened #330 "Improve image upload speed"
Larger image can take longer period of upload time and so user has to wait for the completion. Let's brainstorm here, how the upload speed can be improved.

Ideas:
Showing progress bar to decrease user anxiety.

Relevant issue:
https://github.com/publiclab/mapknitter/issues/203

[2019-02-07 23:13] jywarren commented on #328
this is great, although let's also potentially think about a way to enable
larger images, esp. because people may want to upload really big images to
stitch, eventually. Thanks!

On Thu, Feb 7, 2019 at 6:11 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-07 23:13] jywarren commented on #105
yep!

On Thu, Feb 7, 2019 at 6:09 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-07 23:26] gauravano commented on #328
Some quick thoughts :smile: :
1. Using API for compressing larger images
2. Increasing the image size limit

Thoughts?

[2019-02-07 23:27] gauravano commented on #105
Awesome! Closing this and let's track the file limit at #328 only. Thanks!

[2019-02-07 23:27] #105 closed

[2019-02-07 23:47] gauravano commented on #307
Hi @Dhiraj240, you can reset the password using - https://dev.mysql.com/doc/refman/8.0/en/resetting-permissions.html

And, if you still get error - `ERROR 1698 (28000): Access denied for user 'root'@'localhost'" error` then, checkout this thread - https://stackoverflow.com/questions/39281594/error-1698-28000-access-denied-for-user-rootlocalhost.

I also faced some of these issues but finally able

[2019-02-08 01:05] jywarren commented on #325
That worked!!!
https://github.com/publiclab/mapknitter/pull/331

[2019-02-08 01:05] #325 closed

[2019-02-08 01:08] jywarren commented on #304
Just chiming in that this ended up being a really good self contained update which built out node, warpable fixtures and added decent warpable unit tests! It's a good reference for further work of this kind.

https://github.com/publiclab/mapknitter/pull/331/files

[2019-02-08 01:59] Chansamnang commented on #322
Can I take this?

[2019-02-08 03:13] jywarren commented on #322
Yes please!

On Thu, Feb 7, 2019, 9:00 PM Chansamnang <notifications@github.com wrote:

[2019-02-08 03:40] kaunair commented on #126
Sounds cool!
Thanks for the help. I'll send a pr soon

[2019-02-08 08:10] icarito commented on #307
@kaunair please check that you have a recent version of Docker. I found a related issue to your log at https://github.com/Shippable/support/issues/4398 and it was an old Docker version! Try it and let us know, also tell us what command did you run exactly, thanks!

[2019-02-08 08:12] icarito commented on #307
@Dhiraj240 about the MySQL root password if you mean from the container it can be seen in the mysql logs: `docker-compose logs db` on _first run_.

[2019-02-08 18:29] IshaGupta18 commented on #300
@jywarren This would be lovely I think. I will go through all of this is deeper details. Thanks a lot!

[2019-02-08 20:40] icarito commented on #296
Just a note that Google Cloud Engine has Standard Environment and Flexible Environment and Ruby seems to only be supported on Flexible Environment which is significantly more expensive: https://cloud.google.com/appengine/docs/standard/appengine-generation

[2019-02-08 20:41] icarito commented on #298
Just a note that Google Cloud Engine has Standard Environment and Flexible Environment and Ruby seems to only be supported on Flexible Environment which is significantly more expensive: https://cloud.google.com/appengine/docs/standard/appengine-generation

[2019-02-08 20:44] jywarren commented on #296
https://serverless.com/blog/api-ruby-serverless-framework/

https://www.serverless-ruby.org/

[2019-02-08 21:48] jywarren commented on #302
Some notes on this that relate to other parts of the system:

* [ ] see if we can read `roles` from plots2 user records, ideally through a `User.role` call that somehow grabs the data from plots2
* [ ] see if we can send email notifications using `plots2` ? Or use commenting/notification system from there, to simplify MapKnitter? What are the pros/cons?

@SidharthBansal what do you think of these

[2019-02-09 10:04] tech4GT commented on #298
Oh, but is-app will be pure node.js, so I guess thats not a problem!

[2019-02-09 17:45] marieram commented on #322
Has this been started? @Chansamnang

[2019-02-10 01:44] ctam853 commented on #303
Hi,
I've never done any open source projects and I'd love to join this project to learn about it.

[2019-02-10 01:46] ctam853 commented on #322
Hello,
I'm new to open source projects and I'd love to join this project.

[2019-02-10 08:16] HarshCic commented on #322
Hi @rexagod, I had just found that the databse error on your repository is not resolved at. I'm submitting a PR in regard of this can you please help me by checking that PR and it would be great if you can able to merge that PR.

[2019-02-10 11:43] gauravano commented on #303
Hi @ctam853, Welcome to Public Lab and Open Source world, we would also love to have your help, but this issue already has PR in #306. You can find more first-timer issues at https://code.publiclab.org/#r=all, please have a look there and if you don't find any open, feel free to comment here, I will open one for you. Thanks!

[2019-02-10 12:06] SidharthBansal commented on #300
Thanks Isha

On Fri, Feb 8, 2019, 11:59 PM Isha Gupta <notifications@github.com wrote:

[2019-02-10 12:09] SidharthBansal commented on #302
We need to think of the data we will need at mapknitter from the plots.
One thing we want to import to plots2 is the mapknitter maps to /maps.
What do you say?

On Sat, Feb 9, 2019, 3:18 AM Jeffrey Warren <notifications@github.com wrote:

[2019-02-10 12:13] SidharthBansal commented on #301
@jywarren I think adding roles to the user profile from the plots2 is part of this issue.
Copying from your comment in other discussion

* [ ] see if we can read `roles` from plots2 user records, ideally through a `User.role` call that somehow grabs the data from plots2

[2019-02-10 12:14] SidharthBansal commented on #302
We can discuss this in #301

[2019-02-10 12:16] SidharthBansal opened #336 "Planning: Mailing System for MK"
Hi all,
as per @jywarren 's suggestion in https://github.com/publiclab/mapknitter/issues/302#issuecomment-461958235 ie

[2019-02-10 12:22] SidharthBansal commented on #336
We need to consider following points:
- Tags are not used in the Mapknitter. Whether we need to create its own tag system or not?
- Authentication emails are not needed in case we are authenticating through Plots. In case we are creating  new Mapknitter authentication system then we have to think in this regard too.

[2019-02-10 14:17] gauravano commented on #322
Hi @HarshCic, you should ask in the issue (here) first before opening the PR so as to get update regarding the issue status. Also, before you, @marieram  and @ctam853 have shown interest in solving the issue, so if the issue has no PR, they should get the chance to take a dig at issue. But, as the issue is just a typo solving and your first PR at Public Lab, we will accept the PR. Please take a no

[2019-02-10 14:20] gauravano commented on #322
Hi @marieram and @ctam853, sorry but this issue is solved in #335. You can find more FTO issues at https://code.publiclab.org/#r=all and in case, you don't see any unclaimed issue there, feel free to comment below, I will open issue for both of you. Thanks!

[2019-02-10 16:38] HarshCic commented on #322
Hi @gauravano, I understand the community guidelines but I too thought the same as it is just a typo and no one resolve it till then and it is my first PR with publiclab as well which makes me somewhat excited.. but absolutely I will take care from next time. Sorry, @marieram and @ctam853.

[2019-02-10 23:07] marieram commented on #322
Hi @gauravano! Thank you for getting back to me. I currently do not see any unclaimed issues. If there are any first-timers-only or documentation issues available, please send them my way. Thanks again.

[2019-02-11 12:50] IshaGupta18 commented on #329
I think changing this line:

https://github.com/publiclab/mapknitter/blob/de156283193542b10607542db5544ae400cf48bc/app/views/images/_new.html.erb#L19

to this line is doing the trick:

`<i class="fa fa-plus-circle"></i> Select images <input id="warpable_uploaded_data" name="warpable[uploaded_data]" type="file" accept="image/*" />`

Only image file options will be displayed from the user's file sys

[2019-02-11 13:22] IshaGupta18 commented on #327
Yes we mostly definitely could do better. We can redesign this page (and potentially other pages too) for users to understand the site and it's functionality better. Also, for the users to create a new map, I was thinking of creating a walk-through for it, especially on this page

![image](https://user-images.githubusercontent.com/40794215/52565879-18259400-2e2e-11e9-90cb-5dc1963fd976.png)

A lot

[2019-02-11 13:25] niravasher commented on #330
Assuming that the uploaded image goes to mysql server, I think adding a progress bar with ajax and javascript would not be very difficult.... @gauravano

[2019-02-11 17:48] gauravano commented on #330
yes! You want to take a dig at this one?

@jywarren what do you think about the idea of adding progress-bar?

Thanks!

[2019-02-11 17:50] gauravano commented on #327
Nice idea @jywarren and @IshaGupta18!

[2019-02-11 17:53] gauravano commented on #329
Hi @IshaGupta18, you have surely solved the issue. You can raise a PR or open a first-timer-issue too, however you like. Thanks :smiley:

[2019-02-11 18:05] IshaGupta18 commented on #329
I would love to open an FTO! Thanks a lot @gauravano !

[2019-02-11 18:13] IshaGupta18 opened #338 "Allowing upload of images only"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-11 18:16] IshaGupta18 commented on #329
Hey @gauravano I have created FTO #338 however I don't have the privileges I haave in plots2, like adding labels. Could you please grant me those privileges here as well or add fto label to it? Thanks a lot!

[2019-02-11 18:31] gauravano commented on #322
@marieram I will surely mention you, whenever I see one open or I'll open a new issue whenever I get a chance. Thanks!

[2019-02-11 18:47] gauravano commented on #329
Thank you so much @IshaGupta18! I checked but I am not privileged to give you write permission required to add labels to the repo. But, let's ask @jywarren. For now, I am labeling the issue. Thanks!

[2019-02-11 18:50] Jordenng commented on #338
hey :) may i take this?

[2019-02-11 18:51] gauravano commented on #338
Hi @marieram, you can claim this one. You can see #329 for more details and ask @IshaGupta18 or me for any help. Thanks!

[2019-02-11 18:53] IshaGupta18 commented on #338
Yes! Go right ahead and don't hesitate to ask for any help! Thanks a lot!

On Tue, Feb 12, 2019, 12:21 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-02-11 18:55] Jordenng commented on #338
do you mean me? because you tagged someone else. thanks anyway :)

[2019-02-11 18:56] gauravano commented on #338
What a timing :sweat_smile:. you can surely claim this one @Jordenng. Thanks!

@IshaGupta18 I am looking for two FTOs for @marieram and  @ctam853, they are also looking for a issue to take a dig, so please tag them if you see any such opportunity. Thanks!

[2019-02-11 18:57] gauravano commented on #329
Closing this one as FTO opened at #338. Thanks!

[2019-02-11 18:57] #329 closed

[2019-02-11 18:57] IshaGupta18 commented on #338
@gauravano I sure will if I find any!

[2019-02-12 00:19] marieram commented on #338
Thank you for your efforts @gauravano !

[2019-02-13 11:14] gauravano commented on #338
Hi @panhabot, this issue is claimed by @Jordenng. But, we would love to have your help, you can find more issues at https://code.publiclab.org/#r=all and let us know by commenting below if you can't find any. Thanks!

[2019-02-13 16:33] niravasher commented on #307
On entering "bundle exec rake db:setup"
Getting the error "Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)
rake aborted!
Mysql2::Error: Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)

[2019-02-13 17:02] niravasher commented on #307
after bundle install
sudo service mysql start
bundle exec rake db:setup    gives Access denied for user 'mapknitter'@'localhost' (using password: YES).
Please provide the root password for your mysql installation

rake aborted!
Mysql2::Error: Access denied for user 'root'@'localhost' (using password: YES)
(I already have set root password for mysql while installing sudo apt-get mysql-server)

[2019-02-13 18:53] jywarren commented on #307
Hi, have you configured the passwords and usernames in
/config/database.yml?

On Wed, Feb 13, 2019 at 11:33 AM Nirav Asher <notifications@github.com>
wrote:

[2019-02-13 19:52] niravasher commented on #307
Yes, I confirmed they are same. I atried to uninstall and reinstall mysql-server, everything went fine just the last step bundle exec passenger start gave me this
"Message from application: Address already in use - listen(2) (Errno::EADDRINUSE)"
I tried looking over stack overflow, but I didn't find anything in my local running on port 3000

[2019-02-13 20:22] jywarren commented on #307
Hm, it may be that you are already running the server in another terminal
window... but that doesn't address the mysql issue. Are you able to log in
manually to mysql using `mysql -u root -p PASSWORD` without trouble? And
can you share your database.yml (but please strip out the PASSWORD field
itself!)?

On Wed, Feb 13, 2019 at 2:52 PM Nirav Asher <notifications@github.com>
wrote:

[2019-02-13 21:03] jywarren opened #340 "Ability to store an image locally and distort/save it before completing upload"
We could change our upload workflow so that when you drag in an image, it's stored in the browser, and we can save distortions, and the later sync it up to the online app when you get an internet connection AND/OR the upload completes.

[2019-02-14 00:51] jywarren commented on #326
Thinking about removing the Exporter model code, which really just tracks the state of the export. We are going to have to convert it somehow to a system where we fetch the status from a remote URL, since we'll be running everything off-app.

So we'd have to change this file: https://github.com/publiclab/mapknitter/blob/master/app/views/export/formats.html.erb

to not rely on the Export model colu

[2019-02-14 00:56] jywarren commented on #326
I think we'd still want to keep the Export model, to track things like who initiated the exports, where the resources for each type are, etc. But we'd want to not use it to report export progress for long-running processes.

https://github.com/publiclab/mapknitter/blob/master/app/models/export.rb

[2019-02-14 10:10] gauravano commented on #340
Nice idea!

[2019-02-14 11:59] gauravano commented on #322
Hi @marieram and @ctam853, I have created FTO's for both of you, find them at https://github.com/publiclab/plots2/issues/4820 and https://github.com/publiclab/plots2/issues/4819 . I have mentioned both of you in a issue. Please comment there to acknowledge your claim. Thanks!

[2019-02-14 12:09] gauravano commented on #338
@panhabot I just created some FTO's at https://github.com/publiclab/plots2/. If you are still looking for issues to work on, then claim this one - https://github.com/publiclab/plots2/issues/4821. Thanks!

[2019-02-14 12:41] niravasher commented on #307
![screenshot 25](https://user-images.githubusercontent.com/32176296/52787334-7eefbb00-3083-11e9-9bb2-c5176a046f40.png)
![screenshot 26 _li](https://user-images.githubusercontent.com/32176296/52787447-e0b02500-3083-11e9-9fd9-407230c951f7.jpg)

[2019-02-14 19:03] gauravano commented on #307
I gave different names to database in development and in testing:

![database yml](https://user-images.githubusercontent.com/20878070/52810737-3f43c600-30b9-11e9-850d-9a8395e67df4.png)

[2019-02-14 19:08] gauravano commented on #307
I faced somewhat similar errors initially, I tried resetting password too but at last I changed the mysql plugin to `mysql_native_password` instead of `auth_socket` using - https://stackoverflow.com/questions/39281594/error-1698-28000-access-denied-for-user-rootlocalhost

You can do this on non-root user but changing plugin for root user is really upto you.

[2019-02-14 20:19] jywarren commented on #327
Thanks all. @IshaGupta18 we are also transitioning to the idea of just uploading images rather than having a distinct step of making a map. So perhaps the front page might just have an "upload images" prompt that would make it even faster to begin mapmaking?

[2019-02-14 21:12] jywarren commented on #327
Worked a bit more on this... i want to clearly show different ways of collecting images. And feature people. I annotated these mockups... what do you think?

![screen shot 2019-02-14 at 4 11 12 pm](https://user-images.githubusercontent.com/24359/52817923-4ea02080-3073-11e9-98d5-b5d7f3a33846.png)
![screen shot 2019-02-14 at 4 11 23 pm](https://user-images.githubusercontent.com/24359/52817890-3af4ba

[2019-02-14 21:13] jywarren commented on #327
And again my mockups are here, which anyone is free to use/modify -- just make a copy of the slide before changing it please! https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g4e2261b4b2_0_0

[2019-02-15 02:56] stefannibrasil commented on #327
hey, everyone! I was able to install the app properly in my machine so I can now start working with you :)

I was talking with Jeff earlier and I'm compromised to work on this, starting tomorrow. The mockups are great, thanks for sharing, @jywarren

I would maybe change the big picture with the text "Take your own aerial photos" to the top and the map where the picture is... Because, for example,

[2019-02-15 04:38] IshaGupta18 commented on #327
Yes @jywarren I think the mock-ups look great and I am too working on some myself. I think the image collection is a good idea, however, the user should be briefed about what exactly that would do. I am also working on a Welcome Page dashboard for new users and what all features and design should be published there, to differentiate it from the location based idea. I would soon be sharing my ideas

[2019-02-15 07:14] Knightrv commented on #322
Can I take this issue as I am a beginner to open source and fixing this issue will boost my confidence.

[2019-02-15 13:35] gauravano commented on #322
The issue is already solved in #335 so please find another issue to work on. You can find more issues at https://code.publiclab.org/#r=all and if you can't find any unclaimed issue there, please feel free to comment below. Thanks!

[2019-02-15 14:11] gauravano commented on #194
Hmm, that's a nice issue. Can we declare the image as duplicate if it has the same properties as another existing image?

Properties we can compare -
1. Name
2. Size
3. Height and Width
4. Format

What do you think @jywarren @ebarry? Thanks!

[2019-02-15 14:13] gauravano commented on #193
@ebarry @jywarren any update on this issue? Thanks!

[2019-02-15 14:46] #322 closed

[2019-02-15 17:58] jywarren commented on #194
This sounds good! Filesize may be the most unique attribute.

On Fri, Feb 15, 2019, 9:11 AM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-02-15 18:54] gauravano commented on #194
Yup!

[2019-02-17 09:59] IshaGupta18 commented on #338
@Jordenng how's the work going on this one? Just checking in to see if you need any help!

[2019-02-17 11:50] IshaGupta18 commented on #327
Also, @jywarren about the "upload images" feature instead of the "create map" feature, it could redirect to a new page where Image Collection can be handled separately, instead of uploading images from the same (dashboard) page. This way, there would be a proper way to upload images with all the features, instead of just file upload. I am thinking more about this on the new dashboard!

[2019-02-18 09:33] gauravano commented on #338
No issue @panhabot. I will mention you again if I see/create a FTO candidate. Thanks!

[2019-02-18 17:44] jywarren commented on #298
Hi @tech4GT @icarito @sashadev-sky and others -- i just uploaded diagrams above in which i tried to very clearly articulate the current and planned export workflows. Please have a look!

[2019-02-18 17:48] jywarren commented on #298
However, we should think about, in both cases, what points we should try to report status in a `status.json` file which could be polled in JavaScript by MapKnitter users as their export runs, to be able to see what stage their work is in.

This, and other aspects such as the parallel running and the image pairing during compositing, make me think we really need to consider a new layer, a `mapknitt

[2019-02-19 04:23] niravasher commented on #307
Now running "bundle exec passenger start" gives this error
Message from application: Address already in use - listen(2) (Errno::EADDRINUSE)

[2019-02-19 16:11] jywarren commented on #326
Noting here to @sashadev-sky -- regarding potential React use, I'm interested in how the image manager you've proposed would either be completely self-contained (using React or not) so that it can be mixed with other applications and projects as a general-purpose image collection manager plugin, OR if it could be built without React, but in such a way as to allow us to use it within a React compon

[2019-02-19 22:48] jywarren opened #345 "Reduce Ruby warnings in recent builds"
We're looking at upgrading Ruby in #319 and i'm seeing a lot of warning messages that weren't previously there in the recent #341 PR, which make it hard to read the output:

https://travis-ci.org/publiclab/mapknitter/builds/494340774

@sashadev-sky @gauravano @SidharthBansal what do you think, is this just stricter behavior from a more recent version of Ruby, or what else can we do to reduce the #

[2019-02-19 22:53] jywarren commented on #345
Looks like we're in Ruby 2.1.x in all these, so dunno if it's related to newer ruby versions. Errors sampling:

[code]

Hm, also looking back a ways, this didn't have the errors but is actually ruby 2.1.2 also: https://travis-ci.org/publiclab/mapknitter/builds/410929149

[2019-02-20 00:14] jywarren opened #346 "Provide image URLs for map JSON results"
Our API currently shows:

https://mapknitter.org/map/region/Gulf-Coast.json?minlon=-98.8&minlat=23.6&maxlon=-79.1&maxlat=31.8

Which just converts map records to json directly, and results in them having a lot of not very useful content that's not readable; the `body` attribute especially.

We should remove `body` and instead include an `imageUrl` parameter, by appending it like we do here:

https

[2019-02-20 01:00] sashadev-sky commented on #179
I am closing this issue as a later one #226 is opened and its now a duplicate. I will transfer additional information the user has provided onto that issue

[2019-02-20 01:00] #179 closed

[2019-02-20 01:05] sashadev-sky commented on #226
Related to #179 (closed due to duplication) additional notes to investigate from there:

[2019-02-20 01:06] sashadev-sky commented on #226
Also linking to #154

[2019-02-20 01:20] sashadev-sky opened #347 "Upgrade mySQL 5.6 to 5.7"
Current status: Ruby 2.4.4, Rails 3.2, mySQL 5.6
Moving to: Ruby 2.4.4, Rails 3.2, **mySQL 5.7**

additional points:
- delete [mapknitter/config/initializers/new_rails_defaults.rb](https://github.com/publiclab/mapknitter/blob/main/config/initializers/new_rails_defaults.rb) along with upgrade
- fix PR template to include a reference # prompt
- Address Ruby warnings
- Other small fixes, etc.

[2019-02-20 01:26] jywarren commented on #179
awesome - great work, Sasha!

On Tue, Feb 19, 2019 at 5:01 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-02-20 08:27] gauravano commented on #345
Going through a quick look at the above build logs point to deprecated `File.exists?` as a cause of these warnings, I will see if the #320 throws the same warning or not. Thanks!

[2019-02-20 08:40] gauravano commented on #307
you can run the rails server on a different port with `rails s -p [port-number]` . Also, it's fine to start with default server WebRick for development(when you run server with rails s, webrick is used by default) and you can go with passenger after some time.

Thanks!

[2019-02-20 13:45] kaunair commented on #346
Hey I'd like to take this issue!
If i understand it correctly, you want to display only the image urls for all warpables in each map right?

[2019-02-20 14:28] gauravano commented on #189
@ebarry @jywarren any format finalized?

[2019-02-20 14:30] gauravano commented on #181
@jywarren I noticed there was a update in issue https://github.com/exif-js/exif-js/issues/45. Would you like to update here too? Thanks!

[2019-02-20 14:34] gauravano commented on #180
This can form a nice issue :) Thanks @skilfullycurled and @jywarren!

[2019-02-20 14:36] gauravano commented on #178
Hey @jywarren, can you please add more details to this issue? Thanks!

[2019-02-20 14:38] gauravano commented on #120
@jywarren could you add hints on solving this issue? Thanks!

[2019-02-20 14:40] gauravano commented on #119
@jywarren please add more details to the issue. Thanks!

[2019-02-20 14:43] gauravano commented on #84
Hi @jywarren, can you give an update regarding this issue?

[2019-02-20 14:44] gauravano commented on #71
@publiclab/community-reps any progress regarding this issue, you want to add here? Thanks!

[2019-02-20 17:50] meet2410shah commented on #338
I also want to claim this issue.

[2019-02-20 17:54] IshaGupta18 commented on #338
@meet2410shah this issue has already been claimed by @Jordenng. If he isn't working on this, then you can take this up.

[2019-02-20 18:19] meet2410shah commented on #338
Yes, Sure! I would like to solve this issue.

[2019-02-20 18:23] stefannibrasil commented on #327
hi, everyone.
I was thinking about starting with the navbar, like making it similar to Plots2, that way we can start having a pattern or something. Then gradually, I can start working on the other components. Thoughts?

[2019-02-20 18:23] IshaGupta18 commented on #338
Yeah, but let's wait for @Jordenng . @Jordenng are you still working on this one?

[2019-02-20 18:29] IshaGupta18 commented on #327
Hey, @jywarren I was thinking of creating one of the proposals for GSoC on Front Page UI of MapKnitter as I had gathered some ideas on the lines of the design suggested by you, should I carry on with it?

[2019-02-20 18:33] meet2410shah commented on #338
Okay! Please can you suggest another issue which is currently not claimed by anyone?

[2019-02-20 19:00] jywarren commented on #181
Hmm do you think it was fixed?

[2019-02-20 19:01] jywarren commented on #346
Yes! As an attribute alongside other map data. We can just use the url of
the first returned image for the map and not provide the attribute if there
aren't any!

On Wed, Feb 20, 2019, 5:46 AM Kaustubh Nair <notifications@github.com wrote:

[2019-02-20 20:49] jywarren commented on #298
Haha awesome label @sashadev-sky -- i'll respond more completely later today i hope!

Just noting that @icarito has created a Dockerfile for the GDAL/ImageMagick container track: https://github.com/publiclab/mapknitter/pull/349

[2019-02-20 22:02] #319 closed

[2019-02-20 22:03] jywarren commented on #307
Hi, all, thanks to @gauravano and @sashadev-sky we are now on Ruby 2.4.4: https://github.com/publiclab/mapknitter/pull/320

[2019-02-20 23:15] jywarren commented on #189
I'm going to rename the issue a bit to clarify! We can use `DD-MM-YYYY` but we should clarify the goal a bit. Thanks!

[2019-02-20 23:18] jywarren commented on #327
Sure, that sounds good, although it's possible it might need to be combined with another project to make up enough work for the summer! And (optimistically) there is a chance it'd be completed by then too 😄

[2019-02-20 23:20] jywarren commented on #327
These sound great. @IshaGupta18 and @stefannibrasil please share any sketches you have that could be incorporated into the design! Thank you!

I saw a great idea for the challenge of how to show locally where you're viewing the map on the front page. Note that I put in a "Share your location" popup but in showing locations we could do something like this:

![image](https://user-images.githubuserco

[2019-02-21 04:46] jywarren opened #351 "Switch from Bower to Yarn for JavaScript dependencies"
We did this in `plots2` and it took a while to figure out, but ultimately wasn't too complex:

https://github.com/publiclab/plots2/pull/2659/files

Let's do this here too!

[2019-02-21 07:21] sashadev-sky commented on #345
@gauravano @jywarren I will get involved with this too during mysql upgrade. If they are simple fixes I can always update them in that PR

[2019-02-21 17:22] Jordenng commented on #338
Yes:)

On Wednesday, February 20, 2019, Meet Shah <notifications@github.com> wrote:

--
Yarden

[2019-02-21 17:22] Jordenng commented on #338
I am working on it

On Thursday, February 21, 2019, Yarden Nagel <nagel.yarden@gmail.com> wrote:

--
Yarden

[2019-02-21 19:14] kaunair commented on #250
I'd like to take this issue, I think I can fix it!

[2019-02-21 19:27] stefannibrasil commented on #327
HI all,

I added a new slide (number 2) with some comments there about my proposal. Forgive me that some components are not aligned, but I think you can understand my ideas there :)

But either way, I think the proposals are looking good! I added some ideas but any choice from the options would be a good advance for the project!

The reason I would like to start with the navbar is because 1) right

[2019-02-21 22:51] #250 closed

[2019-02-21 22:51] #346 closed

[2019-02-21 22:57] jywarren commented on #327
I think starting with navbar makes sense! I like the idea that the search
bar would be a location search like Google maps maybe!

On Thu, Feb 21, 2019, 1:28 PM Stefanni <notifications@github.com> wrote:

[2019-02-22 13:11] kaunair commented on #277
It's most likely that they moved the map around after adding the location name.
If this needs to be fixed, maybe we can use reverse geocoding to change the locality name when they move the map?

[2019-02-22 17:29] IshaGupta18 commented on #327
@jywarren I was thinking of organizing the current front page of MK by making the featured mapper section of the front page. What we can do in that is, like you have drawn (for now) display a couple of featured authors and their maps and make a link to another page with all the maps like in the dashboard, but better designed and placed, as right now, the maps are too ill-placed. This way, the fron

[2019-02-22 17:49] IshaGupta18 commented on #190
Hey, @ebarry I was looking into it, so basically you want the resolution of the last export of this map, do you by chance have an idea where it might be. I tried looking here
https://github.com/publiclab/mapknitter/blob/84185c791c919d221c3bbb533a2de901f9b2f377/app/views/maps/_sidebar_exports.html.erb#L60

But couldn't find an attribute like cm_per_pixel like in this one:

https://github.com/public

[2019-02-22 17:57] kaunair commented on #305
I'm interested in this project too!
I'd love to help you guys out in improving test coverage :smiley:
If there's an issue I can fix please let me know!

[2019-02-22 19:37] Dhiraj240 commented on #305
@kaunair You can see the available issues in the repository although one of them is highlighted in the above chat.But were you able to install it ?

[2019-02-23 07:04] Dhiraj240 commented on #307
@jywarren @gauravano  Now, i am getting the following error
[code]
I tried the database configuration given in the above screenshots.

[2019-02-23 07:07] Dhiraj240 commented on #307
Although i ran ```bundle update``` but this problem still persists.

[2019-02-23 07:14] kaunair commented on #351
Can I take this issue?

[2019-02-23 13:04] suryanshsrivastava commented on #248
Can I take up this issue or is someone working on it?

[2019-02-23 13:06] gauravano commented on #351
Hey @kaunair, sure go ahead. Thank you!

[2019-02-23 13:10] gauravano commented on #307
Hey @Dhiraj240, which database config you used, please point to the comment?

[2019-02-23 13:24] gauravano commented on #305
We would also love to have your help @kaunair. But, how about doing the testing part after switch to yarn part, you have claimed? You can start both too, we don't mind that too :smile: . Thank you!

[2019-02-23 13:37] Dhiraj240 commented on #307
this one

[2019-02-23 13:48] jywarren commented on #248
It looks like perhaps you can, we'd love some help!

On Sat, Feb 23, 2019, 7:05 AM Suryansh Srivastava <notifications@github.com>
wrote:

[2019-02-24 15:00] Jordenng commented on #338
hey @IshaGupta18 I'm done - can you review please? :)

[2019-02-24 16:17] IshaGupta18 commented on #327
@jywarren what do you think https://github.com/publiclab/mapknitter/issues/327#issuecomment-466478146 ?

[2019-02-24 16:19] IshaGupta18 commented on #338
@Jordenng could you please give me the link to your Pull Request?

[2019-02-24 16:21] IshaGupta18 commented on #338
Okay, so I saw that you made a Pull request in your own local repository. You are supposed to make a PR here, in this repository. Does this make sense?

[2019-02-24 17:38] Jordenng commented on #338
sorry, did I get it right now? @IshaGupta18

[2019-02-24 18:02] Anjalikamath commented on #322
Hi.I want to contribute to this project,but I am new to this and have little idea how this works.

[2019-02-25 12:39] gauravano commented on #322
Hi @Anjalikamath, this issue is already resolved and closed. You can find more issues to work at https://code.publiclab.org/#r=all, if you don't see any unclaimed FTO there, feel free to comment here and we'll try to create one for you.

Thank you!

[2019-02-25 12:42] gauravano commented on #338
Hey @Jordenng, please add `Fixes #338` in your PR's main comment to tag this issue, it will help other users to refer your PR easily and also closes this issue automatically when your PR gets merged(due to Fixes keyword).

Thanks!

[2019-02-25 18:20] IshaGupta18 commented on #338
I am afraid, not @Jordenng, could you please look up on how to make a PR in the main repo? We need a PR in this repo for it to be merged.

[2019-02-26 18:00] jywarren commented on #301
Sorry, just going through this all in detail now!

No, all MK users have a PL account -- because...

So one thing is that we gain a lot by relying on PL.org's user accounts -- we don't currently need to store any passwords or secrets in MK because we rely on PL.org for a lot of that infrastructure. So, I think I'm still leaning towards `* Mapknitter will use Pl.org authentication system` -- but ha

[2019-02-26 18:01] jywarren commented on #301
Yes, and related to reading roles from PL.org, could we read moderation status from there as well?

[2019-02-26 18:01] jywarren commented on #301
Via an API call, maybe???

[2019-02-26 19:05] jywarren commented on #305
https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-3-2-to-rails-4-0 is GREAT and @Souravirus used this in the `plots2` upgrade process:

* 3.2 => 4.1: https://github.com/publiclab/plots2/pull/1799
* 4.1 => 4.2: https://github.com/publiclab/plots2/pull/2533
* 5.0 => 5.1: https://github.com/publiclab/plots2/pull/2798
* 4.1 => 5.0: https://github.com/publiclab/plots2

[2019-02-26 20:15] SidharthBansal commented on #301
Thanks Jeff for suggesting to use plots2 authentication system only at MK without constructing MK own login/signup system.
I am searching for API call. Users will be the same, so trying to find a suitable way.

[2019-02-26 20:41] kaunair commented on #305
Hey @jywarren those links look really useful!
I understand that having decent test coverage is going to be really important for upgrading to rails 5
Since you've already added some tests, could you give a few pointers to what are the next important features that need to be covered by tests?
I think I'll dabble a bit on tests once I finish my current pr!
Thanks!

[2019-02-26 20:44] SidharthBansal commented on #301
We are basically trying to do **Cross Domain Authentication In Rails.**
https://www.srijan.net/blog/ruby-rails-sign-across-multiple-applications
Searching this stuff

[2019-02-27 06:16] SidharthBansal commented on #301
@jywarren I have couple of questions in my mind:
1. Do we have separate database of Plots2 ? I assume if we have database of
plots2 separated from the main application then we can use the USERS data
from it at MK too after constructing rails logics. We will not have to copy
and paste stuff.
2. What all applications are like MK in terms of authentication?
What if we try to create same authenticatio

[2019-02-27 08:12] SidharthBansal commented on #301
Advantages of Cross Domain Authentication (in other words drawbacks of
creation of separate authentication system for MK)
- No need to recreate basic login/sign up model for MK
- No need to integrate providers
- No need to worry in case we are adding/subtracting any provider at any
one place to change it at all placed
- No need of creation of duplicate user and user tag database model.
- seamless

[2019-02-27 08:30] SidharthBansal opened #362 "[WIP]Planning Issue : Cross Domain Authentication (CDA) Platform for PL"
# List of Requirements:

- Decide variables to be stored in session #369

- All the conditions which were applied to https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication (OAuth GSoC project) single provider needs to be applied to the plots2 api. We again have to consider all the corner cases where our system may crash before implementing the code.

#### Bas

[2019-02-27 08:40] SidharthBansal commented on #301
Let's see one similar website online.codingblocks.com
It has an Authentication model like plots2:
![image](https://user-images.githubusercontent.com/20972099/53476479-81e1a700-3a98-11e9-8eba-334389ed9efa.png)
I logged in to the website by any means. Then in the profile section, I have the following:
![image](https://user-images.githubusercontent.com/20972099/53476575-b5bccc80-3a98-11e9-84bb-bfbb07

[2019-02-27 09:30] SidharthBansal commented on #301
I am not able to find a single advantage for creating MK's own Authentication model. In case we will create one such model then we need to integrate with the plots2 model as many existing users of the pl.org has written many things on MK. So, that will just increase our burden today and more in future. If you are able to find advantages of independent auth model for MK then please tell @jywarren .

[2019-02-27 10:32] SidharthBansal commented on #301
We will be using CORS(Cross Origin Resource Sharing) understanding http://www.blog.bdauria.com/?p=427

[2019-02-27 19:20] jywarren commented on #71
I think we should wrap this up and focus on the welcome email for PublicLab.org esp since we are probably going to continue to rely on the auth system there. Thanks, Gaurav!

[2019-02-27 19:20] #71 closed

[2019-02-27 19:34] jywarren commented on #84
We'll be doing "image edit history" as part of this; i think it's mapped out a bit in #300, but we should expand it in a new issue!

That'll make things much easier. But true locking still faces the same basic issue:

1. default locked images would be great
2. but people doing group image work may want to share the task of distorting images, so they'd want to unlock
3. managing the locking/unlocki

[2019-02-27 19:38] jywarren commented on #178
So this would require a new function in the `maps_controller.rb` which would output JSON in this format with all the information we're able to provide, at a route like `https://mapknitter.org/maps/<map-slug>/metadata.json`. But as we are transitioning potentially to image-centric listings instead of map-centric, would we want to quickly change this to display for each image, instead?

Under the ne

[2019-02-27 19:58] jywarren commented on #305
that's a great next step, thank you! We're aiming for all model methods to
be tested (in unit tests) and all controller methods (in functional tests).
So, really i think you could start trying to identify controllers which
have a lot of untested code! If we can get Coveralls configured, it will
also help us grow test coverage. Thanks!

On Tue, Feb 26, 2019 at 3:42 PM Kaustubh Nair <notifications@g

[2019-02-27 23:27] jywarren opened #364 "Test dataset for new Exporter system"
For #298, we should have a test dataset, so we can use a real dataset to go through the steps. This is for @tech4GT and others!

I suggest we use:

https://mapknitter.org/maps/ceres--2 as a simple example - 3 images

https://mapknitter.org/maps/irish-uk-border-mapping as a more complex one, many images

Please be careful not to mess up the maps by accidentally editing them, though - that's somethi

[2019-02-27 23:32] jywarren commented on #364
@sashadev-sky @icarito - this will help us model how the export process changes will go. Basically in the first version, we'd pass the content (or URL) of a file like https://mapknitter.org/maps/ceres--2/warpables.json to one of our export scripts, and let it run;

We'd get a URL back to check on the status of the export -- something like `https://remote-exporter.com/unique-id/status.json` - wheth

[2019-02-27 23:33] jywarren commented on #326
Also copying in notes from #364 --

[2019-02-27 23:34] SidharthBansal commented on #362
- All the conditions which were applied to https://publiclab.org/notes/bansal_sidharth2996/02-20-2018/gsoc-proposal-oauth-authentication (OAuth GSoC project) single provider needs to be applied to the plots2 api.
I mean Plots2 will behave as a provider to the MK. So all the conditions which we applied last year for facebook provider to the plots2 are analogous to plots2 api call for authentication

[2019-02-28 00:03] jywarren commented on #277
hmm maybe we can detect this and prompt people to change it, but not do it
automatically?

On Fri, Feb 22, 2019 at 8:12 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-02-28 10:23] SidharthBansal commented on #305
Hi, new version of Rails is 6. So it will be great if we can increment it at MK till the latest version instead of Rails 5. @jywarren if you agree then please change the tiitle of the issue.
Thansk

[2019-02-28 10:32] SidharthBansal commented on #301
For the OAuth providers we are using the user tags and for the login/sign up form + roles we are using the user model. So, we will be requiring both the models for sure.
This is a really IMMENSE project for me. Will have much more test cases, corner cases and other stuff then we had the last yr in GSoC.

I have listed all the activities which are compulsory in #362.

[2019-02-28 17:53] SidharthBansal commented on #362
@jywarren feel free to add other remaining requirements by editing issue's body.
Thanks

[2019-02-28 18:49] jywarren commented on #364
Something occurred to me - the starting point for the exporter could actually be from within Leaflet.DistortableImage, rather than MapKnitter, because of 2 things:

1. multiple image selection - see https://github.com/publiclab/Leaflet.DistortableImage/pull/158
2. full-resolution image download (client side) - see https://publiclab.org/notes/warren/02-15-2019/leaflet-distortableimage-full-resoluti

[2019-02-28 21:50] jywarren commented on #362
Noting here that if we rely on Plots2 auth system, we can leave off Welcome Email, Password Reset, & Email/Account Verification, as we'll just let those happen in plots2!

Likewise, `Creation of intermediate gateway frontend for MK to login to pl. Present page has no validation errors, forget password options etc.` for this can we also just entirely rely on the plots2 login system with nothing ext

[2019-02-28 21:51] jywarren commented on #301
I think i agree with this. Maybe the only one I could think of is that it's easier to manage things like user role, status, etc without having to reference another Rails app remotely. But we basically need to and it'd be even worse to try to manage two parallel systems.

Yeah, i mean actually we already have it - the only missing parts seem to be:

1. that we can't yet access user record state in

[2019-03-01 04:49] SidharthBansal commented on #301
Oh great. We basically need to modify openid then it is a much simpler task than I thought.

I think we can. I tried it. It is working. There are many problems with the handling of corner cases but the core CDAS is working. I logged into the MK by making account into plots2 through twitter and it works. But user experience was really bad.

[2019-03-01 04:51] SidharthBansal opened #365 "Creation of Application Management Section under profile section"
Let's see one similar website online.codingblocks.com for enhancing our CDAS
It has an Authentication model like plots2:
![image](https://user-images.githubusercontent.com/20972099/53476479-81e1a700-3a98-11e9-8eba-334389ed9efa.png)
I logged in to the website by any means. Then in the profile section, I have the following:
![image](https://user-images.githubusercontent.com/20972099/53476575-b5bccc8

[2019-03-01 04:52] SidharthBansal commented on #365
@jywarren do we need to create such section at plots2?

[2019-03-01 04:56] SidharthBansal commented on #365
Yesterday I explored Mapmill.org and SpectralWorkbench.org. These two websites have similar openid problems. As we have these 3 websites linked to plots2, I think there may be a need to create such section under pl.org/profile/usernames. Please see the last image.

[2019-03-01 04:57] SidharthBansal commented on #362
Removing them from the issue body.

[2019-03-01 05:06] SidharthBansal commented on #362
Regarding the OAuth. If we will carefully notice then we will be able to use the whole Plots2 auth model including Oauth as a plugin. We may not require any separate routes for the oauth at MK.

[2019-03-01 05:09] SidharthBansal commented on #362
Are you suggesting
A) have independent OAuth providers at MK OR
B) use OAuth at plots2 auth system ?

[2019-03-01 05:12] SidharthBansal opened #366 "Mailers for login project"
Trying modular approach,

Part of #301

[2019-03-01 05:16] SidharthBansal commented on #366
I agree we will not require for Welcome Email, Password Reset, & Email/Account Verification.
But do we require any other mailer? I think we need to notify the user through email about access grant of MK from plots2. This all companies do. Whenever I first authorize any application through facebook, then facebook messages me about the authorization.

[2019-03-01 05:19] SidharthBansal opened #367 "Logout not working at MK"
* Hi folks, are you able to logout from the MK. I tried but am not able to do so. @jywarren @gauravano
@jywarren when a user logs out from the plots2 should it be automatically logged out from the MK?

I was able to do so after refreshing the webpage.

[2019-03-01 05:20] SidharthBansal commented on #367
We need to refresh the page to logout.

[2019-03-01 05:25] SidharthBansal opened #368 "Remove Gateway page for authentication at MK"
Chiming in here @jywarren's comment

Yeah we are dependent on the plots2 system but there are many places in the gateway where we will be requiring some error messages. Like:

[2019-03-01 05:27] SidharthBansal commented on #368
Chiming in here @jywarren's comment

Yeah we are dependent on the plots2 system but there are many places in the gateway where we will be requiring some error messages. We need to make them work. I will be commenting on the errors asap in this thread asap.

[2019-03-01 05:29] SidharthBansal commented on #365
* Automatic Linking: Whenever a user logs/signs in through any application through CDAS then that app should be automatically linked to the profile/app_page. Like we did in OAuth project
* Manual Linking: A user can link/unlink apps manually from the plots2 account by using the new webpage we will be creating

We need to think these things too

[2019-03-01 05:31] SidharthBansal opened #369 "Data fetching from the plots2"
Currently we rely on plots2 for the authentication through open id connect. We require the roles from the user tables for posts at MK.

[2019-03-01 05:33] SidharthBansal commented on #369
as per @jywarren's suggestion

[2019-03-01 05:37] SidharthBansal opened #370 "Remember granted log in permission to the MK"
Plots2 should remember that it has granted permission to the MK and should not ask for it again and again each time.

[2019-03-01 05:40] SidharthBansal commented on #370
We have to consider following situations:

1. Signup at MK through plots2
   MK account is created and linked to the plots2 account for all the following cases:
   1.1 4 OAuth Providers
   1.2 SignUp form
   Plots2 will no longer require to grant permission again to the MK after this flow.
2. Login through PL at MK if plots2 is not already logged in
   2.1 Plots2 has linked MK -> No need to show t

[2019-03-01 05:46] SidharthBansal opened #371 "Validate user names at MK header"
We need to validate usernames here
![image](https://user-images.githubusercontent.com/20972099/53618216-64374d80-3c10-11e9-89e1-3fb7e6f8f089.png)
if the user name has `.` and the person clicks on login at MK then page simply refreshes. Instead it should show the error.

[2019-03-01 07:24] sashadev-sky commented on #326
@jywarren starting the refactoring with a JSON file sounds good to me! I need to catch up on the most recent changes to the exporting models because I saw you began working on it already.

React - for that we can wrap it to use it as a regular node component if it's built in React and vice versa. Still need to weigh the pros and cons for each approach. I definitely agree we should do it in a way t

[2019-03-01 09:29] SidharthBansal commented on #371
Can we somehow remove the username and try to login through PL?
Somehow we will use the session created by PL at MK without username. This can enable us to reduce some flows which give errors with usernames.

[2019-03-01 10:28] SidharthBansal opened #372 "Tests for the MK Auth System"
We need to do this project so that login/signup works on :

1. Localhost:3000/ for MK (without ssl version)
2. localhost:3000 for plots (without ssl version)
3. stable branch
4. unstable branch
5. main production branch
6. localhost:3001 for plots (with ssl version)

- Single OAuth Provider Sign Up can be checked. This will behave the same for all four providers as implementation code is exactly t

[2019-03-01 12:23] SidharthBansal commented on #369
@jywarren what do we require apart from roles and usernames?
Will we be requiring location or latitude of the person in the near future?

[2019-03-01 15:29] jywarren commented on #372
This is good - it'll be a little tough perhaps because it's hard to test an
OpenId flow across domains. Ideas?

On Fri, Mar 1, 2019 at 5:29 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 15:31] jywarren commented on #369
Ah, that's a good point. Yes, we might try to tie that in if they've shared
it. It's stored as user tags, but we could expose it alongside the other
User model JSON API output to simplify things so it's in the same call. But
it'd be used less often than checking status.

What if we provided a URL that could be used ONLY by PublicLab.org to flush
the status/role that's saved in MK? Then we could es

[2019-03-01 15:34] jywarren commented on #368
So the default might be that when you click Log In, it says "we couldn't
find a user for that...." -- which I think it may do already. Would
validation as you're proposing here happen in JavaScript? I think I'm
inclined to stick with the basics until we solve some of the other issues
that make up the Login project, but want to fully understand -- thank you!

On Fri, Mar 1, 2019 at 12:28 AM Sidhart

[2019-03-01 15:34] jywarren commented on #366
That's a good thought, thanks. But perhaps we could build that mailer into
`plots2` and not here? We do have mailers here, but probably are better at
keeping them maintained over at plots2.

On Fri, Mar 1, 2019 at 12:16 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 15:41] jywarren commented on #362
I'm suggesting we could use the plots2 OAuth, but we could have a starting
point URL in MK that would initiate the OpenID permission granting. The
sequence for
https://publiclab.org/auth/github?origin=https://mapknitter.org/auth?u=USERNAME.
would be:

1. Log into PL.org using GitHub OAuth
2. get redirected back to new MapKnitter /auth URL, which:
3. redirects to start an OpenID request back to PL.

[2019-03-01 15:42] jywarren commented on #301
haha "really bad" indeed -- i just left a step-by-step in the other issue
highlighting the multiple clicks required by a user. Agreed. But also left
a suggestion for how to simplify it. I'm glad it seems simpler now but that
also means we could work to really smooth it out in the details and corner
cases. Great thinking! OK, let's keep refining the project and we'll soon
have a final plan.

On Thu

[2019-03-01 15:46] SidharthBansal commented on #372
What is the present scenario? What we have for Mapknitter?
Do we have stable, unstable branch or is there any other naming conventions etc?

[2019-03-01 15:47] SidharthBansal commented on #372
By present scenario I mean WAS the code functional for those branches at time you created this login?

[2019-03-01 15:48] jywarren commented on #367
ah, does it work to append `?_=123456` <= where the number is a unique
timestamp?

On Fri, Mar 1, 2019 at 12:20 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 15:54] jywarren commented on #372
I believe we have only main and stable branches on this repo, and stable
just sources from main just before we publish. But @icarito is working on
mirroring how we do it on plots2, so this should change soon.

On Fri, Mar 1, 2019 at 5:29 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 15:55] SidharthBansal commented on #366
No problem. I was confused at time of opening up thread, where should I open.
Moved to https://github.com/publiclab/plots2/issues/4899

[2019-03-01 15:56] #366 closed

[2019-03-01 15:58] SidharthBansal commented on #372
So, we are not having unstable branch, right?

On Fri, Mar 1, 2019 at 9:24 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-01 16:00] SidharthBansal commented on #301
@jywarren can you please open up this issue in a window and see. I have heavily edited this issue to make it modular so that we can manage things easily.

[2019-03-01 16:01] SidharthBansal commented on #301
I know you are messaging me from your mobile. As this issue is edited from top to bottom, I am unable to understand your comment.
I edit it so that we can organise things in a better way.

[2019-03-01 16:03] jywarren commented on #301
Oops! Ok, i will do so soon, but have a few deadlines today first. Thank
you!

On Fri, Mar 1, 2019 at 11:01 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 16:04] jywarren commented on #372
we will, it's just not set up yet. Thanks!!!

On Fri, Mar 1, 2019 at 10:58 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 16:05] jywarren commented on #371
Hmm, could we... open a modal from PublicLab.org here? i bet that violates
some cross-domain security practice though.

On Fri, Mar 1, 2019 at 4:30 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 16:08] SidharthBansal commented on #301
No problem. You can comment in the other issues in the meantime. Thanks.

[2019-03-01 16:40] SidharthBansal opened #373 "No permission to OpenId results in permanent denial"
Suppose I am a moody user, lol. Today I have denied the access to be granted to the MK by plots2.
Tomorrow I realise MK is beneficial to me and tries to log into MK through PL then I will never be able to access my MK account.
I did this for testing. I am seeing this webpage now.
![image](https://user-images.githubusercontent.com/20972099/53652425-ddfe2400-3c6e-11e9-927a-b383f96922f7.png)
What sho

[2019-03-01 16:45] SidharthBansal opened #374 "Forget Sessions for CDAS"
@jywarren should all the applications(MK, MapMill, Workbench) log out when we log out from PL.org. OR do we need to log out only MK/ Mapmill / Workbench which ever user tries to log out?

[2019-03-01 16:57] SidharthBansal commented on #368
Like:

![image](https://user-images.githubusercontent.com/20972099/53618827-0a845280-3c13-11e9-9001-8886ac1154c2.png)
- If red flash message is present then there should be no option for yes and no.
- Instead of green flash message, text should be present before yes and no options
- I entered correct user name but it showed ``ownloading`` I really don't know why.
- Eventhough it showed me such a w

[2019-03-01 17:08] #373 closed

[2019-03-01 17:10] SidharthBansal commented on #373
Working fine when I tried 2 times. Will reopen it if needed.
Checking it up again at different machines at different browsers.

[2019-03-01 17:12] SidharthBansal commented on #367
Probably you are talking about the cache, if I am not mistaken.
https://mapknitter.org/#2/43.0/2.8 is route after successful log out.
Now I am able to log in and out smoothly. Some problem is there which occurs sometimes.

[2019-03-01 17:23] SidharthBansal opened #375 "Return_to MK on Authentication"
Currently, the MK application is able to login/sign up at pl through basic flow. The user needs to click many times. We need to have redirect back sequences.
Part of #301

[2019-03-01 17:35] jywarren commented on #375
This is like `return_to` parameters to ensure people end up on the same
page they started the login sequence on? Thanks!

On Fri, Mar 1, 2019 at 12:24 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 17:37] jywarren commented on #374
I think we should simply log out of MapKnitter, not PL.org. We could
display a message like "if you'd like to log out of PublicLab.org as well,
click here" going to https://publiclab.org/logout - what do you think?

On Fri, Mar 1, 2019 at 11:45 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-01 18:12] SidharthBansal commented on #375
Correct.

On Fri, Mar 1, 2019 at 11:05 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-01 18:15] SidharthBansal commented on #374
I think we should keep the log out feature independent. No need to club log
outs at any point.
When we log out from pl we are not logged out from fb nor we get any flash
messages. So, I think we should keep things independent.

On Fri, Mar 1, 2019 at 11:07 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-01 18:26] jywarren commented on #368
Is it possible this happened while you were logged in as `bansal_sidharth2996`? That'd be an important edge case. I believe we have had an alert that says "you are logging in as the wrong user" but am not sure that's still working? Let's document these edge cases and make a list!

[2019-03-01 18:31] SidharthBansal opened #376 "Edge Cases for MK CDAS"
We will list all the corner/edge cases in this issue so that we can check them at last of the project.
Basic Flows:
Signup at MK through plots2
MK account is created and linked to the plots2 account for all the following cases:
1.1 4 OAuth Providers
1.2 SignUp form
Login through PL at MK if plots2 is not already logged in
Login through PL at MK if plots2 is logged in
Logout through MK results in o

[2019-03-01 23:07] stefannibrasil opened #377 "Update Bootstrap version to the latest version"
The project is currently using Bootstrap 3.2.0, but it would be nice to update it to the newest version (now it`s at 4.3.1).

I'm finishing some tweaks on the navbar but as soon as it's finished I can start working on this one, but feel free to suggest anything or even start working on it :)

[2019-03-02 03:12] SidharthBansal commented on #368
I tried to login as bansal_sidharth2996. There is some problem with the basic flow. It is giving wrong username.

[2019-03-02 05:38] SidharthBansal commented on #368
As per your comment in related issue, if we are automating the flow from Mapknitter, then this will become much simpler.
Will we require any webpage after automating? I don't think. We can show the errors on plots2 or MK.
What do you think?

[2019-03-02 05:41] SidharthBansal opened #378 "Creation of OAuth route for MK"
Adding details from #301 and #362 about Oauth to make conversation modular
@jywarren's suggestion:

Here, I think we can probably just use the current OAuth links, like:

https://publiclab.org/auth/github?origin=https://publiclab.org/

We can probably generate the correct OpenID auth URL too; i wonder... when you enter your username at MK, you get something like:

`https://publiclab.org/openid?ope

[2019-03-02 05:42] SidharthBansal commented on #378
I'm suggesting we could use the plots2 OAuth, but we could have a starting
point URL in MK that would initiate the OpenID permission granting. The
sequence for
https://publiclab.org/auth/github?origin=https://mapknitter.org/auth?u=USERNAME.
would be:

1. Log into PL.org using GitHub OAuth
2. get redirected back to new MapKnitter /auth URL, which:
3. redirects to start an OpenID request back to PL.

[2019-03-02 05:45] SidharthBansal commented on #362
We can continue to discuss Oauth in #378. I made many issues as things were getting twisted.

[2019-03-02 05:50] SidharthBansal commented on #378
auto-approve OpenID requests from MK.org, automating (3) -- as long as the
request came from MapKnitter.org. What do you think?

I agree with you. Let's automate it. As this is part of the intermediate gateway page, we can tackle it in #368

[2019-03-02 06:00] SidharthBansal commented on #378
For OAuth providers the sign up and login means the same as route is same for both the sequences.

So we will be having 4 providers at bottom of
![image](https://user-images.githubusercontent.com/20972099/53677973-7ed7f800-3cde-11e9-9784-74a03e2a7e93.png)
for all the four providers?

[2019-03-02 06:12] SidharthBansal commented on #365
Important observations:
1. Usernames are same for MK, Workbench, Mapmill and plots2 of same user
2. No requirement of delinking of the user accounts required ever as per @jywarren suggestion of using only whitelisted apps. In case of  providers we were cautious because Orkut flee away. But we are sure here sure about our repos. In case we have some corner case where we will require the delinking,

[2019-03-03 10:00] tech4GT commented on #364
@jywarren So before this, we need to make fisheye-gl work in node context, right? Since our workflow heavily relies on that. Also it would be pretty helpful if you can drop the exact sequencer string we are trying to run. Thanks :smile:

[2019-03-04 16:43] jywarren commented on #364
actually i believe it's https://github.com/jywarren/webgl-distort, but yes, it's a WebGL based module. FisheyeGL would be similar.

I think the exact sequence still needs to be determined, but will try:

1. `webgl-distort` (we might call this `perspective-distort` once completed) with 4 pixel locations for the 4 corners to be distorted to, saving the output PNG or JPG
2. `geotiff` (one pathway, bu

[2019-03-05 00:02] jywarren commented on #301
OK cool - yes, i was just referring to this comment of mine: https://github.com/publiclab/mapknitter/issues/362#issuecomment-468707523

where I am proposing auto-approving OpenID requests from our own sites (MapKnitter, SpectralWorkbench), which would simplify things a lot - it'd remove the need for a management system (https://github.com/publiclab/mapknitter/issues/365) and remove a step in the U

[2019-03-05 00:06] jywarren commented on #326
OK @icarito had a real breakthrough idea on Friday - that the remote export process would, as soon as it begins, create a cloud-storage object for a `status.json` file! And then as it proceeds, it'd continuously overwrite that file with updated status. Then we actually don't need to handle requests for progress in the exporter itself; we'd just report back the location of the `status.json` file as

[2019-03-05 01:08] jywarren commented on #378
Yep, that's great!

[2019-03-05 03:11] SidharthBansal commented on #301
Yeah thanks

On Tue, Mar 5, 2019, 5:32 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-05 03:13] SidharthBansal commented on #378
For forms we rely on pl. Right?
Will there be any problem with redundancy of providers at mk header and pl login modal?

[2019-03-05 03:49] SidharthBansal commented on #368
As discussed in #301 with Jeff, let's remove this gateway page.

[2019-03-05 03:51] SidharthBansal commented on #370
As per #368, we will no longer think for the remember the app functionality. We have whitelisted MK.

[2019-03-05 03:55] SidharthBansal commented on #370
@jywarren I am closing this. In case you will feel any need then please reopen it. Thanks for simplifying it.

[2019-03-05 03:55] #370 closed

[2019-03-05 03:58] SidharthBansal commented on #365
As per @jywarren 's suggestion in #301, closing this issue. Feel free to reopen it if anybody want to further discuss.

[2019-03-05 03:58] #365 closed

[2019-03-05 08:47] tech4GT commented on #364
@jywarren Yes this makes sense to me!! So I'll start off with webgl-distort since that is critical then we can start working on the is-runner and Implement this work structure.
PS by is-runner you mean the is-app right?

[2019-03-05 09:27] SidharthBansal commented on #368
Moving to plots2 repository as code is present in that repo.
Things are getting untwisted :-))))

[2019-03-05 09:27] #368 closed

[2019-03-05 11:29] SidharthBansal commented on #371
I think we will not require modals here. We are not having a signup functionality at MK. Sign Up will be done through PL. We don't even need the password field. Also, we have 3-4 pages only in MK so we don't need linking to modals as we did previously at plots2.
Creating/ linking the PL modal here will result in hiding the maps which we show. Right now in the header in the drop-down menu, everythi

[2019-03-05 16:25] jywarren commented on #371
Yes, i agree. Let's aim for a minimal starting point for the PL login
sequence. Sound good?

On Tue, Mar 5, 2019 at 6:29 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-05 16:27] jywarren commented on #378
Hmm, can you break that down for me? Sorry... how do you mean redundancy?

On Mon, Mar 4, 2019 at 10:13 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-05 16:28] jywarren commented on #364
I think is-app may be one way to achieve is-runner, but actually I am
thinking that is-runner may need to be an independent JS module that can
run in browser or server side, and is a process manager for a collection of
interdependent IS sequences.

Yes, regarding webgl-distort!

On Tue, Mar 5, 2019 at 3:48 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-05 16:30] jywarren commented on #378
Yes, i think that's right!

[2019-03-05 17:05] SidharthBansal commented on #378
There will be two flows
1. User clicks on the any of the providers on the header of MK at bottom of
![image](https://user-images.githubusercontent.com/20972099/53822843-8a554880-3f96-11e9-9872-db865a0818de.png)
Now we are able to login into MK.
2. User clicks on Sign Up through PL on this header.
![image](https://user-images.githubusercontent.com/20972099/53822843-8a554880-3f96-11e9-9872-db865a081

[2019-03-05 17:22] SidharthBansal commented on #371
So, in this issue we have to consider 4 cases:
1. User wants to signup at MK through PL. Username not found error message should be shown at the header. User should be asked to create an account at PL or use another username.
2.  User wants to login through MK through PL with any of the four provider: Custom route will be created. No flash message required
3. User wants to login through MK through

[2019-03-05 17:25] SidharthBansal opened #381 "Creation of PL provider icon"
How about creating PL icon along with the OAuth providers at the bottom of
![image](https://user-images.githubusercontent.com/20972099/53824313-aad2d200-3f99-11e9-9999-9096cada0941.png)
PL icon can be used to sign up/log in through publiclab.org.

[2019-03-05 17:47] avsingh999 commented on #340
Yes, great Idea @jywarren But How can be Implement this feature.

[2019-03-05 18:59] jywarren opened #382 "Ability to filter images shown by time uploaded"
If we allow people to see each others' images, filtering what's shown by timeline is going to be very useful. Luckily there are a range (pun intended) of options for this:

* https://github.com/svitkin/leaflet-timeline-slider/
* https://github.com/socib/Leaflet.TimeDimension
* https://github.com/dwilhelm89/LeafletSlider
* https://github.com/skeate/Leaflet.timeline

My ideal is to have a timeline s

[2019-03-05 19:14] jywarren commented on #382
`leaflet-timeline-slider` -

![image](https://user-images.githubusercontent.com/24359/53830143-d0d38480-3f4f-11e9-9166-eaccd32d31b8.png)

`Leaflet.TimeDimension` -

![](https://raw.githubusercontent.com/socib/Leaflet.TimeDimension/master/examples/img/screenshot/screenshot-leaflet-timedimension.png)

`LeafletSlider` -

![image](https://user-images.githubusercontent.com/24359/53830352-3e7fb080-3f50-

[2019-03-05 19:14] gauravano commented on #382
@jywarren please check your mail

[2019-03-05 19:24] jywarren commented on #382
I most like the display of items in the last `Leaflet.timeline` one, but it doesn't have start/end sliders.

[2019-03-05 20:27] jywarren commented on #340
Currently the workflow is:

1. upload image
2. hear back from server
3. instantiate the Leaflet.DistortableImage overlay object in JS
4. display to user

Here, we'd start by instantiating Leaflet.DistortableImage overlay object
in JS, as soon as possible. Then we'd start the upload process in the
background, but we'd want to show some kind of indication of uploading
status. What might that look li

[2019-03-06 16:33] jywarren commented on #381
Could we make it similar to the layout of the PL modal, like "use your
email or these providers"?

On Tue, Mar 5, 2019 at 12:43 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-06 16:43] SidharthBansal commented on #381
Actually in both these cases username is required.

On Wed, Mar 6, 2019 at 10:03 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-06 20:12] jywarren commented on #378
Ah, ok - yeah, are you saying we could have them be the same thing, and after redirecting to PL.org, ask for a username then OR prompt to sign up? (both needing a working return_to to MK.org when done?)

[2019-03-06 20:27] SidharthBansal commented on #378
One option is to show OAuth providers at MK and modify the routes so that the flow will be
FB on MK -> FB sign up -> MK
Second option is
Click on login on MK-> Click PL OAuth providers -> Return_to to MK page
Which one do you suggest?

[2019-03-06 20:32] jywarren commented on #378
I think the second, which would be most in line with #2 of [the list above](https://github.com/publiclab/mapknitter/issues/378#issuecomment-468888248), where we just need an OpenID-request-generating path on MK, but the rest is on PL.org. Right?

Thanks!

[2019-03-06 20:43] SidharthBansal commented on #378
OK. Then we don't need any front end changes.
It will be Signup on MK -> Fb at PL Login Page -> Fill password + email at fb page -> redirected to MK.

[2019-03-07 09:56] SidharthBansal opened #385 "Frontend for MK authentication"
**Design 0**
Let it remain as it is
![image](https://user-images.githubusercontent.com/20972099/53948151-2f823500-40ed-11e9-90e8-8de49a851d4b.png)

**Design 1**
![image](https://user-images.githubusercontent.com/20972099/53947927-c69abd00-40ec-11e9-9127-eee797170cb2.png)
**Design 2**
![image](https://user-images.githubusercontent.com/20972099/53947221-58a1c600-40eb-11e9-851d-d9d866807d8a.png) like

[2019-03-07 10:00] SidharthBansal commented on #385
@jywarren I think we should have it like the Design 4. What do you think?

[2019-03-08 19:34] steviepubliclab opened #386 "Download dropdown not working"
### What happened just before the problem occurred
Hi!  I exported this map, then when I went to the dropdown menu, I couldn't see the full dropdown.
<img width="1048" alt="Screen Shot 2019-03-08 at 2 30 04 PM" src="https://user-images.githubusercontent.com/7490478/54051165-26f23300-41af-11e9-9d57-9aee0b49528f.png">

### Relevant URLs

https://mapknitter.org/maps/tidwell-park

### PublicLab.org us

[2019-03-08 22:03] gauravano commented on #386
@steviepubliclab you were not able to see contents of dropdown after the export is done(just achieved 100% status), but after refreshing the page, the dropdown worked fine?

[2019-03-10 18:32] SidharthBansal commented on #246
Hi, I am little new to spam moderation system at PL. I found some irrelevant posts
https://mapknitter.org/maps/testmap28
https://mapknitter.org/maps/test--175
https://mapknitter.org/maps/test-map--20
Can we delete them from the website?

[2019-03-10 18:34] SidharthBansal opened #387 "Setting dropdown not working"
Please see the rightmost settings icon.
![image](https://user-images.githubusercontent.com/20972099/54089653-29ac7e00-4391-11e9-8f01-437ced616c54.png)

[2019-03-10 18:36] SidharthBansal opened #388 "Removal of redundant /maps route"
I found that MK.org/map redirects to the MK.org
Either we can change the dashboard of MK OR delete /map route. What do you suggest @jywarren?

[2019-03-10 18:40] SidharthBansal opened #389 "Repetition in recent authors sidebar"
![image](https://user-images.githubusercontent.com/20972099/54089708-ddae0900-4391-11e9-9d06-2ae33caae29b.png)

[2019-03-10 18:41] SidharthBansal opened #390 "Remove anonymous from the Recent Authors"
![image](https://user-images.githubusercontent.com/20972099/54089708-ddae0900-4391-11e9-9d06-2ae33caae29b.png)

[2019-03-10 18:45] SidharthBansal opened #391 "Improper grid view at home page"
![image](https://user-images.githubusercontent.com/20972099/54089780-b441ad00-4392-11e9-9183-31583339e6a0.png)
Third row first two columns are empty

[2019-03-11 08:16] avsingh999 commented on #387
@SidharthBansal  Can I Work on This issue.

[2019-03-11 08:21] avsingh999 opened #393 "collapse login dropdown with map layers dropdown icon"
### What happened just before the problem occurred

![map1](https://user-images.githubusercontent.com/25536022/54109446-b3e1fa00-4404-11e9-8476-df2abd7db628.png)

### Relevant URLs

https://mapknitter.org/#4/47.95/-13.23

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating system
chrome ubuntu 18.04 LTS

For bug reports, fill out the above template

[2019-03-11 08:31] avsingh999 opened #394 "[suggestion] when click on login open popup like plots2"
### What happened just before the problem occurred
when we click on this login icon it's opening login form.
![map3](https://user-images.githubusercontent.com/25536022/54109927-07087c80-4406-11e9-9084-10b90b636bed.gif)

### Relevant URLs

https://

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above templ

[2019-03-11 08:32] avsingh999 commented on #394
@jywarren @SidharthBansal  when we click on login I think must open popup like plots2. What do you think about this?
thanks : )

[2019-03-11 08:53] avsingh999 commented on #391
@SidharthBansal  we should improve also for the mobile view and in profile images grid ex. (https://mapknitter.org/profile/stevie)
thanks : )

[2019-03-11 09:01] avsingh999 opened #395 "Improve exports page for mobile"
### What happened just before the problem occurred
when we open this page in mobile it's UI, not Good https://mapknitter.org/exports
![map4](https://user-images.githubusercontent.com/25536022/54111609-45a03600-440a-11e9-984e-11d24e0f20ae.gif)

### Relevant URLs

https://mapknitter.org/exports

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating sys

[2019-03-11 09:04] avsingh999 commented on #395
@SidharthBansal @jywarren I think this issue is valid but I don't know what would be the better solution.
what do you think about this @jywarren @SidharthBansal .
thanks :smile:

[2019-03-11 09:12] SidharthBansal commented on #394
I am trying to reduce login flow a lot. It is being discussed in other
threads.
Thanks

On Mon, Mar 11, 2019 at 2:02 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-11 09:12] SidharthBansal commented on #387
Sure

On Mon, Mar 11, 2019 at 1:46 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-11 09:13] #394 closed

[2019-03-11 12:25] gauravano commented on #393
Hey @avsingh999, you would be resolving this or should I include this bug fix in my already open PR? Thanks!

[2019-03-11 12:49] avsingh999 commented on #393
@gauravano I will try to solve this one.
thanks :smile:

[2019-03-11 12:51] gauravano commented on #393
Great!

[2019-03-11 14:37] jywarren commented on #395
Perhaps some of the Export columns could be made to show only at larger
screen widths, using Bootstrap styles? https://getbootstrap.com/docs/3.3/

Good idea!

On Mon, Mar 11, 2019 at 5:05 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-11 14:38] jywarren commented on #393
I believe we may need to add a custom z-index here, but @stefannibrasil has
also recently implemented a new menubar, so let's be sure we don't work
redundantly!

On Mon, Mar 11, 2019 at 4:22 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-11 14:53] avsingh999 commented on #393
@jywarren okay great. Then I have to close this issue.
thanks : )

[2019-03-11 14:54] jywarren commented on #390
ah also we should add `.distinct` to the query!

On Sun, Mar 10, 2019 at 2:41 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-11 14:55] jywarren commented on #388
Hmm, i think we can delete it; it predated the MapKnitter layer of Leaflet
Environmental Layers, which is a better way to view all maps anyways :-)

On Sun, Mar 10, 2019 at 2:37 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-11 14:56] jywarren commented on #246
Hi Sidharth, there is a Archive/Spam function shown on the dashboard to
admin users. We need to make it easier to make admin/mod users, which could
be part of the "sharing state from PL.org" project (i.e. just look to role
in PL.org). We could also make an "archive/spam" button on individual map
pages, too. Make sense?

On Sun, Mar 10, 2019 at 2:33 PM Sidharth Bansal <notifications@github.com>
wro

[2019-03-11 19:08] gauravano commented on #393
Closing this issue then. Thanks!

[2019-03-11 19:08] #393 closed

[2019-03-12 05:37] SidharthBansal commented on #246
Cool thanks

On Mon, Mar 11, 2019, 8:26 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-12 13:09] shubhscoder commented on #389
@SidharthBansal , I would like to work on this!

[2019-03-12 13:41] SidharthBansal commented on #389
Great

On Tue, Mar 12, 2019, 6:39 PM Shubham Sangamnerkar <notifications@github.com>
wrote:

[2019-03-12 16:06] first-timers[bot] opened #396 "Update _list.html.erb with new "ban" icon on Spam button"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2019-03-12 16:12] jywarren commented on #396
This is reserved for @govindjeevan!

[2019-03-12 17:55] shubhscoder opened #397 "Error page on localhost even after installing everything"
So, I just followed the steps mentioned in the readme to get mapknitter running.
I installed everything mentioned and followed the procedure correctly to best of my knowledge. Then too I am getting the following error
![mapknitter_error](https://user-images.githubusercontent.com/18489285/54223487-9eacbe80-451d-11e9-93ed-04d68735911c.png)

Also the server shows a internal error (status 500).
This i

[2019-03-12 18:05] govindjeevan commented on #396
Thank you! Will work on it!

[2019-03-12 19:08] sashadev-sky commented on #347
closed via #355

[2019-03-12 19:09] sashadev-sky commented on #347
closed via #355

[2019-03-12 19:09] #347 closed

[2019-03-12 19:19] aggarwal19 commented on #390
Hi @SidharthBansal , I want to solve this issue . Are you able to provide me some details about this ?
Thanks!

[2019-03-12 19:30] gauravano commented on #390
hey @aggarwal19, go ahead! Thanks!

[2019-03-12 23:34] #396 closed

[2019-03-13 05:23] SidharthBansal commented on #390
Please install Mapknitter.

On Wed, Mar 13, 2019, 1:01 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-13 07:14] IshaGupta18 commented on #385
Agreed, I think design 4 looks good. I could start implementing it if that's okay @SidharthBansal @jywarren ?

[2019-03-13 07:17] SidharthBansal commented on #385
I am doing back end. You can start doing it if you want. Once backed is complete we can link the URLs. Makes sense?

[2019-03-13 07:23] IshaGupta18 commented on #385
Should I start with the front end then?

[2019-03-13 09:31] SidharthBansal commented on #385
Please wait for Jeff to finalyse the design

On Wed, Mar 13, 2019, 12:53 PM Isha Gupta <notifications@github.com> wrote:

[2019-03-13 12:45] gauravano commented on #367
@SidharthBansal the issue still exists. Can I solve this one?

[2019-03-13 12:48] gauravano commented on #71
Great!

[2019-03-13 12:53] gauravano commented on #181
No @jywarren, the issue is still open.

[2019-03-13 18:38] first-timers[bot] opened #400 "Change destination of "ask a question" button on front page of MapKnitter.org"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-13 19:33] first-timers[bot] opened #401 "Remove redundant index.html template"
This issue is reserved for applicants to [Public Lab’s Providence code fellowship](https://publiclab.org/pvd). Please feel free to help applicants, but if you are looking for a first-timers-issue of your own and are not applying for the position, please see our coding Welcome Page at https://code.publiclab.org.

Applicants - upon completion (when your pull request is merged), please include the li

[2019-03-13 19:33] first-timers[bot] opened #402 "Remove redundant index.html template"
This issue is reserved for applicants to [Public Lab’s Providence code fellowship](https://publiclab.org/pvd). Please feel free to help applicants, but if you are looking for a first-timers-issue of your own and are not applying for the position, please see our coding Welcome Page at https://code.publiclab.org.

Applicants - upon completion (when your pull request is merged), please include the li

[2019-03-13 19:38] #401 closed

[2019-03-13 20:03] first-timers[bot] opened #403 "Refactor bbox() function's ActiveRecord query to new Rails syntax"
This issue is reserved for applicants to [Public Lab’s Providence code fellowship](https://publiclab.org/pvd). Please feel free to help applicants, but if you are looking for a first-timers-issue of your own and are not applying for the position, please see our coding Welcome Page at https://code.publiclab.org.

Applicants - upon completion (when your pull request is merged), please include the li

[2019-03-13 20:10] first-timers[bot] opened #404 "Remove legacy image controller code"
This issue is reserved for applicants to [Public Lab’s Providence code fellowship](https://publiclab.org/pvd). Please feel free to help applicants, but if you are looking for a first-timers-issue of your own and are not applying for the position, please see our coding Welcome Page at https://code.publiclab.org.

Applicants - upon completion (when your pull request is merged), please include the li

[2019-03-13 21:01] steviepubliclab opened #405 "Locked image not staying locked"
### What happened just before the problem occurred
I was working on a map (the one of tidwell park in Houston) I had a couple images in place and was locking them as I went. One of my images didn't stay locked, it moved when I started on another image. It had the "x"s on the corners to show it was locked, but I was able to move it around. I can't recreate this now, but it happened! I'm on chrome.

[2019-03-13 21:52] jywarren opened #406 "Dragging in an image to the "new map" screen doesn't switch to the Uploads modal"
### What happened just before the problem occurred

I dragged in an image to the map on the welcome modal screen, but nothing changed on the screen. Actually the image uploaded but since it didn't switch to the uploads modal, i couldn't tell.

### Relevant URLs

https://mapknitter.org/maps/cranston-test (delete all the images to try this)

![mapknitter](https://user-images.githubusercontent.com/24

[2019-03-13 21:54] jywarren opened #407 "Pressing Continue after uploading an image doesn't show the images list"
### What happened just before the problem occurred

After uploading an image, you can either "place" it or press `Continue` - but pressing `Continue` doesn't show the images in the images tab. There must be a JavaScript error:

![image](https://user-images.githubusercontent.com/24359/54316152-6c9b6b00-45b6-11e9-8cf0-eafaa69da1e8.png)

Refreshing the page then shows the images, but new users won't

[2019-03-13 22:11] jywarren commented on #386
![Screen Shot 2019-03-13 at 6 08 37 PM](https://user-images.githubusercontent.com/24359/54317943-141a9c80-45bb-11e9-990b-7953fc2ac2a6.png)

Seems to be now? So maybe what @gauravano suggests is true?

[2019-03-14 00:55] jywarren opened #408 "Use Codenvy to make an instantly bootable Mapknitter dev environment?"
I was able to get MapKnitter running at https://codenvy.io, which is pretty cool.

Note that it says you can start from a Docker Hub image, i just didn't figure that out.

I tried instead to save my running app in a Factory, to let people start exactly where I left off. But i got an error:

This could be really useful for first-timers!

[2019-03-14 01:00] jywarren commented on #408
Here it says we can pull from Docker Hub... https://blog.codenvy.com/introducing-a-new-codenvy-52f8413d9d3a

[2019-03-14 05:47] SidharthBansal commented on #367
Yeah sure

On Wed, Mar 13, 2019, 6:15 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-14 05:48] SidharthBansal commented on #367
Yeah sure. Sometimes it is getting logged out and sometimes not. You can
try this Gaurav

On Wed, Mar 13, 2019, 6:15 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-14 08:02] kaunair opened #409 "Error trace for development"
Currently the custom error pages are being displayed for 500 errors
How do I see the exception trace?
I tried removing 500.html from public folder but still it doesn't help

[2019-03-14 08:56] gauravano commented on #409
You can refer to local server logs?

[2019-03-14 09:02] gauravano commented on #367
Thanks, included it in my PR #383

[2019-03-14 09:52] kaunair commented on #409
Hmmm... yeah that works
Didn't realise that

[2019-03-14 09:52] #409 closed

[2019-03-14 15:32] jywarren commented on #385
Design 4 indeed! Be aware of the recent bootstrap header changes and that
@stefannibrasil is doing a bootstrap 4 upgrade! But yes and let's aim to
have it stylistically look like plots2? Thanks all!!!

On Wed, Mar 13, 2019, 5:32 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-14 15:32] jywarren commented on #181
I think we'll have to try to help solve it upstream in exif.js. Thanks!

[2019-03-14 15:36] IshaGupta18 commented on #385
Yes that would be great! Thanks!

On Thu, Mar 14, 2019, 9:02 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-14 17:48] SidharthBansal commented on #388
I will remove this. Last exam left.

[2019-03-14 20:19] stefannibrasil commented on #385
yeah, try to get the new changes first, I didn't change a lot the login, just added some spacing between the items. Agree with having the same style as plots2 :+1:

[2019-03-14 21:33] aggarwal19 commented on #390
okay

[2019-03-15 07:31] tech4GT commented on #298
Hi @jywarren
I was thinking about the is-runner and maybe we can base it on the nodejs clustered api?
https://nodejs.org/api/cluster.html
Also How do we want to divide up the work inside these processes exactly? I mean is it specified by the user or we want some kind of algorithm to decide?

[2019-03-15 15:58] jywarren commented on #327
@IshaGupta18 I think if we develop the "featured mapper" section in a template partial, then this sounds super, and we could then also add it into the new front page design when the time comes. We'd probably be developing a "shadow" front page at mapknitter.org/places or something, so we can test it even before it's completely done. Make sense?

I'm also thinking harder about what makes the "front

[2019-03-15 17:51] stefannibrasil commented on #377
@jywarren I was first taking a look at the changes between Bootstrap 3 and 4, but now I'm ready to update it.

Is it okay to use [BootstrapCDN](https://getbootstrap.com/docs/4.0/getting-started/download/#bootstrapcdn) or is it better to update it using bower?

The reason I'm asking is because: 1) If there isn't a specific need to use bower, I would rather use CDN and 2) I remember you said you wer

[2019-03-15 18:15] jywarren commented on #377
Let's aim for bower for now, and that can be refactored later. That way we
can manage versions and ordering and everything in a consistent way, if
that's OK? Thank you!!!

On Fri, Mar 15, 2019 at 1:52 PM Stefanni <notifications@github.com> wrote:

[2019-03-15 18:24] jywarren commented on #298
Hi Varun!!! Interesting. I guess we could start by noting for each step
what previous steps must be complete for it to run, and we could point each
at prior step references. We might track their state, but also trigger a
re-assessment of if all are complete, using an event listener? I think it
might be worth writing this out step by step. Like:

1. receive multiple image URLs and coordinates
2. st

[2019-03-15 18:26] stefannibrasil commented on #377
okay, thanks!

[2019-03-15 19:59] steviepubliclab commented on #386
Hi, yes for some reason it seems to be there now.

Best,
Stevie

[2019-03-15 21:32] jywarren commented on #364
Looking at exactly the steps that each Exporter system will follow:

For `status.json` format for exporter progress reporting, let me go through the steps one by one:

1. HTTP request sent to Google Cloud URL endpoint, booting a Ruby container: contains URL of JSON file with image URLs and coords like
https://mapknitter.org/maps/irish-uk-border-mapping/warpables.json
URL format could be: https://g

[2019-03-15 21:34] jywarren commented on #364
So, in the Ruby version, we'll have to make a Ruby object that has the following properties, and a `save` method:

[code]

[2019-03-16 03:30] jywarren commented on #369
Once we get to rails 5.2 we could read user state remotely in Json using https://github.com/DmitryTsepelev/store_model

[2019-03-16 03:30] jywarren commented on #369
Or maybe with https://github.com/remiprev/her

[2019-03-16 05:18] SidharthBansal commented on #369
Thanks for the resources.
I have installed spectral workbench. Working fine. Facing some difficulty
in mk and plots2. Once it is set. I will remove the intermediate gateway
page. Then we can start with this issue.
Thanks
S

On Sat, Mar 16, 2019, 9:00 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-03-16 17:01] tech4GT commented on #298
This makes sense Jeff, let me write up some code and see if it works, let’s build this into is-app.

[2019-03-16 17:04] jywarren commented on #298
That's great. You could even start with a sequence that doesn't yet do
distortion, but something simpler that already works. Then we'll have the
shell of the system in the right format and can focus on just getting the
internal modules to work.

Thanks!

On Sat, Mar 16, 2019, 1:02 PM Varun Gupta <notifications@github.com> wrote:

[2019-03-16 17:06] tech4GT commented on #298
Yeah that’s what I was thinking, we can plug in the distortion part later since there are a couple of options I need to explore there and I don't want to slow this down because of that!

[2019-03-17 04:59] SidharthBansal commented on #385
Isha I am free from the exams will be trying to create the custom URLs tomorrow. You can start the work.
Let's do this in pieces. First step is to add 3 providers twitter, Facebook and github icon( don't include google icon). Use a partial for it so that we can use it at multiple places. Use plots2 code as there is no need to reinvent the wheels if we have them.

While you will be doing this, I wi

[2019-03-17 05:00] SidharthBansal commented on #381
Moved to #385

[2019-03-17 05:00] #381 closed

[2019-03-17 06:45] IshaGupta18 commented on #385
Yes it does! I'll be on it ASAP!

On Sun, Mar 17, 2019, 10:29 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-17 06:54] tech4GT commented on #298
@jywarren Is there any is-module which stitches the images together? Or do I need to write one?

[2019-03-17 08:33] tech4GT commented on #298
Also, the information about the steps, as to the complete graph, do we get that through JSON somehow?
I was thinking we can sort of a topological sort on the dependency graph which will automatically run our steps in the right order, what do you think?
@jywarren

[2019-03-17 10:18] tech4GT commented on #298
I started this and I have implemented steps 1 and 2. ie we get an array of urls in the request. We apply the preliminary step to all images.(Currently I have done it using async calls but later we can move to clustered API as well if we decide to deploy to a more powerful system)
Now I need the exact information as to in what order what steps need to be applied to these images and A way to stitch

[2019-03-17 11:02] SidharthBansal commented on #375
List if routes to check for return to
* profile pages
* map/map name
* feed/
* dashboard
* tags
* author
* search
* images
* comments
I hope there are no more links. I double checked the routes file.

[2019-03-17 11:09] SidharthBansal commented on #301
Moved to #301

[2019-03-17 11:09] #301 closed

[2019-03-17 11:12] SidharthBansal commented on #301
Issue is properly broken up into smaller issues to be solved. Hence closed it.

[2019-03-17 11:17] SidharthBansal opened #411 "Removal of username for login/addition of email address"
Finding out the options:
Can we remove username for signup ?
OR should we add emails to the username field for openid login?

[2019-03-17 11:18] SidharthBansal commented on #376
Basic Flows:
Signup at MK through plots2
MK account is created and linked to the plots2 account for all the following cases:
1.1 4 OAuth Providers
1.2 SignUp form
Login through PL at MK if plots2 is not already logged in
2.1 Plots2 has linked MK
2.2 Plots2 has not linked MK
Login through PL at MK if plots2 is logged in
3.1 Plots2 has linked MK
3.2 Plots2 has not linked MK
Logout through MK results

[2019-03-17 11:22] SidharthBansal commented on #362
This issue is properly broken up into subissues. All the subissues contain information discussed here. So closing this issue.
Thanks Jeff

[2019-03-17 11:22] #362 closed

[2019-03-17 11:31] SidharthBansal commented on #376
Plots2 have errors due to invalid credentials should ultimately pass.( currently failing)

[2019-03-17 13:20] shubhscoder commented on #397
@SidharthBansal I tried many things to fix this, but to no avail. Do you have any idea to get this working?
Thank you so much!

[2019-03-18 14:37] coreytegeler opened #412 "Update required Ruby version in README instructions"
Towards the bottom of the **[Prerequisites](https://github.com/publiclab/mapknitter#prerequisites)** section of the [README](https://github.com/publiclab/mapknitter/blob/main/README.md) it is instructing to "install version 2.1.2 of Ruby" while MapKnitter 2 is currently using 2.4.4

<img width="370" alt="Screen Shot 2019-03-18 at 10 37 52 AM" src="https://user-images.githubusercontent.com/3860295/

[2019-03-18 15:02] jywarren commented on #298
For now we could use the overlay module perhaps, although we might need to
make a change or add a new module to change the image dimensions so it
doesn't get cut off, right? How does that sound? They'll then be composited
although not yet distorted.

On Sun, Mar 17, 2019, 6:18 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-18 15:49] SidharthBansal commented on #369
Plots2 working fine. But MK gives error
![image](https://user-images.githubusercontent.com/20972099/54543334-7dd3e580-49c3-11e9-9bbd-03f7a72a4cb8.png)

Trying to resolve it.

[2019-03-18 15:51] tech4GT commented on #298
Hmm, I think we will need a stitch module for this down the road but I can try to make do with overlay. I'll try it out and let you know.
Also what about the details of the order in which the processing will happen. I think I explained in one of the previous comments, does the json contain the exact order of processing images??

[2019-03-18 16:11] jywarren commented on #298
Agreed, we can use overlay for now but plan to do a more efficient stitch
module later. I think there are 2 paths for ordering - for the
compositing/overlay step, we should do it in the order that's given in the
original JSON, yes. (later we could do this in a tree diagram, partially
parallelized like in my diagrams, but we can do the easier linear version
in the first implementation)

For the war

[2019-03-18 16:16] jywarren commented on #369
ah maybe it needs `bower install` to get the assets?

On Mon, Mar 18, 2019 at 11:50 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-03-18 20:04] jywarren commented on #327
I gave this another try, looking at how @stefannibrasil's idea of showing the map 2nd could lead into specific place pages like `/houston` or `/houston/edit` if you are adding (maybe?).

Notice the "expand" link to lower right, and the way you can select popular or recent or featured places just under the map.

![image](https://user-images.githubusercontent.com/24359/54559829-536c3300-4997-11e9-84

[2019-03-18 20:08] jywarren commented on #327
I also thought more about this section, and am thinking we could show it only on the individual place pages, like `https://mapknitter.org/houston`, and skip it on the front page, bringing the "ways to make a map" section up higher:

![image](https://user-images.githubusercontent.com/24359/54560159-13598000-4998-11e9-8c35-0ae29dcc9867.png)

Thoughts?

[2019-03-18 20:16] jywarren commented on #327
I want to break out the discussion of what goes on a "place" page into a separate issue pretty soon, as we're starting to see these play different roles. But here's my latest take on the "place" page:

![image](https://user-images.githubusercontent.com/24359/54560637-2882de80-4999-11e9-9ed4-6e8920314f90.png)

[2019-03-18 21:45] jywarren commented on #326
I was thinking of this again today and thought of a good workflow - so we have to store records of the exports, and I had thought we'd do so in the existing Export model. We can add a few columns, like the URL of `status.json`, and we can use one of these libraries to fetch the properties inside it and report things like status:

* https://github.com/DmitryTsepelev/store_model
* https://github.com

[2019-03-18 21:47] jywarren opened #413 "Upgrade Export model to rely on external exporter process status, URLs"
Building on #326 and #298, we have to store records of the exports even though they'll be running off-app in the cloud, and I had thought we'd do so in the existing Export model.

Currently the Export model has a field for each of the export products, where it will list a URL for each type, and a `status` field where it reports its status.

We can add a new column called `export_url` with the URL

[2019-03-19 07:13] tech4GT commented on #298
@jywarren I have pushed the initial code in the is-app repo, another problem we have to rectify is Import-Image, it uses `new Image()` and hence cannot be used in node and without that we cannot use the overlay module. I guess we would have to go for the knit module afterall :sweat_smile:

[2019-03-19 07:14] tech4GT commented on #298
Also I was meaning to ask whether leaflet works in node? Actually I have no idea about that. Does it use gl?

[2019-03-19 10:36] aggarwal19 commented on #390
Hi ,
I did the installation process in linux , but by mistake I changed the file
permission of dev and usr folder due to this now I'm not able to use the
linux (I have to boot it again).So temporarily now I'm again doing the
installation process in windows . Are you able to tell me how to do
installation in windows ? or Is it complusory to use only linux distro ?

Thank you,
Shridhi

On Wed, 13 Ma

[2019-03-19 12:39] jywarren commented on #298
For the coordinate conversions? Hmm I'm not sure, but if it doesn't we can
probably use proj4.js.

We should make sure import-image also works in node, huh? But not as part
of this project unless it's the way to advance our compositing... I'd guess
it is, though... Why isn't import image using the same method as the
initial module? Probably for efficiency, I guess, if new Image is faster.

On Tue,

[2019-03-19 12:51] sashadev-sky commented on #326
@jywarren Ok sounds good! I am finishing up with multiple image select so we can discuss perhaps after the open call what I should jump into next? I will review above comments and links. Thank you!

[2019-03-19 12:51] gauravano commented on #390
@aggarwal19 you can refer https://gorails.com/setup/windows/10 for Ruby on Rails installation in windows.  Thanks!

[2019-03-19 13:07] tech4GT commented on #298
Okay so do you want me to update import image to work in node using method similar to lead-image then?

[2019-03-19 13:14] jywarren commented on #298
If that seems like the best way forward, what do you think?

On Tue, Mar 19, 2019, 9:08 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-19 13:17] tech4GT commented on #298
I mean without that there's no way of merging images anyway, so let's go with this for now!

[2019-03-19 13:21] tech4GT commented on #298
Okay and another thing is that we need a way to figure out where exactly to overlay the images onto one another, as in if some Image needs to be rotated first and such. Would it be possible for you to give me a simple sample to work this out, actually I tried doing this with the test dataset you mentioned but it's kind of confusing. I was wondering If I can get a stripped down version of that data

[2019-03-19 13:44] jywarren commented on #298
Well, rotation will be done as part of the warping, not as a separate step.
So I think best intermediate approach would be like just placing on the
first of the corner points provided. There should be code in the exporter
library to calculate relative positions -- let me see:

https://github.com/publiclab/mapknitter-exporter/blob/main/lib/mapknitterExporter.rb#L252

Actually this newly spun out li

[2019-03-19 13:57] tech4GT commented on #298
I'll check this out!

[2019-03-19 14:44] jywarren commented on #326
Yes, i guess we should look to complete multiple image select, and then
develop a minimal interface to send a request to a remote exporter service
and track the results.

1. What we could do short-term is to create a new "status" action in the
export controller of MapKnitter (
https://github.com/publiclab/mapknitter/blob/main/app/controllers/export_controller.rb#L51)
to
translate the current expor

[2019-03-19 16:39] gauravano commented on #412
hey @coreytegeler, nice catch and sure, go ahead. Thanks!

[2019-03-19 17:08] gauravano commented on #411
We can provide both options?

[2019-03-19 18:26] sashadev-sky commented on #326
@jywarren right that sounds like a good next step. I will also open up the `UI for handling multiple images` issue shortly.

For the multiple image select I will make a GIF now so you can tell me what you like or want improved. Only thing left to do is connect the zoom box selector implementation in case the person has a lot of images on the screen and wants to select them quickly.

I saw a couple

[2019-03-19 19:11] jywarren commented on #326
Shift drag, and also click, then shift-click to add a 2nd to the selection,
both sound pretty good! How does one initiate the zoom box drag? I'll go
look at your gifs, now, sorry!

On Tue, Mar 19, 2019 at 2:27 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-19 21:09] jywarren commented on #158
Could this be part of the frontpage/placepage UI project @stefannibrasil ? Like, a list down the page of everyone whose images currently appear on the map?

[2019-03-19 21:10] jywarren commented on #142
I haven't seen this for a long time, so I'm going to close it but please re-open if you see it again! Also moving it to Leaflet.DistortableImage project. Thanks!

[2019-03-19 21:10] jywarren commented on #141
I haven't seen this for a long time, so I'm going to close it but please re-open if you see it again! Also moving it to Leaflet.DistortableImage project. Thanks!

[2019-03-19 21:11] jywarren commented on #131
Could also relate to place page project! Good idea needs some refinement!

[2019-03-19 21:12] jywarren commented on #195
I believe this is now solved by @sashadev-sky -- https://github.com/publiclab/Leaflet.DistortableImage/issues/85#issuecomment-474420914 !!! 🎉

We'll publish the update soon 👍

[2019-03-19 21:12] #195 closed

[2019-03-19 21:12] jywarren commented on #174
I believe this is now solved by @sashadev-sky -- https://github.com/publiclab/Leaflet.DistortableImage/issues/85#issuecomment-474420914 !!! 🎉

We'll publish the update soon 👍

[2019-03-19 21:12] #174 closed

[2019-03-19 21:26] coreytegeler commented on #412
Thank you Gaurav, I've just put in a pull request https://github.com/publiclab/mapknitter/pull/416

[2019-03-19 21:44] #412 closed

[2019-03-19 23:52] jywarren commented on #397
Hmm, can you attach more of your error logs? Shall we write some seed data? Thank you @shubhscoder !!! I'm sorry you're having trouble!

[2019-03-20 00:48] milomacphail commented on #404
Hi, I'd like to take care of this issue.

[2019-03-20 01:31] jywarren commented on #404
That'd be great, thank you! We're here to help if you get stuck, do you
have any questions?

On Tue, Mar 19, 2019, 8:48 PM Milo MacPhail <notifications@github.com>
wrote:

[2019-03-20 01:59] milomacphail commented on #404
Thanks! I think I feel pretty good so far. I'll let you know!

[2019-03-20 06:49] govindjeevan commented on #406
The map on the Welcome Modal Screen being just a normal image than a map itself, Is it supposed to accept drag inputs?

[2019-03-20 07:27] avsingh999 opened #419 "change layer not in local machine"
### What happened just before the problem occurred
we can see there is no an option for change layer in localhost but
**In localhost:**
![pub6](https://user-images.githubusercontent.com/25536022/54666323-7a4d7500-4b0f-11e9-9fbc-1a8dcdd1b250.png)
**It must be like in Production:**
![pub7](https://user-images.githubusercontent.com/25536022/54666384-9e10bb00-4b0f-11e9-987a-32011542a201.png)

### Rele

[2019-03-20 14:25] tech4GT commented on #298
Alright, so we have import Image working now, I'll try a workflow of combining Images, right now overlay cuts the image off but we can fix that in a stitch module later.

[2019-03-20 15:00] rarrunategu1 commented on #402
Hello I'd like to claim this issue please.

[2019-03-20 15:02] jywarren commented on #298
Yes or perhaps we can make a "resize-canvas" or "canvas-size" module; that might be useful later anyways.

[2019-03-20 15:43] jywarren commented on #402
That'd be great, thank you! Please tell us if you need any help. 👍

[2019-03-20 15:55] Seancahill25 commented on #400
I would Like to claim this issue.

[2019-03-20 16:13] jywarren opened #421 "leaflet-draw#~2.3.0 not found in 'bower install'"
Hmm, i'm getting this error, has anyone else? @sashadev-sky

`bower leaflet-draw#~2.3.0                    ENORESTARGET No tag found that was able to satisfy ~2.3.0`

[2019-03-20 16:16] jywarren commented on #421
Ah, was running it in the wrong folder. All good!

[2019-03-20 16:16] #421 closed

[2019-03-20 16:42] Seancahill25 commented on #400
I finished the Task, I would Like a review.

[2019-03-20 16:58] stefannibrasil commented on #158
hum, I can't visualize it now. Depending on how the info will be displayed, it may work. My only concern is putting too much information there, but that's something to try, for sure.

[2019-03-20 17:07] gauravano commented on #397
I was able to run the app locally and many other contributors too, so it's not seed file. Could you check the existance of database in mysql @shubhscoder? Also, see if there's migration pending.

[2019-03-20 17:51] jywarren commented on #400
Thank you, we'd love your help. Can you open a pull request with your changes? Thanks!

[2019-03-20 18:06] rarrunategu1 commented on #402
Hello I've completed what you need however when running rakefile I continue to get errors  To be exact it's 1 failure and 284 errors.  My errors are saying that they cannot find the debounce/index.js file or the bootstrap/dist/css/bootstrap.min.css.  Am I required to install additional packages into the package.json that the instructions didn't mention?

I look forward to your response.

[2019-03-20 18:33] rarrunategu1 commented on #402
Hello, I sent in a draft pull request and it passed.  It seems it's something in c9.  I'll have to figure out what it is.  I'd like to continue being a productive member of the public lab community.

Thank you for the opportunity.

[2019-03-20 18:43] rarrunategu1 commented on #402
Hello, would you please review my work.  I've submitted the pull request.

[2019-03-20 19:05] govindjeevan commented on #407
Yes @jywarren

`  jQuery(".warpables-all tbody").append($upload);
`
Will not be able to find the **".warpables-all tbody"** element as the partial [views/images/_index.html.erb](https://github.com/publiclab/mapknitter/blob/main/app/views/images/_index.html.erb) that contains the table is not rendered when there are no images.

[2019-03-20 19:32] govindjeevan commented on #407
![image](https://user-images.githubusercontent.com/23054200/54713547-e31b0880-4b74-11e9-8b46-4fdcf4d2fbf2.png)

I have modified it to render the image table partial regardless of no image or not, and conditionally displayed a message like this.

[2019-03-20 19:59] rarrunategu1 commented on #402
Hello I submitted a new pull request with the revised code.  Would you please review?

[2019-03-20 20:16] govindjeevan commented on #389
Helloo @shubhscoder @SidharthBansal
Is this issue resolved?

[2019-03-21 00:57] labseven commented on #403
Hello, I would like to take this issue.

[2019-03-21 03:15] jywarren commented on #407
This is wonderful!!!

[2019-03-21 06:03] icarito opened #425 "Running assets:precompile runs undesired export"
When building the container I'm trying to do `rake assets:precompile` and I end up with a long export (and the precompilation).

[2019-03-21 06:05] icarito commented on #425
Sample output:
[code]

[2019-03-21 06:21] icarito commented on #425
Here's a travis build featuring this:
https://travis-ci.org/publiclab/mapknitter/builds/509282559

[2019-03-21 06:22] icarito commented on #425
Sorry no that was actually the test!

[2019-03-21 06:23] icarito commented on #425
We don't preompile assets in travis.

[2019-03-21 14:20] rarrunategu1 commented on #402
Hello, I finally realized what was happening.  There were many different get started links and I clicked on a link that brought me to the index.html file in the plots2 and not in mapknitter.  I have made the corrections to the correct repository and they are ready to be reviewed.  Thank you.

[2019-03-21 14:21] rarrunategu1 commented on #402
Thank you @jywarren for going over that with me yesterday.  It was a pleasure meeting you.

[2019-03-21 17:59] avsingh999 commented on #387
@SidharthBansal  I want to know we have to remove this icon when the user is not login.because this only work(delete) when the user is not login. you can see here in code
https://github.com/publiclab/mapknitter/blob/6d8d8b5b3f6a8dfd8415f3a70efbeccefc73f044/app/views/maps/show.html.erb#L7
thanks : )

[2019-03-21 19:55] jywarren opened #428 ""place pages" design discussion"
This is a somewhat complex set of sub-projects, but basically, we want to be able to:

1. go to a place, shown on a page like https://mapknitter.org/miami (for say, the city of Miami) and see a map of that place
2. show all the images uploaded within the area shown.
3. at larger zoom levels, we might only show markers, but at closer-in zoom levels, we'd see individual images using the https://gith

[2019-03-21 20:22] jywarren commented on #402
Great, this looks good -- reviewing it now! Thanks!

[2019-03-21 20:23] #402 closed

[2019-03-22 12:16] aggarwal19 commented on #390
@gauravano After the installation process , what I have to do in this issue ?
Thanks!

[2019-03-22 18:12] xanderj22 opened #433 "Add search box/AOI selector and georeferencing capability to basemap"
### What happened just before the problem occurred
No problem just some suggestions for user experience.
-Adding a search box or area of interest selector would make it easier to find/zoom to desired location
-Adding georeferencing capability would allow user to more accurately "snap" or reference an image to the basemap via geographic coordinates/control points

### Relevant URLs

https://mapknit

[2019-03-22 18:32] jywarren commented on #433
Hi! Awesome, thank you so much for the input. We are actually very soon
going to be adding auto-georeferencing with a better interface, but I
believe you should be able to "place with GPS" once you upload images.

-Adding a search box or area of interest selector would make it easier to
find/zoom to desired location

Can you explain a bit more how you imagine this working? I think it'd be
great bu

[2019-03-22 20:11] first-timers[bot] opened #434 "Add RSS feed links to the page footer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-22 20:12] jywarren commented on #434
This one is reserved for Elizabeth!

[2019-03-22 20:15] first-timers[bot] opened #435 "Update ActiveRecord query syntax to more recent style"
This issue is reserved for applicants to [Public Lab’s Providence code fellowship](https://publiclab.org/pvd). Please feel free to help applicants, but if you are looking for a first-timers-issue of your own and are not applying for the position, please see our coding Welcome Page at https://code.publiclab.org.

Applicants - upon completion (when your pull request is merged), please include the li

[2019-03-22 20:20] first-timers[bot] opened #436 "update syntax of ActiveRecord database query to more recent style"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-22 20:22] first-timers[bot] opened #437 "update syntax of active record query to more recent style (license method)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-22 20:24] jywarren commented on #436
This one is reserved for @hc-barker!

[2019-03-22 20:24] jywarren commented on #437
This is reserved for @ananya!

[2019-03-22 21:14] jywarren commented on #304
https://coveralls.io/github/publiclab/mapknitter working!!!! Thanks @kaunair !!!

[2019-03-22 21:18] jywarren commented on #304
Lots of progress to be made here... many areas are very low coverage, esp. controllers!

[2019-03-22 22:24] jywarren commented on #400
Hi, just checking if you could open a pull request so we can look over the changes? Thank you!

[2019-03-23 04:27] govindjeevan commented on #428
So per my understanding,
Currently the images uploaded only show up if we go to the corresponding map, and there is no 'one big map' that can fetch from all images uploaded across the different maps on MapKnitter.

![image](https://user-images.githubusercontent.com/23054200/54861602-fd5e0d80-4d51-11e9-8579-17c2aee0b22d.png)
So a system similar to google maps, in which if you zoom into an area and

[2019-03-23 05:40] hc-barker commented on #436
Thanks! I'm on it

[2019-03-23 07:32] ananya commented on #437
@jywarren Thank you for the issue :smiley:
I have made the pr for the same #439
Looking forward to contribute more in the org, haven't found an org more welcoming then publiclab :smiley:

[2019-03-23 07:55] sonali9696 commented on #437
I am a first-timer in open source and would love to contribute to any future code changes or any other changes required. It would be great if I could know how do issues get reserved for newcomers. Thanks in advance :)

[2019-03-23 08:46] gauravano opened #440 "Change the new map modal text"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-23 09:11] niravasher commented on #440
Hello, I want to work on this one. @gauravano

[2019-03-23 09:11] sonali9696 commented on #440
I would like to work on this issue

[2019-03-23 09:18] gauravano commented on #440
Hi @niravasher and @sonali9696, we would love to have help from both of you. Normally, in these cases, we ask contributors to collaborate for solving the issue, but as the issue is not that big, so @niravasher you can solve this one.

@sonali9696 I will create a new issue for you and mention you soon. Also, if you are interested in working on RoR specific issues, check out - https://github.com/pub

[2019-03-23 09:25] gauravano commented on #437
Hey @sonali9696, welcome to Open Source :globe_with_meridians: and Public Lab :balloon: !

We maintain the list of newcomers who like to solve issues with us, we add names to that list - https://github.com/publiclab/plots2/issues/4963 when they express interest by commenting on the [issue](https://github.com/publiclab/plots2/issues/4963#issuecomment-475257974) or any other first-timer issue. If yo

[2019-03-23 09:27] sonali9696 commented on #440
Sounds good, thanks a lot! :) I haven't worked on Ruby on Rails before but I have worked on C#, C, C++, Python, PHP, HTML, CSS, R, Java etc.

[2019-03-23 09:56] niravasher commented on #440
Thankyou, will open a PR soon

[2019-03-23 10:09] ananya commented on #435
Hey @jywarren can I work on this?
I was looking into the issue and read about the pvd program. Can I be a part of the program?

[2019-03-23 10:30] gauravano opened #441 "Change comment count on comment creation via AJAX"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-23 10:31] gauravano commented on #441
This issue is created for @sonali9696. Thanks!

[2019-03-23 11:41] sonali9696 commented on #437
Yes, I would love that, thanks a lot!

[2019-03-23 12:00] sonali9696 commented on #441
Hey @gauravano,

Thanks a lot for creating an issue for me so quickly! I deeply appreciate it. I understood what changes to do and can go ahead and raise the PR but before that, I wanted to understand the code better and try to test it. However, the link which is given above: https://mapknitter.org/maps/test-map-3 is showing "Page doesn't exist" for me.

![image](https://user-images.githubusercont

[2019-03-23 12:23] sonali9696 opened #442 "Page does not exist on visiting URL https://mapknitter.org/maps/test-map-3"
### What happened just before the problem occurred
This link was referenced in issue #441 however on clicking on this URL, I get a window stating that the page does not exist

### Relevant URLs

https://mapknitter.org/maps/test-map-3

### PublicLab User Name
sonali9696

### Browser, version, and operating system
Browser: Google Chrome
Version: 72.0.3626.121 (Official Build) (64-bit) (cohort: Stabl

[2019-03-23 13:33] sonali9696 commented on #441
If you find some time, it would be great if you could clarify my doubt:

While deleting a comment, the code used is:
$("#comments-number").text(function(i, str) { return str - 1; });

However the code you asked to add for incrementing comments-number is:
$("#comments-number").text(function(i, str) { return (parseInt(str) + 1); });

Is parseInt necessary here? If yes, why didn't it cause an issue i

[2019-03-23 18:20] gauravano commented on #441
hey @sonali9696, actually the link- https://mapknitter.org/maps/test-map-3 I provided was an example, you wouldn't find that on production because there is no map with title test-map-3 in production.

But, you can reproduce this issue by commenting at https://mapknitter.org/maps/testing--8(It's a test map, I guess, it would be deleted shortly by moderators but feel free to comment for testing on t

[2019-03-23 18:21] #442 closed

[2019-03-23 18:22] gauravano commented on #442
Closing this. Please refer - https://github.com/publiclab/mapknitter/issues/441#issuecomment-475892804. Thanks!

[2019-03-23 18:41] gauravano commented on #441
yes!

Because, if I initialize a variable `a = "3"` and perform operation as `a = a-1`, it will return 2 as a result. But, if I perform + operation on variable a = "8" i.e., a = a + 1. I will get "81" as a result as JS will treat them as a string and will perform concatenation.

![Screenshot from 2019-03-23 23-57-30](https://user-images.githubusercontent.com/20878070/54870127-75671a80-4dc8-11e9-83

[2019-03-23 18:48] #441 closed

[2019-03-23 18:48] gauravano commented on #441
Solved in #443

[2019-03-23 19:27] gauravano commented on #437
@sonali9696 I haven't added your name on that list as you got issue here only. But, if you want to solve another FTO in plots2 then I can still add there? Thanks!

[2019-03-23 19:31] gauravano commented on #435
Hey @ananya, this program is only for residents of Providence. Check here for more details: https://publiclab.org/notes/warren/03-13-2019/providence-ri-software-development-fellowship

Also, you already solved a FTO - https://github.com/publiclab/mapknitter/issues/437 so please work on `help wanted` issues.

Thanks!

[2019-03-23 19:48] #437 closed

[2019-03-24 02:52] avsingh999 commented on #390
@aggarwal19 I think you need to install mysql2 in your local. Did you try this
 ```gem install mysql2  -v '0.3.21'```
thanks : )

[2019-03-24 02:52] avsingh999 commented on #390
@aggarwal19 if you are not taking this can I solve this  :smile:

[2019-03-24 10:19] sashadev-sky commented on #326
@jywarren I just set the PR ready for review but I thought I would mention here too - I kept shift drag in the PR but I commented out the event listener for now and updated the README to remove what I had mentioned about it. There is a bug with event propagation that got pretty complicated for me to solve and I don't think merging without this feature takes away from core functionality too much. P

[2019-03-24 10:42] ananya commented on #435
@gauravano Thankyou :smiley: Actually while reading about the problem I thought that maybe it is a bit of the process to solve an issue marked pvd :sweat_smile:

[2019-03-24 11:36] avsingh999 opened #445 "Can not Delete anonymous post"
### What happened just before the problem occurred
No able to delete the anonymous post.
### Relevant URLs

https://

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-03-24 11:46] avsingh999 opened #446 "change icon when toggle side bar"
### What happened just before the problem occurred
**when sidebar is hide then icon chevron-left**
it's good
![pub10](https://user-images.githubusercontent.com/25536022/54878833-f4effa80-4e57-11e9-9d3a-7a937851df06.png)

**when sidebar show then icon must be chevron-right**

![pub9](https://user-images.githubusercontent.com/25536022/54878832-f4effa80-4e57-11e9-995c-1a91b66ffabc.png)

![pub11](http

[2019-03-24 12:46] lizprogrammer commented on #434
Working on this one.

[2019-03-24 18:37] CoderJolly opened #447 "Weekly Community Check-in #15 - "GSOC Applications Commence""
Hello Everyone!!!

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and about their

[2019-03-24 18:42] HarshKhandeparkar commented on #447
Hello @CoderJolly. Thank you for the check-in!
I think the titles are not proper. You will have to leave a space between the hash `#` characters and the titles like
`### Summer Of Code`.

[2019-03-24 18:44] CoderJolly commented on #447
I have corrected that already, thanks for the update

[2019-03-24 18:46] HarshKhandeparkar commented on #447
Mention limit exceeded and also mentioning some newcomers

@marieram @swiatek7 @kaunair @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps
****
@subhahu123 @An0u @Jaya738 @mgroovyank
@shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabil

[2019-03-24 19:01] Harshithpabbati commented on #447
@nirvasher

[2019-03-24 19:06] HarshKhandeparkar commented on #447
@teisenhower
@ElenaG518
@edwd42
@rmcorre
@rohithGoudM

[2019-03-24 19:22] gauravano commented on #445
I think only moderators and admins have that privilege.

[2019-03-24 19:32] gauravano commented on #446
Would you like to work on this @avsingh999?

[2019-03-24 20:06] gauravano commented on #447
@sonali9696 @rarrunategu1 @coreytegeler @labseven @milomacphail @CleverFool77 @ananyaarun @ananya @divyabaid16 @publiclab-mimi @vaarigupta @alonpeer @madeofhuman

[2019-03-24 20:10] rohithGoudM commented on #447
Hello!

[2019-03-24 20:11] gauravano commented on #447
@bealearnscode @Ivilili

[2019-03-24 20:11] HarshKhandeparkar commented on #447
Hi! Welcome!

[2019-03-24 20:12] gauravano commented on #447
hello @rohithGoudM!

[2019-03-24 20:28] avsingh999 commented on #446
@gauravano sure

[2019-03-24 20:37] gauravano commented on #446
Great!

On Mon, Mar 25, 2019 at 1:58 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-24 20:37] avsingh999 commented on #445
@gauravano But if we create map mistakenly then no option for delete. Is there any option for delete except admin.
thanks

[2019-03-24 20:55] teisenhower commented on #447
## Hey everyone!

[2019-03-24 21:53] govindjeevan opened #449 "sidebar "Community Microscope: Intro Kit" Partial to new window"
### What happened just before the problem occurred

![1](https://user-images.githubusercontent.com/23054200/54886388-8a69a980-4ead-11e9-8335-111d26801b86.gif)
Instead of rendering a small sized partial on click,
should we open the Community Microscope: Intro Kit Public Lab store page in a new modal?

### Relevant URLs

https://mapknitter.org

### PublicLab.org username

(to help reproduce the issu

[2019-03-24 23:40] sashadev-sky commented on #447
Hi Everyone!

Really awesome to be contributing to my 15th check-in with Public Lab. Time goes by so fast!

This week I will be
- Making sure the FTOs I opened are completed
- Hopefully the ability to select multiple images in Leaflet.DistortableImage will be merged
- Circling back to complete an issue I opened on restructuring rake tasks in Mapknitter to complete that too
- Start looking into the

[2019-03-25 05:01] sonali9696 commented on #441
Thank you for taking out the time to clarify my doubts :)

[2019-03-25 05:03] sonali9696 commented on #441
My Twitter handle is sonali09061996 (https://twitter.com/sonali09061996)

[2019-03-25 08:36] gauravano commented on #449
Nice idea @govindjeevan!

[2019-03-25 08:39] gauravano commented on #445
As while creating a map anonymously, no data is stored so can't allow any user to delete that post. Although, we can think of a flag system or moderation system. What do you think @jywarren?

[2019-03-25 11:26] cesswairimu commented on #447
Hello everyone

This week I will be starting on solving some bugs on mapknitter and getting to know the code base. I will also be available to assist any of the new folks.
Great check-in @CoderJolly,
Good week ahead all :balloon:

[2019-03-25 11:42] sagarpreet-chadha commented on #447
Hey everyone :)
I have planned to work on the testing and integration (to plots2) of leaflet based location blurred projects .
Thank you !

[2019-03-25 14:35] jywarren commented on #447
Hello all! I'm writing feedback for as many Outreachy and Summer of Code as possible -- thanks all for some fantastic ideas!

Would love help from mentors and of course it's great for alums, current applicants, and anyone else to chime in with ideas and thoughts on these:

* https://publiclab.org/notes/warren/02-28-2019/call-for-summer-of-code-2019-proposals
* https://publiclab.org/notes/gauravano

[2019-03-25 14:49] HarshKhandeparkar commented on #447
I have a question. When will the survey results be declared?

[2019-03-25 15:04] jywarren commented on #449
Ah, perhaps even in a new window? But I believe this code is running from
our database-backed Features system, so I can make the change (as an admin)
if you think that makes sense? Thank you! Great idea!

On Mon, Mar 25, 2019 at 4:37 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 15:20] jywarren commented on #447
Soon! Not sure but @ebarry knows. Need to sort the data, compile a post
from it, etc. Thanks! I'm eager too!

On Mon, Mar 25, 2019, 10:50 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-25 15:44] subhahu123 commented on #447
@jywarren @SidharthBansal @gauravano @publiclab/is-reviewers  Please review my proposal https://publiclab.org/notes/jainsubhahu/03-19-2019/soc-proposal?_=1553445259
and demo link https://swipper-view-fix-complete-issue-complete-notcolor.stackblitz.io/ angular

[2019-03-25 16:01] milomacphail commented on #447
Hi everyone,

My first time after my first time here and just curious about how to get
started. Should I just review issues and then just call one?

Thanks,
Milo

On Mon, Mar 25, 2019, 11:44 AM subhahu <notifications@github.com> wrote:

[2019-03-25 16:55] ebarry commented on #447
Hi all!
I'm working in person with Jeff this week and other coworkers in
Providence. My main tasks are to onboard a new staff person, and
additionally work on reporting on the software contributors survey and
making another evaluation plan for a project we'll be doing in New Orleans
Schools this fall

On Mon, Mar 25, 2019, 12:01 PM Milo MacPhail <notifications@github.com>
wrote:

[2019-03-25 17:09] avsingh999 commented on #447
Hi Everyone
This week I will open a new issue and give suggestion and send pr
thank you :  )

[2019-03-25 17:12] divyabaid16 commented on #447
Hello everyone!!!
My goal for this week are
* Create few new issues.
* Submit PRs.
* Review PRs.

Wish everyone a great week ahead :smile

[2019-03-25 17:16] CleverFool77 commented on #447
Heyaaa,
Let's keep rocking this organisation with enthusiasm and hard work.
I'll create ftos, try my best in helping first timers.
Improve and update my proposals after considering the suggestions of everyone.
Solve issues and fix bugs.

[2019-03-25 17:47] jywarren commented on #447
Hi all! @subhahu123 will do my best, thank you!!!

For those looking, there are a few potential FTOs to be made here: #714

And someone is asking for some support here: https://github.com/publiclab/plots2/pull/5254

Thanks to @gauravano for going in and digging out old issues we can close or re-build!

[2019-03-25 17:53] HarshKhandeparkar commented on #447
@jywarren #714 isn't from this repo.

[2019-03-25 17:55] gauravano commented on #447
Here's the updated link: https://github.com/publiclab/plots2/issues/714

[2019-03-25 18:04] jywarren commented on #447
Ah, oops :-P forgot, thank you both!

On Mon, Mar 25, 2019 at 1:55 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-25 18:07] gauravano commented on #447
Also, there's an awesome cleanup PR by one of our GCI participant Valentina here -https://github.com/publiclab/plots2/pull/4417/. If anybody want to collaborate and push that to completion, it would be great!

Thanks!

[2019-03-25 18:09] gauravano commented on #447
started. Should I just review issues and then just call one?

Hi @milomacphail, you can work on solving `help wanted` labeled issues and can also review other's work or create new issues for others. If you want a suggestion for an issue to work on, let me know. Thanks!

[2019-03-25 18:38] govindjeevan commented on #449
@jywarren yup, a new window is also apt.

[2019-03-25 19:18] subhahu123 commented on #447
@jywarren  have seen the demo link of my work , i already implemented some feature ( for demo )
 https://swipper-view-fix-complete-issue-complete-notcolor.stackblitz.io/

[2019-03-25 19:20] niravasher commented on #447
Hello, good evening from Mumbai. My plans for this week are to complete my GSoC proposal and the shadow issue that I opened. Also my college fest is starting day after tomorrow, so ACM Bits Pilani is coding a stock market simulation. As a part of the team I am working on that too.

[2019-03-25 19:22] HarshKhandeparkar commented on #447
Hi, good evening (night?) from Goa!

[2019-03-25 19:23] HarshKhandeparkar commented on #447
Nirav does BITS in Mumbai organise quark?

[2019-03-25 19:25] niravasher commented on #447
Bits is not in mumbai, there are three campuses of Bits
1) Pilani campus
2) Goa campus
3) Hydrabad campus.
I am from Pilani campus and it isn't organizing quark

[2019-03-25 19:27] niravasher commented on #447
I am very greatful having ccpandhare as a senior of mine, completing his GSoC last year in image sequencer

[2019-03-25 19:27] HarshKhandeparkar commented on #447
Oh I didn't know where the campusus were. Sorry. You live in Mumbai?

[2019-03-25 19:28] niravasher commented on #447
Yes my house is in Mumbai. but I stay in a hostel here 😄

[2019-03-25 19:32] HarshKhandeparkar commented on #447
Oh ok. I thought you currently live in Mumbai because you said "good evening from Mumbai" but anyways good luck for GSoC. I have visited BITS Goa campus a few times(for quark) and it's lovely. Some of my friends (i know them personally) study there. Hope you are having a good time! Sorry for talking too much.

[2019-03-25 19:35] niravasher commented on #447
Hey man @HarshKhandeparkar why are you apologizing ❓  Its great talking to you.

[2019-03-25 19:37] HarshKhandeparkar commented on #447
I kind of feel like talking here isn't very appropriate so I apologized. It is also nice talking to you.

[2019-03-25 19:45] jywarren commented on #447
:-) no worries, chatting is fine 😄

[2019-03-25 19:47] HarshKhandeparkar commented on #447
Great!!

[2019-03-25 19:59] alonpeer commented on #447
Hello! 📛

This is my first major step of contributing to OSS and I'm delighted to do so for a project such as Public Lab 🎈.

I have quite a lot of backend experience, especially with Rails apps and Drupal, so it feels quite natural for me to work on this codebase. 😄
I especially like performance issues, and have quite a lot of experience with databases.

I started last week with writing tests for

[2019-03-25 20:10] jywarren commented on #434
Super, tell us if you get stuck or need anything! Thanks!

On Sun, Mar 24, 2019 at 8:47 AM Elizabeth Rosso <notifications@github.com>
wrote:

[2019-03-25 20:54] ananyaarun commented on #447
Hi everyone !! :)
Its amazing how much work was done and how we grew as a community in the past few weeks !!

My goals remain

- Continue to contribute and learn
- Help new comers
- Work on opening and fixing issues

Thanks and good luck to all :smiley:

[2019-03-25 21:44] jywarren commented on #447
😄 indeed how much we grew! Last week alone, per https://code.publiclab.org/#r=all (which counts only commits, not even helpful comments and support!):

![image](https://user-images.githubusercontent.com/24359/54956129-9729e400-4f25-11e9-9851-656149d8bee2.png)

[2019-03-25 21:50] Harshithpabbati commented on #447
@jywarren As the text-overlay module is already done we need to change the project in SoC ideas.

[2019-03-25 21:52] jywarren commented on #447
:-) we'll surely find more things to add in, thanks!

On Mon, Mar 25, 2019 at 5:50 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-26 06:40] aggarwal19 commented on #390
I used this command too but still it is showing me the same error .
Thanks!

On Sun, 24 Mar 2019, 8:22 a.m. Avkaran Singh, <notifications@github.com>
wrote:

[2019-03-26 08:03] avsingh999 opened #454 "remove transparency while sliding"
### What happened just before the problem occurred
when we create new map and slide up down then content transparance
![pub12](https://user-images.githubusercontent.com/25536022/54980350-7ddb7300-4fcb-11e9-8f04-58f1bc19ff28.gif)

### Relevant URLs

https://

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the a

[2019-03-26 10:29] sonali9696 commented on #437
That's okay, no need of it anymore :)

[2019-03-26 11:17] govindjeevan commented on #389
Hope this resolves the issue, please have a look.

[2019-03-26 12:03] kaunair commented on #390
You're missing mysql headers
run `sudo apt-get install libmysqlclient-dev`

[2019-03-26 12:05] kaunair commented on #390
Oh my bad I didn't realize you were using windows
Try this out https://dev.mysql.com/downloads/connector/c/

[2019-03-26 15:21] kaunair commented on #304
Do we intend to change our testing framework to RSpec?
If we want to do it I think now is the best time - before our test suite becomes too large to migrate
Thoughts? @jywarren

[2019-03-27 04:38] icarito commented on #326
Hi @jywarren @sashadev-sky I've prepared a Sinatra endpoint to POST a export metadata json, made a webform too:
![image](https://user-images.githubusercontent.com/199755/55050672-e6ecd600-501f-11e9-9ed7-d79360c66edc.png)
We then need to pass this info to https://github.com/publiclab/mapknitter-exporter and integrate it into the [Sinatra app](https://github.com/publiclab/mapknitter/pull/349).

I ho

[2019-03-27 04:39] icarito commented on #326
^^ when it says "such as this" it is a link to [this json file](https://mapknitter.org/maps/irish-uk-border-mapping/warpables.json).

[2019-03-27 05:23] sashadev-sky commented on #345
Copying over some information from my PRs #380 and #355  related to this:
- `Warning ::Fixnum is deprecated error`: this warning will be fixed with an update to **Rails 5**. [see here](https://stackoverflow.com/questions/41463999/warning-constant-fixnum-is-deprecated-when-generating-new-model/42336144)
- `File.exists?` (deprecated since ruby 2.2.0) updated to File.exist? comes from gems and from t

[2019-03-27 05:24] sashadev-sky commented on #345
@jywarren from my comment above, should I open a PR to update to Rails 4 next to try to resolve some of the `File.exists` and maybe `friendly_id` errors?

[2019-03-27 11:20] emestabillo commented on #454
Hi! Is this issue taken?

[2019-03-27 11:51] chalchuck commented on #435
Hey @gauravano, can I work on this?

[2019-03-27 12:04] sashadev-sky commented on #364
@jywarren just an update my focus is here now so going through everything today to make sure I understand from beginning to where we are now

[2019-03-27 14:34] avsingh999 commented on #454
Hi @emestabillo  you can take this.
thanks :smile:

[2019-03-27 20:30] gauravano commented on #435
Hey @chalchuck, this issue is part of  https://publiclab.org/notes/warren/03-13-2019/providence-ri-software-development-fellowship which allows participation only to Providence residents so please take a look at other issues. Thanks!

[2019-03-27 21:00] jywarren opened #459 "Get Cloud9 install script to pull from `main` branch instead of `master` branch"
Noticed that https://aws.amazon.com/cloud9/ automatically uses the `master` branch, but our default is the `main` branch, as outlined in our [new Quick Install instructions](https://github.com/publiclab/mapknitter/pull/420/files#diff-04c6e90faac2675aa89e2176d2eec7d8R28).

Is there any way to:

1. point it at the main branch when we input the URL?
2. OR, rewind the master branch far enough that the

[2019-03-27 21:52] cesswairimu commented on #307
Was having trouble with mysql was throwing this error `ERROR 1698 (28000): Access denied for user 'root'@'localhost'" error` even after following the above steps. What worked for me was removing mysql and deleting mysql user and doing a fresh installation so I can setup a password. Here are the steps i followed
[code]

[2019-03-28 00:20] sashadev-sky commented on #307
Thank you @cesswairimu!! Would you be interested in adding this to the `MYSQL.md` file? And any setup recommendations / instructions you have for your OS? Currently we only have steps there for MacOS

[2019-03-28 08:23] cesswairimu commented on #307
Hey @sashadev-sky, sure will do. Thanks

[2019-03-28 15:45] sashadev-sky commented on #181
@jywarren @gauravano I started working looking at the exif data today when looking at your modularization of exporter code PR. Will definitely look into this more.

Just wondering what API are we using exactly? There wasn't much documentation to guide me

[2019-03-28 16:10] sashadev-sky commented on #60
This is now solved in my PR in LeafletDistortableImage: https://github.com/publiclab/Leaflet.DistortableImage/pull/158

Hopefully will be merged here soon too! 🎉

[2019-03-28 16:15] xanderj22 commented on #435
May I work on this? I live in Providence.

[2019-03-28 16:56] cesswairimu commented on #307
Any fixes for this error `mapknitter/tmp/pids/passenger.3000.pid" failed (13: Permission denied)
    nginx: configuration file nginx.conf test failed` when starting the server

[2019-03-28 19:03] gauravano commented on #435
Go ahead @xanderj22! In case, you need any help, feel free to ask. Thanks!

[2019-03-29 00:26] stefannibrasil commented on #385
hey everyone, please check it out the new amazing features Bootstrap 4 provides:

https://getbootstrap.com/docs/4.0/migration/

I have opened the PR for upgrading the app to use Bootstrap 4, just wanted to keep you updated before working on more this, some stuff changed a lot with this new version. Let me know if I can help with something :rocket:

[2019-03-29 08:13] divyabaid16 commented on #391
Hey!!
Can I work on this one?

[2019-03-29 09:41] gauravano opened #463 "Understanding Mapknitter!"
Hi everyone!

I started with Mapknitter some days ago, solved a few bugs, raised FTO issues, etc. But, there are some things which I haven't been able to understand. So, if anyone is interested in having a discussion over different Mapknitter pages, flow, processes, etc with me, please comment below.

Experience 1: I ran Mapknitter locally and tried generating maps, uploading images, etc. But, I w

[2019-03-29 11:20] gauravano commented on #459
@jywarren I saw you used `git checkout -b ...` I think that's fine.

[2019-03-29 11:38] gauravano commented on #463
@publiclab/community-reps @jywarren @sashadev-sky

[2019-03-29 15:01] gauravano commented on #391
Go ahead @divyabaid16!

[2019-03-29 18:50] jywarren commented on #447
https://publiclab.org/notes/gauravano/03-29-2019/software-community-growth-through-first-timers-only-issues !!!!

this is really lovely thank you Gaurav for writing it up! 🎉 👍 🎉

@cesswairimu @gauravano @warren @CleverFool77 @Harshithpabbati @divyabaid16 @IshaGupta18 @ananyaarun @sashadev-sky @madeofhuman @HarshKhandeparkar @Divy123 @Rishabh570 @gautamig54

[2019-03-29 18:55] #391 closed

[2019-03-29 19:14] HarshKhandeparkar commented on #447
@jywarren `warren` isn't a publiclab member( i guess) please change the mention to `jywarren`.

[2019-03-29 19:15] divyabaid16 commented on #419
Can I work on this?

[2019-03-29 21:06] jywarren commented on #326
Awesome!!!!

[2019-03-29 21:07] jywarren commented on #298
Portions of the above in the Ruby workflow are coming online:

* https://github.com/publiclab/mapknitter-exporter-sinatra - Ruby app!
* https://github.com/publiclab/mapknitter-exporter - Ruby gem!

Thanks @icarito !!!

[2019-03-29 21:07] jywarren commented on #326
Awesome!

* https://github.com/publiclab/mapknitter-exporter-sinatra - Ruby app!
* https://github.com/publiclab/mapknitter-exporter - Ruby gem!

[2019-03-29 21:09] jywarren opened #465 "(Later) Move image storage to Google Cloud"
https://duckduckgo.com/?q=google+cloud+paperclip&atb=v121-6&ia=web

We use Paperclip, so this seems plausible! But not now... let's do it after all the rest of this big project! :-)

[2019-03-29 23:29] jywarren commented on #419
Oh, we'd love the help! I wonder if the many changes recently have affected
the configuration of Leaflet Environmental Layers:
https://github.com/publiclab/leaflet-environmental-layers/

On Fri, Mar 29, 2019 at 3:15 PM Divya Baid <notifications@github.com> wrote:

[2019-03-30 00:08] jywarren commented on #463
Yes! I think so.

Yes, this makes sense! Agreed!

As to edit locks, I think we're going to move to a model where each image has an author, and that author is in charge of it rather than a map author.

However, we also want to implement (see in #300 and maybe elsewhere) a history for images, so they can be reverted easily, to reduce the negative effects of vandalism. What do you think, Gaurav?

Fin

[2019-03-30 00:53] jywarren commented on #181
We're probably going to start doing this in Leaflet.DistortableImage as part of @rexagod's new GPS placement API -- see https://github.com/publiclab/Leaflet.DistortableImage/pull/169/ -- although it's still in progress. But It basically uses the Exif.js library to dig GPS tags out of the images, and to auto-place them accordingly!

[2019-03-30 00:59] #367 closed

[2019-03-30 01:16] jywarren commented on #345
sure! Thank you!!!

On Wed, Mar 27, 2019 at 1:25 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-03-30 06:25] kaunair commented on #345
@sashadev-sky  Sure that will be awesome.
Thanks!

[2019-03-30 12:49] divyabaid16 commented on #419
I think many new layers were added some files have been moved from \dist to \src. So, public/lib/leaflet-environmental-layers is not synchronized with the [https://github.com/publiclab/leaflet-environmental-layers/](https://github.com/publiclab/leaflet-environmental-layers/) . I tried to make both of them equal but it was a part of ```.gitignore```

[2019-03-30 19:21] gauravano commented on #447
Anyone interested in opening next check-in? Also, let's open check-in at https://github.com/publiclab/Publiclab.editor/. Thanks!

[2019-03-30 20:13] emestabillo commented on #307
Hi @jywarren,
Thanks for responding! Here's my error again after trying to install the project locally. Posting everything just in case. This is while running `bundle`:

[code]
When I ran `gem install mysql2 -v '0.3.21' --source 'https://rubygems.org/'` as suggested, it gave me the following, plus the errors already posted above:

[code]
Thank you and appreciate the help!

[2019-03-30 20:18] cesswairimu commented on #307
Hello @emestabillo, which OS are you using

[2019-03-31 03:26] emestabillo commented on #307
Hi @cesswairimu , I am using 10.14.
Yes I've used it but it gives me `sudo: apt-get: command not found`. So then I replaced `sudo apt-get` with `brew`:
[code]
I get this after running `bundle`:
[code]
Next, I tried `gem install bundler -v 1.0.10` , no errors
However...it crashed with the next one `bundle _1.0.10_ install`

I realize I may have to find another issue/repo. Not sure why it seems to b

[2019-03-31 12:07] sashadev-sky commented on #307
@emestabillo I get these issues all the time so don't worry!! We can resolve them. For your mysql issue: I also have macOS 10.14 and apparently mysql is stored differently on the new OS versions so its easier to just make your own custom build. try the one below, it worked for me:
[code]
- Also check if you have `cmake` installed properly with Homebrew. You need that

For Bundler could be a few th

[2019-03-31 13:17] divyabaid16 commented on #447
I'm interested. Can I proceed?
Thanks!

[2019-03-31 13:27] Harshithpabbati commented on #447
@divyabaid16 you can proceed. You need to follow the format.

[2019-03-31 17:51] divyabaid16 commented on #447
I have opened a new check-in at [https://github.com/publiclab/mapknitter/issues/447](https://github.com/publiclab/mapknitter/issues/447)

[2019-04-01 08:42] gauravano commented on #307
Hey @emestabillo, sorry for the inconvenience. We are trying hard to make the installation process easy and clearer, and we'll try our best to help you.

We would be done with cloud9 setup https://github.com/publiclab/mapknitter/pull/420 very soon. Also, for now, you can fetch the `install-script` branch on cloud9 and do the work. I can help you in getting cloud9 running.

Thanks!

[2019-04-01 10:30] gauravano commented on #447
Thanks @divyabaid16 :tada:

[2019-04-01 10:30] #447 closed

[2019-04-01 15:21] jywarren commented on #364
Noting that we've planned out the above replacement `Exporter` in Ruby in https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1/files#diff-cc95738088603531796e0d0f246a5d77R64

And, we have a pretty final format for the JSON data that'll be needed to trigger exports in both Ruby and JS systems documented here:

https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-4

[2019-04-01 19:29] cesswairimu commented on #406
@jywarren I just tested this and its working fine both locally and online...maybe some other PR fixed it?
![working](https://user-images.githubusercontent.com/17081074/55354109-8b15c780-54cd-11e9-944d-224c69fe63ed.gif)

[2019-04-01 20:44] cesswairimu commented on #297
This seems to be working. I tried on Ubuntu 16.04.4 on both Chrome and Firefox. Both on the site and locally and its creating a map. @gauravano you please retest this when you get a minute. Will get a windows OS and test the same

[2019-04-02 03:04] emestabillo commented on #307
Thanks for the response @sashadev-sky @gauravano ! Still getting errors with installing locally. I may just have to wait for #420 or the cloud9 option as suggested.

[2019-04-02 12:15] kaunair commented on #445
Can someone tell me why we have anonymous users? I understand it's for privacy reasons, but privacy for whom exactly?
Does the user want to avoid sharing personal details with other users, or does he want to avoid sharing details with the platform itself?

[2019-04-02 14:11] kaunair commented on #459
Git clones from the default branch so I don't know why this should happen.
But still, I guess you can use something like this to explicitly specify the branch
`git clone https://github.com/kaunair/mapknitter -b main `
Do you think this will solve the issue?
Cheers!

[2019-04-02 14:14] jywarren commented on #459
oh this is cool, yes we should try!

Should we guide people to fork the repository first, then pull from their
own? Is it possible to do this via commandline, which might be even easier?

On Tue, Apr 2, 2019 at 10:11 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-04-02 14:22] kaunair commented on #459
Yeah we can do this via the commandline as well!
The Github API lets you fork a repo using the command line
I managed to successfully fork image sequencer using this
`curl -u 'kaunair' https://api.github.com/repos/publiclab/image-sequencer/forks -d ''`
After this we can clone the forked repo

[2019-04-02 14:24] kaunair commented on #459
Another cool idea that I got is,
We can create an interactive bash script that prompts the user for his github user name(Should be really easy to do)
Then we can use this for or fork and clone commands. If we do this, the user doesn't need to manually edit the github urls during cloning. Thus making the process easier. :tada:

[2019-04-02 16:07] #121 closed

[2019-04-02 16:26] jywarren commented on #408
Oh no! They're going to shut down our free accounts soon, and recommend switching to AWS Cloud9, which does not have that free tier. https://docs.c9.io/docs/migration-checklist

Maybe we should really seriously consider switching to Codenvy? This script should work just as well there? #420

[2019-04-02 16:26] jywarren commented on #408
@kaunair @stefannibrasil @cesswairimu any interest in trying an install on Codenvy.com?

[2019-04-02 16:30] jywarren commented on #408
I don't know if this is everyone's real GitHub handle but this is everyone we have using Cloud9 on our group account:

@em_ford @yuki_is_bored @ykl7 @vincegando @dristybutola @bansalsidharth2996 @ffiebig @geoblaso @waqarm @igniteeng000 @dhiraj024 @sal2701 @jonathanxu1 @yuvalgupta @kevinzluo @d1g1t4ld1n4 @hrithikj @devtonia @gauravano @engreric @karunagoyal2703 @sashadev-sky @kuja

So, they're goin

[2019-04-02 16:46] jywarren commented on #408
And just a heads up:

[2019-04-02 16:50] cesswairimu commented on #408
Yes interested trying this now

[2019-04-02 21:05] alaxalves commented on #305
Hey @jywarren I'm a student from Brazil and I'd like to work with PublicLab team as a GSoC intern and work with MapKnitter rails 5 upgrade. I have already made some contribution to Mapknitter in #363 #450 #429 and #357. I'm very eager to work with this project in particular since I have previously worked with this type of framework upgrade in Noosfero - a huge open source project - in [#1438](http

[2019-04-02 22:04] alaxalves commented on #345
A lot of those warnings will be missing in Rails Upgrade. I empirically upgraded to Rails 4.2.8 [here](https://github.com/alaxalves/mapknitter/tree/rails4) and a lot of those warning have gone missing.

[2019-04-02 22:35] jywarren commented on #326
Hi @sashadev-sky -- recapping our conversation today:

### Part 1: initiating an export

Fetching image URLs, corner coordinates, and scale, and sending them in JSON format to the exporter following the format in https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-478173823

### Part 2: reading progress from an export

Currently, MapKnitter shows the export progress bar in

[2019-04-02 22:37] jywarren commented on #326
Actually it could be worth just trying to run:

[code]

[2019-04-02 22:37] jywarren commented on #326
And hmm, do exports have usernames? They should!

[2019-04-02 22:41] jywarren commented on #345
:-) awesome!!!

On Tue, Apr 2, 2019 at 6:05 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-04-02 22:42] alaxalves commented on #305
This is an issue that's great for the `break-me-up` label xD

[2019-04-02 23:10] igniteeng000 opened #474 "No favicon for mapknitter map pages"
### What happened just before the problem occurred
Add favicon for all pages.
![favicon](https://user-images.githubusercontent.com/25272573/55441377-4458c800-55c8-11e9-8970-dcf308731bf0.PNG)

### Relevant URLs

https://mapknitter.org/maps/sol

### PublicLab.org username
igniteeng000

### Browser, version, and operating system
Chrome.Windows 10

For bug reports, fill out the above template; for fea

[2019-04-02 23:10] igniteeng000 opened #475 "Consistent hover style on hovering on image menu"
### What happened just before the problem occurred
Delete button style is different from others.
![toolbar](https://user-images.githubusercontent.com/25272573/55441103-51c18280-55c7-11e9-8e48-d8feb24af248.gif)

### Relevant URLs
when you login something from your publiclab account
https://mapknitter.org

### PublicLab.org username
igniteeng000

### Browser, version, and operating system
Chrome.Win

[2019-04-02 23:10] igniteeng000 opened #476 "Leagacy Editor feature not working"
### What happened just before the problem occurred
Leagacy Editor feature not working
![legacy](https://user-images.githubusercontent.com/25272573/55440318-d9f25880-55c4-11e9-97ec-af94b8692443.PNG)

### Relevant URLs

https://mapknitter.org/maps/sol?legacy=true

### PublicLab.org username

igniteeng000

### Browser, version, and operating system

Chrome , Windows 10
For bug reports, fill out the a

[2019-04-02 23:10] igniteeng000 opened #477 "Add feature to remove image from map instead of deleting"
We can only place image.
If we want to unplace or remove any image from map there is no option to do so.

https://mapknitter.org/

[2019-04-02 23:10] igniteeng000 opened #478 "Location Search does not work after error occurs"
### What happened just before the problem occurred
If a user enter bad location coordinates or default values like 0.0 and 0.0
then it sets url to (--24) and location search does not work.

![location](https://user-images.githubusercontent.com/25272573/55437974-fa6ae480-55bd-11e9-9bf4-4d26cb4e3aed.gif)

### Relevant URLs
when you login something from your publiclab account
https://mapknitter.org/m

[2019-04-02 23:11] igniteeng000 opened #479 "Add trusted site feature"
### What happened just before the problem occurred
Every time I log in it require to give access
![site_access_does_not_save](https://user-images.githubusercontent.com/25272573/55437362-53397d80-55bc-11e9-9b01-3201f4d3eec8.PNG)

### Relevant URLs
when you login something from your publiclab account
https://

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, versio

[2019-04-03 02:08] sashadev-sky commented on #345
@alaxalves Thank you that is great to hear! I'm going to open an issue regarding upgrading to Rails 4.0 to take it one step at a time. I will tag you there, let me know if you remember any gems or custom configs you remember having to update.

[2019-04-03 02:11] sashadev-sky opened #481 "Upgrade from Rails 3.2 to Rails 4.2.8"
References #305 #345

Current system versions:
Rails 3.2
Ruby 2.4.4

[2019-04-03 02:12] sashadev-sky commented on #481
Tagging some relevant people @cesswairimu @Souravirus @jywarren @stefannibrasil @gauravano

[2019-04-03 02:55] sashadev-sky commented on #326
@jywarren looking this over tonight / more in depth tomorrow

[2019-04-03 02:56] kaunair commented on #481
Rails 4.0 and Ruby 2.4 are not compatible. ( Relevant issue: https://github.com/rails/rails/issues/27670)
You'll run into `<class:Numeric>': stack level too deep (SystemStackError)` error
The best approach is to directly upgrade to Rails 4.2.8 or higher
Thanks

[2019-04-03 03:03] sashadev-sky commented on #481
@kaunair sorry i meant to tag you in this too!! I'm actually not going to be able to open a PR for this for a week or so, so you can address it if you wanted to get a head start!

Thank you for advising me on that though I will keep that in mind if I do end up opening the PR for it. @alaxalves mentioned he went with 4.2.8 so I'm going to run with that too as per your suggestion. Updating the issue

[2019-04-03 03:45] sashadev-sky commented on #326
@jywarren ok so to test how this is working do I need to clone the sinatra app? Sorry just need a little help getting started honestly

[2019-04-03 10:32] AnthoniaOkafor commented on #408
I am an active user of cloud9 for Plots2. Since it is being shut down, I should be switching to Codenvy. I guess installation on Codenvy should be same way Cloud9 was installed on?@jywarren

[2019-04-03 12:32] alaxalves commented on #481
@sashadev-sky I have opened a PR regarding this in https://github.com/alaxalves/mapknitter/tree/rails4, as I said [here](https://github.com/publiclab/mapknitter/pull/363#issuecomment-470319037) but @jywarren told me to wait for it a little [here](https://github.com/publiclab/mapknitter/pull/363#issuecomment-470319576).

[2019-04-03 12:37] alaxalves commented on #345
@sashadev-sky The greatest approach to this is gradually updating versions, such as 3.2 to the next release. *eg. rails 3.2 to rails 3.3*. using the appropriate rake task. I'll try to make all those steps clearer in my GSoC proposal. I'll finish it today(04/03/2019) and I submit the link here. What do you think?

[2019-04-03 13:11] gauravano commented on #297
Yup, working good now. Closing this issue then. @cesswairimu please re-open it if error exists in Windows OS. thanks!

[2019-04-03 13:11] #297 closed

[2019-04-03 14:21] cesswairimu commented on #307
Finally found a fix for this. This is what solved it for me
[code]

[2019-04-03 17:46] jywarren commented on #408
Yes, I think it's quite similar! Could you please try it? Thanks!!

On Wed, Apr 3, 2019, 6:32 AM Anthonia Okafor <notifications@github.com>
wrote: