[2019-06-24 18:57] rarrunategu1 opened #742 "Multiple map images will not display. Only one image at a time."
### What happened just before the problem occurred
testing a map upload and realized it didn't have deletion menu which is mentioned on issue #741 , but when I drag and drop it had that option but the picture did not seem to save but it did.  Once I deleted the first image the drag and drop image showed up but not the other ones.  This image however no longer had the pop up menu option to delete

[2019-06-24 19:13] chaurasia-namrata commented on #739
Hi, I am new to GitHub and want to contribute and learn.

[2019-06-24 19:27] chaurasia-namrata commented on #739
I am not able to edit the code for the issue #739. Please help.

[2019-06-24 19:47] chaurasia-namrata commented on #739
I had made the necessary changes. please review them. thank you.

[2019-06-25 04:53] kaustubh-nair commented on #732
@alaxalves So jenkins runs on `production` and Travis runs on `test`. I guess that makes sense?
I think the only problem is that our current `database.yml.example` does not work on Travis, which is causing the problems. I've made a pull request https://github.com/publiclab/mapknitter/pull/725 to try and fix it on Travis but it doesn't seem to be working. Can you have a look at it?

[2019-06-25 05:21] kaustubh-nair commented on #742
This might be similar to https://github.com/publiclab/mapknitter/issues/728, caused to due incorrect ordering of assets
I see this on the console
[code]

But I'm not familiar with the `leaflet` modules. @publiclab/mapknitter-reviewers Any idea which dependencies leaflet and LDI has?

[2019-06-25 18:05] alaxalves commented on #703
Has this been fixed? @kaustubh-nair @cesswairimu

[2019-06-25 18:10] alaxalves commented on #732
I was just guessing, because this was happening on Travis, anyway I'll into it. :D

[2019-06-25 18:11] alaxalves commented on #665
I'll close since we agreed on using `development` branch.

[2019-06-25 18:11] #665 closed

[2019-06-25 18:12] #594 closed

[2019-06-25 18:18] alaxalves commented on #601
Since we went straight ahead to Rails 5.2.3 as in https://github.com/publiclab/mapknitter/pull/685 this is no longer needed.

[2019-06-25 18:18] #601 closed

[2019-06-25 18:25] alaxalves commented on #604
Mostly of this has been motivated because we were fully using docker in test env. But since https://github.com/publiclab/mapknitter/pull/672 this is kinda not needed anymore.

[2019-06-25 18:25] #604 closed

[2019-06-26 07:38] kaustubh-nair opened #747 "Travis does not report correct coverage to Codecov"
Mapknitter is at ~70% test coverage, but due to running tests in parallel, partial test coverage is being sent to codecov.
So it reports only 40% coverage, which only covers the models.

[2019-06-26 08:35] divyabaid16 commented on #741
Even I had this issue but I forgot that I had created a map anonymously.
The trash icon is only shown when the user is logged in and not in an anonymous map.
Maybe you haven't logged in? Can you please check it once?

Hi @rarrunategu1 this is working for me

I'm getting the trash icon.

![Selection_192](https://user-images.githubusercontent.com/32747809/60164373-137cdd80-981b-11e9-96c8-9a38ba2916e

[2019-06-26 09:55] divyabaid16 opened #750 "Comment is added two times"
### What happened just before the problem occurred
When I try to give some comment on the map, the comment is generated two times.
There are two duplicate comment.

![Peek 2019-06-26 15-23](https://user-images.githubusercontent.com/32747809/60170653-83449580-9826-11e9-8c0b-d874dec9b917.gif)

### Relevant URLs

https://

### PublicLab.org username
divyabaid16
(to help reproduce the issue)

### Brow

[2019-06-26 11:14] joreneng commented on #639
Hi, is this still open?

[2019-06-26 11:18] divyabaid16 commented on #639
@zelol are you working on this?

[2019-06-26 12:36] divyabaid16 commented on #750
@publiclab/mapknitter-reviewers please have a look at this.
Thanks!

[2019-06-26 12:46] zelol commented on #639
@divyabaid16 Oops I forgot. I will work on it immediately. Sorry again.

[2019-06-26 13:51] kaustubh-nair opened #752 "Caching on travis does not work for bundler"
Bundle install is being executed every time even though caching is enabled.

[2019-06-26 13:53] divyabaid16 commented on #639
Go ahead on solving this @zelol
And we will create another issue for you @joreneng
Thanks!

[2019-06-26 14:04] divyabaid16 opened #753 "Add code of Conduct badge in Readme.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-26 14:40] zelol commented on #639
@divyabaid16 Seems that it requires various installation and I honestly do not have the time right now.
I cannot work on it this week, too. I'll leave my place to @joreneng. Sorry again.

[2019-06-26 14:53] cesswairimu commented on #750
Good catch @divyabaid16 . Funny thing when you refresh the duplicates disappear :thinking:  Looking into it

[2019-06-26 16:09] kaustubh-nair commented on #548
@publiclab/mapknitter-reviewers Please provide your inputs about this here

[2019-06-26 16:20] cesswairimu commented on #548
Thanks @kaustubh-nair for linking me to this. I am for just having travis running the tests and builds. Because in my mind when travis break I am like "I really broke something" and we have codeclimate that runs rubocop and even gives suggestions for fixes.

[2019-06-26 16:43] divyabaid16 commented on #639
No problem @zelol you can try some other time.
@joreneng would you like to work on this now?
Thanks!

[2019-06-26 18:23] joreneng commented on #639
@divyabaid16 I'll work on it!

[2019-06-26 22:26] jywarren opened #756 "Insert custom updater function into Leaflet.DistortableImage for displaying export status"
https://github.com/publiclab/mapknitter/blob/5f59c7eb58c5d0e406b84ccc26b9c70ae35bc79a/app/assets/javascripts/mapknitter/Map.js#L102-L108

This will build on https://github.com/publiclab/Leaflet.DistortableImage/pull/310 by @sashadev-sky !

This is initialized here too, for images added later:

https://github.com/publiclab/mapknitter/blob/5f59c7eb58c5d0e406b84ccc26b9c70ae35bc79a/app/assets/javascri

[2019-06-26 22:27] jywarren commented on #756
We'll have to bump an LDI version to get this code onto MapKnitter, though!

[2019-06-26 22:29] jywarren commented on #756
Or would it be code like this, where we'd pass in the function for a customized updater?

https://github.com/publiclab/Leaflet.DistortableImage/blob/c2bf3def17149735ab5790ae5f4a09fa9be513eb/examples/select.html#L95

[2019-06-26 22:35] sashadev-sky commented on #756
[code]

[2019-06-26 22:48] jywarren commented on #756
So ok - let's aim to have the updater function passed into each image, and when you have a collection selected, a new button for `Export selected images` appears on the toolbar (bonus points if it's a different color!) and this will initiate `startExport` with the selected collection AND the passed-in custom `updater` function.

[2019-06-26 23:01] jywarren commented on #756
OK, so new plan:

1. we insert an HTML button labeled `Export images` into the map on the left, but hide it
2. the button has click function that contains the custom `updater()` code for the exporter process
3. when a `DistortableCollection` is selected, we show the button
4. the button is clicked, and through `window.distortableCollection` (or whatever) it runs `distortableCollection.startExport(

[2019-06-26 23:11] jywarren commented on #668
Any updates here? Thanks a lot!

[2019-06-26 23:50] rarrunategu1 commented on #741
@divyabaid16 it looked like I was logged in but when I logged out and in again, it worked.  Thanks.

[2019-06-26 23:50] #741 closed

[2019-06-27 02:48] smileyKJ commented on #753
can I claim it?

[2019-06-27 03:14] smileyKJ commented on #753
Please check my pull request. Thank you.

[2019-06-27 07:26] kaustubh-nair commented on #668
Mapknitter stable is up now that we fixed `database.yml`
We've got 2 small asset loading issues here https://github.com/publiclab/mapknitter/issues/742 https://github.com/publiclab/mapknitter/issues/734 that we need to fix

[2019-06-27 08:14] kaustubh-nair opened #759 "Map creation does not work"
I tried to create a map locally, and I get this error
[code]
I solved it by removing this commit 5f59c7eb58c5d0e406b84ccc26b9c70ae35bc79a

[2019-06-27 08:14] kaustubh-nair commented on #759
@divyabaid16 Can you have a look at this?
Thanks!

[2019-06-27 08:16] kaustubh-nair opened #760 "Can't open existing maps"
# First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're

[2019-06-27 09:42] kaustubh-nair commented on #734
I think I've got this fixed, but the maps are still not loading. I'm guessing it's still because of https://github.com/publiclab/mapknitter/issues/742

[2019-06-27 11:29] divyabaid16 commented on #759
Ya, I will have a look at it.

[2019-06-27 12:58] alaxalves commented on #668
This is going very well, right now I'm investigating an issue with Rubocop [here](https://github.com/publiclab/mapknitter/pull/751) that has recently popped up when I was setting the cache configs for bundle. I know this is related to gem versions, and I think I might have fixed it on [Rails 5 MR](https://github.com/publiclab/mapknitter/pull/685), BTW I am also working on the deprecation warnings

[2019-06-27 16:16] #327 closed

[2019-06-27 16:30] jywarren opened #761 "New "view only" map page"
So building on the new designs in #743 we're looking to make a new "view only" page that is loaded when you click on a map. The URL might be `/m/map-name`, and it'd look like page 17 of this mockup doc: https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g4f12792b5d_0_0

![image](https://user-images.githubusercontent.com/24359/60283120-754e4d80-98d6-11

[2019-06-27 16:31] jywarren commented on #761
Also, your new front page should be live here shortly, i think: http://mapknitter-stable.laboratoriopublico.org/front-page

[2019-06-27 16:34] cesswairimu commented on #761
Looks good @jywarren, I will start working on it and will let you know if something comes up

[2019-06-27 16:37] jywarren commented on #761
Great!!!

[2019-06-27 17:31] cesswairimu commented on #761
Well good news the '/front-page' url is now working on the stable server. Bad news my css is somehow not working http://mapknitter-stable.laboratoriopublico.org/front-page :thinking: beats me since this was working fine on unstable http://mapknitter-unstable.laboratoriopublico.org/front-page...working to find fix this asap

[2019-06-27 17:35] cesswairimu commented on #761
Sorry, false alarm,  Its fine maybe I tried before the build was finished

[2019-06-27 18:03] jywarren commented on #761
Hmm, yes, i also saw the CSS not loading initially ... not sure why! Glad
it's working now though!

On Thu, Jun 27, 2019 at 1:31 PM Cess <notifications@github.com> wrote:

[2019-06-28 11:49] divyabaid16 commented on #750
Yes, exactly.

[2019-06-28 15:55] #722 closed

[2019-06-28 16:43] #739 closed

[2019-06-28 16:56] jywarren commented on #668
I'm starting to think we should publish the latest main branch to the live
site today or monday! What do folks think?

On Thu, Jun 27, 2019 at 8:59 AM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-06-28 17:03] cesswairimu commented on #668
I think its a great idea...The build on main has been failing since https://github.com/publiclab/mapknitter/commit/eca473a92d8cdcc683f97b3e9c5b211387429f22 should we revert this before publishing or it shouldn't affect it?

[2019-06-28 17:42] kaustubh-nair commented on #668
Sure let's do it!
I found a new bug here because of which map creation does not work, but I'm not sure if it is happening to everyone https://github.com/publiclab/mapknitter/issues/759

[2019-06-28 18:02] cesswairimu commented on #759
oh I fixed in #762. It should be fine now

[2019-06-28 18:06] cesswairimu commented on #668
Yeah I had the same bug as well...I fixed that with https://github.com/publiclab/mapknitter/pull/762/commits/6941c1e5f22b62562febd54deda54cf30df70f0e I believe it should be good now

[2019-06-28 18:21] alaxalves commented on #668
This is great, just in time. BTW @jywarren @sashadev-sky @kaustubh-nair I have finished with Rails 5 upgrade at: https://github.com/publiclab/mapknitter/pull/685. I'm only missing a step on Travis and bundle caching integration. Besides that I have finished with all the deprecation warnings and tests. It will be available to push to unstable in short time.

[2019-06-28 18:43] jywarren commented on #668
Hmm, I think we'd best address all critical bugs with rails 4 on main
branch to publish to live, and hold off on merging rails 5 to main until
there are a few more days to test it out.

Can folks look into the map creation bug and if we can resolve that first
we can call it a release and publish to live? Thanks!!!

On Fri, Jun 28, 2019, 2:21 PM Álax de Carvalho Alves <
notifications@github.com> wr

[2019-06-28 18:47] jywarren commented on #668
Ah but was it resolved in https://github.com/publiclab/mapknitter/pull/762
?

Can folks check on stable server and give a thumbs up? Thanks!

On Fri, Jun 28, 2019, 2:43 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-06-29 01:56] alaxalves commented on #668
I totally agree with, but actually I meant merging Rails 5 to `development` branch and then to `unstable` :smile: :smile:

[2019-06-29 04:38] gauravano commented on #750
If after refreshing there's only one then it should be AJAX bug where we are appending the new comment twice.

[2019-06-29 11:37] jywarren opened #767 "Optimization of front page"
Hi @cesswairimu I realized that stable front page is quite slow and that it's most likely the listing of mappers. I think we need to make a cache around that -- at least for now, and then somehow optimize that query... It's really slow, and makes sense because it's counting all maps?

We can work on this on Monday!

[2019-06-29 11:37] jywarren commented on #767
And maybe there are other better ways to feature mappers anyways!

[2019-06-29 11:38] jywarren commented on #767
Like, why don't we manually tag maps we want to feature and we'll show mappers whose maps are tagged with a special tag like "featured"? That's much better anyways! And we can randomize the order.

[2019-06-29 11:44] jywarren commented on #767
I like this idea, it'll feature a rotating set of mappers from around the world!

[2019-06-29 14:43] divyabaid16 commented on #750
I guess the problem is there in https://github.com/publiclab/mapknitter/blob/85ec0c62a51caf93af72af12a441d46037ff90e0/app/assets/javascripts/maps.js#L66

This line is getting executed 2 times.

[2019-06-29 15:23] cesswairimu commented on #767
Hey Jeff, yeah I noticed it was quite slow too. Yeah that be great will look into this. Thanks

[2019-06-29 15:27] cesswairimu commented on #759
Closing this, thanks all

[2019-06-29 15:27] #759 closed

[2019-06-29 15:34] alaxalves commented on #767
What would be your suggestion of caching tool? Are we using something like Redis? @jywarren @cesswairimu

[2019-06-29 15:36] cesswairimu commented on #767
I think just normal rails caching should be fine https://guides.rubyonrails.org/caching_with_rails.html without using a tool since its for the mappers images alone

[2019-06-29 20:00] jywarren commented on #767
Yeah I think caching (1 day) would be a fine short term fix as we get the
other type of featuring implemented. Thanks!

On Sat, Jun 29, 2019, 11:36 AM Cess <notifications@github.com> wrote:

[2019-06-30 00:51] alaxalves commented on #767
Got it, if you need any help with this I might of some use :smile:. I have implemented rails caching with Redis before here -> https://gitlab.com/klara-org/klara-api/merge_requests/11/diffs. I think that it might be of some help either if we're using Active Support's caching. LMK :muscle: :muscle: :muscle:

[2019-07-01 00:29] sashadev-sky commented on #459
closing this as cloud9.io is not available as of tomorrow, and Codenvy is opening on main!

[2019-07-01 00:29] #459 closed

[2019-07-01 03:20] sashadev-sky commented on #696
closing this its outdated!

[2019-07-01 03:20] #696 closed

[2019-07-01 03:23] sashadev-sky commented on #720
I think this was an accidental close so reopening!

[2019-07-01 03:35] sashadev-sky commented on #565
Closing this as its outdated and pagination is also fixed! Thank you guys!

[2019-07-01 03:35] #565 closed

[2019-07-01 03:39] sashadev-sky commented on #520
closing this as its as its been partially address in #630 - reopening a new issue to address search constraints on the frontend side for performance improvement ill tag everyone there!

[2019-07-01 03:39] #520 closed

[2019-07-01 04:02] sashadev-sky opened #769 "(Priority)Search Bug"
### What happened just before the problem occurred

Some backend search constraints were implemented in #630 by me which cut out some extra database queries if your search query is less than 3 characters long.

Since then the entire UI has been updated - but if you make any query it re-renders the old UI and you can't get back to the new one:

![search constraint2](https://user-images.githubuserco

[2019-07-01 04:04] sashadev-sky commented on #769
@divyabaid16 @jywarren @gauravano @avsingh999

Sorry if this isn't priority feel free to remove that header but I think its a pretty significant bug

[2019-07-01 05:34] ViditChitkara commented on #609
Hi @divyabaid16 @jywarren Circling back to this, I think:-
1. We'll be requiring action cable(implemented in plots2) to have real time updation of the image placement on map.
2. Everytime an image is placed or the dimensions are saved for the placed image, all the information related to the image(url, dimensions, position, etc.) will be sent to the action cable server which will be broadcasted to

[2019-07-01 05:57] gauravano commented on #769
The production doesn't have this issue as that PR is not pushed to stable yet, so I think we can remove the priority keyword. Or, lets just fix it, as we don't need to wait for a PR to break things.

Running localhost to observe the interface closely. Thanks, @sashadev-sky for reporting.

[2019-07-01 06:05] gauravano commented on #769
Hmm, so how exactly we want our search page to look? I think sidebar needs work so as to follow the updated template?

[2019-07-01 06:43] gauravano commented on #459
Cool!

[2019-07-01 14:17] #747 closed

[2019-07-01 14:53] alaxalves opened #772 "Weekly community Check-In #27 - Overestimated Issues"
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-07-01 15:13] jywarren commented on #769
Ah, ok - so this may be priority because I'm really hoping to publish `main` to the live site today or tomorrow... i'm working on some other optimizations and display changes, so if anyone else can try this that'd be great. I believe we now have templates at /gallery that could be used to show results? Thanks for the catch!

[2019-07-01 15:15] #386 closed

[2019-07-01 15:15] jywarren commented on #386
Thanks!

[2019-07-01 15:16] jywarren commented on #124
Hi @divyabaid16 did you have any chance to try this out? Thank you!

[2019-07-01 15:17] jywarren commented on #107
Closing this as we've moved exporting off-app!

[2019-07-01 15:17] #107 closed

[2019-07-01 15:17] jywarren commented on #40
New front page does this!

[2019-07-01 15:17] #40 closed

[2019-07-01 15:19] jywarren opened #773 "New default map tile layer"
I'm working on this!

[2019-07-01 15:21] jywarren commented on #760
Hmm, does this affect production or just development? Should we consider priority for 3.0 release tomorrow? Thanks!

[2019-07-01 15:37] jywarren commented on #459
Awesome!!!

On Mon, Jul 1, 2019 at 2:44 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-07-01 16:02] #654 closed

[2019-07-01 17:59] alaxalves commented on #772
One of the issues I thought that would be the hardest was this one -> https://gitlab.com/klara-org/klara-api/merge_requests/4, in this case, I had to implement a distributed database with replication among the clusters. In the end it turned out to be more easier than I thought.

**Progress**

Currently I have finished with Mapknitter's Rails 5.2.3 upgrade, I have removed the deprecation warnings,

[2019-07-01 18:35] jywarren commented on #773
OK, using our token, working from: https://docs.mapbox.com/api/maps/#mapbox-styles

[2019-07-01 18:41] jywarren commented on #773
We could also go with these if they look good; `light`:

https://api.mapbox.com/styles/v1/mapbox/light-v10.html?title=true&access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NDg1bDA1cjYzM280NHJ5NzlvNDMifQ.d6e-nNyBDtmQCVwVNivz7A#8.76/18.215/-66.2856

![image](https://user-images.githubusercontent.com/24359/60459161-5e796500-9c0e-11e9-860f-21bb18e8b78f.png)

[2019-07-01 18:53] #767 closed

[2019-07-01 18:53] #773 closed

[2019-07-01 19:41] jainaman224 commented on #609
Looks good to me. 👍

[2019-07-01 20:00] claytron5000 commented on #248
PR here: https://github.com/publiclab/mapknitter/pull/744 I haven't been able to get the project running locally, nor run tests, but maybe I can get some help on that.

[2019-07-01 20:02] jywarren opened #776 "Recaptcha upgrade path (4 to 5)"
Post https://github.com/publiclab/mapknitter/commit/d5a4676cb5445cd539e1c8dff7beee588371b44d reverting Recaptcha v5, (due to stable server build failure, after #775 and #749) I want to note https://github.com/publiclab/mapknitter/pull/671 which had important info we should resurface

[2019-07-02 00:31] sashadev-sky commented on #772
Hi!

This is a good topic - it took me a little bit of thinking. The only one that comes to mind is that I recently looked into deprecating Bower and updating to use NPM only for LDI. I thought it would be an ordeal - but the switch turned out almost as simple as 1. Delete bower.json 2. Add package-lock.json

Not a GSOC student but this template is useful anyway!
What things you did collaborativel

[2019-07-02 01:33] sashadev-sky commented on #623
Closing this its been fixed! Don't have the exact PR #.

[2019-07-02 01:33] #623 closed

[2019-07-02 06:18] ViditChitkara commented on #609
Left some comments on #685 . Will start with the action cable part on the rails 5 upgrade branch

[2019-07-02 09:00] divyabaid16 opened #780 "Images are not showing up properly on the map"
### What happened just before the problem occurred

When I created a map and was adding the images, only the first image that was added is shown in the map that too at the top left the corner. Other images though they are shown placed, after the refresh of the page they can't be seen.

[2019-07-02 09:00] divyabaid16 commented on #124
Hi @jywarren while solving for this I came across an issue and I have mentioned it in https://github.com/publiclab/mapknitter/issues/780.
I guess first that issue must be solved.

[2019-07-02 09:12] divyabaid16 commented on #780
@publiclab/mapknitter-reviewers

[2019-07-02 10:26] divyabaid16 opened #781 "All Maps not displayed"
**Description**
@jywarren
I guess with https://github.com/publiclab/mapknitter/commit/8d2bb866f0cf191d9af3d238b96b9f95fb75bdc8 the author is not showing up.

I think we should revert it back.

The error for reference:
![Selection_195](https://user-images.githubusercontent.com/32747809/60505617-b9c85780-9ce1-11e9-87bc-57cbd9e056d5.png)

[2019-07-02 14:28] jywarren commented on #756
OK - so, first, we'll need to create a DistortableCollection in our MapKnitter code, which I believe we do at this line:

https://github.com/publiclab/Leaflet.DistortableImage/blob/d9347144917d60c3cd81694c3f38131dc33f0902/examples/select.html#L102-L104

But @sashadev-sky - why do we add images to it from the HTML file? Aren't we going to be adding them dynamically, by selecting them?

In any case,

[2019-07-02 14:29] kaustubh-nair commented on #780
This is being caused by https://github.com/publiclab/mapknitter/issues/742

[2019-07-02 14:30] jywarren commented on #756
And linking to @divyabaid16's work in https://github.com/publiclab/mapknitter/pull/693

[2019-07-02 14:30] kaustubh-nair commented on #760
It's is affecting only `development`. I think there might be some problems with the seeds

[2019-07-02 14:31] jywarren commented on #756
@divyabaid16 this is part of the ongoing process of moving all exporting work off or the MapKnitter application. Your interface work will interface with the new cloud export service in almost the same way as Sasha's!

[2019-07-02 15:33] jywarren commented on #781
Oh no! I think the logic here was a bit off. Could you try to submit a fix?
It's running ok on stable now... isn't it?

On Tue, Jul 2, 2019 at 6:27 AM Divya Baid <notifications@github.com> wrote:

[2019-07-02 15:34] jywarren commented on #742
Is this only in development, since in production all assets are precompiled? Thanks!

[2019-07-02 15:50] jywarren commented on #609
Thanks, all! And, perhaps we would need to begin developing some event handlers/listeners for events in Leaflet.DistortableImage, and planning out what those are, like `updatePosition`, `createImage`, `deleteImage` as well as figuring out whether there are `image.setPosition()` methods so that we can connect those events to ActionCable in JS? https://github.com/publiclab/Leaflet.DistortableImage/

[2019-07-02 16:10] jywarren commented on #742
Can you point at a page where this is happening on stable? Thanks!

[2019-07-02 16:10] jywarren commented on #781
Just noting here is the error: http://mapknitter-stable.laboratoriopublico.org/gallery

[2019-07-02 16:17] sashadev-sky commented on #756
@jywarren we add them in the HTML file because its a demo! We can add them anytime. In regard to this:
[code]

I haven't exposed the Exports actions yet so that we can manipulate what we pass to it. I am thinking  about how to do that.  It seemed unnecessary to make each  action its own class. I was thinking maybe just an exports class? Definitely a decision to discuss what would make most sense,

[2019-07-02 16:17] jywarren commented on #742
Trying to find an online example of this issue -- perhaps in http://mapknitter-stable.laboratoriopublico.org/maps/ceres--2/ -- yes!

![image](https://user-images.githubusercontent.com/24359/60528883-69da9800-9cc3-11e9-864d-ae503e0d9c6d.png)

No images are showing. Great. reproduced!

[2019-07-02 16:19] sashadev-sky commented on #756
@divyabaid16 let me know if you need to walk through the custom collection passing!

[2019-07-02 16:20] jywarren commented on #742
Error looks like:

[code]

in a segment doing: `new L.latLng(l.nodes[3].lat,l.nodes[3].lon)`

Here's a bit of context although mine is minified... not so readable:

`],!0),h.html("<i class='fa fa-download'></i>")},c[0].src=$(".img-download-"+l.id).attr("data-image")});var e=[new L.latLng(l.nodes[0].lat,l.nodes[0].lon),new L.latLng(l.nodes[1].lat,l.nodes[1].lon),new L.latLng(l.nodes[3].lat,l.nodes[

[2019-07-02 16:24] jywarren commented on #742
I think it's because we're trying to run this code on images that haven't been placed yet, so have no nodes. Something upstream may have changed... but the easy fix for now is to just change this line to ensure we have 4 nodes per image:

https://github.com/publiclab/mapknitter/blob/cc7e9242f559ee53b581f94c8b43adfcc8c28229/app/assets/javascripts/mapknitter/Map.js#L44

I'll do this and see if it wo

[2019-07-02 16:25] jywarren commented on #742
Aha - something bad is going on with our JSON at http://mapknitter-stable.laboratoriopublico.org/maps/ceres--2/warpables.json

[code]

Weird!

[2019-07-02 16:26] sashadev-sky commented on #756
Starting now. The new MK front page looks so good

[2019-07-02 16:27] jywarren commented on #742
These nodes are being inserted as Ruby objects and not JSONified...

[2019-07-02 16:28] jywarren commented on #742
Maybe something in Rails 4 changed here:

https://github.com/publiclab/mapknitter/blame/main/app/controllers/images_controller.rb#L92

[2019-07-02 16:34] sashadev-sky commented on #756
@jywarren if you don't like the idea of reewriting I can go back and expose Exports however would make most sense (see first commnt above) I was imagining once it would be exposed it would be passed something more like:
[code]

[2019-07-02 16:35] sashadev-sky commented on #756
Ok sorry actually going back to LDI and exposing right now really quick fix.

[2019-07-02 16:38] cesswairimu commented on #742
Good catch taking a look too

[2019-07-02 18:33] cesswairimu commented on #769
Hey all,  do we want this search to be available on the front-page(if so how do we display this or should it be a redirect to gallery page?) or show I make it only available on the gallery page? Wonna hear your thoughts. Thanks

[2019-07-02 18:35] jywarren commented on #769
Let's have the search from any page (via navbar) direct to the gallery
template, but retain the current URL schemes -- can that work?

On Tue, Jul 2, 2019 at 2:34 PM Cess <notifications@github.com> wrote:

[2019-07-02 18:40] cesswairimu commented on #769
Guess so...looking into it. Thanks Jeff

[2019-07-02 18:51] infmja commented on #400
Is there a PR for this? If not, I would like to claim this issue.

[2019-07-02 20:38] jywarren commented on #742
https://github.com/publiclab/mapknitter/pull/786 !!!

[2019-07-02 20:53] ViditChitkara commented on #609
Yes, I think we should send json of all images (which are updated at once). We could freeze the image being placed by a particular user in all other systems. Maybe the reject function will tell the browser to freeze editing of that particular image. This way there won't be conflicting versions of an image.

I found an [article](https://blog.aha.io/text-editor/) based on building collaborative edit

[2019-07-02 21:30] #638 closed

[2019-07-02 21:35] jywarren commented on #609
+1 action cable!

On Tue, Jul 2, 2019 at 4:54 PM Vidit <notifications@github.com> wrote:

[2019-07-02 21:37] jywarren commented on #734
I think this is unrelated and we now have a fix for #742 in #786 ! Were you working in a PR on getting the annotations system running? I thought i saw that somewhere... but can't remember! 😆

[2019-07-02 21:44] jywarren commented on #756
This is fine for now!

[2019-07-03 03:22] gauravano-cultgear commented on #772
Great progress @alaxalves! And, thanks @konolga for the help with MySQL issue :tada:

[2019-07-03 03:25] rmd6502 commented on #772
Hey y'all, working on an open source sensor platform here: https://github.com/ProgressiveCoders/EnviroTrack-Node, currently working on the MQTT->Prometheus gateway (https://github.com/inuits/mqttgateway), then I'll work on converting the voltage readings into ppm of measured toxins

[2019-07-03 03:26] gauravano commented on #772
Great progress @alaxalves! And, thanks @konolga for the help with MySQL issue :tada:

[2019-07-03 05:15] sashadev-sky opened #788 "Bug: Sidebar toggle not working"
### What happened just before the problem occurred

When creating a new  map in localhost, the sidebar toggle button no longer does anything

<img width="1069" alt="Screen Shot 2019-07-03 at 1 00 30 AM" src="https://user-images.githubusercontent.com/41092741/60564546-15b8cd80-9d2e-11e9-91f5-6965ccd97249.png">

`window.toggle_sidebar()` in  the console does still toggle it, though.

This is the cod

[2019-07-03 07:02] kaustubh-nair commented on #734
I hadn't sent a pull request since there wasn't a way to test it properly before fixing #742. I fixed the dangling references that you can see in the screenshot, but still I don't think the annotations are working. I'll send a pull now

[2019-07-03 14:30] gauravano commented on #772
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary

[2019-07-03 14:31] gauravano commented on #772
@aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @michelelong @cryptoclidus @mohamed-elalem @konolga

[2019-07-03 15:32] #769 closed

[2019-07-03 15:34] #742 closed

[2019-07-03 15:34] #780 closed

[2019-07-03 15:45] ebarry commented on #631
Hi, @steviepubliclab and myself have just experienced this same bug on https://mapknitter.org/maps/the-warehouse-bywater . Cannot scale down. (Can distort to make something smaller as a last resort)

[2019-07-03 16:15] jywarren commented on #631
I believe this will be solved in Leaflet.DistortableImage 0.5.0 which is slated to be published later today. But in case not, noting that this bug seems to only affect some images - this map for example doesn't show it: https://mapknitter.org/maps/cranston-test

[2019-07-03 17:01] jywarren opened #791 "Fetching new yarn.lock dependencies"
I found that `yarn.lock` changes (and other changes in `package.json`) aren't updating stable or unstable; do we need an additional line in our docker-compose file or something to trigger a `yarn install`? cc @kaustubh-nair @alaxalves @icarito

[2019-07-03 17:03] jywarren commented on #791
`start.sh` is running `yarn install` --

https://github.com/publiclab/mapknitter/blob/32a38bb043357c2af75fdde56b514de6dee7061d/start.sh#L6

and that's run from `Dockerfile`:

https://github.com/publiclab/mapknitter/blob/32a38bb043357c2af75fdde56b514de6dee7061d/Dockerfile#L40

Is that not run in Jenkins?

[2019-07-03 17:09] jywarren opened #792 "Panning/zooming issues with new front page map"
I found that clicking on a place name just under the map works, and the flyover is nice, but then additional interactions with the map (panning, zooming) seem to be linked to the original location in some way. To replicate, go to

http://mapknitter-stable.laboratoriopublico.org/

Then click one of the places in the list below the map, like "Korea":

![image](https://user-images.githubusercontent.c

[2019-07-03 17:11] jywarren commented on #792
@cesswairimu do you have any ideas about this? I think it's somehow not respecting the `fullhash` in the URL -- the hash (like `http://mapknitter-stable.laboratoriopublico.org/#8/18.315/-66.797/`) changes when you arrive at the new place, but when you zoom out again, it returns to the old location.

[2019-07-03 17:14] jywarren commented on #791
I'm manually running this in the container with:

`warren@tycho:/srv/mapknitter_unstable/mapknitter$ RAILS_ENV=production docker-compose -f docker-compose.yml run web yarn install`

[2019-07-03 17:20] jywarren commented on #791
Hmm, do we need to bust this cache? https://github.com/publiclab/mapknitter/blob/32a38bb043357c2af75fdde56b514de6dee7061d/docker-compose.yml#L17

[2019-07-03 17:22] jywarren commented on #791
I ended up just running `sudo yarn install` outside the container env, but it's installing into the same filesystem. Had some permissions issues with the above command in unstable.

Restarting `unstable`!

[2019-07-03 17:35] jywarren commented on #791
Testing here: http://mapknitter-unstable.laboratoriopublico.org/maps/mestia

[2019-07-03 17:36] jywarren commented on #791
Success!!!

![image](https://user-images.githubusercontent.com/24359/60612786-88aa5e80-9d97-11e9-8a89-b969fd996687.png)

[code]

https://mapknitter-exports-warps.storage.googleapis.com/1562175294/1562175294.jpg

![image](https://user-images.githubusercontent.com/24359/60612822-9e1f8880-9d97-11e9-80e3-41c31fa0701c.png)

Very nice!!!

[2019-07-03 17:38] jywarren commented on #791
Uh, it looks like we may be submitting the points in the wrong order -- like, one off, so `NW,NE,SE,SW` instead of `NE,SE,SW,NW` maybe... or maybe the other way around? Let me try regenerating it manually. And I believe the order of images is reversed! Let's test out a bit...

[2019-07-03 18:27] jywarren commented on #791
OK, i reversed the image order to test that first, with:

[code]

OK, and:

[code]

https://mapknitter-exports-warps.storage.googleapis.com/1562177565/1562177565.jpg

So, looks like that didn't help... trying again with `1562178444` to see if i got it wrong...

[2019-07-03 18:28] jywarren commented on #791
Oh, i see. The provided collection is not overriding the collection I'm passing in. Gah. Hang on.

[2019-07-03 19:23] jywarren commented on #791
Aha, it should've been: `map._layers[35].startExport({collection: data, scale: 100})` (using option object parameters, not just `fn(collection, scale)`).
[code]

Great, that worked: https://mapknitter-exports-warps.storage.googleapis.com/1562181699/1562181699.jpg and fast too!

![image](https://user-images.githubusercontent.com/24359/60619381-91566100-9da6-11e9-9904-d1dacd611be4.png)

[2019-07-03 19:24] jywarren commented on #791
Now to rearrange the points.

[2019-07-03 19:40] jywarren commented on #791
I used `data.images[1].nodes.unshift(data.images[1].nodes.pop())` and `data.images[0].nodes.unshift(data.images[0].nodes.pop())` to move the last node to the start of the array and resubmitted as `1562182763`

[2019-07-03 19:41] jywarren commented on #791
Wrong way! We need to put the first array item at the end.
![image](https://user-images.githubusercontent.com/24359/60620345-f317ca80-9da8-11e9-9f64-7a73467ee5ea.png)

So: `data.images[1].nodes.push(data.images[1].nodes[0])`

[2019-07-03 19:54] jywarren commented on #791
OK, that worked, although JPG generation got stalled... !

![image](https://user-images.githubusercontent.com/24359/60621110-d4b2ce80-9daa-11e9-8db5-4c54ff80276a.png)

I'll implement a change in LDI `v0.5.2`.

[2019-07-03 20:00] jywarren commented on #791
OK! Here: https://github.com/publiclab/Leaflet.DistortableImage/pull/322

[2019-07-03 20:00] jywarren commented on #791
Oh crap, i've been leaving comments in the wrong spot. Moving all this back to #782

[2019-07-03 20:36] jywarren commented on #791
OK, picking back up with the yarn issues... i ran both `yarn update` and `yarn install` on unstable, and was unable to get it to pick up `leaflet-distortableimage` `v0.5.2` from #782, and eventually had to just delete the lib and re-install it. Hm, I can't seem to figure out why...

[2019-07-03 21:40] #781 closed

[2019-07-03 22:12] #756 closed

[2019-07-04 14:29] alaxalves commented on #791
How do I reproduce this issue? I think this might be related to docker, since we run docker on production right? @icarito @jywarren

[2019-07-04 14:38] divyabaid16 opened #796 "Show which sort on image is performed"
**Description**
As suggested by @sashadev-sky there is currently no way to show how the user is sorting the images. Therefore there should be some label or some way to show which of the sorting on which option is performed.

Thanks!

[2019-07-04 15:03] divyabaid16 opened #797 "Featured Mappers not shown in localhost"
**Description**
Even though the Featured mappers is shown in unstable and stable, it is not shown in localhost.
I have pulled the lastest changes.

![Selection_196](https://user-images.githubusercontent.com/32747809/60675854-04d99a80-9e9b-11e9-8e21-79e1b9b6b0ca.png)

@cesswairimu @jywarren

[2019-07-04 15:26] jywarren commented on #791
Try bumping a node version number in package.json and yarn.lock, and
pushing to unstable, and then load the package.json directly via
/lib/package-name/package.json to confirm if the version was actually
upgraded?

We're not on docker in production yet but we are in stable and unstable.
And we will be soon in production!

On Thu, Jul 4, 2019, 10:30 AM Álax de Carvalho Alves <
notifications@github.

[2019-07-04 15:27] jywarren commented on #797
I think this is due to location sharing bit working in non-https, and so
nothing being shown there if you haven't shared location. But we should
make it look better and more useful for people who don't share location!
Thanks!

On Thu, Jul 4, 2019, 11:04 AM Divya Baid <notifications@github.com> wrote:

[2019-07-04 15:37] michelelong commented on #772
I think both of my PR's are basically done on my end (#5962 and #5896). Unfortunately, my life imploded yesterday and I'll be moving across the country alone with no job or any other certainty. I don't know when or if I'll be back online. I hope you can use what I have committed to finish up. Thank you for welcoming me here. I was happy to be able to help a little.

[2019-07-04 15:39] divyabaid16 opened #798 "Drop Down menu must open on hover"
**Description**
![Selection_197](https://user-images.githubusercontent.com/32747809/60677658-c0043280-9e9f-11e9-9cee-74fb2d9fbb97.png)

This option must open on hover instead of click.

Should we implement this @jywarren ?

[2019-07-04 16:04] cesswairimu commented on #772
Hey @michelelong thanks for helping  with the issues and sorry to hear about the your setbacks. Hopefully you will find a job or something soon. Take care :purple_heart:

[2019-07-04 16:22] jywarren commented on #798
That sounds great!!! But also on click, for mobile, right? Thanks!

On Thu, Jul 4, 2019, 11:40 AM Divya Baid <notifications@github.com> wrote:

[2019-07-04 16:50] divyabaid16 commented on #797
Ya, that can be done.
Maybe we can just remove ```|``` before All maps so that it seems complete?!
Do let me know if I can help here in some way.
Thanks!

[2019-07-04 17:08] cesswairimu commented on #797
Yeah we should move the `|` in the if block... Would you like to change that? Thanks @divyabaid16

[2019-07-04 17:13] divyabaid16 commented on #797
Ya, I will do it.
Thanks!

[2019-07-04 17:18] divyabaid16 commented on #796
How does this look to show in which order the images has been sorted?
Currently, as seen, it is sorted by name.

![Selection_198](https://user-images.githubusercontent.com/32747809/60681631-a4a02400-9ead-11e9-96cb-ae67b1552790.png)

@publiclab/mapknitter-reviewers @jywarren
Or if someone can suggest any other way?
Thanks!

[2019-07-04 17:28] divyabaid16 commented on #797
After solving for this issue I think that we don't need ```|``` at all. Because Featured Mappers is like a complete subsection. What do you think @cesswairimu ?

Maybe we can just delete ```|``` and I will create the FTO for this if it is fine?

[2019-07-04 17:33] alaxalves commented on #791
Cool, thanks for the input. I'm currently digging this xD

[2019-07-04 17:39] divyabaid16 opened #800 "Small bug in front page UI Mobile Responsive"
**Description**
Some of the thing I just observed are:
- [ ] Featured Mappers is not completely visible. Here is the screenshot:
![Selection_199](https://user-images.githubusercontent.com/32747809/60682229-2729e300-9eb0-11e9-848f-0b0b6acd1f8a.png)

- [ ] Featured Mappers overlpas over the cities.
![Selection_200](https://user-images.githubusercontent.com/32747809/60682327-85ef5c80-9eb0-11e9-87d2-9

[2019-07-04 17:41] cesswairimu commented on #797
I think we need it..beause if you have your location shared this is how the interface looks like..

![maps](https://user-images.githubusercontent.com/17081074/60682380-d90ae480-9e9b-11e9-9020-1f72b741a98d.png)

Or maybe you have ideas of a better display? Would could explore other ideas

[2019-07-04 17:45] divyabaid16 commented on #797
Oh yeah, you're right. I will just do it.
Thanks!

[2019-07-04 19:16] divyabaid16 commented on #753
This has been fixed in #757 so closing it.
Thanks!

[2019-07-04 19:16] #753 closed

[2019-07-04 19:59] alaxalves commented on #791
I think I understood what's going on here:
The new dependencies are not added on Mapknitter because with our current yarn "settings"(package.json and yarn.lock files), we are not able to install them. So when we add anything to package.json file anything gets added, since we can't install image-sequencer and leaflet-environmental-layers dependencies. We I removed those from package.json file I was

[2019-07-04 20:26] ViditChitkara opened #804 "Setup action cable for rails 5"
Action cable is required for setting up realtime environment for synchronous editing.
build on top of #685
part of #593

[2019-07-05 03:08] gauravano commented on #772
All the best @michelelong and thank you so much for your contributions and you're always welcome in our community.

[2019-07-05 03:51] gauravano commented on #796
We can change the button text to Sort by and can show options in the dropdown?

[2019-07-05 13:50] cesswairimu commented on #792
I think this was fixed in https://github.com/publiclab/mapknitter/pull/782. Could someone else check if this is still happening? I just tried and the issue is gone on my end.

[2019-07-05 13:59] jywarren commented on #792
Hi! It's still happening at http://mapknitter-stable.laboratoriopublico.org/,
let me make a gif. Thanks!

On Fri, Jul 5, 2019, 9:51 AM Cess <notifications@github.com> wrote:

[2019-07-05 14:20] cesswairimu commented on #792
oh yeah I see

[2019-07-05 14:26] jywarren commented on #792
I think there are two inter-related issues. First that when you drag after
flying to a location, it kind of resists, and sends you back to the
original location. Second that if you try to zoom it does the same. But
they both seem to relate to the fullhash library...

On Fri, Jul 5, 2019 at 10:21 AM Cess <notifications@github.com> wrote:

[2019-07-05 14:57] jywarren opened #807 "Tags display with "tour""
The new front page is awesome: http://mapknitter-stable.laboratoriopublico.org/

We're looking forward to adding such a "top map" as shown below, to the tags page, for example: https://mapknitter.org/tags/featured

![image](https://user-images.githubusercontent.com/24359/60730288-c4b5fe80-9f12-11e9-92c1-9222ecfeeb5d.png)

We could combine the new gallery template (http://mapknitter-stable.laborato

[2019-07-05 15:00] jywarren opened #808 ""Create a collection" button on view page"
Our new view pages #761 will be awesome. Given that tags can be used to make a collection of maps (see #807), let's put a note by the tag input that suggests `Make a collection of maps` and explains that using a unique tag on a set of maps creates a page at `https://mapknitter.org/tag/_____` where you can show your maps together.

------
We are participating in Google Code-in, and have reserved th

[2019-07-05 15:05] jywarren commented on #807
Hi @divyabaid16 would this by chance be something you'd be interested in working on?

[2019-07-05 15:07] jywarren commented on #772
Thank you so much @michelelong and please take care!

[2019-07-05 15:20] divyabaid16 commented on #807
Ya, I will do it.

[2019-07-05 15:35] #800 closed

[2019-07-05 15:38] #798 closed

[2019-07-05 18:21] jywarren commented on #792
I think i got the spinner issue...

[2019-07-05 18:31] jywarren commented on #791
Wow, thanks so much for looking into this. Obscure! Um, let me look... but do you know what exactly is causing the failure to install? We install and use both libraries on multiple other projects, so what could be blocking this?

[2019-07-05 18:34] jywarren commented on #791
For example, both are used on `plots2` via Yarn without issue. Your log in https://github.com/publiclab/leaflet-environmental-layers/issues/226 says it's a timeout issue! Whaaaat? 😕

Ah, but interesting... one is pulling from NPM, and the other from GitHub:

https://github.com/publiclab/mapknitter/blob/4756a3c898f8a1c468ffec5bdca2525fb7dbf02f/package.json#L21-L32

[2019-07-05 19:10] jywarren commented on #792
OK, i resolved one of the zoom issues, i think... i am now using `map.flyTo(coords, zoom)` instead of just `map.flyTo(coords)`

[2019-07-05 19:16] #400 closed

[2019-07-05 19:18] jywarren commented on #792
I'll test out once it goes live on stable... but I think we are at least close enough to launch!

[2019-07-05 19:22] jywarren opened #810 "inconsistencies with CodeCov rejections"
Possibly in relation to #747, I'm seeing that some PRs are blocked if they have no tests, which is fine, but that when adding tests,

1. we can't seem to get the Codecov reported coverage for the PR to change
2. CodeCov's info seems inconsistent; initially this PR (https://github.com/publiclab/mapknitter/pull/801) reflected a drop in coverage to the sessions controller,in CodeCov's comment. But af

[2019-07-05 19:55] icarito commented on #791
In unstable I got the logs for the app and the indicate yarn seems to have ran correctly:
[code]

[2019-07-05 19:56] jywarren commented on #810
I'm afraid this is blocking Mapknitter 3 launch, so I'm going to try to turn down the strictness of CodeCov blocking PRs for coverage... at least for now!

But I don't think it's really working properly -- for example, https://github.com/publiclab/mapknitter/pull/811/files really won't drop coverage by almost 5% -- that can't be right!

[2019-07-05 19:58] icarito commented on #791
But when I ran bash interactively I see /app/public/lib empty!

[2019-07-05 19:59] jywarren commented on #810
OK, so i turned `patch` off:

[code]

[2019-07-05 19:59] jywarren commented on #810
https://github.com/jywarren/mapknitter/commit/9b92a9090d299d0715219638e77d538c4a590ac5

[2019-07-05 20:15] jywarren commented on #810
OK, so for example, this doesn't make sense - we aren't substantially changing anything but an HTML fragment, but it's reporting a near 7% drop in coverage. I need to merge that PR to publish MapKnitter so I think i'll override with my admin privileges, because the 7% drop can't be correct.

https://codecov.io/gh/publiclab/mapknitter/compare/0d686d8073cd945b08ab7557ad93676be7ab58fc...e4268dc0efa03

[2019-07-05 21:26] jywarren opened #812 "Cache issues (bower cache) in configuration"
We just saw Stable fail to build due to a cache issue with this error: https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/193/console

[code]

Connecting this maybe to https://github.com/publiclab/mapknitter/pull/794 cc @alaxalves @icarito (we're working on a deployment to live right now)

[2019-07-06 11:41] kaustubh-nair commented on #810
This is really weird.. It makes sense that coverage shouldn't drop by two percent for https://github.com/publiclab/mapknitter/pull/801 I generated the reports locally to confirm this.

[2019-07-06 11:42] kaustubh-nair commented on #810
But I think we should turn on `patch` and put `project` off. Since patch will denote the test coverage of the pull request. And `project` is the one failing in those affected pull requests.

[2019-07-06 11:44] kaustubh-nair commented on #810
Some files' coverage drops to 0%. Maybe there is some corruption with the reports? Maybe we could try using a different generator, if the problem still persists

[2019-07-06 11:58] kaustubh-nair commented on #734
Okay weird. Annotations are working on stable now. If anyone else is facing this issue feel free to reopen this

[2019-07-06 11:58] #734 closed

[2019-07-06 18:29] alaxalves commented on #791
The repos are available via github, so I'm really not sure why I'm not able to install those either using package.json or in our docker image. Next thing I'll try to setup a fresh environment and install using our package.json locally. If it works then I'll know it's a problem with our docker environment, otherwise it's a problem with our package.json settings.

[2019-07-06 18:41] ViditChitkara commented on #772
Hey all, I'm working on integrating action cable on top of the rails 5 upgrade branch on mapknitter. Will have to make certain events in Leaflet.DistortableImage to handle all realtime changes when placing images.

Had a discussion with @jywarren @divyabaid16 @gauravano @jainaman224 [here](https://github.com/publiclab/mapknitter/issues/609). Any suggestions would be really helpful!! Let us know if

[2019-07-06 19:18] ViditChitkara commented on #772
Connecting https://github.com/publiclab/Leaflet.DistortableImage/issues/328 here as well. Any help here would be highly appreciated.
Thanks.

[2019-07-06 19:38] jywarren commented on #792
Hmm one variation of this error persists!

[2019-07-06 19:51] jywarren opened #814 "Display process bar from cloud exporter in regular exporter sidebar"
@divyabaid16 I wanted to see if you'd like to give this a try, building on the amazing work @sashadev-sky and others have done to make the cloud export function work.

In https://mapknitter.org/maps/pvdtest/, try holding shift, then dragging from lower right to upper left, and you should see images get selected. Then you should see a down arrow button appear in upper left; if you click it, it'll s

[2019-07-06 19:52] jywarren commented on #814
#413 #552 too!

[2019-07-07 08:56] IshaGupta18 commented on #772
Hey everyone!
I am working with simple-data-grapher in this Summer of Code and I am at a ver exciting stage now, as I am integrating the library with plots2.

I am doing all the integration locally and I haven't published a PR due to some reasons, but I will be doing it pretty soon.

I have also started to work on creating a "Per-User data" page, where the users can see some information regarding

[2019-07-07 20:06] cesswairimu commented on #760
We can remove the nodes addition from the seed file..updated this to be an FTO. Thanks all

[2019-07-08 15:49] jywarren commented on #810
I think before "patch" was failing, now "project" is. Can you try opening a
few PRs to test out more? It is weird! And just noting that not every PR
will have tests, like HTML or CSS changes might not. Often this falls in
the margin allowable like if we allow variances of up to 1% in coverage,
you know?

On Sat, Jul 6, 2019 at 7:45 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-07-08 15:49] jywarren commented on #734
I had to rework the asset pipeline ordering and nesting for the 3.0 launch
so maybe that fixed it?

On Sat, Jul 6, 2019 at 7:59 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-07-08 15:51] jywarren commented on #791
Thanks. This was a bit unsettling, I appreciate the help!

On Sat, Jul 6, 2019 at 2:30 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-07-08 16:54] gauravano commented on #772
Anyone interested in opening new check-in?

[2019-07-08 16:59] gauravano commented on #772
Also, we have Open Code Call tomorrow - http://publiclab.org/opencall [Reminder]

[2019-07-08 17:07] ananyaarun commented on #772
@gauravano I'll do it :)
When should I and in which repo ?

[2019-07-08 17:11] gauravano commented on #772
You can open check-in by tomorrow and in any repo of your choice. Also, please mention people mentioned https://github.com/publiclab/mapknitter/issues/772#issuecomment-508118284 and https://github.com/publiclab/mapknitter/issues/772#issuecomment-508118617as we don't want to disturb others. Also, feel free to add names if you recognize a new contributor or from https://code.publiclab.org. Thank you

[2019-07-08 17:13] ananyaarun commented on #772
Sure @gauravano !!
I'll open it in by tomorrow :smiley:

[2019-07-08 19:29] ananyaarun commented on #772
New check in up at LEL
https://github.com/publiclab/leaflet-environmental-layers/issues/231
Thanks everyone !!

[2019-07-08 23:26] jywarren commented on #703
Hi all, what's the latest with this? Thank you!

[2019-07-08 23:27] jywarren commented on #719
I believe we have to find a new place for the "anonymous" option - that is, perhaps prompt people to log in and explain the benefits, when they click the new "create a map" button on the new front page. @divyabaid16 would you be interested in taking this up?

[2019-07-08 23:29] jywarren commented on #36
Closing this as handled by new multi-image exporting!

[2019-07-08 23:29] #36 closed

[2019-07-08 23:30] jywarren opened #818 "Display instructions for new select-and-export workflow in the Export sidebar"
Related to #326 and work by @divyabaid16 and @sashadev-sky ! This will be great!

[2019-07-08 23:31] jywarren commented on #192
This is handled in the new multi-image export process -- see #818 - thanks!

[2019-07-08 23:31] #192 closed

[2019-07-08 23:31] jywarren commented on #119
Hm, no matter how you zoom, this image shows up like this --

![image](https://user-images.githubusercontent.com/24359/60849046-0666d380-a1b7-11e9-8aa0-90b47f6c0128.png)

It seems to be some kind of error!

[2019-07-09 04:20] #772 closed

[2019-07-09 05:35] divyabaid16 commented on #719
Yes @jywarren, I will do it now.
Thanks!

[2019-07-09 13:36] publiclab-mimi opened #822 "Issue with Featured Locations Maps (Zooming In)"
Hey guys! Loving the new MapKnitter updates and really impressed by the new homepage.

While exploring in Safari, I'm having issues with the "map of maps" for the featured locations. I'm not able to zoom in, whenever I click to zoom or use the +/- zoom buttons I'm taken from wherever I am into the middle of the ocean or another place that isn't the intended one. I can't recreate the issue in Chrom

[2019-07-09 14:15] alaxalves commented on #791
Great news, just solved this. I'll push my patch to https://github.com/publiclab/mapknitter/pull/803 and I'll explain there what was going on.

[2019-07-09 15:20] sagarpreet-chadha commented on #822
This is strange, yes it seems to be problem with Safari . I will have to go to the our code to make sure this is not happening on our end .
Can you help me by telling whether you clicked **Yes** to _**allow location access**_  the pop-up ?

Thanks!

[2019-07-09 15:26] sagarpreet-chadha commented on #822
And thank you for sharing this 😄 !

[2019-07-09 16:12] #548 closed

[2019-07-09 20:21] #314 closed

[2019-07-09 20:21] rexagod commented on #314
Closed in favor of #826.

[2019-07-09 20:30] #791 closed

[2019-07-09 22:23] jywarren commented on #822
This is linked to #792 most likely! Thanks, both of you -- and I think the `leaflet-fullhash` integration may be the issue?

[2019-07-09 23:47] jywarren opened #828 "Stable server error: docker-compose.yml is unsupported"
Hm, I just merged #827 and stable seems to have failed to build...

[code]

Actually it seems to have failed since #803 -- @alaxalves probably something small, would you mind taking a look? Thanks a lot!

https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/200/

[2019-07-10 00:10] jywarren commented on #818
Hi @divyabaid16 I added some docs to this page!

https://publiclab.org/wiki/mapknitter-exporting-your-map#Cloud+Exporting

![mapknitter-export](https://user-images.githubusercontent.com/24359/60930860-8e1b1380-a285-11e9-9761-3b0974d498c2.gif)

[2019-07-10 04:47] MargaretAN9 opened #829 "GDAL status w/sinatra app"
### What happened just before the problem occurred
Just a quick question on the use of GDAL in mapknitter:

The mapknitter info site says that GDAL is going to be replaced with a sinatra app,
" Component 3 is a set of calls to GDAL (Geospatial Data Abstraction Library) and ImageMagick, which perform the distortions, geolocations, and produce export products like GeoTiff, TMS, jpg, etc. These are b

[2019-07-10 05:41] kaustubh-nair opened #831 "Upgrade to Ruby 2.5"

[2019-07-10 14:19] #797 closed

[2019-07-10 15:59] jywarren commented on #84
Summing up for 3.1 release (I hope!) we are aiming for the option at map creation time to have a checkbox that says `Allow others to edit this map` which is **checked by default**. All existing maps will have this checked by default.

However the author will be able to check/uncheck the box for existing maps they own (meaning not for anonymous maps).

This'll mean both a new `access` column in the

[2019-07-10 16:11] jywarren commented on #822
OK, i think i found the issue! https://github.com/publiclab/mapknitter/pull/833

There could be a second bug hiding. But I hope this resolves most or all of this!

[2019-07-10 16:19] #792 closed

[2019-07-10 16:19] #822 closed

[2019-07-10 16:22] jywarren commented on #822
I think i got this! Can you test it out on https://mapknitter.org now?

[2019-07-10 16:27] jywarren opened #834 "Tweaks to # of maps shown on front page, per "region""
The "regions" code here fulfills requests from the front page map (and other types of requests):

https://github.com/publiclab/mapknitter/blob/4756a3c898f8a1c468ffec5bdca2525fb7dbf02f/app/controllers/maps_controller.rb#L136-L152

It's accessed in JSON via:

https://mapknitter.org/map/region/Gulf-Coast.json?minlon=16.017661392688755&minlat=12.539611262767895&maxlon=158.22469264268878&maxlat=67.1980

[2019-07-10 16:34] jywarren commented on #834
There could be potential for trimming the results for efficiency too, but let's think about that later!

`{"id":67,"name":"qalandia","lat":"31.8704553147","lon":"35.2206727512","version":1,"password":"","styles":"body: {\n\tfillStyle: \"white\",\n\tlineWidth: 0,\n\tpattern: \"/images/brown-paper.jpg\",\n\tmenu: {\n\t\t\"Edit GSS\": Cartagen.show_gss_editor,\n\t\t\"Download Image\": Cartagen.redire

[2019-07-10 16:42] jywarren commented on #807
Noting connection to https://github.com/publiclab/mapknitter/issues/834 -- the "regions" route there seems like it could be modified to include a `tag` parameter to filter for maps with a tag!

[2019-07-10 21:21] jywarren commented on #829
Hi! The sinatra app is in production now - see
https://publiclab.org/wiki/mapknitter-exporting-your-map#Cloud+Exporting

https://github.com/publiclab/mapknitter-exporter-sinatra/

It's based around a gem which wraps GDAL:
https://github.com/publiclab/mapknitter-exporter

Hope that helps!

On Wed, Jul 10, 2019 at 12:48 AM welcome[bot] <notifications@github.com>
wrote:

[2019-07-10 21:23] #796 closed

[2019-07-11 03:01] jywarren opened #835 "Allow CORS in frames on publiclab.org"
I think we need to enable this explicitly in rails 4!

This is affecting maps embedded on other sites using iframes, like any in https://publiclab.org/tag/mapknitter

https://stackoverflow.com/questions/18445782/how-to-override-x-frame-options-for-a-controller-or-action-in-rails-4#18445783

[2019-07-11 03:01] jywarren commented on #835
cc @icarito

[2019-07-11 06:04] tollhoff commented on #760
Hi,
i'd like to clain this issue and start working on it, if it's not claimed by someone else.

[2019-07-11 06:05] kaustubh-nair commented on #760
Sure go ahead @tollhoff!

[2019-07-11 06:29] tollhoff commented on #760
Thanks a lot @kaustubh-nair!
I'm done with the changes!

[2019-07-11 11:05] cesswairimu commented on #158
@jywarren am torn between having this on the `view map` page or the `show` page which one do you feel is best? Thanks

[2019-07-11 11:53] jywarren commented on #835
Hmm. https://stackoverflow.com/questions/10205192/x-frame-options-allow-from-multiple-domains

[2019-07-11 11:56] jywarren commented on #835
https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2019-07-11 15:44] alaxalves commented on #732
@icarito Can you give us input on this? Where can I find the Jenkins scripts? Do I have access to those?

[2019-07-11 17:20] jywarren opened #842 "Gallery page optimization and "featured" mismatch"
The new gallery page is great: https://mapknitter.org/gallery

However, i noticed it seems to be listing non-featured maps:

![image](https://user-images.githubusercontent.com/24359/61071094-380db380-a3de-11e9-96f0-19a45a9bb94b.png)

Also, it takes a long time to load, so I wonder if it needs some query optimization? Many queries take 10-20 seconds:

![image](https://user-images.githubusercontent.

[2019-07-11 17:24] jywarren commented on #842
OK, tried this: 005d785d453bf965d254ddb3e96935c031543f49

[2019-07-11 17:24] jywarren commented on #842
@cesswairimu would you be able to take a look at why it says "featured" but it seems to be showing all maps? Thank you!

[2019-07-11 17:42] cesswairimu commented on #842
Hey Jeff, sure I believe we are still using this method https://github.com/publiclab/mapknitter/blob/main/app/models/map.rb#L86-L91 so it will show the maps that have atleast one image. I guess we need to update this to use the "featured" tag that you added?

[2019-07-11 17:53] cesswairimu commented on #842
here is the helper method https://github.com/publiclab/mapknitter/blob/main/app/helpers/front_ui_helper.rb#L10-L13. If this seems right let me know and I will fix it. Thanks

[2019-07-11 18:22] jywarren commented on #842
Hm. So would the current query be moved to the "All" tab, or maybe the word
"featured" is now being used for 2 things -- one for maps with at least one
image, and 2 for maps with the "featured" tag? So maybe... we need to think
on how to disambiguate. What do you think? Do I understand correctly?
Thanks, Cess!

On Thu, Jul 11, 2019 at 1:53 PM Cess <notifications@github.com> wrote:

[2019-07-11 18:25] jywarren commented on #158
I think the view page would be great! Thanks, Cess!

On Thu, Jul 11, 2019 at 7:05 AM Cess <notifications@github.com> wrote:

[2019-07-11 18:26] cesswairimu commented on #842
Yeah that's correct, The "all" tab currently is showing all the maps including those with no images yet

[2019-07-11 18:54] #110 closed

[2019-07-11 18:55] jywarren commented on #835
OK, did this for publiclab.org in #839, still need to for other sites!

[2019-07-12 14:20] alaxalves opened #845 "[ INFO ] - Production log of Mapknitter Unstable"
@icarito Where can I find the available log of: http://mapknitter-unstable.laboratoriopublico.org/ I have pushed Mapknitter's rails 5.2.3 upgrade (available on `development` branch) to Mapknitter's `unstable` branch. Locally everything is working fine(I have even improved the recipes for 'redeploy-container' Makefile), but when I get to http://mapknitter-unstable.laboratoriopublico.org/ I see ther

[2019-07-12 16:48] rarrunategu1 opened #846 "Scripts with fontawesome not working"
### What happened just before the problem occurred
There are two sections this is not working in:
![image](https://user-images.githubusercontent.com/29240939/61144204-40c7bd80-a4a2-11e9-8c43-85327261e5b2.png)
It displays the spinner but it should also show a green checked circle if ok or a red x circle if there was an error.  None of them show.
![image](https://user-images.githubusercontent.com/29

[2019-07-13 14:53] gauravano commented on #532
Hey @divyabaid16, do you think, we can close this one as we are holding discussions about it in https://github.com/publiclab/mapknitter/issues/609?

[2019-07-13 14:59] gauravano commented on #533
Hi everyone, there are lot of small issues to fix. One can see the list of issues at https://codeclimate.com/github/publiclab/mapknitter/issues.

Most of them are very easy. And, with each issue, you'll see the instructions about how to solve that issue and also the line # and file where change has to be made. So, if you're a first-timer, go ahead, grab a issue and raise a PR.

If you're a contrib

[2019-07-13 15:18] gauravano commented on #551
Hey @cesswairimu, how about breaking up this task? You can create small issues for every endpoint.  Would be interesting try for everyone new to testing :sweat_smile:

[2019-07-13 15:29] gauravano commented on #566
Closing this as we have improved the UI:

![Screenshot from 2019-07-13 20-58-41](https://user-images.githubusercontent.com/20878070/61173446-187ab480-a5b1-11e9-8721-8c7db513a427.png)

[2019-07-13 15:29] #566 closed

[2019-07-13 15:32] gauravano commented on #567
Closing this as this issue seems to be solved:

![Screenshot from 2019-07-13 21-01-01](https://user-images.githubusercontent.com/20878070/61173479-75766a80-a5b1-11e9-9bf3-35472d8270fb.png)

Thanks!

[2019-07-13 15:32] #567 closed

[2019-07-13 15:42] divyabaid16 commented on #532
Ya I just closed it :)
Thanks!

[2019-07-13 15:42] #532 closed

[2019-07-14 07:09] #760 closed

[2019-07-14 15:52] gauravano commented on #403
Hey @jywarren, can we close this issue now?

[2019-07-14 17:15] ViditChitkara commented on #609
Left some comments on #805 . Any help here would be appreciated.

[2019-07-15 02:25] jywarren commented on #682
Hi @divyabaid16, looking ahead to this - I think it'll make some really interesting things possible, like opening an image in image-sequencer and saving the output as a new version! That'll let people fix lens distortion (the fisheye effect) or do brightness or contrast fixes on their images. What do you think of this idea?

[2019-07-15 02:26] jywarren commented on #682
Like the ndvi button right now doesn't save at all. It just replaces images temporarily. But a versioning system could actually save the output but allow reverting it too!

[2019-07-15 06:13] divyabaid16 commented on #682
I was looking into this and found that we can also use the "paper_trail" gem to track versions of records.
https://github.com/paper-trail-gem/paper_trail
This is different from that used in plots2.
What are your views in this? @jywarren @gauravano

[2019-07-15 08:27] it-mikhail commented on #687
Hi, Can I add a label?)

[2019-07-15 11:35] sashadev-sky commented on #687
hi @it-mikhail , sure thank you! this is reassigned to @it-mikhail as it seemed to be abandonded

[2019-07-15 13:37] jywarren commented on #835
So,

* https://stackoverflow.com/questions/10205192/x-frame-options-allow-from-multiple-domains
* https://stackoverflow.com/questions/18445782/how-to-override-x-frame-options-for-a-controller-or-action-in-rails-4#18445783

[2019-07-15 13:39] jywarren commented on #835
OK, tried the controller
[code]

We'll merge soon!

[2019-07-15 13:46] #835 closed

[2019-07-15 14:37] alaxalves opened #850 "Change docker yml version"
### What happened just before the problem occurred

Our docker-compose.yml version defined in https://github.com/publiclab/mapknitter/blob/main/docker-compose.yml#L1 works properly, but currently not supported by Jenkins. All we have to do is change from '3.5' to '3.3' and Jenkins will work. I have hotfixed `unstable` branch, but we need this in `main` branch as well.

### Relevant URLs

https://j

[2019-07-15 14:41] devevignesh commented on #850
I would like to claim this.

[2019-07-15 16:02] jywarren commented on #682
hm, cool! Great find! Do you think it's pretty simple to use and integrate?
If so, i think that could work!

On Mon, Jul 15, 2019 at 2:14 AM Divya Baid <notifications@github.com> wrote:

[2019-07-15 16:27] ViditChitkara opened #851 "Weekly community Check-In #29 - Keep Reinventing"
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-07-15 16:29] ViditChitkara commented on #851
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary

[2019-07-15 16:30] ViditChitkara commented on #851
@aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @michelelong @cryptoclidus @mohamed-elalem @konolga

[2019-07-15 17:18] alaxalves commented on #850
Open the PR then attach with this issue @devevignesh

[2019-07-15 17:50] gauravano commented on #682
Paper_trail is good but let's consider all the cases we need to handle. If paper_trail can do it, let's use it. Otherwise, we can just do it on our own.

[2019-07-15 18:00] gauravano commented on #682
If we want to implement this https://github.com/publiclab/mapknitter/issues/682#issuecomment-511258238, then we need to maintain version of warpable not nodes as hinted [here](https://github.com/publiclab/mapknitter/issues/682#issuecomment-500954259).

Also, as warpable has all the essential attributes:
![Screenshot from 2019-07-15 23-22-05](https://user-images.githubusercontent.com/20878070/61237

[2019-07-15 18:24] devevignesh commented on #850
@alaxalves Created [PR](https://github.com/publiclab/mapknitter/pull/852). Thanks

[2019-07-15 21:44] #687 closed

[2019-07-15 22:39] sashadev-sky opened #855 "2 leaflet easybutton dependencies in `package.json`"
See first and last:

https://github.com/publiclab/mapknitter/blob/7954bf153540162845fbdf6f9e6c17a829e6512b/package.json#L8-L29

Not sure if this was added on purpose but I don't think we need the first one! Opening a PR

[2019-07-16 10:41] kaustubh-nair opened #857 "Bug reporting on Rails 5 upgrade"
- [ ] Nothing happens when clicking on login ( Issue only on `unstable`. Works fine locally )
- [ ] Images not placed. Place an image on map and hit refresh
- [ ] Map on homepage does not load ( Only on `unstable` )
- [ ] Google maps api not loading while creating maps ( Only on `unstable` )
- [ ] Recaptcha error: `ERROR for site owner: Invalid site key`

[2019-07-16 10:51] kaustubh-nair commented on #857
I think most of these have something to do with yarn packages. I see a lot of reference errors on console
@alaxalves Any idea why packages are not being installed?

[2019-07-16 12:18] alaxalves commented on #857
@kaustubh-nair
https://github.com/publiclab/mapknitter/pull/803

[2019-07-16 12:18] alaxalves commented on #857
I'm working on Jenkins environment.

[2019-07-16 15:18] alaxalves commented on #851
Hey guys,
Currently I'm helping to reinvent a lot of things on Mapknitter :smile: :smile: :smile:. Since I'm working on rails upgrade and such, I've been busy reinventing the entire code to newer patterns. But right now I've been working on reinventing Jenkins setup for Mapknitter's unstable.

**FTO's created:**

- https://github.com/publiclab/mapknitter/issues/850

**Progress for your project:**

[2019-07-16 15:59] jywarren opened #859 "Some geolocated addresses don't have any shown maps"
I opened MapKnitter in Detroit, MI, USA, and there was only 1-2 maps in the default view, so ideally we'd want to zoom out. I can't decide if we should set the default zoom further out, or if that'd be annoying for areas with LOTS of maps... should we do it dynamically, i.e. if there are few maps, we zoom out until there are more? Or should we just set a lower zoom level for the initial zoom? @ces

[2019-07-16 17:21] gowtham5699 commented on #688
Can you assign me? I'd like to work on it.

[2019-07-16 17:48] cesswairimu commented on #859
I think doing it dynamically would be better but I think that would probably increase the map load as already is, if so, maybe  a lower zoom level would be safe ?

[2019-07-16 22:51] sashadev-sky commented on #688
@gowtham5699 all yours!! Thank you :)

[2019-07-16 23:04] sashadev-sky commented on #788
closing! this is fixed!

[2019-07-16 23:04] #788 closed

[2019-07-16 23:06] sashadev-sky opened #860 "Update L.Control.Layers initializer to class factory syntax"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-07-16 23:07] sashadev-sky commented on #860
@jywarren my favorite FTO ever 😂

[2019-07-17 02:47] gowtham5699 commented on #688
@sashadev-sky  Thank you so much!!! I learned how to push commits to github.
I tried to push it yesterday but it was unassigned, so didn't have the access.
Now its done.

It would be so kind of you, if you can walk me through what i can do next.

[2019-07-17 16:06] cesswairimu commented on #158
After https://github.com/publiclab/mapknitter/pull/862 is ready this be so easy to implement. Thanks to @divyabaid16

[2019-07-17 19:18] #855 closed

[2019-07-18 01:29] sashadev-sky commented on #688
@gowtham5699 the labels don't have any effect on permissions their just for organization! I don't see any PRs from you, so i'll paste the instructions I usually provide for making a PR:

1) Fork the main repo from the main page https://github.com/publiclab/mapknitter, otherwise you'll only get anonymous credit
2) clone your forked version by clicking the "clone or download" button - copy paste the

[2019-07-18 08:00] gowtham5699 commented on #688
@sashadev-sky  PR created. Please Review.

[2019-07-18 11:45] sashadev-sky commented on #690
@kaustubh-nair font awesome has been removed from ldi! Is this issue fixed btw?

[2019-07-18 17:38] kaustubh-nair commented on #690
We're using a new signup popup now right? I think @divyabaid16 implemented it?
Anyway I think the fontawesome issue was solved in Rails 4 upgrade

[2019-07-18 23:34] #688 closed

[2019-07-19 02:06] OzunaEdd commented on #860
Can you Assign This to me? if it has not been assign yet

[2019-07-19 02:19] sashadev-sky commented on #860
@OzunaEdd Assigned :)

[2019-07-19 04:03] OzunaEdd commented on #860
@sashadev-sky I updated but one of the test failed can you please tell me why and how can i fix it ? and if there is anything else I need to fix before it get merged ?

[2019-07-19 04:59] kaustubh-nair commented on #810
Reopening because we're still facing this in https://github.com/publiclab/mapknitter/pull/867
There's a possibility we're experiencing race conditions since we've got tests for models in both functional and unit tests, but I've got no idea how to verify that. https://github.com/colszowka/simplecov/issues/559

[2019-07-19 05:01] kaustubh-nair commented on #810
@alaxalves @publiclab/mapknitter-reviewers Need some help with this issue. Haven't found anything to solve it after a lot of trying
FYI this issue happens only on travis, and not locally. So there's a strong possibility it's related to splitting the tests and codecov is not properly merge those partial reports

[2019-07-19 14:26] jywarren opened #868 "Map images in gallery are missing URLs"
It looks like something went wrong with the images on the gallery page: https://mapknitter.org/gallery

[code]

![image](https://user-images.githubusercontent.com/24359/61542472-a0c4e380-aa0f-11e9-8ca8-5bdb853fa51f.png)

@cesswairimu do you have a moment to look at that? Otherwise I can dig into it. Thanks! Maybe we should write an integration test for it...

[2019-07-19 14:31] cesswairimu commented on #868
Hey @jywarren yeah I noticed that...I fixed it in https://github.com/publiclab/mapknitter/pull/777/commits/f56041f489c2cd2843bace22be40e77348d48643 but I can create a PR with that commit if you feel the view only page is not ready yet. Thanks

[2019-07-19 16:07] jywarren commented on #868
Oh gotcha - thanks, Cess! I'll catch up on there and we'll see, but I think
it's not hyper urgent! Thanks.

On Fri, Jul 19, 2019 at 10:32 AM Cess <notifications@github.com> wrote:

[2019-07-19 16:10] cesswairimu commented on #868
Cool, making a pr

[2019-07-19 16:23] jywarren commented on #868
oh sorry, i meant we can wait for your view map PR, i think. Sorry, have
been behind due to this conference!

On Fri, Jul 19, 2019 at 12:10 PM Cess <notifications@github.com> wrote:

[2019-07-19 16:31] cesswairimu commented on #868
No worries @jywarren I understand

[2019-07-19 16:32] cesswairimu commented on #868
Aaah! I misread that sorry

[2019-07-19 16:59] OzunaEdd commented on #860
@sashadev-sky I did everything you told me too and it still failed one check it out.

[2019-07-19 18:34] divyabaid16 opened #871 "Bug while entering location while creating a map"
**Description**

I found out a small bug. Please find the attached GIF.
There is some scrolling problem to the location text box.

![Peek 2019-07-19 23-30](https://user-images.githubusercontent.com/32747809/61557371-b1ae3d00-aa81-11e9-8c66-747a87be4775.gif)

Thanks!

[2019-07-19 23:07] jywarren commented on #859
Yeah, ok, let's just do a quick fix of lower zoom level!

On Tue, Jul 16, 2019 at 1:49 PM Cess <notifications@github.com> wrote:

[2019-07-20 15:29] MargaretAN9 opened #872 "Maps not displaying when 'All maps' is selected"
### What happened just before the problem occurred

Mapps gallery dowws not show thumbnail images or displays default picture of PL balloon kit
### Relevant URLs
https://mapknitter.org/gallery
https://
![image](https://user-images.githubusercontent.com/37722313/61580429-3def4d00-aae0-11e9-9120-68b7125ce87c.png)

### PublicLab.org username

MaggPi
### Browser, version, and operating system

Windows

[2019-07-21 19:39] cesswairimu commented on #668
I believe we are doing great with rails 4. closing this now. Thanks all

[2019-07-21 19:39] #668 closed

[2019-07-22 04:43] divyabaid16 opened #874 "In README.md add how to run test on a particular file"
Currently, in README.md it is shown how to test the whole code.
Method to perform the test on a particular file must be added.

Thanks!

[2019-07-22 20:01] cesswairimu commented on #851
Moved to https://github.com/publiclab/community-toolbox/issues/237. Thanks all

[2019-07-22 20:01] #851 closed

[2019-07-22 20:03] gauravano commented on #851
Reinventing is a great word with a lot of meanings. It could be doing something new using existing technology or maybe doing something better. How I started seeing it is - building something better using existing methods, but with the efficiency in mind.

I think, considering edge cases, tests, complexity, etc for each PR makes it a nice adventure. And, learning new thing never bores you. So, main

[2019-07-23 10:17] kaustubh-nair commented on #860
I think he might be referring to the failing codecov check? @OzunaEdd ?
That can be ignored, we're facing some inconsistencies with it

[2019-07-23 10:53] #860 closed

[2019-07-23 10:55] sashadev-sky commented on #860
@kaustubh-nair @OzunaEdd ok! I thought it could have been due to something else during the commit process - but I merged the other PR!! Thank you both 🎉

[2019-07-23 14:28] cesswairimu commented on #750
Hi @divyabaid16 I tried to replicate this seems like its fixed...could u try it on your end?

[2019-07-24 05:58] kaustubh-nair opened #881 "Improving newcomer experience"
I've noticed recently that Mapknitter lacks contribution from newcomers. Over the past few months that I've worked on this repo, I haven't noticed anyone new contributing actively even though plots2 has a ton of newcomers. I presumed it could be due to lack of awareness about the existence of mapknitter, but that is not true because all our FTOs are taken up by a lot of newcomers.
I realized what

[2019-07-24 15:30] gauravano commented on #881
Sure @kaustubh-nair, we all can try to make issues as easy as possible by providing detailed solution. If you have any other Outreach strategy in mind, feel free to mention.

[2019-07-24 21:07] #850 closed

[2019-07-24 21:40] jywarren commented on #881
Agreed, this would be really nice! @divyabaid16 has been opening a variety of issues. Maybe some of those can be converted into first-timers-only issues?

Thank you for thinking of this!

[2019-07-25 09:38] divyabaid16 commented on #881
And yes, maybe we can also create alternate issues, like first, we may create a FTO, with proper steps to include first-timers and then second time, we may just create a ```help-wanted``` issue, as simple as FTO but without the detailed steps to follow which would give a new contributor a chance to explore the codebase and solve it themselves.
Thanks!

[2019-07-25 22:35] jywarren commented on #872
I think @cesswairimu has fixed this one in the latest main branch? Thanks for reporting!

[2019-07-26 00:34] alaxalves commented on #874
We'll get this better executed when we get Rails 5 on main. In Rails 5, all we gotta do is `rails test the/path/of/the/test.rb`

[2019-07-26 04:32] sashadev-sky opened #883 "Leaflet listed twice on the MapKnitter about page"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-07-26 13:24] sashadev-sky opened #884 "(Priority) Cannot make a new map in localhost"
When creating a new map, the location doesn't load as you type it in.
- If you submit it anyway, you get an error page,
-  if you update the lat lngs manually then submit it, it goes through but the map is blank (gray) and you cant and you get an error when trying to upload images to it
- Ive been seeing this issue for maybe over a week now. I think it comes and goes? Not sure.

[2019-07-26 13:26] sashadev-sky commented on #884
@jywarren @alaxalves @gauravano @kaustubh-nair

[2019-07-26 13:27] sashadev-sky commented on #884
@alaxalves @kaustubh-nair I am pretty sure this is related to the fact that the map doesnt show on unstable. similar error messages and seeing the grey map:

![image](https://user-images.githubusercontent.com/41092741/61954785-9bbfe100-af87-11e9-95be-1c6e90fae76a.png)

[2019-07-26 15:41] robbedec commented on #883
Hi, can I take this?

[2019-07-26 16:39] gauravano commented on #884
Hi @sashadev-sky,  I tried to reproduce the issue but wasn't successful. I tried these cases:
1. Pulled master and tried for logged in and w/o user
2. Ran `yarn install` and then tried for both users

In all the cases, the Location autocomplete is working for me :confused:

[2019-07-26 16:47] jywarren commented on #326
Hi, @divyabaid16 is this useful to look over? Thanks!

[2019-07-26 17:37] #834 closed

[2019-07-26 18:09] kaustubh-nair commented on #884
@sashadev-sky which branch is this on? I just checked it works fine on `main`

[2019-07-26 18:15] #403 closed

[2019-07-26 18:38] #859 closed

[2019-07-27 02:03] #719 closed

[2019-07-27 02:09] divyabaid16 commented on #326
Yes, I will look into this. Thanks!

[2019-07-27 04:15] shivam-51 commented on #883
I would like to claim this issue .!!

[2019-07-27 11:11] sagarpreet-chadha commented on #883
Yes please go ahead :)

On Saturday, July 27, 2019, shivam kumar singh <notifications@github.com>
wrote:

[2019-07-27 11:32] ManuPoissonQuinton opened #886 "Can't creat map"
### What happened just before the problem occurred
Nothing. When cliking "create map" after filling the formulaire it reports to error page

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-07-27 14:15] sashadev-sky commented on #884
Weird it is still not working for me! I also just saw a user post this issue : #886

[2019-07-27 14:17] sashadev-sky commented on #884
Not working in safari or chrome. I recently (yesterday) nuked the node_modules cache

[2019-07-27 14:18] sashadev-sky commented on #884
perhaps clearing your cache will reproduce it?

[2019-07-27 14:19] sashadev-sky commented on #886
hey! can you attach a screenshot of the error page please

[2019-07-27 14:22] gauravano commented on #884
Hmm. I tried in chrome. Will try in Safari and also the cache case.

[2019-07-27 14:36] jywarren commented on #884
Are you logged in or not logged in? (hiiii!)

On Sat, Jul 27, 2019 at 10:22 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-07-27 14:38] sashadev-sky commented on #884
not logged in!

[2019-07-27 14:38] sashadev-sky commented on #884
also does not work when logged in

[2019-07-27 15:16] kaustubh-nair commented on #884
That's weird, I tried deleting cache and doing it in chrome and it works for me
I even tried it on the live site, it works there as well. :/

[2019-07-27 15:16] kaustubh-nair commented on #884
Did you try deleting `public/lib` and `yarn.lock` and reinstalling assets?

[2019-07-27 16:15] ManuPoissonQuinton commented on #886
bug has been fixed. tks

Le sam. 27 juil. 2019 à 16:19, Sasha Boginsky <notifications@github.com> a
écrit :

--
*Emmanuel Poisson-Quinton*
Mobile : +33 (0)6 50 66 70 35
* > epoissonq*

[2019-07-27 16:22] gauravano commented on #884
I even tried it on the live site, it works there as well. :/

Same. Also, tried the live site on safari. Working.

[2019-07-27 16:24] sashadev-sky commented on #884
so weird! I have tried:
[code]
then opening in Firefox which I never use and same results. another notable thing is that the sidebar toggle does not work again, which i have had issues with before.

[2019-07-27 16:27] gauravano commented on #886
Hey @ManuPoissonQuinton, is it automatically fixed when you tried again?

[2019-07-27 16:27] gauravano commented on #886
Or, you switched browser or something?

[2019-07-27 16:35] ManuPoissonQuinton commented on #886
automatically fixec, same browser (firefox)
i tested it and it works prefectly https://mapknitter.org/maps/atelierz

Le sam. 27 juil. 2019 à 18:27, Gaurav Sachdeva <notifications@github.com> a
écrit :

--
*Emmanuel Poisson-Quinton*
Mobile : +33 (0)6 50 66 70 35
* > epoissonq*

[2019-07-27 16:39] sashadev-sky commented on #884
Sorry everyone I fixed!!!! @jywarren sorry for interrupting the vaca 😿right before bed last night I had bumped the LDI package and completely forgot and it was breaking everytinhg

[2019-07-27 16:41] gauravano commented on #886
Ok. Thanks! Closing this issue then.

[2019-07-27 16:41] #886 closed

[2019-07-27 16:42] ManuPoissonQuinton commented on #886
top

Le sam. 27 juil. 2019 à 18:41, Gaurav Sachdeva <notifications@github.com> a
écrit :

--
*Emmanuel Poisson-Quinton*
Mobile : +33 (0)6 50 66 70 35
* > epoissonq*

[2019-07-27 16:50] gauravano commented on #884
No issue @sashadev-sky. Glad everything worked out :+1:

[2019-07-27 20:41] sashadev-sky commented on #884
Not gonna lie 4 hours later am starting realize it didnt work out haha

[2019-07-27 20:41] sashadev-sky commented on #884
It keeps telling me classes I mention from LDI are undefined, like L.distortableImageOverlay and L.EditAction

[2019-07-27 20:56] shivam-51 commented on #883
Hey there . I submitted my first pull request hope that's satisfactory. Thanks for a easy beginning . :)

[2019-07-28 01:31] sashadev-sky commented on #883
closed via #887

[2019-07-28 01:31] #883 closed

[2019-07-28 01:47] sashadev-sky opened #888 "Update initializers to class factory syntax"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contrib

[2019-07-28 01:54] sashadev-sky opened #889 "Update initializers to class factory syntax ||"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-07-28 03:03] shivam-51 commented on #889
I would like to claim this issue   :)

[2019-07-28 06:02] gauravano commented on #884
Hmm. If you want, I can try a new installation in Mac OS. Do you think, it would help?

[2019-07-28 07:49] gauravano commented on #874
Added in https://github.com/publiclab/mapknitter/pull/876. But, I think one of the command added in PR is rails 5 based. We would be merging rails 5 branch very soon right? @alaxalves

[2019-07-28 07:49] #874 closed

[2019-07-28 09:14] divyabaid16 commented on #750
Yes, it is fixed so closing it. Sorry for the delay.
Thanks!

[2019-07-28 09:14] #750 closed

[2019-07-28 10:24] sashadev-sky commented on #889
@shivam-51 you did a first timer already, try to find a help wanted issue or maybe open an FTO for another newcomer :)

[2019-07-29 09:28] flyside commented on #888
Hellow, I would like to work on this.

[2019-07-29 11:08] sashadev-sky commented on #888
@flyside go ahead thank you!

[2019-07-30 03:50] alaxalves commented on #602
Skipped straight from Rails 4.2.11 to Rails 5.2.3

[2019-07-30 03:50] #602 closed

[2019-07-30 04:48] sashadev-sky commented on #884
@gauravano I just uploaded a PR to fix it. I am so confused how this is working for everyone else. We use two variables - `window.mapKnitter` and `window.mapknitter` inconsistently throughout the repo - even within the same file.

The only one we actually define is here:
https://github.com/publiclab/mapknitter/blob/3ca0b08749d31d9f354518ae29ece4690a1248ca/app/assets/javascripts/mapknitter/Map.js#L

[2019-07-30 18:39] ViditChitkara opened #893 "Enable/disable editing functionality needed for collaborative image placement"
A follow up of #805 , we'll require an enable/disable button which will have the capability to enable or disable synchronous editing with multiple users on a map. This button should only be shown to the author somewhere on the sidebar:-
<img width="677" alt="Screenshot 2019-07-30 at 11 52 45 PM" src="https://user-images.githubusercontent.com/22616017/62154816-2bb5b000-b325-11e9-96b2-c8b2f185fe0c.p

[2019-07-30 18:39] ViditChitkara commented on #893
@jywarren @sashadev-sky what do you think?

[2019-07-30 18:40] ViditChitkara commented on #893
related issue: #804

[2019-07-30 23:16] sashadev-sky commented on #893
Yeah I've been visualizing like a translucent kind of lock icon on the map in a corner let me try to photoshop a pic real quick

[2019-07-31 01:19] sashadev-sky commented on #893
The lock idea looked weird :/ The only reasonable thing I came up with is:

![Screen Shot 2019-07-30 at 8 52 06 PM_edited-1](https://user-images.githubusercontent.com/41092741/62176243-b5a64e80-b30e-11e9-897e-ddca35c2e215.jpg)

We could remove everything under "license" and write "you are viewing this map in live editing mode". And the the admin or map owner can click on the green dot to turn off

[2019-07-31 12:30] sashadev-sky commented on #449
Closing this one! It is outdated now because we don't link to the microscope kit at all anymore. Thank you!

[2019-07-31 12:30] #449 closed

[2019-07-31 12:33] sashadev-sky commented on #871
Also the independence, KS automatically popping up is a bug!!

[2019-08-01 05:25] ViditChitkara commented on #893
That makes sense. I think we should also remove the upload, post, download etc. Functionality as well--actually everything where a user might be able to edit the map. What do you think?

[2019-08-01 18:44] divyabaid16 opened #897 "Repeated Word in Statistics page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-01 18:54] divyabaid16 opened #898 "Map-bars in display inline"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-01 18:58] divyabaid16 opened #899 "Display Image bars in a single line"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-02 03:12] Saiffer commented on #899
Can I do it? Thank you!

[2019-08-02 03:28] divyabaid16 commented on #899
Ya, go on. Do let me know if you require any help.
Thanks!

[2019-08-02 06:19] divyabaid16 opened #901 "Sort images in sidebar without refresh"
**Description**
Sort the images in the sidebar without refreshing the page, i.e by using AJAX Request.

[2019-08-02 06:34] divyabaid16 opened #903 "View of all images for a given region in maps"
**Description**
- [ ] UI Planning, where and how to display. (Can take help from the gallery template)
- [ ] Implementation

Maybe I can start with the implementation part first and UI can be discussed simultaneously.

Thanks!

[2019-08-02 08:45] #807 closed

[2019-08-02 09:00] ViditChitkara commented on #893
@jywarren any ideas on this? Should we make it a first-timer-only issue?

[2019-08-02 10:59] jywarren commented on #857
Linking this back to #891, are we still looking into these? Thank you!

[2019-08-02 14:12] zenon21 commented on #898
Hi, can I work on this?

[2019-08-02 14:15] sriddbs commented on #889
Hello, I am a first-timer and would like to claim this issue.

[2019-08-02 15:06] alaxalves commented on #857
Everything we have reported here have been fixed, I have forgot to comment here. Sorry about that. What's pushing us back to merge Rails-5 is the Map Creation issue that popped up on main.

[2019-08-02 15:06] #857 closed

[2019-08-02 15:37] divyabaid16 commented on #898
Yes go on. And don't hesitate to ask if stuck. : balloon
Thanks!

[2019-08-02 21:21] dimkov41 commented on #899
Hello. I'm interested in this issue. Can I claim it ? Thanks in advance.

[2019-08-03 06:41] divyabaid16 commented on #899
Hi @dimkov41 this issue is already claimed by @Saiffer
So would you like trying out something else like #897
Thanks!

[2019-08-03 11:03] vpaez commented on #897
Hi, can I work on this?

[2019-08-03 13:57] gauravano commented on #903
Hey @jywarren, for this problem, we want to create a new page for showing all images or want to add a section on the existing page?

Also, if you could share a rough sketch, that would be great.

We would be utilizing map location for showing images, that cool right?

[2019-08-03 14:42] jywarren commented on #903
Hi! Which item was this from originally, can we link back? It may be the one where we wanted a layer to be made available that shows (in the new view only page) all other images regardless of map, with lower opacity, behind the current map. This may also be useful on the edit map page but either way it could be done as a read only map layer.

Would it make sense to do this within Leaflet Environme

[2019-08-03 20:24] gauravano commented on #903
Hmm, could it be something like images on map markers type of view?

[2019-08-03 20:46] #682 closed

[2019-08-03 20:59] gauravano commented on #903
Image a map with the markers. And, # of images written on the marker head. And, clicking on the marker will open the images page for that location?

[2019-08-04 09:36] ananyaarun commented on #903
In LEL at the moment we just display pop up markers for each layer selected.
There are no specific images for particular regions.
We could do this in LEL as well but I guess UI would be a question.

[2019-08-04 12:35] metonymic-smokey commented on #639
Hey @divyabaid16 what's the status of this issue at present?
If no one else is working on it, I'd like to take it on as my first contribution to mapknitter!

[2019-08-04 13:17] divyabaid16 commented on #639
Since the user hasn't been active for more than a month, you can work on it. We would be glad to help you out.
Thanks!

[2019-08-05 05:49] metonymic-smokey commented on #639
Cool!
Will get started. Currently trying to get the dev environment working on my system.

[2019-08-05 14:33] sriddbs commented on #889
Hi, what's the status of this issue?? Can I claim?

[2019-08-06 14:57] sashadev-sky commented on #889
@sriddbs apologies for the late reply! Assigning it to you right now :)

[2019-08-07 03:50] #884 closed

[2019-08-07 05:06] sashadev-sky commented on #810
@kaustubh-nair this is a complete shot in the dark but remember this custom rake task file mapknitter used to use to run its tests: https://github.com/publiclab/mapknitter/blob/main/lib/tasks/test_unit.rake

Perhaps you can use it to verify if the problem is a race condition - by running with Travis the different configurations it offers?

I remember it helped uncover a previous race condition iss

[2019-08-07 12:29] metonymic-smokey commented on #639
@divyabaid16 I had a few small queries.
I'm working using the Codenvy environment for now.
1. I'm not able to locate the image you've linked in this answer. Where exactly is it located so I can re create this issue?
2.If I understood right, I have to change to a pointer, with the already existing tooltip text, shown when the pointer hovers over this image?

[2019-08-07 15:15] metonymic-smokey commented on #307
@benfanderson @kaustubh-nair I've been encountering the same issue on my local system too(Mac OS Mojave user). All my adapters are mysql2 too and I've tried the other fixes found online but this issue just persists!

[2019-08-07 15:35] kaustubh-nair commented on #307
Hi @metonymic-smokey
I'm tagging @sashadev-sky here. I think she can help you out with Mac OS

[2019-08-07 15:36] kaustubh-nair commented on #810
Oooh might me a possibility!
Let me have a look

[2019-08-08 13:51] steviepubliclab opened #912 "export not working"
### What happened just before the problem occurred
I'm trying to help someone download a map so they can get it printed, but the export currently isn't working. I can get the image on a jpeg from the cloud export, but we're looking for a larger file than this.

### Relevant URLs

https://mapknitter.org/maps/nottingham-city-centre### PublicLab.org username

[2019-08-08 13:52] steviepubliclab commented on #912
here's an image of what we see when we try to export

![Screen Shot 2019-08-08 at 9 51 58 AM](https://user-images.githubusercontent.com/7490478/62708842-2eb63d80-b9c2-11e9-8ccf-55334f523cea.png)

[2019-08-08 14:11] cesswairimu commented on #912
I was able to replicate this locally the error is
``ActiveRecord::StatementInvalid (Mysql2::Error: Field 'bands_string' doesn't have a default value: INSERT INTO `exports` (`map_id`, `user_id`, `status`, `created_at`, `updated_at``
Trying different fixes also pinging @sashadev-sky who have been working on the export a lot and might have some pointers

[2019-08-09 05:48] #912 closed

[2019-08-09 05:50] jywarren commented on #912
Thanks, all - i've merged #913 and also agree with @sashadev-sky that we should do a more permanent solution in the db. However if we completely switch to cloud export soon enough, we may be able to address it by removing in-app exports entirely as an alternative. Thanks for you swift responses!

[2019-08-09 05:50] jywarren commented on #912
And depending on how we decide to address this please feel free to open an issue for the longer-term fix. 👍

[2019-08-09 05:51] jywarren commented on #912
Looking to http://mapknitter-stable.laboratoriopublico.org/ to test out as soon as it builds!

[2019-08-09 06:13] jywarren commented on #912
Hmm, i seem to be getting an error on all maps -- will look at the logs. http://mapknitter-stable.laboratoriopublico.org/gallery

[2019-08-09 06:15] jywarren commented on #912
aha - `ActionView::Template::Error (Mysql2::Error: Table 'mapknitter.versions' doesn't exist: SHOW FULL FIELDS FROM `versions`):` due to https://github.com/publiclab/mapknitter/pull/862 i am guessing?

[2019-08-09 06:23] jywarren commented on #912
Hmm, we don't track schema.rb in mapknitter. So, we could either include a `rake db:migrate` in our container deploy process... or start tracking schema.rb?

[2019-08-09 06:30] jywarren opened #915 "Database migration not running in stable"
I just saw that MapKnitter stable test server is failing every time; thought it was related to version numbers in #862 but i see error:

[code]

https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/239/console

I confirmed that `schema.rb` is not updated, so `rake db:migrate` has not run; but it seems like the first command in the sequence `docker-compose exec -T web bash -l -c "sleep 10 &

[2019-08-09 06:32] jywarren commented on #915
OK, noting that this error only affects the most recent stable build. And that all previous stable builds failed for different reasons, so I can't confirm that we've actually broken something here...

Production is not yet on a container, so I can't say if we're going to see this issue there... cc @icarito

[2019-08-09 06:35] jywarren commented on #915
Aha, the only build of this on unstable faced the same error:

[code]

https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/196/console

[2019-08-09 06:35] jywarren commented on #915
This could be simply an unavailability of the `request_store-1.4.1` gem?

[2019-08-09 06:37] jywarren commented on #915
Hmm. RubyGems shows https://rubygems.org/gems/request_store/versions/1.4.1 is the latest, so it should be available there...?

[2019-08-09 06:38] jywarren commented on #915
OK, and noting that `paper_trail` depends on `request_store`, so that's how we started getting it:

[code]

[2019-08-09 06:43] jywarren commented on #915
Hmm. I tried manually installing the gem on the stable server (not in the container, though), and it worked. I'm trying rebuilding the stable server now to see if it picks up the now-installed gem, but at least we know that the server /can/ fetch that gem at `v1.4.1`

[2019-08-09 06:44] jywarren commented on #915
Either way, `mesg: ttyname failed: Inappropriate ioctl for device` could be the clue as to why it wasn't able to fetch it?

[2019-08-09 08:05] jywarren commented on #915
For whatever reason, it worked to manually install the gem, and stable is running now. Since this affects only containerized editions, and production is not yet in a container, I'll publish to production after some manual testing.

[2019-08-09 08:08] sashadev-sky commented on #915
@jywarren I saw a message about papertrail in my terminal today - could be relevant:
![image](https://user-images.githubusercontent.com/41092741/62764117-1f370300-ba5b-11e9-8018-a688826a5123.png)

[2019-08-09 08:10] jywarren opened #916 "Cannot read property '_map' of undefined"
In stable, i'm now seeing an error on this page: http://mapknitter-stable.laboratoriopublico.org/maps/central-park-nyc

`Uncaught TypeError: Cannot read property '_map' of undefined`

around this line:

[code]

I believe it's on this line, but not sure:

https://github.com/publiclab/mapknitter/blob/a79a86f2af01a7d1b5a9623616fd043228ebb267/app/assets/javascripts/maps.js#L22

This seems to be preven

[2019-08-09 08:11] #872 closed

[2019-08-09 08:11] sashadev-sky commented on #915
@jywarren
this was added 5 days ago in `paper_trail.rb`:
[code]

Could be unrelated to this but I guess we should do what the message says and remove it?

[2019-08-09 08:17] jywarren commented on #916
Could be related to #892, see https://github.com/publiclab/mapknitter/commit/a79a86f2af01a7d1b5a9623616fd043228ebb267 - yes, for sure!

[2019-08-09 08:19] jywarren commented on #915
Oh thanks for the help! Actually working a subsequent issue I could use
help on in #916 if you have a moment!

On Fri, Aug 9, 2019, 2:12 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-08-09 08:25] jywarren commented on #916
I think it's that for some reason `window.mapknitter` is not initialized by the time we call it?

[2019-08-09 08:29] jywarren commented on #916
Oh wait! I think it's that the `rake assets:precompile` step didn't run! I'll manually run that in staging now.

[2019-08-09 09:07] jywarren commented on #915
Also noting a warning, cc @divyabaid16 -- just a heads up, I don't know if it's meaningful!

[code]

[2019-08-09 09:08] jywarren commented on #916
OK, i'm getting error: `Uglifier::Error: Unexpected token name «i», expected punc «;». To use ES6 syntax, harmony mode must be enabled with Uglifier.new(:harmony => true).`

[2019-08-09 09:16] jywarren commented on #916
OK, addressed that in #917, i believe...

[2019-08-09 09:18] jywarren commented on #916
Now waiting for stable to build so we can test out the compiled assets in http://mapknitter-stable.laboratoriopublico.org/maps/central-park-nyc

[2019-08-09 09:57] jywarren commented on #916
Trying adding `require 'uglifier'` before the line in `config/environments/production.rb`

[2019-08-09 09:57] jywarren commented on #916
https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/243/

[2019-08-09 10:56] jywarren opened #918 "Unsure of styling in mobile view for image versions"
Hi @divyabaid16 I published version tracking from your PR but am not sure if the assets properly recompiled, can you check if this is right?

![Screenshot_20190809-165424](https://user-images.githubusercontent.com/24359/62774486-99e93800-bac6-11e9-98c1-75d078c9cce5.png)

Thanks!!!

[2019-08-09 10:59] jywarren commented on #916
That worked and it passed the jenkins build for the first time!

[2019-08-09 11:00] jywarren commented on #915
Not sure how it's related, but (after manually installing the gem above) i later got the build to complete, after adjusting `uglifier` gem too -- https://github.com/publiclab/mapknitter/issues/916#issuecomment-519859839 -- in case it's relevant!

[2019-08-09 11:03] jywarren commented on #918
Ah, i think this was related to the issues in #916 and #915 -- of asset precompilation not running (`rake assets:precompile`) so I'll try getting that to succeed to resolve this. Confirmed it wasn't just on mobile either:

![image](https://user-images.githubusercontent.com/24359/62774742-8a1e2380-bac7-11e9-824d-3b2fc9073730.png)

http://mapknitter-stable.laboratoriopublico.org/maps/ceres--2

[2019-08-09 11:11] jywarren commented on #916
OK, now re-ran `RAILS_ENV=production COMPOSE_PROJECT_NAME=mapknitter_stable PORT=6002 docker-compose exec web rake assets:precompile` and am rebuilding the container.

[2019-08-09 11:12] jywarren commented on #918
Am trying to build assets; if that works in https://github.com/publiclab/mapknitter/issues/916#issuecomment-519880255 and we close that, this should be resolved too!

[2019-08-09 11:27] jywarren commented on #918
Resolved! Thanks!

[2019-08-09 11:27] #918 closed

[2019-08-09 11:32] jywarren commented on #916
OK, now we seem ok after rebuilding the container!

[2019-08-09 11:33] jywarren commented on #915
OK, seems the migration ran ok on stable, to be honest i'm not sure how, but maybe because i manually installed the gem...

[2019-08-09 11:34] jywarren commented on #916
Map creation seems fine. Closing this now!

[2019-08-09 11:34] #916 closed

[2019-08-09 11:35] jywarren commented on #915
OK, so this is now an issue only on stable for future builds that require new gems, i think?

[2019-08-09 11:35] jywarren commented on #915
to reproduce, we may have to uninstall the gem and rebuild to ensure the container can properly fetch it...

[2019-08-09 11:47] jywarren commented on #912
OK, this seems resolved now, I believe. Let's coordinate any follow-ups here! @cesswairimu @sashadev-sky @steviepubliclab

Thanks, all!

[2019-08-09 12:10] jywarren opened #919 "multiple image cloud export only returning one image"
Hi just  noting this -- cc @sashadev-sky (and @divyabaid16 as your #693 relates eventually) -- I've tried selecting multiple images by long pressing or shift-dragging, and the exports i get back seem to have only one image each:

https://mapknitter.org/maps/nottingham-city-centre
https://mapknitter.org/maps/belle-isle-globe

![](https://mapknitter-exports-warps.storage.googleapis.com/1565351277/15

[2019-08-09 14:59] cesswairimu opened #920 "Add a default text for `bands_string` in exports table"
A more maintainable way we should fix this is in the DB directly and update the default value for the bands_string. Otherwise future code will easily hit this error again.
[code]
but for some reason, it's not there. default => "normal", however, is there.

since we've externalized the export data, I know a lot of these columns will be deprecated. is bands_string one of them? What is bands_string e

[2019-08-09 15:11] zenon21 commented on #898
Hi! ARGH I have been stuck on the pull request. Something about unmerged files. What happened?
<img width="570" alt="Screen Shot 2019-08-09 at 11 10 13 AM" src="https://user-images.githubusercontent.com/29512948/62789130-5080f480-ba96-11e9-9ada-017acd53f822.png">

[2019-08-09 16:25] metonymic-smokey commented on #307
@kaustubh-nair I'm facing an issue with the very last step, `bundle exec passenger start` , Ubuntu this time not Mac OS.
I'd used the link in the Installation and generated two keys(these keys were my second or third attempt at setting Mapknitter up) and copied them in the recaptcha.rb file.
However, when I run `passenger start`, I encounter this error:
`App 25409 output: Error: The application en

[2019-08-09 19:43] jywarren opened #921 "Downloads (generated by export) not appearing"
Export seems to be running now but the menu of downloads generated doesn't seem to be loading for this map:

https://mapknitter.org/maps/mapping-nottingham-s-urban-greening--3

@cesswairimu @divyabaid16 @publiclab/mapknitter-reviewers any idea if there's an issue with the template to display export formats? Thank you! cc @steviepubliclab

[2019-08-10 04:27] divyabaid16 commented on #915
So should we just remove this line?
```   PaperTrail.config.track_associations = false```
To get rid of the message?

[2019-08-10 05:18] divyabaid16 opened #922 "Toolbar icons not being displayed"
It is shown blank:

![Selection_222](https://user-images.githubusercontent.com/32747809/62817918-550fe080-bb5c-11e9-94bc-ee9d4e94b214.png)

cc: @sashadev-sky

[2019-08-10 05:39] divyabaid16 commented on #921
Maybe this has something to do with:
![Selection_224](https://user-images.githubusercontent.com/32747809/62818063-1b8ca480-bb5f-11e9-8396-8f44c9552b2d.png)

[2019-08-10 08:07] kaustubh-nair commented on #307
@metonymic-smokey Can you confirm that you are on the `main` branch?
And also make sure you have the latest changes by running `git pull origin main`?
And then install gems by running `bundle install`
If you still encounter the issue let me know
THanks!

[2019-08-10 11:06] jywarren commented on #921
Hmm, we should see if the files exist at all?

Also adding these notes:

I want to check old maps to see whether all download display is affected or only new down
*downloads
Then, see if the controller is correctly looking up downloads for the map
But new export generation on production seems fine, it just doesn't display the export outputs.

[2019-08-10 11:07] jywarren commented on #921
Some of this debugging is possible even without being able to generate local exports. But divya, I think you may just not have all the exporting dependencies installed, like gdal?

[2019-08-10 11:12] jywarren commented on #921
https://github.com/publiclab/mapknitter/blob/d5c9565a34e89a954cb9e16fbb4ac7e1a9cc447f/app/controllers/maps_controller.rb#L129

And

https://github.com/publiclab/mapknitter/blob/main/app/views/maps/_exports.html.erb

Should be the controller and view used to populate the exports drop-down.

[2019-08-10 14:00] metonymic-smokey commented on #307
@kaustubh-nair @gauravano @jywarren I was on the main branch, pulled the latest changes and ran `bundle install` too.
On running, `bundle exec passenger start`, I got a different error this time:
`ActiveRecord::SchemaMigration Load (1.1ms)  SELECT `schema_migrations`.* FROM `schema_migrations`
ActiveRecord::PendingMigrationError (
Migrations are pending. To resolve this issue, run:
	bin/rake db:mi

[2019-08-10 20:13] gauravano commented on #307
Hey @metonymic-smokey, changing the sql mode is one way. There's another way: copy the content of `schema.rb.example` and using it create a new file `schema.rb`. After that, try running `rake db:migrate`.

[2019-08-11 02:45] sashadev-sky commented on #922
@divyabaid16 what is ur operating system / browser? Is this problem in the production, locally, or both for you? I cannot reproduce this problem in either and I did thorough cross browser / platform testing upstream in LDI but maybe there are some blind spots!
Possibly can you try clearing your cache in browser and in Rails?

[2019-08-11 04:10] metonymic-smokey commented on #307
@gauravano @kaustubh-nair Thanks a lot for all the help! I have it installed locally on my system all thanks to your suggestions :)
When it is running, the terminal displays this message: ``ActiveRecord::SchemaMigration Load (27.9ms)  SELECT `schema_migrations`.* FROM `schema_migrations` ``, is this something I should be concerned about to try and fix or just let things run as is?

Thanks once aga

[2019-08-11 04:20] metonymic-smokey commented on #639
@divyabaid16 got the dev env running locally! Sorry for the delay.
Could you please clarify the above?
Thanks!

[2019-08-11 04:42] divyabaid16 commented on #639
Okay, so now, follow the instructions to go to the image tab:
1. Click on "Make a Map+" option that is present on the front page.
2. You will be redirected to a page where you can create the map. Add the title and the location.
3. The map corresponding to that location will open up. There, start by uploading an image. After you upload an image, you will get there 3 buttons. In that simply change t

[2019-08-11 06:57] gauravano commented on #307
It's normal and you shouldn't bother about this. Rails is just checking if there are any pending migrations to run or not. As you're not getting any error/warning, means there is no migration pending.

[2019-08-11 07:23] jywarren commented on #919
Hm, now looking and the old in-app exporter is ALSO only returning one image:

https://mapknitter.org/warps/nottingham-city-centre/nottingham-city-centre.jpg

I wonder if there's an issue with the process that identifies which are placed?

This looks ok at first glance: https://mapknitter.org/maps/nottingham-city-centre/warpables.json

[2019-08-11 07:24] jywarren commented on #921
OK, finally got to a laptop and it seems to be an error with `Popper`? part of bootstrap?

[code]

@sashadev-sky @divyabaid16 @cesswairimu have we modified Bootstrap in a way that'd cause this, or did we just not catch it when we did the Bootstrap 4 upgrade?

[2019-08-11 08:12] jywarren commented on #919
Hm. Looking at the Ruby cloud export, it looks complete:

https://mapknitter-exports-warps.storage.googleapis.com/1565270555/1565270555.jpg

Not sure why, here is the status.json:

`{"status_url":"https://mapknitter-exports-warps.storage.googleapis.com/1565270555/status.json","status":"complete","tms":"public/tms/1565270555/","geotiff":"public/warps/1565270555/1565270555.tif","zip":"public/tms/156

[2019-08-11 08:45] kaustubh-nair opened #925 "Set up dangerbot"
We'll use this for system tests!

[2019-08-11 09:45] ViditChitkara commented on #893
Any updates on this?
Thanks

[2019-08-11 12:20] #889 closed

[2019-08-11 12:30] sashadev-sky opened #928 "Update Initializers to class factory syntax lll"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-08-11 12:45] sashadev-sky opened #929 "Update Initializers to class factory syntax IV"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-08-11 19:56] sashadev-sky commented on #921
I think that might've been me who removed it. There was some sort of problem with it. It makes sense that maybe its throwing that error for the exports now, they are a dropdown. How are the other dropdowns in the app made?

ccing @alaxalves in case he remembers if there was something wrong with popper

[2019-08-11 19:58] sashadev-sky commented on #919
@jywarren status.json appears normal right?

[2019-08-12 02:43] divyabaid16 commented on #922
My operating system is Linux Mint 18.2 and I have checked in Chrome as well as Mozilla firefox.
For me, it just happened locally when I fetched all the recent commits to the main branch.
I cleared the cache and I'm still getting the same result.

[2019-08-12 05:49] sashadev-sky commented on #922
@divyabaid16 would you mind running https://github.com/publiclab/Leaflet.DistortableImage locally and letting me know if you see the icons there? Sorry thats a little time consuming, it'll just narrow down the issue a lot quicker

[2019-08-12 05:55] sashadev-sky commented on #922
Or quick check would be here: https://sasha.mapknitter.org/examples/select.html because it has the latest updates. Browser stack doesn't have Linux but the icons work for me there back to IE 11 Windows 7

[2019-08-12 06:01] divyabaid16 commented on #922
I can see icons in this one.

[2019-08-12 06:23] sashadev-sky commented on #307
@benfanderson @metonymic-smokey did you guys receive these errors after following the instructions in https://github.com/publiclab/mapknitter/blob/main/MYSQL.md?

@kaustubh-nair @alaxalves ```LoadError: Please install the mysql2 adapter: `gem install activerecord-mysql2-adapter` (cannot load such file -- mysql2/mysql2)``` is  there any way we can customize this error message to ```LoadError: canno

[2019-08-12 06:35] sashadev-sky commented on #922
@divyabaid16 The latest update only has 8 tools in the toolbar. It looks like your main branch is up to date, are you sure you running the server from it?

[2019-08-12 06:36] sashadev-sky commented on #922
just double checked logged in and logged out scenarios to debug and ruling that out

[2019-08-12 06:42] divyabaid16 commented on #922
Ya, I just checked on everything, I'm not sure what is wrong here.
Can anyone else confirm if they are facing the same issue @publiclab/mapknitter-reviewers

[2019-08-12 06:56] cesswairimu commented on #922
Its working fine on my end.. @divyabaid16  did you run `yarn install` after pulling the changes

[2019-08-12 07:17] divyabaid16 commented on #922
Oh I forgot ```yarn install``` and now it's working fine.
Thank you @cesswairimu @sashadev-sky

[2019-08-12 09:13] metonymic-smokey commented on #307
@sashadev-sky Yes, I initially did follow those instructions for Mac OS but wasn't able to set it up locally.
I then switched to Ubuntu and managed to set it up with help from the community, again after following the mysql instructions and debugging a bit on my own.
Thanks!

[2019-08-12 10:11] metonymic-smokey commented on #639
@divyabaid16 I've changed the cursor to pointer and made the commits on my fork.
I had to change _new.html.erb too along with _index.html.erb, since changing only _index.html.erb didn't change it to pointer.
Here are the screenshots:
![Download_later](https://user-images.githubusercontent.com/48997495/62857769-0b6af580-bd16-11e9-9e44-88a530cb30aa.png)
![pan_later](https://user-images.githubusercon

[2019-08-12 11:34] gauravano commented on #307
@metonymic-smokey could you tell us at which step, instructions need more clarity or the commands didn't work out well for Mac OS?

[2019-08-12 12:34] metonymic-smokey commented on #307
@gauravano As I said above, whenever I attempted to run `rake db:setup`,I got an error with my adapters, even though on checking all of them in the database.yml file were mysql2 already.
I tried changing them to mysql but the error persisted.

[2019-08-12 14:20] sashadev-sky commented on #919
@jywarren I haven't looked into this yet but it just came to me what the issue is. Going back to my last PR #892 where I fixed a lot of
 bugs I highlighted the remaining priority task to do: get the library to work with the featureGroup.

It will require a lot of code re-writing. i will attempt it later today. Currently each new image we add goes into  its own feature Group and then once the next

[2019-08-12 14:22] sashadev-sky commented on #919
but long story short there I think although the images appear multi selected if you were to grab their feature group you'll find that they each have their own and are the only ones in there

[2019-08-12 14:41] gauravano commented on #307
Hmm, ok. Thank you for details. We'll certainly try to make our installation process easier and faster.

[2019-08-12 15:14] gauravano opened #932 "Ability to apply filters to images (with Image Sequencer) and upload a new version"
Hey @jywarren,

Questions:
1. The interface to show Image Sequencer options would be on the maps edit page?
2. What all options to incorporate?
3. If a user applies a filter, should we automatically store it or explicit save button required?
4. Versioning at the preview of the image or only when the filtered-applied image is saved?

Any other requirements, notes, ideas?

Thank you!!

[2019-08-12 18:49] DraconianLore commented on #928
I would like to take this issue please

[2019-08-12 21:14] gauravano commented on #921
Hey @sashadev-sky, I checked out to the state before your commit and it wasn't working at that time too. Although, you did removed a popper from maps.js but I have added it in application.js this time as bootstrap popups depend on it.

[2019-08-12 21:28] #897 closed

[2019-08-13 05:20] divyabaid16 commented on #639
These changes are great.
Firstly open a PR to change the cursor to a pointer.

For this, I have already made a PR #923 which solves this problem.

And for the last one,
You can create a separate issue and then create the PR for the same. I guess limiting is not a good option since while uploading we are not changing the name of the file and it has the same name as it is stored in the laptop. So ra

[2019-08-13 14:13] metonymic-smokey commented on #639
I'll create an issue about the second point @divyabaid16 .
I'll take some time to try and resolve the issue since I'm first exploring the codebase, etc. but I'll try my best to do it. I'll revert to the maintainers in case of any doubts.
In the meantime, I'll look for similar issues I could solve.

Thanks a lot!

[2019-08-14 05:39] sashadev-sky commented on #445
I still think this one is an important problem! I cannot even say how many maps I have made labeled "test", that I will also never be able to find again because there are 60 pages for results "test"

@kaustubh-nair I guess we have anonymous posts because having to make an account might deter a user from making a map, just out of inconvenience.

@jywarren @gauravano I think we should do a review of

[2019-08-14 14:00] jywarren commented on #932
1. yes - although perhaps we could consider integrating it into each image?
Better to apply to all images, or just one at a time?
2. We might have a modal popup that offers the conventional Image Sequencer
UI, or we could have a few pre-selected options.
3. I think explicit save makes sense!
4. Versioning only when it's saved, i guess! Can we save the sequence JSON
as well so we have a record of t

[2019-08-14 14:12] metonymic-smokey opened #939 "Longer image file name hidden by side buttons."
### What happened just before the problem occurred
When I set up Mapknitter locally and uploaded an image with a very long name, I found the image names being hidden by the buttons.
Here's an example screenshot:
![download_before](https://user-images.githubusercontent.com/48997495/62963733-2d03d400-be1f-11e9-9600-c813baaa9f40.png)
And another:
![Download_later](https://user-images.githubuserconten

[2019-08-14 14:13] metonymic-smokey commented on #939
@divyabaid16 @gauravano

[2019-08-14 15:31] jywarren commented on #903
Actually ideally we'd like to show a true DistortableImage of each image, as the UI. And have a popup attached to each that leads back to the map where it's from (the popup is just like the current LEL popup, but we'd want a full DistortableImage instead of a marker). Does this make sense? Then you'd see the images distorted onto the base map, but just in a layer behind the active map.

The idea o

[2019-08-14 15:37] jywarren commented on #893
hi!

http://publiclab.org/chat could be a good format for a chat popup or embed.

What about a "live editing" switch like this?

![image](https://user-images.githubusercontent.com/24359/63034696-c2d34980-be87-11e9-9fd0-130a11bab0e0.png)

Would it be on by default? Would it be on permanently for anonymous maps?

[2019-08-14 15:50] jywarren commented on #919
Saw the distortions fix, amazing!

OK, so do you think we can prioritize a fix to the multi-select so that
they are in a common feature group and initiate the export correctly,
accordingly? I'm concerned that the in-app exporting is not working well
and would love to complete the cloud export system and UI so that we can
finally move off the in-app exporter. And any time spent fixing in-app
export

[2019-08-14 16:19] jywarren commented on #445
We have had input from community partners that people who may be vulnerable or are concerned about being connected to data produced on MapKnitter.org may be more comfortable producing maps anonymously, despite the drawbacks. So we have continued to allow this although we are getting better at explaining why it presents difficulties like this one, and trying to help people make a good decision abou

[2019-08-14 18:41] jywarren commented on #921
OK, let's see if this builds properly in stable. My concern was that there may be a second bug where even if the popup opens, the map exports don't get displayed in it. Then we can try to solve that.

Also via Sasha, #597 may be a mitigating factor so let's remember to refresh the page before testing the Downloads dropdown until that is also fixed.

[2019-08-14 18:55] ViditChitkara commented on #893
Seems like a good idea! I was thinking of keeping a field in map table "is_editable" or something. I think it should be on by default. The button idea is great though. I'll make a first timer issue for this.
Thanks

[2019-08-14 19:36] jywarren commented on #921
OK, popper not working on stable, but i wonder if this is the issue with the container not recompiling assets. I'll try doing that manually and see.

[2019-08-14 19:43] jywarren commented on #915
That sounds right, yes! Can you open a PR for that please? thank you!

On Sat, Aug 10, 2019 at 12:28 AM Divya Baid <notifications@github.com>
wrote:

[2019-08-14 19:44] jywarren commented on #921
OK, compiled and restarting...

[2019-08-14 20:09] jywarren commented on #921
Great, popper issue resolved. Generating export at http://mapknitter-stable.laboratoriopublico.org/maps/unnamed-road-wichita-ks-67211-usa to test.

[2019-08-14 20:09] jywarren commented on #921
OK, that worked!

![image](https://user-images.githubusercontent.com/24359/63052659-ead5a380-bead-11e9-99ac-942abbd91092.png)

[2019-08-14 20:09] jywarren commented on #921
Closing and I'll publish this to the live site!

[2019-08-14 20:09] #921 closed

[2019-08-14 20:10] jywarren commented on #921
Thank you all!!!

[2019-08-14 20:10] jywarren commented on #921
cc @alaxalves this means we should be good to move forward on Rails 5 now!

[2019-08-14 20:18] jywarren commented on #919
I tried this again and see https://mapknitter-exports-warps.storage.googleapis.com/1565813711/1565813711.jpg, so only one image. I think Sasha's explanation of multiple image select is correct. Checking the submitted request now:

Indeed, we're only sending the request for a single image:

[code]

[2019-08-14 20:25] jywarren opened #940 "In-app exporter only returning one image"
Strangely, similarly to #919, the in-app exporter seems to be running on only one image. Investigating; https://mapknitter.org/maps/nottingham-city-centre/

[2019-08-14 20:50] jywarren commented on #940
I'm going to test on https://mapknitter.org/maps/ceres--2/ for simplicity.

[2019-08-14 20:58] jywarren commented on #940
OK, `ceres--2` is also showing just one image in the export. So, reproduced. I'm re-running the export, and it says `warping 1 of 3`, so i know it can see the images. and is running through them. On completion, it's still just one image.

...now to know why it isn't working... let me check the exporter gem running separately!

http://export.mapknitter.org/export?url=https://mapknitter.org/maps/cer

[2019-08-14 21:05] jywarren commented on #919
And confirming that the exporter itself can correctly generate multiple image outputs, as I did it manually at for example http://export.mapknitter.org/export?url=https://mapknitter.org/maps/ceres--2/warpables.json&scale=30 --

![image](https://user-images.githubusercontent.com/24359/63056268-b4038b80-beb5-11e9-8718-67d7eadac30a.png)

[2019-08-14 21:07] jywarren commented on #940
The exporter gem in the cloud app can correctly generate mutiple image exports, I just confirmed this by running it manually at export.mapknitter.org.

Now trying to run this at http://mapknitter-stable.laboratoriopublico.org/maps/ceres--2 for replication!

[2019-08-14 21:10] jywarren commented on #940
I'm manually downloading all 3 individual pre-composite GeoTiffs from the mapknitter.org ceres export i just ran.

[2019-08-14 21:11] jywarren commented on #940
(noting that staging export also just ran and only produced 1 image)

[2019-08-14 21:13] jywarren opened #941 "Start initial view of map editor more zoomed in"
The initial view is now pretty zoomed out, see for https://mapknitter.org/maps/ceres--2/ --

![image](https://user-images.githubusercontent.com/24359/63056793-cdf19e00-beb6-11e9-9837-2aee80169c46.png)

We'd prefer something like this:

![image](https://user-images.githubusercontent.com/24359/63056764-badece00-beb6-11e9-8f2d-12cc95a17b92.png)

I think something changed recently to cause this; perha

[2019-08-14 21:19] jywarren commented on #940
OK, and confirming that all three GeoTiffs were good...

[2019-08-14 21:26] jywarren commented on #893
awesome!

On Wed, Aug 14, 2019 at 2:56 PM Vidit <notifications@github.com> wrote:

[2019-08-14 22:31] jywarren commented on #940
I'm running the export in the console now on the production server to try to track what happens...

[2019-08-14 22:36] jywarren commented on #940
OK, I believe this is the command and output; noting that it again produced just one image in the composite:

[code]

[2019-08-14 22:37] jywarren commented on #940
Seems to match these lines:

https://github.com/publiclab/mapknitter/blob/f77bef70f8afa8249de0aa3ae8907998d38f198b/lib/exporter.rb#L262-L269

[2019-08-14 22:42] jywarren commented on #940
I manually went through these steps:

[code]

And still got one image. Are we losing critical metadata in the PAM or something?

[2019-08-14 22:51] jywarren commented on #940
OK, noting that in the exporter gem, we're no longer distinguishing between "first" warpable and others, despite the fact that we initialize the `first` variable here:

https://github.com/publiclab/mapknitter-exporter/blob/c75c31d43b0d834c8198d43f857f4483ed5ce534/lib/mapknitterExporter.rb#L268

I'm going to try manually running the commands from that version instead.

[2019-08-14 23:00] jywarren commented on #940
That worked. Refactoring now.

[2019-08-14 23:03] jywarren commented on #940
Fix at c76748ec33056db9baccfca0717e360e51a2bc74

[2019-08-14 23:04] jywarren commented on #940
Published to production and testing at https://mapknitter.org/maps/ceres--2/

[2019-08-14 23:38] jywarren commented on #940
Hmm. Must've made a mistake...

[code]

[2019-08-14 23:48] jywarren commented on #940
I forgot `-geo`. Final fixes in c615554471c50a418223496c537a32aef1dafb06 and 619fcc43759a6a0bfbdeb21af7a6ad44386914a8. Closing!

[2019-08-14 23:48] #940 closed

[2019-08-15 04:53] Manokero commented on #929
Hi, @sashadev-sky

I would like to work on this, please.

Is the **solution** section all I need to do? If so, I'm kind surprised XD

[2019-08-15 07:37] NitinBhasneia commented on #928
Can only one person try to resolve the issue?

[2019-08-15 10:33] ViditChitkara opened #943 "Live editing switch for synchronous editing ability"
This is a part of #893

<img width="677" alt="Screenshot 2019-07-30 at 11 52 45 PM" src="https://user-images.githubusercontent.com/22616017/63088803-98f75100-bf73-11e9-9361-00cb595d5024.png">
A live editing switch is required somewhere on the sidebar. It could be something like:-

![image](https://user-images.githubusercontent.com/24359/63034696-c2d34980-be87-11e9-9fd0-130a11bab0e0.png)
The purpos

[2019-08-15 10:46] #929 closed

[2019-08-15 10:48] sashadev-sky commented on #928
@DraconianLore assigned it to you! @NitinBhasneia yes only one person I will make another one and assign it to you if you'd like

[2019-08-15 10:48] ViditChitkara commented on #943
The sidebar code could be found in https://github.com/publiclab/mapknitter/blob/main/app/views/layouts/knitter2.html.erb file.

[2019-08-15 10:54] ViditChitkara commented on #943
We may also take some hints from #381 for the enable/disable apis.

[2019-08-15 15:25] jywarren commented on #943
This sounds great. I think we should also have a switch for "allow others
to edit this map" to distinguish from "allow others to edit in real-time"
-- perhaps taking on both these in coordination will help them make sense
in UI design next to one another. Vidit, would you be willing to take on
adding both to ensure they are coherent? (also noting that anonymous maps
will not allow stopping others

[2019-08-15 16:10] ViditChitkara commented on #943
Yes, I think that makes sense. So in total we'll have two switches one for "allow others to edit this map" which will make use of the added column in map table. And the other would simply be "allow real-time-editing". The later would require an extra layer of authentication at connection.rb to stop others from editing the map -- probably by rejecting their connection to the channel -- the same way

[2019-08-15 16:32] jywarren commented on #943
That sounds great! I think this requires enough coordination that it might
be best if you did this one yourself? Thanks!!

On Thu, Aug 15, 2019, 12:10 PM Vidit <notifications@github.com> wrote:

[2019-08-15 16:36] ViditChitkara commented on #943
Great!! I'll get started with this.

[2019-08-15 19:51] jywarren commented on #603
Hi! Do we have a good plan for merging a PR that contains only what we can already merge under Rails 5 in prep, that will be required for Rails 6? And a place where we're discussing any needed planning or ideas for the Debian Rails schedule? Thank you!

[2019-08-15 19:52] jywarren commented on #607
This is looking great. What I'd love is to set up some system tests which can help us determine if dependabot JS dependencies are OK to merge. So, that make use of some of our JS deps in such a way as to help us keep them more up to date without having to manually test them out. cc @alaxalves

Perhaps this is one of the things you both can consider now that Rails 5 is complete!

[2019-08-15 19:59] #600 closed

[2019-08-16 02:37] divyabaid16 commented on #915
Yes, I will just open it now.
Thanks!

[2019-08-16 04:29] sashadev-sky commented on #919
Ok now that collection group can add images without corners, I am going to attempt to fix the problem by not initially adding the image to the map instead of the  group.

[2019-08-16 04:51] sashadev-sky commented on #919
@jywarren also I have never been able to create an export of even 1 image using the LDI interface. I get stuck in a permanent 'compositing' loop, even in production right now trying to export 1 image. I don't understand why your results are different. What steps can I follow to try to reproduce ur results?  The legacy  exporter doesn't  work for me either. just generates a single tif that cannot b

[2019-08-16 09:20] NitinBhasneia commented on #888
@flyside is this work or can i work on this remaining

[2019-08-16 09:22] NitinBhasneia commented on #888
@flyside are you working on this or may I work?

[2019-08-16 09:32] NitinBhasneia commented on #928
@sashadev-sky yes please I want to get started as soon as possible.

[2019-08-16 12:13] #724 closed

[2019-08-16 12:30] gauravano commented on #932
Better to apply to all images, or just one at a time?

Hmm, yeah, it makes sense. yes, we can show a image filter button with each image, and try to open a modal where we'll offer filters. Great!!!

as well so we have a record of the operations that were run, and
potentially could re-use the steps on other images (pending future UI
additions?)

Interesting. let's keep it as future scope.

@divyaba

[2019-08-16 12:31] divyabaid16 commented on #932
Okay, I will start working on this.

[2019-08-16 13:47] jywarren commented on #919
Ack, that sounds super frustrating... ok, let me create a video of the process, with the console open. One thing is that in any local testing, it won't work - because the images shown locally are not accessible from the Google Cloud server. You can either a) run it on gh-pages, or b) use remote images in the example, so that they are accessible over the open web. Video coming in a bit!

[2019-08-16 14:01] kaustubh-nair opened #950 "Images not being placed"
On clicking the `Place` button, nothing happens. This image does not turn up on the map
This is due to some weird ordering issues of the dependencies for the assets. I had solved this in `rails-5` but maybe it got messed up during some merge conflicts?

[2019-08-16 14:01] kaustubh-nair commented on #950
Anyway here is a fix

[2019-08-16 14:03] jywarren commented on #919
OK, it's uploading, but here is the link: https://youtu.be/9ZON5nqBbrM - I walk through the whole lifecycle and each request.

But if you're stuck on the compositing step, i wonder if you aren't seeing the "remote images" issue described above, but some other issue? What map are you testing on? In this demo I tested on https://mapknitter.org/maps/ceres--2/

[2019-08-16 14:12] #915 closed

[2019-08-17 11:15] divyabaid16 commented on #932
Which UI should I consider in Pop-up modal, is it https://sequencer.publiclab.org/examples/#steps= ? Or should I modify it? Or just create an iframe?

[2019-08-17 11:22] divyabaid16 commented on #932
And also, what all modules I must include in order to apply filter?
Brightness, Contrast, Saturation?

[2019-08-17 12:51] gauravano commented on #932
yes, for start let's consider the above 3 filters

[2019-08-17 12:55] gauravano commented on #752
Solved in https://github.com/publiclab/mapknitter/pull/891. @kaustubh-nair @alaxalves please verify. Thank you!

[2019-08-17 12:55] #752 closed

[2019-08-17 12:56] gauravano commented on #703
Solved in https://github.com/publiclab/mapknitter/pull/891. @kaustubh-nair @alaxalves please verify. Thank you!

[2019-08-17 12:56] gauravano commented on #425
Solved in https://github.com/publiclab/mapknitter/pull/891. @kaustubh-nair @alaxalves please verify. Thank you!

[2019-08-17 12:56] #425 closed

[2019-08-17 12:56] gauravano commented on #510
Solved in https://github.com/publiclab/mapknitter/pull/891. @kaustubh-nair @alaxalves please verify. Thank you!

[2019-08-17 12:56] #510 closed

[2019-08-17 12:57] gauravano commented on #533
Does https://github.com/publiclab/mapknitter/pull/891 resolve all the rubocop issues?  @kaustubh-nair @alaxalves

[2019-08-17 12:57] gauravano commented on #732
Solved in https://github.com/publiclab/mapknitter/pull/891. @kaustubh-nair @alaxalves please verify. Thank you!

[2019-08-17 12:57] #732 closed

[2019-08-17 18:04] kaustubh-nair opened #952 "Failing unstable build"
The build has been failing for quite some time on mapknitter unstable with this error
[code]
Here's a link to a failing build https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/200/console

[2019-08-17 18:04] kaustubh-nair commented on #952
Pinging @icarito @alaxalves and @jywarren here..

[2019-08-17 18:06] kaustubh-nair opened #953 "Failing stable build"
The build on stable is failing due to some recaptcha issue
```NameError: uninitialized constant Recaptcha::ClientHelper```
Link to console output: https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/256/console

[2019-08-17 18:08] kaustubh-nair commented on #953
Has this been encountered before? I remember seeing something like this a while ago. @publiclab/mapknitter-reviewers ?
Let's fix this issue soon, Rails 5 will be ready to be deployed to the live site after this
CC @alaxalves

[2019-08-18 14:43] divyabaid16 commented on #932
Now, since we have a version tracking system for the images, should I simply use ``` replaceImage ```method, and then store each version in the version table??
Or should I use ```addSteps``` to do so?
I guess here, ```replaceImage``` would be much better since it would be synchronous with the version tracking?
@gauravano @jywarren

[2019-08-19 14:43] jywarren commented on #932
I think the simplest case would be yes, replaceImage, or just a simple button in any case, and we can be sure that the saving a new version actually works (i.e. we can replace the image and it's saved but we can revert back). Once we merge that PR, we can return back and add more UI for image sequencer, how does that sound?

[2019-08-19 14:45] jywarren commented on #932
So, kind of like how we really minimally use IS here: https://github.com/publiclab/leaflet-multispectral

So the focus of the initial PR would be integration with upload of new image, and version tracking system. What do you think?

[2019-08-19 15:01] divyabaid16 commented on #932
Ya I will begin with that. I will create a separate button to add filters after image is created and on clicking a pop up will appear showing the options : brightness, contrast and saturation.

[2019-08-19 15:01] jywarren commented on #953
I think @divyabaid16 is seeing this locally as well! Do we need to check the Recaptcha docs for Rails 5? Maybe there is a `require` needed, or a namespace change?

[2019-08-19 15:02] jywarren commented on #953
Also see this dependabot suggestion: https://github.com/publiclab/mapknitter/pull/671

Ah... hmm, maybe related to this from July 1!!! https://github.com/publiclab/mapknitter/issues/776

[2019-08-19 15:04] jywarren commented on #953
Huh, Dependabot had upgraded us to Recaptcha 5, but we moved back to 4 based on seeing this exact error! https://github.com/publiclab/mapknitter/pull/775#issuecomment-507401849

Are we on 4 still? Or did we go to 5 and now need to downgrade again until this is fixed? @alaxalves @kaustubh-nair any insight here? Thank you!

[2019-08-19 15:07] jywarren commented on #932
Super!!!

On Mon, Aug 19, 2019 at 11:01 AM Divya Baid <notifications@github.com>
wrote:

[2019-08-19 15:08] jywarren commented on #953
@divyabaid16 since you can reproduce locally, can you try making sure Recaptcha gem is at v4 to see if that gets us past the error? Thanks!

[2019-08-19 15:40] divyabaid16 commented on #953
This is what I'm getting. Recaptcha gem is v4.
![Selection_232](https://user-images.githubusercontent.com/32747809/63277565-2ebc1480-c2c3-11e9-8bf8-c03518c26756.png)

[2019-08-19 15:53] jywarren commented on #953
Hm, thanks for the log! Can you try upgrading to 5? Maybe Recaptcha 5 works
better with Rails 5 while v4 works with Rails 4? Strange theory but worth a
try maybe :-)

On Mon, Aug 19, 2019 at 11:41 AM Divya Baid <notifications@github.com>
wrote:

[2019-08-19 16:16] divyabaid16 commented on #953
Sorry, it was actually v3.

[2019-08-19 16:59] alaxalves commented on #953
I thought I fixed this in Rails 5 :thinking:, actually we must start using Recaptcha v5.0

[2019-08-19 19:27] jywarren commented on #953
OK, Divya, would you mind trying to update to Recaptcha 5 and giving this a
test?

On Mon, Aug 19, 2019 at 12:59 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-08-19 19:49] divyabaid16 commented on #953
I'm unable to find recaptcha v5 as https://www.google.com/recaptcha/intro/v3.html this link shows that the latest version is recaptcha v3.

[2019-08-19 19:51] divyabaid16 commented on #953
And btw......I was trying to fix this issue some how and restarted my laptop. Upon restart, I couldn't reproduce this locally. That's really weird.This time I got a different error :```ActiveRecord::NoEnvironmentInSchemaError``` which I solved by running ```bin/rails db:environment:set RAILS_ENV=development``` command. And now mapknitter is running :thinking:

[2019-08-19 20:33] jywarren commented on #953
Ahhh, sorry! I think i realize - it's the `recaptcha` /gem/ that can be upgraded to v5, not Recaptcha itself. See https://github.com/publiclab/mapknitter/pull/671 for how we can bump the gem version! Thank you, Divya!

[2019-08-19 20:33] jywarren commented on #953
And, omg your event was today, take a break first! 😅 https://publiclab.org/notes/divyabaid16/08-19-2019/public-lab-outreach-event-jaipur

[2019-08-20 15:00] #950 closed

[2019-08-20 16:30] divyabaid16 commented on #953
Ya, it was already fixed.
And now I can't reproduce the error locally too.

[2019-08-20 17:27] jywarren commented on #953
Hmm, but it's still happening on stable, no? What was the fix that we can
try to push through onto stable?

On Tue, Aug 20, 2019 at 12:31 PM Divya Baid <notifications@github.com>
wrote:

[2019-08-20 18:15] gauravano commented on #939
Hey @metonymic-smokey, how about using text-overflow for handling this as a malicious user might try to upload a file having name with large # of chars?

Thank you!!

[2019-08-20 21:06] jywarren commented on #919
Hi @sashadev-sky did this youtube video help at all in pinning down the issue? Maybe we can screenshare too?

[2019-08-21 08:53] sashadev-sky commented on #510
@gauravano still not positive what the problem / ideal outcome was here so you might be a better a better judge on this --- what about #621 ?? If there's anything left to merge we should do that ! And I guess if we have to close it, close it

[2019-08-21 08:53] sashadev-sky commented on #510
@sagarpreet-chadha

[2019-08-21 09:14] sashadev-sky commented on #919
Hi Jeff - So sorry I missed these messages. Thank you so much for the video, I really appreciate you taking the time esp. with all of the things you are probably trying to catch up on this week! I will look over it and get back to you ASAP.

[2019-08-21 14:08] alaxalves commented on #953
What solved for me in Rails 5 was putting this `gem 'recaptcha', '~> 5.0.0', require: 'recaptcha/rails'
` in our Gemfile and `bundle update recaptcha`

[2019-08-21 14:11] alaxalves commented on #952
I have no acces to the Jenkins machine :(. I can't help much with this. There is a dangling MK container in our Jenkins machine. If we get access to the machine the solution is just removing the dangling container and redeploy it, we can do this through the Makefile script, but wouldn't advise you to do that

[2019-08-21 14:12] alaxalves commented on #952
I think @icarito is already into this.

[2019-08-21 14:13] alaxalves commented on #953
The error now is this
![image](https://user-images.githubusercontent.com/19597045/63439580-b5c4d600-c404-11e9-8780-8b14b843b62c.png)

[2019-08-21 14:14] alaxalves commented on #953
It's the same error as I described here: https://github.com/publiclab/mapknitter/issues/952#issuecomment-523474872
@icarito is the one with access to the VPS. He can fix it

[2019-08-21 14:23] alaxalves commented on #603
Discussions and merge available to https://github.com/publiclab/mapknitter/pull/824

[2019-08-21 14:26] jywarren commented on #919
Thanks, Sasha, no problem! You've been working real hard on all different parts of LDI!

[2019-08-21 15:11] sagarpreet-chadha commented on #510
Hi @sashadev-sky ,
sorry for reverting back late.
I found something weird, mapknitter.org does not have the LEL layers!
It is in the codebase:  https://github.com/publiclab/mapknitter/blob/ab4727f085a507f469cb27ebd97f5a44b5cfe9a8/app/views/maps/index.html.erb#L236

But not showing in the production .

And these lines are not working as you can check on website:
https://github.com/publiclab/mapknit

[2019-08-21 15:14] jywarren commented on #510
Was it perhaps installed on some maps but not others? We should have it
installed on the new View Only page that Cess is working on, for sure. And
perhaps on the front page tour map. Could we integrate it with the new
one-line all layers function once that is done?

On Wed, Aug 21, 2019 at 11:12 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-08-22 14:31] sagarpreet-chadha commented on #510
Okay, yeah makes sense . Lets preempt integration till the new one-liner feature is ready . Thanks

[2019-08-22 14:43] metonymic-smokey commented on #939
@gauravano I was looking into overflow-wrap in CSS to solve this, to basically continue the word(i.e. file name) to the next line.
Considering the security aspect as you mentioned, I think text-overflow would be better. I'll just look into that.
Thanks for the suggestion!

[2019-08-22 18:17] sashadev-sky commented on #953
In `recaptcha.rb.example` we have (updated 7 days ago)
[code]

In recaptcha.rb (also updated 7 days ago) we have:

[code]

Switching Recaptcha::ClientHelper to the other 2 lines in the example solved the problem for me. I don't know anything about this code but if that is not the solution, it is still a discrepancy we should fix!
@jywarren @kaustubh-nair @alaxalves

[2019-08-22 19:49] cesswairimu commented on #868
We fixed in #904. closing this

[2019-08-22 19:49] #868 closed

[2019-08-22 21:30] sashadev-sky commented on #919
I think it is fixed!!! at least the featureGroup is. So the exporting should be fixed! #919 I will watch your video on exporter to learn about how to test if fixed @jywarren

[2019-08-22 21:48] jywarren commented on #919
amazing!!! This is awesome, Sasha, thanks so much!

On Thu, Aug 22, 2019 at 5:31 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-08-23 05:22] sashadev-sky commented on #888
@NitinBhasneia would you like me to make you one

[2019-08-23 06:22] flyside commented on #888
@NitinBhasneia please fix it) thx!

[2019-08-24 16:09] kaustubh-nair commented on #953
Hi, how do I reproduce this locally? @alaxalves @divyabaid16 @sashadev-sky ?

[2019-08-24 18:59] #845 closed

[2019-08-24 21:02] gauravano opened #963 "OAuth buttons of slider not working"
OAuth buttons present in the slider which opens on clicking **create a map** are not working.

![Aug-25-2019 01-57-29](https://user-images.githubusercontent.com/20878070/63642368-c498da80-c6db-11e9-9fe2-5f24971ea41c.gif)

[2019-08-25 08:44] divyabaid16 commented on #922
This is happening for me again and this time I'm not even able to place the images on the map.
@sashadev-sky @cesswairimu

[2019-08-25 12:59] divyabaid16 opened #965 "Add border to Authors in gallery template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-25 13:09] Sravanksk commented on #965
Hello @divyabaid16  Can I take this ?

[2019-08-25 13:10] divyabaid16 commented on #965
Ya go ahead @Sravanksk

[2019-08-25 13:10] Sravanksk commented on #965
Yeah , Thank you.

[2019-08-25 14:00] kaustubh-nair opened #967 "List of system tests to implement"
I thought of making a list of system tests to be written so that it's easier to test javascript features that aren't covered properly.

- [ ] Test if dashboard map is getting loaded
- [ ] Test if leaflet layer is loading properly for map creation
- [ ] Test annotations ( break me up )
- [ ] Test search
- [ ] Test image upload
- [ ] Test image placement
- [ ] Test drag to upload ( This is a difficu

[2019-08-25 14:01] kaustubh-nair commented on #967
I'll implement some of these, but if you're a newcomer you can grab an easy one and test it too!
Here's an example of a system test if you need reference: https://github.com/publiclab/mapknitter/blob/main/test/system/images_test.rb

[2019-08-25 14:03] kaustubh-nair commented on #967
Also, @publiclab/mapknitter-reviewers: feel free to add more to the list

[2019-08-25 14:04] kaustubh-nair commented on #607
list of tests here: https://github.com/publiclab/mapknitter/issues/967

[2019-08-25 14:04] #607 closed

[2019-08-26 00:15] alaxalves commented on #953
You just have to lift the MK environment with `rails s`. I'm sure this is related to the Recapcha gem version. Either using >5.0 or <5.0 should solve this.

[2019-08-26 00:16] alaxalves commented on #953
That is the solution! Using the one in the .example file is regarding the Recaptcha gem version 5.0!

[2019-08-26 08:52] cesswairimu commented on #922
Hi Divya,  will try it on my end and see if it is working for me.

[2019-08-26 16:24] cesswairimu commented on #922
Its working fine on my machine :thinking: are there any errors in console?

[2019-08-26 16:31] jywarren commented on #963
Ah, good catch! @divyabaid16 @sidharthbansal would you mind taking a look
at this? Thank you!

On Sat, Aug 24, 2019 at 5:02 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-08-27 06:38] divyabaid16 commented on #963
I will just fix this.

[2019-08-27 07:12] divyabaid16 opened #970 "Remove the dotted line from OAuth button options"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-27 07:17] divyabaid16 commented on #970
Ya sure go on @joedemcher :balloon:

[2019-08-27 07:21] divyabaid16 commented on #898
I guess you haven't synced with the upstream branch. Hence, merge conflicts are arising.
Please read [this](https://help.github.com/en/articles/syncing-a-fork) and try to sync with upstream then commit the changes and open a PR.

[2019-08-27 10:41] divyabaid16 commented on #932
Okay, so I'm able to filter the images, that is very easy and when I tried saving the image after it was filtered, I came to know that SavedSequence in JSON format is used to save the image.
And also, just confirming ```saveSequence``` is the function that is used to save the image?

[2019-08-27 14:10] jywarren commented on #932
Ah, no, that actually saves the /sequence/, not the output image. You can
see how to get the output in the image-sequencer docs here:
https://github.com/publiclab/image-sequencer

It will be a data url. There are some examples of how to work with the
output in a simple example here:

https://github.com/publiclab/leaflet-multispectral and
https://github.com/publiclab/leaflet-tile-filter

Thanks, Di

[2019-08-27 19:43] alaxalves opened #971 "Use Webpacker instead of Sprockets"
When we get Rails 6.0 merged on `main` branch, we could consider setting up WebPacker instead of Sprockets. I have started much of this work already [here](https://github.com/alaxalves/mapknitter/pull/4)

[2019-08-28 04:44] divyabaid16 commented on #970
I guess @joedemcher is working on this.
You can try out with some other issue @BrooksPatola
Thanks!

[2019-08-29 20:36] sashadev-sky commented on #690
@kaustubh-nair yes closing this its stale and resolved!

[2019-08-29 20:36] #690 closed

[2019-08-29 20:39] sashadev-sky commented on #928
@NitinBhasneia ok cool just looping in here that you're assigned to #888

[2019-08-30 17:21] jywarren commented on #953
I think the build is still failing, but icarito and I will be taking a look
at this today. Thanks!

On Tue, Aug 27, 2019 at 8:08 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-08-30 18:45] alaxalves opened #979 "Switch Foreman to Forego"
After we get https://github.com/publiclab/mapknitter/pull/956 into `main` branch. We should starting working on replacing Foreman gem with Forego service. As described in https://github.com/ddollar/foreman/issues/735#issuecomment-526302981 and with more details here https://github.com/ddollar/foreman/wiki/Don't-Bundle-Foreman

[2019-08-30 19:59] alaxalves commented on #967
Great idea @kaustubh-nair !!

[2019-08-30 20:19] #804 closed

[2019-08-30 20:49] jywarren commented on #953
OK, confirming that `recaptcha.rb` is NOT tracked, only `recaptcha.rb.example` is. But, `.example` has the 2 line version:

https://github.com/publiclab/mapknitter/blob/cee7479cf4f0323a262b931a37cc72215ca48273/config/initializers/recaptcha.rb.example#L1-L11

We will update this on stable.

[2019-08-30 21:00] jywarren commented on #953
I made the change on production but we won't restart it yet, so it won't be an issue yet. When we publish to production after thorough checks on stable, we can double check this.

[2019-08-30 21:02] jywarren commented on #952
OK, http://mapknitter-unstable.laboratoriopublico.org/#6/20.120/-99.005/ is back online, though it's showing an error message. Can someone try pushing something locally confirmed to run here?

[2019-08-30 21:11] jywarren commented on #952
Also linking to #953...

[2019-08-31 06:39] kaustubh-nair commented on #953
Sounds awesome

[2019-08-31 09:49] SidharthBansal commented on #963
Oh great! Quick fix

On Tue, Aug 27, 2019, 7:40 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-31 09:50] SidharthBansal commented on #967
Great idea.
Is this for your project or generic?

On Sat, Aug 31, 2019, 1:29 AM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-08-31 12:02] divyabaid16 commented on #932
I am still working on this! Sorry that it's taking me some time.

[2019-08-31 19:23] gauravano commented on #922
I remember encountering such error a week ago while reviewing PR - 935 but it's working fine now on main. @divyabaid16 update your main and try if you are getting the error again. Thanks!!

[2019-09-01 03:54] icarito opened #982 "Papertrail issue (unknown cause) is causing 500 errors"
Although load doesn't seem high.
I think I've isolated this case (sorry about the whitespace):
![imagen](https://user-images.githubusercontent.com/199755/64071516-6a4ecb00-cc41-11e9-9a0a-ade3f093cbc3.png)

The result is some heavy delay in rendering **MapController**:
![fractal-pasted-image](https://user-images.githubusercontent.com/199755/64071526-910d0180-cc41-11e9-95f3-eb94ae39dde7.png)

This s

[2019-09-01 04:27] icarito commented on #953
Thanks @alaxalves that was awesome. But now we are seeing the same issue as was reported in #952 ! I think this has something to do with upgrades to our docker-compose file, found a similar issue:
https://github.com/docker/compose/issues/2061

[2019-09-01 04:30] icarito commented on #952
I think this has something to do with `container_name` appearing in `docker-compose.yml` file. We don't want to name containers because they will conflict with each other on the same host, this is what is stopping stable now (see #953).

[2019-09-01 06:08] icarito commented on #952
I see @alaxalves why you added container_name, in order to be able to `wait_for_container` on the Makefile. But this breaks in our staging setup because there will be more than one Mapknitter web container.

[2019-09-01 06:08] icarito commented on #952
Currently Unstable Makefile is stuck trying to start Mapknitter https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/210/console because of this

[2019-09-01 09:13] kaustubh-nair commented on #967
@SidharthBansal This is open for anyone to write. I can help them out in case there are any issues with the tests. I haven't implemented them myself since I'm not much familiar with LDI

[2019-09-01 09:29] kaustubh-nair commented on #703
Reopening this because I'm still facing this. The error is the same as mentioned above
I think there is something wrong with the create_maps migration? To reproduce it, drop database, create it, and run migrations
@publiclab/mapknitter-reviewers

[2019-09-01 16:44] #928 closed

[2019-09-02 04:31] icarito commented on #952
This should be fixed with #983
:balloon: :tada:

[2019-09-02 05:49] gauravano commented on #982
I tried loading the maps#show. But, didn't observed anything suspicious. For me, these were the logs:

[code]

[2019-09-02 05:51] gauravano commented on #982
@icarito @jywarren can you paste log for this maps#show request/response so that we can see which query is taking time?

Thanks!

[2019-09-02 15:53] alaxalves opened #987 "Delete unwanted initializer"
This file https://github.com/publiclab/mapknitter/blob/main/config/initializers/column_definition.rb seems to be totally useless. I think it's a nice idea to delete it.

[2019-09-02 15:54] alaxalves commented on #987
@sashadev-sky @jywarren Am I right?

[2019-09-02 16:22] SidharthBansal commented on #967
No problem. Thanks for opening this issue.

On Sun, Sep 1, 2019, 2:43 PM Kaustubh Nair <notifications@github.com> wrote:

[2019-09-02 18:04] alaxalves opened #989 "> Rails 6: Use patched version of Foreman gem"
Since we got https://github.com/publiclab/mapknitter/pull/956 merged into main, bundling the dependencies will cause an error regarding the `thor` gem version mismatch. I have already solved this in https://github.com/publiclab/mapknitter/pull/824. I'll submit a PR fixing this asap, we we shold merge it asap.

[2019-09-02 19:59] #639 closed

[2019-09-02 20:28] gauravano commented on #989
Where are we getting this version mismatch error?? I am not able to reproduce.

[2019-09-02 20:31] alaxalves commented on #982
@gauravano Have you lifted MK on production mode?

[2019-09-02 20:32] gauravano commented on #982
No, development mode.

[2019-09-02 20:43] alaxalves commented on #982
I think this might be a production issue.

[2019-09-02 20:49] gauravano commented on #982
Yes, possible. We can only be certain after seeing logs of the req/res

[2019-09-02 21:08] alaxalves commented on #989
[code]

Better described here as well: https://github.com/ddollar/foreman/issues/735

[2019-09-02 21:13] alaxalves commented on #989
As discussed with @gauravano I'm closing this and https://github.com/publiclab/mapknitter/pull/990 in favor of #979

[2019-09-02 21:13] #989 closed

[2019-09-03 02:13] sashadev-sky commented on #987
@alaxalves I would not delete this! I started seeing MYSQL errors after it was commented out. In fact, I think it should be uncommented, or the database fixed up! I left all of the relevant notes regarding it in the column above it

[2019-09-03 02:16] sashadev-sky commented on #922
Confirmed its working fine! @divyabaid16 please provide a snapshot of your current view with the icons not working so we can see what you are seeing

[2019-09-03 02:17] sashadev-sky commented on #922
and any errors in the console that appear relevant!

[2019-09-03 05:39] sashadev-sky opened #993 "Update code of conduct"
Update code of conduct to reflect changes on https://publiclab.org/conduct Aug 28th, 2019

[2019-09-03 06:12] icarito commented on #982
Really I'm not sure if these are the problematic requests in question, but I've made a gist with some particularly slow requests here:
https://gist.github.com/icarito/685b4aaf8c9b71b089b29c8705039424
Thanks for looking into it!

[2019-09-03 06:24] divyabaid16 commented on #922
Now it's working fine.
Thanks all!

[2019-09-03 15:14] CoderJolly commented on #967
Great Idea @kaustubh-nair

[2019-09-03 15:40] #993 closed

[2019-09-03 15:44] #970 closed

[2019-09-03 17:32] #922 closed

[2019-09-04 17:45] TantumErgo commented on #965
@divyabaid16 Is this issue still open? I took a look at the pull request, but it was left unfinished 8 days ago.

[2019-09-04 21:34] #979 closed

[2019-09-04 22:31] sashadev-sky opened #996 "Puma server is not working"
Replicate this:

- rebase branch with upstream main
- bundle install
- yarn install
- rails s  ---> `No such file or directory @ rb_sysopen - app/tmp/pids/puma.pid (Errno::ENOENT)`

Tried also
- gem install puma
- `puma config.ru` ---> same error

From Procfile
- `puma -C config/puma.rb` --> same error

Also it seems that the default environment has been set to production? Do we mean to use `passe

[2019-09-04 22:31] sashadev-sky commented on #996
@publiclab/mapknitter-reviewers @alaxalves @kaustubh-nair @jywarren

[2019-09-05 13:37] alaxalves commented on #996
@sashadev-sky Puma is needed to run actioncable and passeger is needed to serve MK. In order to run passenger and puma you have to install the forego package and `forego start`.

[2019-09-05 13:37] alaxalves commented on #996
BTW I was'nt able to reproduce this issue.

[2019-09-05 13:50] sashadev-sky commented on #996
@alaxalves we cannot also serve MK on puma? I think that is what im doing / its working in #959

It is a local setup! the `tmp` folder is not inside the `app` folder so that error makes sense

[2019-09-05 16:12] debck commented on #941
I would like to work on this. Plz assign me the issue.

[2019-09-05 18:05] ebarry opened #997 "Discussion: use same table of tags as exists on publiclab.org?"
Hello!
Following up on a discussion a week or so ago about which tags are used (and how) on various Public Lab websites, i'd like us to consider whether mapknitter's tagging interface might pull from the same set of tags that moderators curate on publiclab.org.

Here's a quick overview of tagging on various Public Lab sites:

1. publiclab.org (which has the biggest, and most extensively curated se

[2019-09-05 18:26] alaxalves commented on #996
@sashadev-sky Puma is not very good/recomended to serve on production, because it's too slow. I think that's why we use Passenger instead. But using it only for ActionCable is not a problem.

[2019-09-05 18:46] sashadev-sky commented on #996
@alaxalves gotchya! Ok well i reversed the puma configs in #959 (except for the pidpath which locally, should actually be `tmp/pids/puma.pid`

Would you mind reviewing #959 im keen to get it merged :)

[2019-09-05 18:47] alaxalves commented on #996
@sashadev-sky In order to run Passenger and Puma you have to [install ForeGo](https://dl.equinox.io/ddollar/forego/stable). After that you can `forego start`. I found out there's an error on puma.rb file that makes it work only inside docker, I'll submit a PR fixing it

[2019-09-05 18:50] alaxalves commented on #996
The puma config on #959 looks completely OK to me. I'll test it on docker and if everything goes well I'll approve it.

[2019-09-05 18:54] sashadev-sky commented on #996
@alaxalves sometimes I decide to have devOps days 😅

[2019-09-05 20:27] jywarren commented on #953
Oh, interesting -- stable is up again now - http://mapknitter-stable.laboratoriopublico.org

We're still waiting for last info on #983 but not as urgent anymore... but maybe #983 may prevent this from recurring?

[2019-09-05 21:41] jywarren commented on #941
Please go ahead, thank you!!!

On Thu, Sep 5, 2019 at 12:12 PM Debasish Sahoo <notifications@github.com>
wrote:

[2019-09-05 22:12] jywarren commented on #703
Aha, so @sashadev-sky was addressing this in #959 but actually we should not edit migrations in the past -- they're kind of like version tracking... and any migration already run on a live instance of the app should be considered permanent. Any changes should be added to a new migration - which is why they have timestamps. Does that make sense? So that means these changes to old migrations will ca

[2019-09-06 18:51] #952 closed

[2019-09-09 19:54] sashadev-sky commented on #812
Yarn didn't update LDI from `0.6.0` to `0.7.6` might be relevant

[2019-09-09 19:59] jywarren commented on #812
Yes, actually let's make a new issue as this seems unrelated enough. Thanks, Sasha!

[2019-09-09 19:59] #812 closed

[2019-09-09 20:07] jywarren commented on #812
Actually merging with #791...! Thanks!

[2019-09-09 20:16] jywarren opened #999 ".yarnrc /public/lib/ for yarn assets"
Hi all, just making a good place for us to figure this out together -- back in #885, @alaxalves noted:

This deletion of `.yarnrc` may be causing us some trouble... the `.yarnrc` setting is needed to preserve public accessibility of yarn assets such as images, stylesheets, fonts.

I added it back in in `main` branch but we should try to work this problem. cc @kaustubh-nair @sashadev-sky !

We're t

[2019-09-09 20:17] jywarren commented on #999
https://github.com/publiclab/mapknitter/blob/e7da08085f74d8283f61502448ab238e86c14cd4/.yarnrc#L1-L2

[2019-09-09 20:26] jywarren commented on #999
OK, I opened a PR to complete this transition at https://github.com/publiclab/mapknitter/pull/1000, but it'll need testing, esp. on unstable. @sashadev-sky you may want to pull this into your unstable tests too?

[2019-09-09 21:06] #761 closed

[2019-09-10 15:24] alaxalves commented on #999
I removed it because we started using default `node_modules/` folder to install the assets. We were having mismatch of dependencies and assets installation. Some assets that depended on others were failing to load, because of its relative path finding. I suggest we keep .yarnrc but using node_modules/ and not public/lib/.

[2019-09-10 15:28] alaxalves commented on #999
This is caused due to a Yarn issue. It's not a MapKnitter issue. Even though we define our installation path in `public/lib` folder, Yarn has problems finding those. That's why I have set the installation to use Yarn's default folder `node_modules/`.

Check the links and comment I have provided [here](https://github.com/publiclab/mapknitter/pull/885#issuecomment-516237923)

[2019-09-10 17:27] jywarren opened #1004 "/maps/edit/village-market route not working"
Hi @cesswairimu ! After #777 it seems this route isn't working for some reason:

http://mapknitter-stable.laboratoriopublico.org/maps/edit/village-market

I get a 404:

`That page does not exist.`

Would you have a moment to see what's up?

Thank you!

[2019-09-10 18:53] cesswairimu commented on #1004
Hey @jywarren I mentioned the issue here https://github.com/publiclab/mapknitter/pull/777#issuecomment-530037451 maybe u didn't get a chance to see it and I had opened a PR for the fix #1003  but @sashadev-sky already included the fix in #1001 , so I closed mine. This should be working fine after Sasha's PR is merged. Thanks

[2019-09-10 21:40] jywarren commented on #1004
Oops, thanks for pointing that out!

On Tue, Sep 10, 2019 at 2:54 PM Cess <notifications@github.com> wrote:

[2019-09-10 21:41] jywarren commented on #1004
Perfect, fixed in #1001 Thanks!

[2019-09-10 21:41] #1004 closed

[2019-09-10 22:03] jywarren commented on #999
Thanks, Alax - the potential issue we've seen before is that some JS assets need a publicly accessible URL to their assets, especially those referenced from stylesheets - so, icon images used in styles, as well as font assets. This has come up before for example with the "layer select icon" used in Leaflet's layer control.

However, have we set up the asset pipeline to route requests for static as

[2019-09-10 22:05] jywarren commented on #999
Like, i think the asset pipeline is set up to route requests to `/assets/FOO` to wherever we point it. So if that is working, we should be good.

http://mapknitter-stable.laboratoriopublico.org/assets/leaflet-distortableimage/package.json

OK, so this works. With a +1 from @alaxalves we should be good here then?

[2019-09-10 22:05] jywarren commented on #999
And then we'd be able to undo the `.yarnrc` change.

[2019-09-10 22:14] #703 closed

[2019-09-10 22:14] #919 closed

[2019-09-10 22:14] #982 closed

[2019-09-10 22:14] #996 closed

[2019-09-10 23:10] sashadev-sky opened #1006 "Schema.rb"
### What happened just before the problem occurred

The `schema.rb.example` was not updated sufficiently in #959 and is showing a past version.

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-09-10 23:17] sashadev-sky commented on #987
closed via #959

[2019-09-10 23:17] #987 closed

[2019-09-10 23:35] sashadev-sky opened #1008 "`.modal()` is not a function, and needs to be moved"
## Problem

`maps/slug` previously rendered an editable map, with an intro modal explaining how to edit it:
![image](https://user-images.githubusercontent.com/41092741/64666128-2454ec80-d423-11e9-9f81-e76ca1bc8155.png)

We updated our paths so that the map view at `maps/slug` is just a preview of the map, and to get to the previous edit view you have to click `Edit this map` (bottom right directly

[2019-09-10 23:35] sashadev-sky commented on #1008
@cesswairimu @divyabaid16 @jywarren

[2019-09-11 04:03] sashadev-sky commented on #1008
@SidharthBansal is this how I create GCI tasks for now? just the label?
Also would love your input on the issue, and if you have any opinions on the solution you can edit it to guide the developer in that direction.

Also is this appropriate difficulty? I have not made GCI tasks before

[2019-09-11 05:18] SidharthBansal commented on #1008
Awesome!
Just put a line in the issue body stating this issue is reserved for GCI only.
Please see last yr GCI solved issues so that you can copy paste from it.
Thanks

[2019-09-11 10:07] sashadev-sky opened #1010 "logging in does not work in development or production"
### What happened just before the problem occurred

Clicking on any of the `login`s available throughout the site results in something like this:

[code]

this isn't exact because I messed around with inputs a little bit to try to debug but the errorr stays the same regardless.

Complaint seems to be that `identity_url`is always nil -- in browser:
![image](https://user-images.githubusercontent.com

[2019-09-11 10:08] sashadev-sky commented on #1010
@jywarren

[2019-09-11 10:11] divyabaid16 commented on #1008
This is very well written @sashadev-sky
According to me, it is a good task for GCI.
Thanks!

[2019-09-11 11:45] sashadev-sky opened #1012 "Front-ui missing PL icon"
On root page of MK.

The login view is missing in the public lab and github icon

![image](https://user-images.githubusercontent.com/41092741/64694196-26d93580-d467-11e9-91d7-5041eceeddd4.png)

[2019-09-11 11:48] sashadev-sky commented on #1012
@publiclab/mapknitter-reviewers

[2019-09-11 11:53] alaxalves commented on #999
Yes, I was careful to link every asset reference to the updated path, thus keeping MK's compatibility when loading assets. Every `public/lib/` reference I changed to Yarn's default `node_modules/`. If we experience any asset loading related issue, we could open another issue.

[2019-09-11 11:56] alaxalves commented on #999
The `assets/` folder is because Rails looks for assets in its default folder `public/`, and we have set yarn to reference its installed assets on this folder too(`public/assets/`), as well as in `node_modules/` folder.

[2019-09-11 11:59] alaxalves commented on #999
I think that in https://github.com/publiclab/plots2/blob/65096e88b43baa9749df821976ccfe00ee362e66/app/assets/javascripts/setup.js#L2 the url should be `assets/FOO` and not `/assets/FOO`, because Sprockets will look into `public/` folder already, thus we shouls reference the assets path. But we should confim this first, I'm not 100% sure. @sashadev-sky can you confirm this?

[2019-09-11 12:23] sashadev-sky commented on #999
Not really sure about the sprockets convention.

But we use `/assets` all over the repo. Especially for `javascript_includee_tags`. (perhaps wrongly because there is a lot of unused code). So would be good to look into

[2019-09-11 13:02] sashadev-sky commented on #1010
@divyabaid16 tried fetching your pr and running locally
https://github.com/publiclab/mapknitter/pull/969
and even that wouldn't work. any idea why?

[2019-09-11 14:01] jywarren commented on #1010
Hi, on the live site at MapKnitter.org (which is usually what I think of as "production" but there's definitely an ambiguity there, so i'll start being more specific) the Sign Up menu item in far upper right works:

![image](https://user-images.githubusercontent.com/24359/64703521-9a387280-d47a-11e9-90b8-9f8838899c01.png)

(2 tabs successfully opened from the different options here)

However I see

[2019-09-11 14:06] jywarren commented on #1010
I see you've copied the navbar login partial in #1011 and I believe that solves all issues I have found. But i'll keep looking for instances of `Login` not working, i may have missed something.

[2019-09-11 14:08] #1012 closed

[2019-09-11 14:47] jywarren commented on #1008
Oh, actually i wonder if this is too high priority for GCI. This would be a
blocking issue for publishing to production, don't you think?

But, thanks for documenting and for organizing for GCI!!!

On Wed, Sep 11, 2019 at 12:04 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-11 16:38] alaxalves commented on #999
I agree!

[2019-09-12 00:23] sashadev-sky commented on #1008
@jywarren its not a showstopper but I see what you mean. I can fix it, but really I was not sure how to handle point 3 myself

[2019-09-12 00:26] sashadev-sky commented on #1010
Confirming production is fine. Let me double check locally, I think I was having issues on both for some reason. Also yes production for me means the live site

[2019-09-12 00:29] sashadev-sky commented on #1010
ah yay fixed. Closing!

[2019-09-12 00:29] #1010 closed

[2019-09-12 00:37] sashadev-sky opened #1013 "logging in broken on /anonymous path in production and development"
These login buttons dont work, and are also missing the public lab and github icons:

![image](https://user-images.githubusercontent.com/41092741/64744980-f7acdd80-d4d3-11e9-9413-4865b1520509.png)

[2019-09-12 01:04] sashadev-sky opened #1015 "submitting empty form results in an error page instead of form with error messages"
![recapno](https://user-images.githubusercontent.com/41092741/64669686-8c5dff80-d430-11e9-8af4-4861eced08b9.gif)

Does this in both production (whether or not recaptcha was checked) and development, whether logged in or logged out.

[2019-09-12 02:14] sashadev-sky commented on #140
This one has been resolved, so closing! Thank you :) please re-open if it comes up again

[2019-09-13 06:55] sashadev-sky commented on #445
@jywarren I am going to delete this issue, and open up a new issue titled "add wiki documentation on anonymous editing and why we allow it" or something

[2019-09-13 06:55] #445 closed

[2019-09-13 06:55] sashadev-sky opened #1021 "Research and document anonymous editing and the purpose of MapKnitter"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# Problem

There has been much discussion on why we allow anonymous users to create maps, as it creates complications. See #445, for example.

We have decided to move forwar

[2019-09-13 15:59] SidharthBansal commented on #559
Great

On Fri, Sep 13, 2019 at 12:17 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-13 15:59] SidharthBansal commented on #445
Cool

On Fri, Sep 13, 2019 at 12:25 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-09-13 16:08] jywarren commented on #445
awesome!

On Fri, Sep 13, 2019 at 12:00 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-09-13 16:21] #180 closed

[2019-09-13 16:21] #1008 closed

[2019-09-13 17:58] jywarren commented on #1021
This is so awesome. Thank you! Rad! And - the output of this could be posted at PublicLab.org as well. ❤️

[2019-09-13 18:08] jywarren commented on #999
I'm going to revert the .yarnrc change I'd made, but for the change between `assets/FOO` and `/assets/FOO` another issue may need to be opened! Thanks, all!

[2019-09-13 18:08] #999 closed

[2019-09-14 00:28] sashadev-sky commented on #1021
@jywarren thank you!! I have come to learn that "rad" is the highest form compliment there is 🚀

[2019-09-14 00:31] sashadev-sky opened #1025 "should give warning about "return to editor" being permanent save for anon maps"
We have an ability to create a map without login-in, these maps are marked as created by "anonymous".  During creation of such a map, when you click on "return to editor" means permanent save, since a not logged in user cannot edit/delete maps.

### To do
We need to add a warning about clicking on "create map" button being permanent save for anonymous maps. This is the  button https://github.com/p

[2019-09-14 16:17] jywarren opened #1027 "500 error: Render and/or redirect were called multiple times on stable"
Got this upon submitting the form at http://mapknitter-stable.laboratoriopublico.org/maps/new --

[code]

I think it's because of these two `render 'new'`:

https://github.com/publiclab/mapknitter/blob/8f04db55955fd698e3795fe353b5773a9663e88c/app/controllers/maps_controller.rb#L45-L52

[2019-09-14 16:18] jywarren commented on #1027
Looks like we just remove the one on line 45. Surprised that tests didn't catch this!

[2019-09-14 16:20] jywarren commented on #1027
Filed a fix at #1026 ttps://github.com/publiclab/mapknitter/pull/1028

[2019-09-14 16:37] #1027 closed

[2019-09-14 20:47] gauravano opened #1029 "Moderation system for Mapknitter"
There's a lot of spam on Mapknitter so creating a Spam service to manage. What features would be added:
1. Addition of map in moderation queue i.e., if user is a first-time poster
2. Anonymous maps would always be posted after review.

Starting with these two for now.

cc @jywarren

[2019-09-15 15:03] sashadev-sky commented on #620
closing via https://github.com/publiclab/Leaflet.DistortableImage/pull/393!

[2019-09-15 15:03] #620 closed

[2019-09-15 15:10] sashadev-sky commented on #1027
@jywarren sorry! I had through that when a rails controller hits a `render` or a `redirect`, its like hitting a `return` statement. Is this not the case?

[2019-09-15 16:42] sashadev-sky commented on #591
Im going to close this one as its resolved!

[2019-09-15 16:42] #591 closed

[2019-09-15 17:22] cesswairimu commented on #808
Hey @jywarren, is putting the note as the placeholder here, what you had in mind?  Thanks
![tags](https://user-images.githubusercontent.com/17081074/64925206-cf83ee00-d7f5-11e9-9db0-fa04ac86764b.png)

[2019-09-16 14:10] jywarren opened #1031 "Bugs on stable in map creation"
Follow-up to #1028 -- seeing:

[code]

I had an error on uploading an image -- `Error Internal Server Error` in the modal -

![image](https://user-images.githubusercontent.com/24359/64965004-2e834a80-d86a-11e9-8b22-a51289b778a9.png)

And one on submitting the create map form while anonymous -- probably a 500.

[2019-09-16 14:11] jywarren commented on #1031
2nd error (map creation when not logged in) is:

[code]

[2019-09-16 14:34] jywarren commented on #1031
Looks like `paperclip` now prefers `aws-sdk-s3` gem instead of `aws-sdk` -- switching...

[2019-09-16 14:39] jywarren commented on #1031
https://github.com/thoughtbot/paperclip/pull/2481

[2019-09-16 15:57] jywarren commented on #1031
Now, what's the other one...? where it fails if you're not logged in?

[2019-09-16 16:24] jywarren commented on #1031
Hmm. But still getting this when logged in:

[code]

[2019-09-16 16:26] jywarren commented on #1031
OK, so I think what's happening is that we need the `params[:map_id]` route param but we've moved the URL to:

http://mapknitter-stable.laboratoriopublico.org/maps/test3/edit

So, it's not getting it. Checking routes...

[2019-09-16 16:32] jywarren commented on #1031
Hmm, it looks like we're not getting proper `map_id` anywhere. I don't see `/maps/____/edit` in routes...

[2019-09-16 16:36] jywarren commented on #1031
Hm, just alerting @cesswairimu @sashadev-sky about this one. My thoughts are:

* what routes are driving `/maps/____/edit` and how do we ensure `map_id` is properly plumbed?
* does the maps `create` action forward you to `/maps/_____/edit` and is this correct?

For that last question, i see:

https://github.com/publiclab/mapknitter/blob/c0b69f60bf7c3dbc13b462f4d9a6676353e5d382/app/controllers/maps

[2019-09-16 16:38] jywarren commented on #1031
Update: creating a map when not logged in now works!

[2019-09-16 16:40] jywarren commented on #1031
So, i think we're not getting `map_id` on this line:

https://github.com/publiclab/mapknitter/blob/c0b69f60bf7c3dbc13b462f4d9a6676353e5d382/app/controllers/images_controller.rb#L29

[2019-09-16 16:41] jywarren commented on #1031
The request is to: `http://mapknitter-stable.laboratoriopublico.org/maps/test4/warpables` and got a 500 error.

[2019-09-16 16:43] jywarren commented on #1031
I think it uses this route:

https://github.com/publiclab/mapknitter/blob/c0b69f60bf7c3dbc13b462f4d9a6676353e5d382/config/routes.rb#L59

[2019-09-16 16:49] jywarren commented on #1031
[code]

hmmmmm

[2019-09-16 16:53] jywarren commented on #1031
Could `undefined method `match' for nil:NilClass` mean that, for whatever reason, we aren't getting something to match `format` against?

[2019-09-16 16:53] jywarren commented on #1031
Ah, maybe `format` used to be part of the route? And now we aren't seeing it?

[2019-09-16 16:57] jywarren commented on #1031
Our generalized routes that included `format` have been removed as of Rails 5, so yeah, we may need to explicitly include that... checking the JS upload code...

Formerly:
[code]

[2019-09-17 14:01] jywarren commented on #1031
OK, locally, I'm able to upload images. So perhaps we're not looking at an issue with routes, but still with the `aws-sdk-s3` gem configuration with Paperclip? I've added the keys in stable as environment variables, but not sure how the above errors relate to an AWS issue. Maybe I can configure my local setup to use AWS and reproduce the error from here...

[2019-09-17 15:08] jywarren commented on #999
One more note here! I realized something we'd seen while debugging just before this issue that I just now understood - if the assets are available at `/public/lib/FOO` then they will override those available at `/assets/FOO` (i.e. from node_modules) -- so in production we'll have to manually remove the old ones or they'll override the newer versions.

[2019-09-17 15:35] jywarren commented on #1031
Great, reproduced locally:

[code]

[2019-09-17 18:22] jywarren commented on #1031
OK, got a better trace of the error:

[code]

[2019-09-17 18:23] jywarren commented on #1031
Same error as here! https://github.com/ankane/pghero/issues/69 --

wow, trying now!

[2019-09-17 18:30] jywarren commented on #1031
https://github.com/publiclab/mapknitter/blob/6642c6cdb261eed1487e5d1a1b37051e4f4a0079/config/amazon_s3.yml#L12

6642c6c

[2019-09-17 18:57] jywarren commented on #1031
Yes!!!

[code]

[2019-09-17 22:17] jywarren commented on #1031
OK, now we are seeing something different on stable (after adding the REGION):

[code]

[2019-09-17 22:29] jywarren commented on #1031
To reproduce, try uploading an image to: http://mapknitter-stable.laboratoriopublico.org/maps/test3/edit

[2019-09-18 04:07] icarito commented on #1031
I believe this should be solved with referencing the variables as in #1034 to be available on the container.

[2019-09-18 15:37] jywarren opened #1036 "Add "use current location" button to new map page"
We currently show a lat/lon and location search here:

https://mapknitter.org/maps/new

However, it could be useful to add a button to geolocate yourself, as we do on the front page, and to use that location

We could use a button in the same input group, attached to the right side of the input field for location, with the icon `crosshairs` - https://fontawesome.com/v4.7.0/icon/crosshairs

![image

[2019-09-18 15:41] jywarren commented on #1031
Thanks! I think there's another follow-on bug, so just going to document here and re-open:

[code]

[2019-09-18 15:55] jywarren commented on #1031
Locally i get:

[code]

[2019-09-18 16:14] jywarren commented on #1031
OK, great. I just got locally to the same error as in stable:

[code]

[2019-09-19 13:35] jywarren commented on #1031
Maybe this??? https://github.com/thoughtbot/paperclip/issues/2198

[2019-09-19 14:23] jywarren commented on #1031
I think i got this!

[2019-09-19 15:48] #1031 closed

[2019-09-19 17:59] jywarren opened #1041 "Issue with image position saving on stable server"
(This is on the main branch, so priority!)

I uploaded a couple images to the stable testing server, and they can be placed and manipulated. But they are not getting saved... I'm not sure why. @ViditChitkara would you mind taking a quick look at the errors? There are some about websocket connections, and I wonder if that's blocking them being saved?

If that's correct, could we redesign the orderi

[2019-09-19 18:58] ViditChitkara commented on #1041
Having a look!

On Thu, Sep 19, 2019 at 11:29 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-09-19 19:34] jywarren commented on #953
OK, so closing now! Thanks, all!

[2019-09-19 19:34] #953 closed

[2019-09-19 19:34] ViditChitkara commented on #1041
I think this is very similar to https://github.com/publiclab/plots2/pull/5744#issuecomment-504156582
Maybe we have to check out https://stackoverflow.com/a/51048929 and adjust nginx config here. @jywarren , @icarito any ideas?

<img width="1426" alt="Screenshot 2019-09-20 at 1 03 07 AM" src="https://user-images.githubusercontent.com/22616017/65275077-7b08a780-db42-11e9-9a78-2b31d2e1f00a.png">

[2019-09-19 19:35] jywarren commented on #1041
Thank you! This is, i think, the last thing before we publish this all to the live site! ❤️

[2019-09-19 19:35] jywarren commented on #1041
Is there a way to rewire this so that the image position saving isn't interrupted by whether actioncable is running?

[2019-09-19 19:35] jywarren commented on #1041
Just to decouple the errors?

[2019-09-19 19:35] ViditChitkara commented on #1041
Yes!! This is great!! Really excited about this one!

[2019-09-19 19:38] ViditChitkara commented on #1041
Will have to check that. Doing that.

[2019-09-19 19:52] jywarren commented on #999
Also noting that I found we had an `/assets/FOO` _folder_ which had to be removed as well before it would go all the way to `node_modules`.

[2019-09-19 21:51] jywarren opened #1042 "Error on stable..."
Looks like something went wrong with my last PR:

[code]

http://mapknitter-stable.laboratoriopublico.org/maps/test6/edit

Will look tomorrow, no time today unfortunately!

But, it seems like my map gets flushed each time it rebuilds? Is that possible?

http://mapknitter-stable.laboratoriopublico.org/gallery/ works fine but doesn't show my map... odd!

[2019-09-20 14:56] jywarren commented on #1041
Hm, also cc'ing @sashadev-sky just because one of the errors I'm seeing is that it's not finding any corners - one of the errors is on `getCorners()[0]` --

![image](https://user-images.githubusercontent.com/24359/65336929-39551c80-db95-11e9-9bd6-c5c457e3eb7b.png)

I also noticed that in the images tab it's not showing the second image as having uploaded properly, though it did work for the first.

[2019-09-20 14:57] jywarren commented on #1041
Thanks Vidit!

[2019-09-20 14:59] jywarren commented on #1041
Aha - one issue is that it's finding the map slug from the page URL, here:

https://github.com/publiclab/mapknitter/blob/cee7479cf4f0323a262b931a37cc72215ca48273/app/assets/javascripts/channels/concurrent_editing.js#L28

The page URL has just changed to `/maps/SLUG/edit` instead of `/maps/SLUG`, so this needs to be tweaked. I'll make that change in a PR but I think we should still be sure that the

[2019-09-20 15:04] jywarren commented on #1042
@icarito, just wondering if this is the case?

[2019-09-20 17:29] jywarren commented on #1041
OK, merged that, now let's let it build on Jenkins and let's test the stable server again.

[2019-09-20 17:39] ViditChitkara commented on #1041
Let's keep a close look there..

[2019-09-20 17:39] ViditChitkara commented on #1041
Also, I think the nginx configuration might still be needed for the websockets.

[2019-09-20 17:41] jywarren commented on #1041
Can you link to or explain exactly what the nginx config changes will have to be? Thanks.

[2019-09-20 17:43] jywarren commented on #1041
Ah, i see you did above - https://github.com/publiclab/mapknitter/issues/1041#issuecomment-533276283

Great. However we are oddly seeing that this is correctly configured on plots2 but not working there either, any ideas on that? https://github.com/publiclab/plots2/issues/6138

[2019-09-20 17:47] sashadev-sky commented on #1041
@jywarren I vaguely remember all of those exact errors. I see places where these errors would be caused.

for ex - **this is how I use the image `load` event:**
https://github.com/publiclab/mapknitter/blob/bd7e1cf77c88a5ef850970f1ff1d15b094b60d75/app/assets/javascripts/mapknitter/Map.js#L114-L119
https://github.com/publiclab/mapknitter/blob/bd7e1cf77c88a5ef850970f1ff1d15b094b60d75/app/assets/javas

[2019-09-20 18:03] ViditChitkara commented on #1041
Great. However we are oddly seeing that this is correctly configured on plots2 but not working there either, any ideas on that? publiclab/plots2#6138
Will have to dig in a bit deeper for this.

[2019-09-20 18:04] ViditChitkara commented on #1041
Doing

[2019-09-20 18:23] sashadev-sky commented on #1041
done this way so that it can share methods with this listener:
https://github.com/publiclab/mapknitter/blob/bd7e1cf77c88a5ef850970f1ff1d15b094b60d75/app/assets/javascripts/mapknitter/Map.js#L629-L633

I didn't have those errors when my PRs were merged though, but I think either
**a) were using the wrong version of LDI on stable?** or
**b) Fixing some parts of synchronous editing results in new bug

[2019-09-20 19:12] jywarren commented on #1041
Yes, so due to the asset management location change referenced in #999 stable had been running on `0.4.3`, so that may have been it! Thanks all, and no worries, this is why we have the stable server, to catch last minute integration issues like this, and we have both your projects plus @cesswairimu's work on the new edit URLs all coming together in one place, so it's not too surprising!

[2019-09-20 19:40] sashadev-sky commented on #1041
Ok! I will open a PR to refactor action cable code in Map.js when the connection part starts working! Keep me updated

Sasha Boginsky

[2019-09-21 04:08] icarito commented on #1042
I believe the database should persist accross builds actually. So it's odd if you're not seeing your maps appear. Do you think it's the database or the filesystem (or the aws bucket)?

[2019-09-21 04:09] icarito commented on #1042
I see no maps at all at http://mapknitter-stable.laboratoriopublico.org/gallery/

[2019-09-21 11:57] jattoabdul commented on #1036
Hi @jywarren
I am having some issues setting the project up on `https://codenvy.io`. I am getting an error `Mysql2::Error::ConnectionError (Access denied for user 'user'@'localhost' (using password: NO))` when I run and load the app.

I am also getting this error(`Your Ruby version is 2.4.4, but your Gemfile specified 2.4.6`) too even though the app runs and tries to load.

PS: I followed the setu