[2019-09-23 13:54] cesswairimu commented on #808
@jywarren kindly take a look :point_up: when you get a moment. Thanks

[2019-09-23 15:58] jywarren commented on #808
Ah, this would be perfect. We could put it in a `<small>` element in grey text just under there?

[2019-09-23 15:59] jywarren commented on #808
It could be a link like `Create a collection »` and then when you click it, it displays extra information about how to use tags to do this, just with `.toggle()`?

[2019-09-23 16:04] jywarren commented on #1042
I would guess the database. I had definitely created several maps there...
could there be an issue with recent db container naming changes? This isn't
critical but it'd be nice for data to persist.

On Sat, Sep 21, 2019 at 12:09 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-09-23 16:11] jywarren commented on #1041
OK, so now we are seeing a 500 error on the PATCH submission when an image tries to save:

[code]

This should be locally reproducible. Could a routes change have affected this? The payload was:

[code]

[2019-09-23 16:13] jywarren commented on #1041
[code]

OK! `uninitialized constant #<Class:0x000055e68782ad70>::Cartagen`

[2019-09-23 16:17] jywarren commented on #1041
OK, adding `  require 'cartagen'` in `warpable.rb`: https://github.com/publiclab/mapknitter/pull/1046

[2019-09-23 16:22] jywarren commented on #1036
Hi! Sorry you had trouble! Did you run the whole `install_cloud.sh` file and did it run without errors? You may also find other people going through the same steps at #307 which may be helpful.

If you read through this file, it shows each step in order -- it's possible we need to update some for the latest Codenvy setup, but the errors you're seeing above maybe suggest the whole file didn't run c

[2019-09-23 18:51] cesswairimu commented on #808
awesome thanks.

[2019-09-23 19:05] jywarren commented on #1041
OK! Saving is fixed!
![image](https://user-images.githubusercontent.com/24359/65454473-2f405180-de13-11e9-83fa-cdf622dad1af.png)

And we're on LDI `v0.7.7` -- but, not seeing the multiple image export feature yet. Closing this, though!

[2019-09-23 19:05] #1041 closed

[2019-09-23 19:06] jywarren commented on #1041
Looks like we still need `nginx` config for the websockets to work, but at least saving is working now!

[2019-09-23 19:07] jywarren commented on #1025
We could use a `data-confirm="Are you sure? This ....."` attribute on the link, so a popup appears?

[2019-09-25 14:30] cesswairimu opened #1050 "List map tags in the view map page(new show page)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-09-25 19:06] jywarren commented on #1050
Great idea!

On Wed, Sep 25, 2019 at 10:30 AM Cess <notifications@github.com> wrote:

[2019-09-25 22:25] jywarren commented on #1021
lol!!! I'm just catching up on all the work you've been doing so forgive me! ❤️

Rad! 🚀 🎸

[2019-09-25 22:35] #158 closed

[2019-09-25 22:36] jywarren commented on #1027
There is some odd reason why you can't render twice... i think it's not the
same as a redirect!

On Sun, Sep 15, 2019 at 11:10 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-10-03 22:14] pkayres commented on #965
Hey i'm sorry about this. I'm first timer to open source and I pulled this down and fixed the issue without realizing you're only supposed to fix this once. Just thought I'd let you know just in case that makes things difficult for any reason. Sorry again!

[2019-10-07 04:41] cesswairimu commented on #965
No worries @pkayres, did you find another issue yet or you still looking for one?

[2019-10-07 05:34] cesswairimu opened #1057 "Make about page consistent with index page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-07 07:00] cesswairimu opened #1059 "Move styling to assets/stylesheets"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-07 07:07] ilhamtaufiq commented on #1059
I would like to claim this issue

[2019-10-07 07:11] cesswairimu commented on #1059
Hi @ilhamtaufiq, go for it...let me know if ypou need any help

[2019-10-07 07:27] ilhamtaufiq commented on #1059
🏁 Done
I need your review
thank you!

[2019-10-07 07:27] PulakIIIT commented on #1057
I would like to claim the issue

[2019-10-07 07:35] PulakIIIT commented on #1057
I have made the necessary changes, can you review them and tell me what can i do better?

[2019-10-07 07:36] cesswairimu commented on #1057
Hi @PulakIIIT, this was created for @stefanosu If youlooking for a fto please add your name here on https://github.com/publiclab/plots2/issues/6206  and we will get find you one. Thanks

[2019-10-07 12:07] pkayres commented on #965
Hey @cesswairimu I didn't. Got a little intimidated after that hahaha.

[2019-10-07 12:36] Lisa-Caton commented on #1050
Hi there! I would like to claim this issue as a first-timer.

[2019-10-07 13:04] cesswairimu commented on #1050
Hi @Lisa-Caton this is reserved for @nstjean, I will add your name to the list here
https://github.com/publiclab/plots2/issues/6206  if you are looking for a first-timer issue. Thanks.

[2019-10-07 14:02] Lisa-Caton commented on #1050
Wonderful! Thank you.

[2019-10-07 14:10] pkayres commented on #965
Awesome thanks!

[2019-10-07 14:35] nstjean commented on #1050
Thanks!

[2019-10-07 15:18] nstjean commented on #307
Hi! I'm installing this repo on a fresh Ubuntu installation. Everything worked very smoothly until I tried to start up the server, I'm getting an error specifiying a problem with bootsnap.

`bundle exec rails s
=> Booting Puma
=> Rails 5.2.3 application starting in development
=> Run `rails server -h` for more startup options
W, [2019-10-07T11:16:23.731693 #29885]  WARN -- Skylight: [SKYLIGHT] [4.

[2019-10-07 16:35] cesswairimu commented on #307
Hi @nstjean, did u copy config/database.yml.example to config/database.yml and also db/schema.rb.example to db/schema.rb?

[2019-10-07 17:12] stefanosu commented on #1057
Thank you @cesswairimu

[2019-10-07 17:51] nstjean commented on #307
Hi, yes I copied and saved both of those.

[2019-10-07 17:58] cesswairimu opened #1065 "Move login page styling to stylesheets"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-07 17:58] cesswairimu commented on #1065
@alexido19 here you go

[2019-10-07 18:13] cesswairimu opened #1066 "Move anonymous styling to app/assets/stylesheets"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-07 18:13] cesswairimu commented on #1066
@Akashutreja here is an issue for you

[2019-10-07 18:31] blurry-x-face commented on #1036
Hi, Can I work on this issue?

[2019-10-07 18:35] cesswairimu opened #1067 "Add a depth description about Mapknitter in Readme"
### Description
@divyabaid16 wrote this awesome description about Mapknitter in the final report...It would be nice to have to on the repo. Thanks @divyabaid16 :heart:

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open

[2019-10-07 18:37] cesswairimu commented on #1067
@fadib here is an issue for you

[2019-10-07 19:18] KotovSyndrome commented on #1065
Hi, can I grab this one for my first OSS contribution?

[2019-10-07 20:19] fadib commented on #1067
Thanks! I will submit a PR soon. Looking forward to contributing more

[2019-10-07 23:08] stefanosu commented on #1057
Hi, I made the appropriate changes to this issue and made a pr. If someone could review it and or give me some feedback I would greatly appreciate it. @cesswairimu  Thanks in advance.

[2019-10-08 02:28] kiyominox commented on #1066
I would like this please.

[2019-10-08 04:01] vishakhanihore commented on #338
@gauravano Is it free to claim ?

[2019-10-08 04:45] vishakhanihore commented on #303
Working on it

[2019-10-08 04:55] cesswairimu commented on #1066
Hi @kiyominox, sorry, this is reversed for @Akashutreja...If you looking for a first-timer issue please leave a comment here https://github.com/publiclab/plots2/issues/6206 and we will get an issue for you. Or if you  can browse and look for an unassigned issue. Thanks

[2019-10-08 04:59] cesswairimu commented on #307
could u try starting the server with passenger. `$ passenger start`

[2019-10-08 12:23] Akashutreja commented on #1066
Hi @cesswairimu, I have raised pr. please review this and thanks for assigning the issue.

[2019-10-08 13:11] nstjean commented on #307
Here's the screenshot of the errors I got trying `passenger start` and `passenger start --port 3001`
![natalie@natalie-ubuntu: ~-Dev-Ruby-public-lab-mapknitter_001](https://user-images.githubusercontent.com/49460529/66398364-a2b59780-e9ab-11e9-97e6-ae7d50247b6c.png)

[2019-10-08 21:25] briannadeg commented on #1067
I would like to contribute!

[2019-10-08 21:25] briannadeg commented on #1066
I would like this please

[2019-10-08 21:25] briannadeg commented on #1065
I would like to do this please

[2019-10-08 21:26] briannadeg commented on #1057
I would like to do this please

[2019-10-08 21:34] alexido19 commented on #1065
@cesswairimu Thanks on it!

[2019-10-08 21:51] alexido19 commented on #1065
@cesswairimu Done! Review needed

[2019-10-09 05:43] cesswairimu commented on #1057
Hi @briannadeg, @stefanosu  is working on this please

[2019-10-09 05:45] cesswairimu commented on #1065
@alexido19 I see two pull requests...U need to push the changes to one branch and make one pull request with both files changed.

[2019-10-09 14:51] ishitar commented on #1067
Can I contribute?

[2019-10-09 15:01] fadib commented on #1067
@briannadeg and @ishitar: add your name here [#6206](https://github.com/publiclab/plots2/issues/6206)

[2019-10-10 02:39] FrozenGirl-spd commented on #1067
holla

[2019-10-10 18:33] blurry-x-face commented on #307
Hi, I'm having trouble setting up the project locally. When I try to run `bundle exec rake db:setup` its giving the following error
[code]
I tried reinstalling mysql server still i'm getting the same error I'm stuck on this for 2 days now!

[2019-10-11 18:46] stefanosu commented on #307
Hello, everyone, I'm having trouble setting up the project locally. When I try to run rails s to get the server running. I get this error: Could not find libxml-ruby-3.1.0 in any of the sources
Run `bundle install` to install missing gems. Then when I bundle install I get this error: ```
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /Users/stefanosugbit

[2019-10-11 19:54] cesswairimu commented on #307
Hi @nstjean @blurry-x-face , did you get your issues fixed yet? @stefanosu  try running `gem install libxml-ruby -v '3.1.0' --source 'https://rubygems.org/'`

[2019-10-11 20:21] stefanosu commented on #307
@cesswairimu Yea I tried that and I still get that same error.  :(

[2019-10-11 20:22] cesswairimu commented on #303
Hi @vishakhanihore, you still working on this?

[2019-10-11 20:23] cesswairimu commented on #307
Did you have ruby and rails working well in your environment before?

[2019-10-11 20:26] stefanosu commented on #307
No, I didn't I made the changes to the code in the browser.

[2019-10-11 20:30] blurry-x-face commented on #307
No, I didn't

[2019-10-11 20:47] nstjean commented on #307
I got mine running today!!

[2019-10-11 20:52] cesswairimu commented on #307
Great @nstjean,  do you mind please posting your solution? I believe @blurry-x-face was facing the same problem...or in future anyone might get the same prob. Thanks

[2019-10-11 20:52] cesswairimu commented on #307
@blurry-x-face which OS are you using?

[2019-10-11 20:53] cesswairimu commented on #307
@stefanosu  I believe you are running on linux right?

[2019-10-11 20:56] cesswairimu commented on #307
@stefanosu  try running this `sudo apt-get install libxslt-dev libxml2-dev` after it succeeds try doing `bundle install` again

[2019-10-11 20:57] stefanosu commented on #307
I'm running on mac OS.

[2019-10-11 20:58] cesswairimu commented on #307
ooh cool...should work for Mac too please try the command :point_up:

[2019-10-11 20:58] nstjean commented on #307
@cesswairimu Sure!

First I made sure the config files were properly copied, renamed, and saved. I think one of mine might have been incorrect.
I double checked my re-captcha keys, those were ok.
I re-installed assets with `yarn install`
Then I tried `bundle exec rails s` again and it didn't give me an error.

I'm guessing something in database.yml or config.yml were wrong.

[2019-10-11 21:03] cesswairimu opened #1085 "Remove old home page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-11 21:03] cesswairimu commented on #1085
This issue is created specifically for @IvetaHron

[2019-10-11 21:03] stefanosu commented on #307
I tried running it says command not found and I also tried to add this extension to it STATIC_DEPS=true sudo pip install lxml

[2019-10-11 21:03] cesswairimu commented on #307
Thanks @nstjean :+1:

[2019-10-11 21:06] cesswairimu commented on #307
@stefanosu could you take a look at this thread see if any of these will sort out your issues? You could also go through this to make sure you have ruby and rails installed correctly

[2019-10-11 21:11] cesswairimu opened #1086 "Remove list partial(old ui files cleanup)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-11 21:12] cesswairimu commented on #1086
Created for @saivoleti17

[2019-10-11 21:12] stefanosu commented on #307
Thanks, @cesswairimu for your help I'll comb through those threads. I feel like I'm close to getting it to work.

[2019-10-11 22:01] HardSource commented on #1085
Claim

[2019-10-11 22:04] HardSource commented on #1085
Claiming

[2019-10-11 22:05] cesswairimu commented on #1085
Hi @HardSource, @IvetaHronis working on this...looked for unassigned issue. Thanks

[2019-10-12 05:47] rkgeekoftheweek commented on #1086
I tried my first pull request. Please check

[2019-10-12 16:54] satoshiking commented on #1086
Hi, I want to claim this issue.

[2019-10-12 18:54] blurry-x-face commented on #307
Thanks @nstjean and @cesswairimu I also had the same error as you, its working now yay!

[2019-10-13 14:14] IvetaHron commented on #1085
Hi @cesswairimu, I deleted the file as per instruction and created pull request. If you, or somebody else could review it and give me some feedback, I would greatly appreciate it. Thank you in advance.

[2019-10-14 05:52] cesswairimu commented on #1085
sure, taking a look

[2019-10-14 06:51] cesswairimu opened #1094 "Add window installations"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-14 07:52] Diegoafv commented on #1094
Can I do this one?

[2019-10-14 08:21] saivoleti17 commented on #1094
Can I get one?

[2019-10-15 11:40] littlepawcoding commented on #1094
Hello, would like to claim this one please.

[2019-10-15 18:35] stefanosu commented on #307
Hey, I'm everyone I'm still stuck on getting the rails server to run. I went through all those threads and still having trouble getting it to run. @cesswairimu

[2019-10-17 18:45] cesswairimu commented on #307
Hi @stefanosu so sorry about that... What is the error you are getting... Same error you posted above?

[2019-10-17 18:54] stefanosu commented on #307
hey no worries no I'm getting another error this is what I'm getting now: when I try running rails s I get this error: /Users/stefanosugbit/.rvm/gems/ruby-2.5.0/gems/bootsnap-1.4.5/lib/bootsnap/compile_cache/yaml.rb:50:in `fetch': No such file or directory - bs_fetch:open_current_file:open (Errno::ENOENT)

[2019-10-17 19:16] cesswairimu commented on #307
Aha... Please  make sure you have copied `database.yml`and `config.yml` are copied correctly aee  @nstjean comment above of the solution.. Was facing the same issue you are pretty close :crossed_fingers:

[2019-10-18 13:38] jywarren opened #1097 "Follow-up fixes to synchronous editing"
Noting some suggested fixes/next steps to get synchronous editing working, from this comment by @sashadev-sky -- https://github.com/publiclab/mapknitter/pull/959#issuecomment-530625451

https://github.com/publiclab/mapknitter/blob/bdab16c0bb119700037198e0cb576b3d1d5519da/app/assets/javascripts/mapknitter/Map.js#L512-L528

To illustrate how it is supposed to work, check out this comment by @ViditCh

[2019-10-19 15:51] stefanosu commented on #307
@nstjean Hey it seems that I'm having the same error you are but I'm having trouble implementing the steps you've done to arrive at fixing the issue. Did you make sure that the config files were properly copied the same as they were from the repo?

[2019-10-19 20:08] cesswairimu commented on #1065
Hey @alexido19...progress on this? did you figure out how to push the changes to one branch? or you can just make another pull request with both the changes and close the two existing ones. Thanks

[2019-10-19 20:10] cesswairimu commented on #1059
Hey @ilhamtaufiq I see a about  3 pull requests...what you need to do is just create one with all the changes and close the others...Let me know if anything is not clear. Thanks

[2019-10-19 22:42] stefanosu commented on #1086
Hi has anyone claimed this issue if not I would like to work on it. @cesswairimu

[2019-10-19 22:52] stefanosu commented on #871
Hi I would like to work on this issue if it's still available thanks. @divyabaid16

[2019-10-19 23:08] stefanosu commented on #1015
Hi, I can do claim this issue if it hasn't been claimed thanks @sashadev-sky

[2019-10-20 03:38] divyabaid16 commented on #871
Yes, you may go on.
Thanks!

[2019-10-20 11:52] cesswairimu opened #1098 "Align about.html statistics partial"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-20 12:57] satcasm commented on #1098
hi is this issue unclamed???
i would like to take it

[2019-10-21 15:02] josemiguelo commented on #587
Can I add the required tests? Are they still relevant?

[2019-10-21 15:25] jon-flores commented on #1098
I've been assigned this issue and have created an PR for it. @cesswairimu I have asked for help from @publiclab/mapknitter-reviewers to review this. Thank you.

[2019-10-22 11:37] cesswairimu commented on #1098
Will take a look thanks @jon-flores

[2019-10-24 10:21] KiranKumarVemparala commented on #1086
Hi, any first-time issue for me ?

[2019-10-27 08:21] #1085 closed

[2019-10-27 12:11] debck opened #1106 "Remove stray end tag “script”."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-10-27 12:36] DanteCorwyn commented on #1106
I'm still getting my head around Git but I'd like to claim this one.

[2019-10-27 15:35] jaywahr commented on #1106
@debck @DanteCorwyn do you guys need help with this? I can submit a PR.

[2019-10-28 14:40] SrRokie commented on #1106
Hola me gustaria reclamar este problema , me lo pueden asignar  ?  /
Hello I would like to claim this problem, can you assign it to me?

[2019-10-28 19:33] #1057 closed

[2019-10-28 19:33] #1067 closed

[2019-10-29 06:45] #1050 closed

[2019-10-31 07:33] prashant-pushkar commented on #1106
Can I work on this?

[2019-11-01 09:57] BlackSou commented on #1106
I have created one more PR @debck  . I have made few more standard correction.
Please accept it and merge the PR.
Thank you.

[2019-11-01 12:24] debck commented on #1106
@BlackSou  This issue already has a PR #1107  which will be merged soon. So it would be better if you could shift to some other issues.
Thanks

[2019-11-08 05:57] icarito opened #1112 "no sensible error when config/initializers/recaptcha.rb is not present"
This file is needed for starting the app but the error that appears when launching without it is confusing. It took me a while to figure it out so I suggest we should improve this.

[2019-11-08 05:57] icarito commented on #1112
This is actually documented in the installation steps... :-/

[2019-11-10 19:37] #1098 closed

[2019-11-10 19:57] cesswairimu opened #1113 "Redesign UI for about page"
We moved a couple things around on the about page. This is how it  looks like, currently

![screencapture-localhost-3000-about-2019-11-10-22_49_39](https://user-images.githubusercontent.com/17081074/68549749-ba4dc900-040c-11ea-9e91-6b706f2f4378.png)

 There are a few improvements that could be done to it. Suggestions...
- [ ] The image is so stretched out(could use some styling or maybe we get ano

[2019-11-10 20:02] #1094 closed

[2019-11-10 20:04] cesswairimu commented on #1086
This was fixed on https://github.com/publiclab/mapknitter/pull/1093. Closing this

[2019-11-10 20:04] #1086 closed

[2019-11-17 07:07] sashadev-sky commented on #1021
**Uploaded on GCI dashboard**

[2019-11-17 14:47] ebarry commented on #1021
Yay! What timezone are you in Sasha that you posted this at 2am?

On Sun, Nov 17, 2019, 2:07 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-11-18 16:28] SidharthBansal commented on #1021
Oh, you all check the times too! It is great.
One interesting thing: Person mails to github. Then the timezone can be found by clicking on `...` button. :-)
Sasha can you please tell me if this issue can be broken into two separate issues:
1)Anonymous Editing Doc
2) Purpose MK doc
GCI students don't know the rules of documentation. Last year, I helped them by telling them each point which is taugh

[2019-11-18 16:28] SidharthBansal commented on #1021
Love your issue :heart:

[2019-11-18 16:32] sashadev-sky commented on #621
@sagarpreet-chadha this issue has really not made sense to me for months now, and I think it is best if you just solve it at this point, because it is not productive to open PR then not respond to people's questions on it (tho that happens to all of us!!) But even when I tested it I couldn't find a difference so if you just did it you could show us.

Just want to be done w this one lmao

[2019-11-18 16:36] sashadev-sky commented on #397
closing due to stale!

[2019-11-18 16:36] #397 closed

[2019-11-18 17:22] sashadev-sky commented on #888
**Uploaded on GCI dashboard**

[2019-11-18 18:01] sagarpreet-chadha commented on #621
Hey!
Apologies...had been going super busy with new LEL features and plots2 integration.
It looks like LEL features have been removed from mapknitter although it is still in package.json.
@jywarren ...is there any reason for this?

I am assigning this issue to myself  but this issue will not be solved in the immediate future bcoz LEL is not there now.

PS: I promise this will be done, thanks for t

[2019-11-18 18:04] jywarren commented on #621
Ah, no that wasn't intentional! Let's perhaps ping @cesswairimu about using
the new simple LEL constructor to do this in a way that'll be simpler than
the way it had been done? It's now documented nicely in the LEL readme.
Sagarpreet is working hard on geo features on plots2 so may not be as
available for this right away! Thanks, all!

On Mon, Nov 18, 2019 at 1:02 PM Sagarpreet Chadha <notificatio

[2019-11-18 18:05] sagarpreet-chadha commented on #621
Infact LEL has evolved very much now. The issue is stating old API function. I am closing this issue.

Fyi, after adding these lines you should have selected a LEL layer on  map from the control bar in top-right corner, then check the browsers URL --- it will have the name of the layer you selected! Thanks!

[2019-11-18 18:05] #621 closed

[2019-11-18 18:28] sagarpreet-chadha opened #1117 "Integrate LEL 2.0"
The integration process is written in the Readme : https://github.com/publiclab/leaflet-environmental-layers

<img width="523" alt="Screenshot 2019-11-18 at 11 45 37 PM" src="https://user-images.githubusercontent.com/14952645/69078348-b3066b00-0a5d-11ea-8085-8265599127f8.png">

The trick to have mapknitter layer ON by default is to exclude Mapknitter using the `exclude` param above and add Mapknit

[2019-11-21 05:48] sashadev-sky commented on #621
@sagarpreet-chadha there was an issue connected to this I guess we'll need to close that too https://github.com/publiclab/mapknitter/pull/622 :/

[2019-11-22 05:55] SidharthBansal commented on #888
Published

[2019-11-23 18:26] #1106 closed

[2019-11-24 11:11] SidharthBansal commented on #1113
PUBLISHED ON GCI

[2019-11-24 11:11] SidharthBansal commented on #1059
PUBLISHED ON GCI

[2019-11-24 11:12] SidharthBansal commented on #1112
PUBLISHED ON GCI DASHBOARD

[2019-11-28 06:05] SidharthBansal commented on #1021
Published

[2019-11-28 06:07] SidharthBansal commented on #1021
Let's write documentation of Anonymous editing first :-)
Once you have completed it then please ping me to create second task for the remaining of the issue.

[2019-11-28 08:52] cesswairimu commented on #967
Hey @kaustubh-nair , was just checking if you have some time to break some of these issues into small issues that can be solved as gci tasks?  No worries if you are busy just checking :)

[2019-11-28 08:57] cesswairimu commented on #941
Hey @debck, just checking if this was added to gci dashboard. Thanks

[2019-11-28 09:03] cesswairimu commented on #587
Will have to check if we do not have the tests yet before moved to gci dashboard

[2019-11-28 09:16] cesswairimu commented on #214
I believe this was fixed with the new front page. Closing this

[2019-11-28 09:16] #214 closed

[2019-11-28 09:30] cesswairimu commented on #808
Will add this to gci

[2019-11-28 13:03] debck commented on #941
No, @cesswairimu . This hasn't been added yet

[2019-11-28 14:36] SidharthBansal commented on #1025
@cesswairimu @sashadev-sky @jywarren can anyone explain me the issue?
I can't understand it. Sorry!

[2019-11-28 15:19] cesswairimu commented on #941
cool..adding it

[2019-11-28 22:09] ananyaarun opened #1120 "Update config.yml file"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-28 22:38] ananyaarun opened #1121 "Update issue templates for mapknitter"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-29 06:52] SidharthBansal commented on #1121
Published

[2019-11-29 07:25] SidharthBansal commented on #1120
Published

[2019-12-01 10:02] cesswairimu commented on #808
We are participating in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

[2019-12-01 10:22] cesswairimu commented on #1025
@SidharthBansal, I just added some context on the description. thanks

[2019-12-01 10:27] cesswairimu commented on #941
We participating in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

[2019-12-01 10:28] cesswairimu commented on #475
We are participating in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

[2019-12-01 16:18] kaustubh-nair commented on #967
Sure @cesswairimu , no problem
I'll do that!

[2019-12-02 01:18] cesswairimu commented on #967
Thanks

[2019-12-03 09:25] cesswairimu commented on #1025
We are participating in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more

[2019-12-03 09:26] SidharthBansal commented on #1025
This should be in the issue body @Cess. :-)

[2019-12-03 09:29] cesswairimu commented on #1025
Oh, my bad adding that...Thanks @SidharthBansal

[2019-12-04 22:07] jywarren commented on #307
Hi all, i had some trouble booting this and traced it to the `bootsnap` gem, which does caching to speed up application boot. I was able to bypass it by commenting out line 4 of `config/boot.rb`:

[code]

[2019-12-04 22:21] jywarren opened #1124 "Compatibility with Leaflet.DistortableImage 0.8.7"
I'm getting this error after upgrading LDI to 0.8.7:

[code]

I believe it's due to this line:

https://github.com/publiclab/mapknitter/blob/f4733a544347916b0367647cf0545ad9b2869fa2/app/assets/javascripts/mapknitter/Map.js#L160-L168

Hi @sashadev-sky would you have a moment to take a look at this, do you think? I'm trying to get the latest cloud exporter code running in MapKnitter!

[2019-12-04 22:34] jywarren opened #1125 "Complete integration w Leaflet.DistortableImage v0.7.7+ (now v0.8.7) with latest Multi-Image exporter"
We had overridden the export code in a previous version, but now that LDI has a proper cloud-based multi-image export system that's quite robust, we should switch to it:

https://github.com/publiclab/mapknitter/blob/f4733a544347916b0367647cf0545ad9b2869fa2/app/assets/javascripts/mapknitter/Map.js#L612-L618

These lines should change, I believe. Referencing https://github.com/publiclab/Leaflet.Dist

[2019-12-04 22:46] sashadev-sky commented on #1124
hi! pt2 of a GCI task is actually to upgrade leaflet to 0.8.7 in MK and implement the `replaceTool` method they added upstream, so I notified the contributor working on it that this change needs to be made too! I'm going to tag it as a GCI and note it in the PT2 of the original issue

[2019-12-04 22:46] jywarren commented on #1125
Working in #1126!!!

[2019-12-04 23:14] jywarren commented on #1124
Oh awesome! Uh, i may have done the initial upgrade already in a PR just
now, apologies for overlapping with GCI. We can still merge both. And the
extra fix will be MUCH appreciated!

On Wed, Dec 4, 2019 at 5:47 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-12-04 23:16] #1125 closed

[2019-12-04 23:48] sashadev-sky commented on #1124
No problem!! The students PR for it is linked here: https://github.com/publiclab/mapknitter/pull/1127

[2019-12-05 00:36] chen-robert commented on #1124
@jywarren What page do you have to navigate to in order to get the error to appear? Just looking at the code, it appears to reference a variable `Delete` that doesn't seem to be defined anywhere else.

We can probably fix this error by adding a `typeof Delete !== "undefined"` check before referencing the variable though.

[2019-12-05 04:00] jywarren opened #1128 "Errors in latest code to resolve before publishing to live site"
Hi! I'm just getting things closer to a new release we can publish to the live site, and writing down a variety of small bugs I found that I think need to be addressed before this is ready to publish. I'm sure we can do this!

* [ ] After uploading 3 images, i found the Images tab had 3 copies of the same image instead of the 3 different images. This resolved on page reload (maybe @divyabaid16 or

[2019-12-05 04:05] jywarren commented on #1128
Linking to https://github.com/publiclab/Leaflet.DistortableImage/issues/471 for `Add prompt for multi-export scale AND/OR allow setting this in DistortableCollection constructor`

[2019-12-05 04:10] jywarren opened #1158 "Trouble with accidentally deselecting a collection and losing the export spinner"
One more -- it's /super/ easy to deselect a collection -- not sure why! But I am having trouble NOT de-selecting it, and keep losing the spinner. Maybe it's just my trackpad but it's making it a bit tough to see that there is an export going because almost every time, i accidentally deselect the collection and lose the spinner. I wonder if we should think of a way that the spinner should persist p

[2019-12-05 04:20] sashadev-sky commented on #1128
@jywarren
1. **prompt**: we never set a prompt to my knowledge
2. **zoom** : on the link you provided the map goes up to 18 zoom for me (`map.getZoom()` in console). also looks about the same zoom in the screenshot you attached?  This is set from this file: https://github.com/publiclab/Leaflet.DistortableImage/blob/main/src/mapmixins/MapMixins.js
we let it go up to 21 if you set that but the defau

[2019-12-05 05:31] sashadev-sky commented on #1124
@chen-robert so the toolbar is setup when you try to create a new map and then upload an image and click on it. Let me know if you need help figuring out how to get to that view!

`Delete` was the name of `L.DeleteAction` in LDI at some point... lesson to myself about bad variable naming. Also note you'll want to rebase your PR 1st because your build is failing related to some thing that @jywarren

[2019-12-05 08:15] b18050 commented on #1066
i will work on this

[2019-12-05 08:39] b18050 commented on #1065
i will like to take this issue.

[2019-12-05 09:12] b18050 commented on #965
if this issue is  still open, i will like to work on this..

[2019-12-05 09:18] b18050 commented on #899
i will like to work n this issue.

[2019-12-05 21:10] jywarren commented on #1128
Thanks @sashadev-sky!

re Prompt I posted at publiclab/Leaflet.DistortableImage#471 -- thanks!

Re zoom - here is a post about it - i was underestimating, it's actually max zoom 24!

I'm going to make a new issue about it and I think it can also be a great GCI task - pretty simple!

[2019-12-05 21:13] jywarren opened #1138 "Increase max zoom to 24"
We can no longer zoom in very close; it used to allow up to zoom 24, but we're now limited to much lower (18?) -- but here is a post about the high-res we used to have:

https://publiclab.org/notes/warren/01-19-2018/mapknitter-update-very-high-resolution-mapping (It was added in this PR: https://github.com/publiclab/mapknitter/pull/243/files#diff-cd467f0b470669270454ce0ae6227a90R492-R493)

I think

[2019-12-05 21:15] jywarren commented on #1128
Moved the zoom one to https://github.com/publiclab/mapknitter/issues/1138 - thanks!

[2019-12-05 22:10] jywarren commented on #1124
Just viewing a newly created map, with 0.8.7 installed, i saw this error appear in the console. I may have added an image to the map already to get it to show! Hope this helps! I didn't find that anything was broken, but the error seems to indicate something was not hooked up right. Thanks!

[2019-12-06 08:20] SidharthBansal commented on #475
Can someone please update this issue using FTO template?
@ananyaarun @cesswairimu @debck @keshav234156 @pydevsg all the beginner issues should be in fto template.
Thanks

[2019-12-06 14:52] jywarren commented on #1097
Hi @ViditChitkara do you think you could go through this and check on Sasha's suggestions? I'll work with Sebastian on the server side of things so let's just be sure this all works as expected in any edge cases!

[2019-12-06 15:57] cesswairimu commented on #475
Updated this to a medium...will add more context...Thanks

[2019-12-06 16:42] SidharthBansal commented on #475
Once you are done. Please ping me so that I can publish. Don't forget to add reserved for GCI header, code links and hide stale comments

[2019-12-06 16:42] SidharthBansal commented on #475
Happy coding :-)

[2019-12-06 16:49] cesswairimu commented on #475
@SidharthBansal,  I was just confirming this locally and seems like all the tooltips changed to a black background...what do u think should we close this or do we change all of them :thinking:
![confirm](https://user-images.githubusercontent.com/17081074/70340200-5f6b8e00-1861-11ea-90fa-93a6a26c3eff.gif)

[2019-12-06 17:23] SidharthBansal commented on #475
Let's ping @jywarren.

On Fri, Dec 6, 2019 at 10:19 PM Cess <notifications@github.com> wrote:

[2019-12-07 09:02] #888 closed

[2019-12-08 03:51] pythongiant opened #1146 "Remove sudo from yarn installation command in README [First Timers Only]"
### What happened just before the problem occurred
The yarn installation command in the README is stated as `sudo npm -g install yarn`. this is not recommended.

### Relevant URLs

https://stackoverflow.com/questions/16151018/npm-throws-error-without-sudo

[2019-12-09 05:07] ViditChitkara commented on #1097
That's great---will have to recall somethings related to this. Will get back on this!!

[2019-12-09 05:42] ViditChitkara commented on #1097
Left some comments on #959 . Let's see.

[2019-12-09 05:43] ViditChitkara commented on #1097
any suggestions here would be very helpful @publiclab/reviewers

[2019-12-09 16:35] CodeSarthak commented on #1146
Relevant reasoning : https://medium.com/@ExplosionPills/dont-use-sudo-with-npm-still-66e609f5f92

[2019-12-09 22:41] jywarren commented on #475
Hi all!!! Thanks!

Do we think we could standardize to Bootstrap style tooltips?

https://getbootstrap.com/docs/4.3/components/

[2019-12-10 05:39] cesswairimu commented on #475
Sweet! I will update the description. Thanks

[2019-12-10 06:30] cesswairimu opened #1150 "Weekly community Check-In #41 -Everybody Struggles"
Hi everyone 👋

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2019-12-10 06:31] cesswairimu commented on #1150
@Rishabh570 @sashadev-sky @IshaGupta18 @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicl

[2019-12-10 06:34] cesswairimu commented on #1150
@shashwataggarwal, @yeo-yeo, @Uzay-G, @dependabot-preview[bot], @chen-robert, @VladimirMikulic, @gabrielrumiranda, @mikepetridisz, @GarvinH, @Ugtan, @sap143, @arjunshekhawat5, @nstjean, @sagarpreet-chadha, @ami-friedman, @gautamig54, @shubhankarsharma00, @rebecarancan, @swathi-0901, @rojasTob, @rosensteinsamuel1, @jairus-crabb, @kamal-kaur04, @Ruchika06, @1405043-kd, @stefanosu, @ChamuMutezva, @Th

[2019-12-10 06:50] chen-robert commented on #1150
It's been super fun working here! I've currently been learning a lot about Ruby model validations (maybe a bit too much even :smile:) in trying to fix the validation errors on the PL signup. Hopefully I'll be able to finish up my PR sometime this week!

How's everyone been doing? :tada:

[2019-12-10 07:36] Uzay-G commented on #1150
Yeah it's really amazing. I learned how to setup travis ci for the simple data grapher repo and it's so cool to see the automatic testing. What have you guys been working on?

[2019-12-10 08:14] SidharthBansal commented on #1150
I am working on my nlp project. :-)

On Tue, 10 Dec 2019, 1:06 pm Uzay-G, <notifications@github.com> wrote:

[2019-12-10 08:28] Uzay-G commented on #1150
That's cool @SidharthBansal. I was trying to do some stuff with nlp last year. Are you using the [spacy](https://spacy.io) library? If you aren't, I'd really recommend you check it out because it's well documented and super efficient.

[2019-12-10 08:31] VladimirMikulic commented on #1150
I am fascinated by a Leaflet.DistortableImage project, making maps out of pictures is so cool.
Currently working and exploring it :smile:

[2019-12-10 09:07] shubhankarsharma00 commented on #1150
Recently I have been helping high schoolers learn rails as part of my work
as a GCI mentor also I am trying to build a gesture recognition system.

On Tue, 10 Dec 2019, 14:01 Vladimir Mikulic, <notifications@github.com>
wrote:

[2019-12-10 14:05] nstjean commented on #1150
I love seeing the people from GCI learning and playing with the different repos!

This week I am working on getting the map at /post/ to set a default location [#6946](https://github.com/publiclab/plots2/issues/6946) and when that's working I'm going to clean up the styling a little.

I also have two bugs I'm trying to fix: [#6904](https://github.com/publiclab/plots2/issues/6904) [#214](https://gi

[2019-12-10 15:44] CodeSarthak commented on #1112
Hey @icarito can you please help me out a bit by pointing me to the code links? I am not able to figure them out exactly.

[2019-12-10 16:21] crisner commented on #1150
This week I am working on an embed feature for the LEL demo page [#252](https://github.com/publiclab/leaflet-environmental-layers/issues/252). I am also planning on getting started on testing.

I've been struggling with URL hashes on my tasks. 😅 You think you got them but then you try it another way you are back to struggling again, with other issues that crop up from it. The thing is each time I

[2019-12-10 16:45] jywarren commented on #1150
Love this theme!

I've long put off learning about Promises in JavaScript and still don't quite grasp how it works - it just bends my mind a bit! And my mind was already bent from learning about asynchronous JavaScript in the first place 😆 So that's my struggle! I was able to use it with the `fetch()` method in JS this past week to solve a problem and write this README example:

https://github.com

[2019-12-10 16:49] jywarren commented on #1150
@crisner hang in there with the hashes! You'll get it! Here's an example of a set of utility functions we've used to manage hashes in `image-sequencer`, which uses them in a pretty advanced way: https://github.com/publiclab/image-sequencer/blob/main/examples/lib/urlHash.js

They're weird! But powerful!

@nstjean thanks for working through those complex bugs and tracking them down! You've already d

[2019-12-10 17:25] nstjean commented on #1150
@jywarren That makes sense! I do like the idea behind tests... the practice of them is a little hard. :laughing:

[2019-12-10 17:29] SidharthBansal commented on #1150
I spent many months learning tests. When you write them for first time they
are your enemies. But eventually after some time, they will help you a lot.
They will be your friends after you are used to them.
Happy learning
:-)

On Tue, 10 Dec 2019, 10:55 pm Natalie St Jean, <notifications@github.com>
wrote:

[2019-12-10 17:33] jywarren commented on #1150
@VladimirMikulic if you're really interested in Leaflet.DistortableImage, you may like this issue in Leaflet Environmental Layers, which is designed to better feature LDI images from MapKnitter! https://github.com/publiclab/leaflet-environmental-layers/issues/153

We could craft a GCI task around it, maybe...?

[2019-12-10 18:23] VladimirMikulic commented on #1150
@jywarren It would be my pleasure to do it. You could create a GCI task, so I can start working on it.

[2019-12-11 14:28] Uzay-G commented on #1113
Hey @cesswairimu! I am excited to work on this issue and will create a pull request when I am done :smile:

[2019-12-11 15:34] Uzay-G opened #1151 "Problem in Cloud Installation Section of README"
### What happened just before the problem occurred
I was trying to setup my mapknitter repo using the cloud instructions of the README. I clicked on the [codenvy link](https://codenvy.io) and learned that it has been acquired by Redhat and is now at [https://che.openshift.io/](https://che.openshift.io/). I made an account on this platform and when I tried to select the Rails stack, noticed it is n

[2019-12-11 17:30] Uzay-G commented on #1113
@cesswairimu for the redesign I am kinda confused because the actual mapknitter website's design looks like this:
![Screenshot from 2019-12-11 18-28-37](https://user-images.githubusercontent.com/52892257/70644916-3c1b5700-1c44-11ea-9325-546de8c5345f.png)

Whereas the localhost about page is like this:
![local](https://user-images.githubusercontent.com/52892257/70644942-49d0dc80-1c44-11ea-9a14-1885

[2019-12-11 18:22] cesswairimu commented on #1113
Hey @Uzay-G, awesome yeah please do :tada: ..glad to have you work on this...Great catch on the icons thanks. On the branch we recommend you create a new branch off of main and do your changes there..let me know if you need any help in create the branch. Thanks again

[2019-12-11 18:27] Uzay-G commented on #1113
Thanks @cesswairimu! So I should create a branch and then make a pr to merge with main?

[2019-12-11 18:39] cesswairimu commented on #1113
Yes please

[2019-12-11 19:13] Uzay-G commented on #1113
Hey @cesswairimu, this is what I have for now:
![about-map1](https://user-images.githubusercontent.com/52892257/70652234-8e637480-1c52-11ea-958a-8e44e823998c.png)
![about-map2](https://user-images.githubusercontent.com/52892257/70652235-8efc0b00-1c52-11ea-9f12-a62449882cad.png)
![about-map3](https://user-images.githubusercontent.com/52892257/70652236-8efc0b00-1c52-11ea-8c6c-d9d15c40e47d.png)

It's

[2019-12-11 20:00] Uzay-G commented on #1113
I also edited the footer from this:
![before-footer](https://user-images.githubusercontent.com/52892257/70655767-1cdaf480-1c59-11ea-97f9-4be40d9d9e9c.png)
to this:
![after-footer](https://user-images.githubusercontent.com/52892257/70655766-1c425e00-1c59-11ea-8a53-65f6c189ccd8.png)

I'd really appreciate your feedback @cesswairimu. I'm being a bit adventurous with my choices but I understand if tha

[2019-12-11 21:50] cesswairimu commented on #1113
Love the uniformity...Great job

[2019-12-12 08:07] #1113 closed

[2019-12-12 09:38] SidharthBansal commented on #1113
Cess you are doing a great job. My inbox is full of your name. :-))

On Thu, 12 Dec 2019, 1:38 pm Cess, <notifications@github.com> wrote:

[2019-12-12 10:41] cesswairimu commented on #1113
Thanks @SidharthBansal :blush:

[2019-12-12 16:11] Uzay-G commented on #1112
@icarito should I work on this or are the instructions in the documentation enough? Thanks!

[2019-12-12 17:50] Uzay-G commented on #1021
Hey @sashadev-sky @cesswairimu I am so excited to be working on this issue! It's really interesting to learn more about the roots of this amazing project :smile:. I also really like writing so I couldn't be happier.

[2019-12-12 19:50] Uzay-G commented on #1021
Hey @jywarren could I ask you about this quote:

I understand the problem of privacy but I can't really think of a situation where this might become a problem related to the data on Mapknitter.
Could you maybe give me a vague example?
Thanks

[2019-12-12 20:51] Uzay-G commented on #1021
Hey @jywarren @sashadev-sky @cesswairimu I've been working on a rough draft for the documentation [here](https://github.com/Uzay-G/mapknitter/blob/style/anonymity.md). It is still in its early stages but I would love to hear what you think I should focus on or correct.
Thanks again!

[2019-12-13 14:15] tsparksh commented on #1112
I dont see any errors while starting without recaptcha config, how can I reproduce this issue?

[2019-12-13 16:14] cesswairimu commented on #1021
Great I will take a look

[2019-12-13 18:05] Uzay-G commented on #1021
Thanks @cesswairimu! It's just a start but I would really appreciate to hear your feedback

[2019-12-13 22:01] jywarren commented on #1021
Hi, sure -- privacy concerns can go many different directions. At the most basic level, people may be worried that sensitive information about them may be revealed - like, their location, if they are in danger for some reason - or for example political activity, if they are in a place where their activity is not permitted or it puts them at risk. There are many different scenarios where posting in

[2019-12-13 22:24] Uzay-G commented on #1021
Ok thanks a bunch for your detailed response!

[2019-12-15 19:19] cesswairimu commented on #1150
Nice to read all the stories...Thanks everyone for sharing...I am doing some work on the PL Editor and it involves some javascript and I always struggle with javascript but it is also making me learn so that s good :).
Anyone interested in opening next week's check-in?

[2019-12-16 16:47] Uzay-G commented on #1021
Hey @sashadev-sky do you think for the technical section do you think I shouldn't link to the issues and instead explain more in depth what they talk about?

[2019-12-16 16:56] #1158 closed

[2019-12-16 21:10] Uzay-G opened #1159 "Bug prevents from creating map on mapknitter website"
### What happened just before the problem occurred
I tried to create a map anonymously and got the mapknitter error page.
I tried replicating the process on my local server with a logged in account and got the following error:
![bug-mapknitter](https://user-images.githubusercontent.com/52892257/70943213-a0795480-2050-11ea-9424-84f88d1e873b.png)

### Relevant URLs
https://mapknitter.org/maps/new

#

[2019-12-18 10:16] SidharthBansal commented on #475
Published on gci dashboard

[2019-12-18 10:20] SidharthBansal commented on #941
Published on gci dashboard

[2019-12-18 10:21] SidharthBansal commented on #1025
Published on GCI dashboard

[2019-12-18 10:22] SidharthBansal commented on #808
Published on GCI dashboard

[2019-12-18 17:46] cesswairimu commented on #475
sorry forgot to update the issue updating..now

[2019-12-18 17:50] cesswairimu commented on #475
Done...Thanks @SidharthBansal

[2019-12-18 18:00] cesswairimu commented on #1159
Hey @Uzay-G, where did u get this error locally or mapknitter.org?

[2019-12-18 18:01] Uzay-G commented on #1159
The screenshot I took was a local error, but when I tried on the website I also got the website's error page.

[2019-12-18 18:05] cesswairimu commented on #1159
thanks, looking into this

[2019-12-18 18:36] cesswairimu commented on #1159
@Uzay-G , I just trying creating a map anonymous locally and when logged in...I can't see the error. I also tried on the website it is taking forever to load..., maybe it has been fixed could you try to pull the changes and let me know if the error still persists locally? Thanks

[2019-12-18 18:39] Uzay-G commented on #1159
Yeah for me too the website is taking a long time to load. I will see locally when I finish my homework

[2019-12-18 21:13] Uzay-G commented on #1159
Uh I tried by pulling the repo and got this error:

![bug-map](https://user-images.githubusercontent.com/52892257/71123737-99cf1680-21e3-11ea-9283-7d4a525cd298.png)

[2019-12-19 05:19] cesswairimu commented on #1159
There is a new migration... Try running "rake db:migrate" then retry

[2019-12-19 05:35] icarito opened #1167 "Define a max number of verions to store"
Quoting @jywarren :
"come up with a rubric for max # of versions created PER PERIOD" (...)
this would require some planning and policy discussion.

Not sure how this relates to the features but the thing is that paper-trail gem seems to be related to slowness and it suggests for performance to "limit the number of versions".

From a DBA point of view, currently our heaviest table is "warpables" wi

[2019-12-19 06:00] icarito commented on #1167
Actually, talking about heaviest, our "versions" table has 489978 records!

[2019-12-19 06:04] icarito commented on #1167
And our "nodes" table has 2746181 records, that is 2.7M records.

[2019-12-21 02:33] jywarren commented on #1167
oh no-- versions i think is a relatively new table! Could it be that it's
set to save at the wrong trigger, and is just saving endlessly?

On Thu, Dec 19, 2019 at 1:05 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-12-22 13:29] VladimirMikulic opened #1169 "Login buttons don't work"
When I am not logged in and I click 'Make a map', a dropdown shows up.
Then, I try to login via Google/Facebook/Twitter but they don't work.

On the other hand, when I click the "Log In" button on the navigation bar, it shows modal with buttons that do work.

[Demo](https://streamable.com/dg2ez)

URL: https://mapknitter.org/
Browser: Chrome 79
OS: Kubuntu 19.04

[2019-12-23 12:19] sashadev-sky commented on #1112
@icarito please follow up with us here!

[2019-12-23 23:25] cesswairimu commented on #1150
Moved to https://github.com/publiclab/leaflet-blurred-location/issues/227. Thanks all

[2019-12-23 23:25] #1150 closed

[2019-12-25 16:29] VladimirMikulic opened #1174 "Homepage modal buttons not scaled"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-25 21:25] pydevsg opened #1175 "Add Code of Conduct in Readme"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-12-25 22:06] SidharthBansal commented on #1175
published

[2019-12-26 09:05] Johongirrr commented on #1174
Hey @IshaGupta18 can I get this done?

[2019-12-26 09:25] VladimirMikulic commented on #1174
@Johongirrr of course, we would really appreciate your help with this issue.

[2019-12-26 10:26] Johongirr commented on #1174
@VladimirMikulic  Thank u I am on

[2019-12-26 11:42] Johongirr commented on #1174
@VladimirMikulic  problem was with height media queries need to be set up for this problem.

@media(min-width: 576px) and (max-width: 1359px){
   p  a.btn {
        height: 80px;
    }
}

[2019-12-26 12:51] VladimirMikulic commented on #1174
@Johongirr I would like you to follow the solution step by step. Your solution with media queries has it's flaws.

`p a.btn` would apply this style to all paragraphs that have anchors with btn class.

That's why I've done inline stylings, it is unique on the whole site, but it doesn't make sense to assign it an ID.

If there is anything that you didn't understand, feel free to ask :)

[2019-12-26 13:43] Johongirr commented on #1174
Hi @VladimirMikulic  sorry, I did not look at the code you provided. i looked at picture and figured that problem is with height either coz modal buttons were not given same height or elements nested inside them had

[2019-12-26 16:18] VladimirMikulic commented on #1174
@Johongirr it's alright, no need to apologise!
It's the important thing for newcomers to understand why we do something instead of what we do.

I would love a PR from you that resolves this :rocket:

[2019-12-26 18:02] Johongirr commented on #1174
@VladimirMikulic  I made my PR and now wating for review and approval of it.

[2019-12-26 18:09] VladimirMikulic commented on #1174
@Johongirr great work, I've approved the task, but please specify this issue number `#1174` in your PR  description. Thanks.

[2019-12-27 02:15] icarito commented on #1112
@sashadev-sky and all, sorry I missed all this activity! I think the PR by @VladimirMikulic should solve this particular issue! Thanks a ton for working on it!

[2019-12-27 02:18] VladimirMikulic commented on #1112
@icarito you are most welcome :tada:

[2019-12-27 18:01] Uzay-G commented on #1169
Thanks for reporting this bug @VladimirMikulic! I checked and looked at the code base and I noticed that this is actually not a problem with the code because if you look at the [stable version of Mapknitter](http://mapknitter-stable.laboratoriopublico.org/#10/-11.9995/-77.0285/) everything works.

It must be an old change that just hasn't been merged yet.

[2019-12-27 18:32] Uzay-G opened #1177 "Searching with less than 3 characters results in error"
### What happened just before the problem occurred
Type any string where the number characters is less than 3 on the [mapknitter website] (https://mapknitter.org) and you will get the production error page. There is more detail if you test in a development environment:

![map-search-error](https://user-images.githubusercontent.com/52892257/71528023-2a8dac80-28de-11ea-9a43-ea5cce3e5edd.png)

The ro

[2019-12-27 18:51] VladimirMikulic commented on #1169
@Uzay-G Let's keep it open until the change is merged because mapknitter.org is the actual website that people visit. I doubt they'll search for branches :smile:

[2019-12-27 19:06] Uzay-G commented on #1169
Oh yeah I know :smile: @VladimirMikulic. I was just saying that they will push the changes soon :+1:

[2019-12-27 19:52] VladimirMikulic commented on #1169
Good to know, thanks @Uzay-G :)

[2019-12-30 15:14] VladimirMikulic opened #1178 "Consistent styling across PL projects"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-30 15:44] greyGroot commented on #1178
i claim

[2019-12-30 15:48] VladimirMikulic commented on #1178
@greyGroot it's all yours :)

[2019-12-30 16:28] greyGroot commented on #1178
just have created pr #1179 review please

[2019-12-30 21:31] Uzay-G commented on #1025
Hey, I am just waiting for another task and then I will submit the pull request for this.
Thanks :+1:!

[2019-12-31 08:11] SidharthBansal commented on #1025
you can submit the pr for it. don't wait for codecov pr
Thanks

On Tue, Dec 31, 2019 at 3:01 AM Uzay-G <notifications@github.com> wrote:

[2019-12-31 09:45] arghac14 commented on #1178
Is it still open to work on? @VladimirMikulic

[2019-12-31 13:03] VladimirMikulic commented on #1178
@arghac14 it has already been done :)
You can check out other FTOs.

[2019-12-31 18:32] #1025 closed

[2019-12-31 19:02] cesswairimu commented on #389
I believe we replaced recent authors with featured mappers. Closing this

[2019-12-31 19:02] #389 closed

[2020-01-01 21:11] Uzay-G opened #1182 "Add message if there are no results for search query"
Currently, when a user searches a query without results the following page is displayed:
![no-results-mapknitter](https://user-images.githubusercontent.com/52892257/71646154-8c398680-2ce3-11ea-8e6b-1fa2d9d82c86.png)

I think it would be nice to add a message with maybe an illustration when there are no results for a specific query. If you think it's a good idea, I'd love to work on it!
What do you

[2020-01-02 06:00] pythongiant commented on #475
Hi can i work on this?

[2020-01-02 06:13] SidharthBansal commented on #475
Sure

On Thu, 2 Jan 2020, 11:30 am Srihari, <notifications@github.com> wrote:

[2020-01-02 06:22] pythongiant opened #1183 "Login Page Unresponsive"
### What happened just before the problem occurred
Here's The Login Page:

![image](https://user-images.githubusercontent.com/13624560/71654151-2508ea00-2d56-11ea-924b-885f0abea0bd.png)

As you can see its pretty unresponsive, It would be better if it was center aligned with some padding

[2020-01-02 06:29] pythongiant commented on #475
@SidharthBansal could you guide me which file to check it out?

[2020-01-02 09:27] cesswairimu commented on #475
Hi @pythongiant here is the piece of code that has those icons https://github.com/publiclab/mapknitter/blob/main/app/views/images/_index.html.erb#L76-L91

[2020-01-02 09:39] cesswairimu commented on #1182
Hi @Uzay-G, I think its a great idea...maybe we could also  tweak the text when are no results to read  "*No results found for ---*   maybe also add links to "featured mappers" and  "featured maps" something like "See our featured mappers and  featured maps". I would like to hear your thoughts on this and other ideas you have to improve this. You are really doing an amazing job, glad to have you h

[2020-01-02 10:40] Uzay-G commented on #1182
Thanks! I will edit the code and see that it looks like. I will send a screenshot :smile:

[2020-01-02 11:04] Uzay-G commented on #1182
Hey, could you also check out #1177. I think it's a pretty important error. Thanks :+1:

[2020-01-02 11:18] Uzay-G commented on #1182
Something like this:
![search-logic](https://user-images.githubusercontent.com/52892257/71664637-ebd27900-2d59-11ea-9475-46dd7295cc23.png)

[2020-01-02 15:47] Uzay-G opened #1186 "Add tests for search functionality"
I reported in #1177 that right now on Mapknitter, searching with less than 3 characters results in an error and I explained how we can fix it. In #1184, I refactored the code for the search route and removed the line that was causing this error:
https://github.com/publiclab/mapknitter/blob/f0712db0aea092be0725883cf02e40e91f670303/app/controllers/maps_controller.rb#L187.

But this is a pretty impor

[2020-01-02 16:00] #1186 closed

[2020-01-02 16:48] SidharthBansal commented on #475
Thanks Cess

On Thu, Jan 2, 2020 at 2:57 PM Cess <notifications@github.com> wrote:

[2020-01-02 21:14] cesswairimu commented on #1182
Oh sorry...I meant a text that links to that page...mmmh actually that looks interesting :thinking: but I am thinking someone might be frustrated by getting results he didn't ask for

[2020-01-02 21:17] cesswairimu commented on #1182
LIke the way plots2 gives the "all content" and "authors" link if no results https://publiclab.org/search?q=tygdyus but ni our case we could start with a mere text that is a link..What do you think?

[2020-01-02 21:26] Uzay-G commented on #1182
Yeah alright... could you check out #1177. Thanks

[2020-01-02 21:28] cesswairimu commented on #1177
NIce catch @Uzay-G, looking into this.

[2020-01-02 21:41] cesswairimu commented on #1177
@Uzay-G, locally I get this  page
![Screenshot from 2020-01-03 00-39-29](https://user-images.githubusercontent.com/17081074/71694941-c0837480-2dc1-11ea-9850-4f25cd908ba2.png)
which is fine

[2020-01-02 21:44] cesswairimu commented on #1177
Also on stable I get the same http://mapknitter-stable.laboratoriopublico.org/search?q=as which is the latest code on main right now...Maybe we haven't deployed in a while..but it would be nice to checkout what error sentry is giving

[2020-01-02 21:45] cesswairimu commented on #1177
Which query gave you this? https://user-images.githubusercontent.com/52892257/71528023-2a8dac80-28de-11ea-9a43-ea5cce3e5edd.png

[2020-01-02 22:51] Uzay-G commented on #1177
Any query under 3 characters does that for me. Should I close the issue?

[2020-01-02 22:59] cesswairimu commented on #1177
nope don't close it yet, lets investigate further

[2020-01-02 23:22] Uzay-G commented on #1177
Yeah for me it only works if I remove the line `.except(:styles, :email)`

[2020-01-03 07:18] pythongiant commented on #475
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_tooltip&stacked=h
@igniteeng000  @jywarren @SidharthBansal i am thinking of using this. Is it the correct method?

[2020-01-03 17:03] VladimirMikulic commented on #1112
@icarito could you please approve the PR so they can merge it. Thanks a lot.

[2020-01-04 09:08] Uzay-G commented on #1182
I did it that way because that's how it's handled when the query is less than 3 characters. So you think it's better to just link the buttons and tell the user that there were no results?

[2020-01-05 00:17] #1112 closed

[2020-01-06 07:24] cesswairimu opened #1187 "Remove horizontal scrollbar"
The scrollbar at the bottom looks ugly and we don't need it. Lets remove it

![Screenshot from 2020-01-06 10-22-19](https://user-images.githubusercontent.com/17081074/71802403-a3270280-306e-11ea-9c97-1245ea186153.png)

[2020-01-06 07:25] cesswairimu commented on #1187
@SidharthBansal do we need more issues for gci? I could reformat this to a gci issue if we need it. Thanks

[2020-01-06 07:32] SidharthBansal commented on #1187
Go ahead!

On Mon, Jan 6, 2020 at 12:55 PM Cess <notifications@github.com> wrote:

[2020-01-06 22:57] #808 closed

[2020-01-07 10:57] tsparksh opened #1189 "SQL Injection in "sort" parameter on /users/ page"
### What happened just before the problem occurred

SQL injection (SQLi) refers to an injection attack wherein an attacker can execute malicious SQL statements that control a web application's database server. An attacker can use SQL injection it to bypass a web application's authentication and authorization mechanisms and retrieve the contents of an entire database. SQLi can also be used to add,

[2020-01-07 11:01] Uzay-G commented on #1189
I'm not sure security errors like this should be reported in open issues.

[2020-01-07 11:05] tsparksh commented on #1189
Hey, @Uzay-G. We already have some security reports opened (https://github.com/publiclab/plots2/issues/3966, https://github.com/publiclab/plots2/issues/744). So I don’t think this is a problem.
@jywarren, can you check this and https://github.com/publiclab/plots2/issues/7133 security issues, please?

[2020-01-07 18:18] cesswairimu commented on #475
@pythongiant, Jeff suggested we standardize to Bootstrap style tooltips. You could choose one of the style here and have it consistent for all the tooltips on the image menu.
https://getbootstrap.com/docs/4.3/components/

Sorry for the late reply.

[2020-01-07 19:55] #1159 closed

[2020-01-07 21:11] jywarren commented on #1189
I think we can look to the controllers where this is affected: https://github.com/publiclab/mapknitter/blob/4f11b9e472097b93c9449f1a18de14e37f8d0ace/app/controllers/users_controller.rb#L16

I think it should be:

[code]

Then Rails will sanitize the params! Can we make this change now?

[2020-01-08 17:31] sashadev-sky commented on #1151
Deferring this to @jywarren and @gauravano! Do we have plans for a new cloud platform service? Or should we just delete the cloud installation section for now?

Thanks for helping to maintain our docs! @Uzay-G 🙏🏻

[2020-01-08 17:35] Uzay-G commented on #1151
I am not sure but maybe we could use [AWS Cloud9](https://aws.amazon.com/cloud9/)?

[2020-01-08 17:46] sashadev-sky commented on #1177
Just looked into this. Confirming mapknitter.org production site gives error page on queries less than 3. Thanks @Uzay-G for all the debugging!

For now I will label this accordingly and come back when I have time to help investigate :)

[2020-01-08 19:49] jywarren commented on #1151
:-/ thanks for the catch. Do you think or might we hope that whatever
Codenvy is becoming might stabilize and get updated? We may need to reach
out to other welcoming communities and bootcamps to see what they're using
instead...?

On Wed, Jan 8, 2020 at 1:00 PM Sasha Boginsky <notifications@github.com>
wrote:

[2020-01-08 21:22] jywarren commented on #1177
I'm not caught up on this issue, but just noting that sometimes queries <3
are skipped because they are hard on the database (lots of matches)... so
that could be related?

On Wed, Jan 8, 2020 at 12:46 PM Sasha Boginsky <notifications@github.com>
wrote:

[2020-01-08 22:22] Uzay-G commented on #1177
No because when the query is less than 3 characters, instead of running the search, it is supposed to return to the featured maps but for some reason they are nil on Mapknitter production. It might be fine as it apparently works on Mapknitter stable. It does not work for me locally though.

[2020-01-09 10:20] StlMaris123 commented on #1189
Is there anyone working on this? I would love to work on it

[2020-01-09 10:46] tsparksh commented on #1189
@StlMaris123, sure, go ahead!

[2020-01-10 20:58] jywarren opened #1190 "Re-connect saving status URL with Rails app"
After #1126, we need to re-instate the extra method which saves the location of the remote Cloud Exporter status JSON file to the Exports model:

[code]

That sends up here: https://github.com/publiclab/mapknitter/pull/782/files#diff-0d9df75c86ab6387aa553c69b3e0033bR90

And we need to add it back in using the new API for LDI, as we do on these lines:

https://github.com/publiclab/Leaflet.Distortab

[2020-01-10 21:32] jywarren opened #1191 "Cloud exporter publication roadmap"
with @icarito

* [x] 1) Merge new custom LDI export API (https://github.com/publiclab/Leaflet.DistortableImage/pull/485/)
* [x] 2) publish version 0.10.0 and pull into MapKnitter (https://github.com/publiclab/mapknitter/pull/1192)
* [x] 3) get status URLs saving again in export model: https://github.com/publiclab/mapknitter/issues/1190  (https://github.com/publiclab/mapknitter/pull/1192)
* [x] 4)

[2020-01-10 21:32] jywarren commented on #1190
[code]

[2020-01-10 21:32] jywarren commented on #1191
And ref #1128

[2020-01-10 22:58] jywarren commented on #1191
We prob need to get unstable server connected to Amazon S3!

[2020-01-11 01:10] VladimirMikulic opened #1193 ""Cancel export" button squished with progress bar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-11 01:36] VladimirMikulic opened #1194 "CTA buttons squished on multiple lines"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-11 23:54] cesswairimu commented on #1146
Mmmh I think we wonna keep sudo there @publiclab/mapknitter-reviewers what do you think?

[2020-01-12 19:27] keshavsethi commented on #1194
I want to claim this.

[2020-01-12 19:27] VladimirMikulic commented on #1194
@keshav234156 go for it :rocket:

[2020-01-12 19:28] VladimirMikulic commented on #1194
That was fast :)

[2020-01-12 19:44] keshavsethi commented on #1187
Can i try this issue??

[2020-01-12 19:45] SidharthBansal commented on #1187
Sure.

[2020-01-12 19:46] keshavsethi commented on #1187
Is it ok if i just make overflow-x hidden

[2020-01-12 20:00] #1194 closed

[2020-01-12 20:04] cesswairimu commented on #1187
@keshavsethi are you participating in gci? If so let me know so that I can add this. Thanks

[2020-01-12 20:07] keshavsethi commented on #1187
nope
so,should i continue on this?

[2020-01-12 20:11] cesswairimu commented on #1187
Yeah sure...please do. Thanks

[2020-01-12 22:51] developer22-university commented on #1193
I am working on this @VladimirMikulic

[2020-01-12 22:58] developer22-university commented on #1193
@VladimirMikulic  please check

[2020-01-12 23:00] developer22-university commented on #1193
also , @VladimirMikulic  i would like to work on publiclab.editor  could you please suggest some issues for improvement.

[2020-01-12 23:01] VladimirMikulic commented on #1193
Hi @developer22-university. It does work! Could you submit a PR for it so I can remove it?
Thanks.

[2020-01-12 23:04] VladimirMikulic commented on #1193
I am glad that you want to work with PublicLab editor. It won't be easy, it has quite a few issues.
As a starting point, you could try https://github.com/publiclab/PublicLab.Editor/issues/339.
You will solve an important issue and also familiarize yourself with the codebase.

[2020-01-12 23:09] developer22-university commented on #1193
@VladimirMikulic  do you think there should be option for underline the important text, or highlighting the text written in public lab editor. for  which we should update the toolbar.

[2020-01-12 23:12] developer22-university commented on #1193
i made the PR.

[2020-01-12 23:15] VladimirMikulic commented on #1193
@developer22-university it's markdown, I think it's already possible to underline text.
Woofmark is the engine that drives this editor so if you would like to add a toolbar button, that's how you would do it.

Could you reference this issue in it so I can review it?

[2020-01-12 23:15] developer22-university commented on #1193
@VladimirMikulic  actually i was familiarising my self with the code base of the editor and found there is lot of things for improvement. as i am not able to upload photos. also the kind of photos required is not opening also. @VladimirMikulic  happy to know you worked with it

[2020-01-12 23:16] VladimirMikulic commented on #1193
Every time you fix an issue, you should reference it in your PR so reviewers can easily find it.

[2020-01-12 23:17] VladimirMikulic commented on #1193
@developer22-university actually you can't upload any images. Upload does work but on publiclab.org/post. It sends a post request to their server.

[2020-01-12 23:17] VladimirMikulic commented on #1193
You would need to set up something similar to get it running locally.

[2020-01-13 02:08] jywarren commented on #1191
Noting critical issue for starting a second export via @sashadev-sky - https://github.com/publiclab/Leaflet.DistortableImage/issues/522

Thanks!

[2020-01-13 02:08] jywarren commented on #1191
I was able to change the src attributes of images in the dev console and get an export to run from local!

[2020-01-13 03:00] developer22-university commented on #1193
Hi , I did in the description please check

[2020-01-13 04:05] keshavsethi commented on #1187
@cesswairimu @SidharthBansal PR is made, please review this.

[2020-01-13 05:21] SidharthBansal commented on #1187
Awesome thanks

[2020-01-13 06:23] #1187 closed

[2020-01-13 10:39] developer22-university commented on #1193
@VladimirMikulic  check please

[2020-01-13 16:10] VladimirMikulic commented on #1193
Hi @developer22-university. Did you see my comments in your PR?
If not please read them.

[2020-01-13 16:17] developer22-university commented on #1193
you asked to refrence the issue could you please guide if i m not doing correctly, @VladimirMikulic

[2020-01-13 16:54] VladimirMikulic commented on #1193
@developer22-university no worries, let me guide you.
As I can see you've pushed the branch `developer22-university-patch-1`.
You've probably done something like [this](https://github.com/msu-anthropology/daea-fs16/wiki/Create-and-Complete-a-Pull-Request-on-Your-Own-Repo).

1. What you need to do is to select `base fork` to be this mapknitter repo and set as `base` the master branch.

2. Set as `h

[2020-01-13 17:35] Uzay-G opened #1199 "Weekly community check in #44 - Learning with Public Lab"
Hi everybody! :clap:

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week

[2020-01-13 17:39] Uzay-G commented on #1199
@dmahajan980, @bryceparkman, @nicoleiocana, @0dim, @nstjean, @AnshitaVishwa, @tsparksh, @sharmamansi, @polygonart6777, @anthony-zhou, @cesswairimu, @chen-robert, @leesgrey, @smarty1palak, @VladimirMikulic, @nfarve, @jywarren, @chanchalsaini, @johnaceto, @gireeshcse, @lisaschumann, @shashwataggarwal, @yeo-yeo, @gabrielrumiranda, @mikepetridisz, @GarvinH, @Ugtan, @sap143, @arjunshekhawat5, @sagarpre

[2020-01-13 17:42] Uzay-G commented on #1199
@Rishabh570 @sashadev-sky @IshaGupta18 @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicl

[2020-01-13 17:51] developer22-university commented on #1193
THANKS @VladimirMikulic

[2020-01-13 18:05] developer22-university commented on #1193
@VladimirMikulic  i did what you said

![Screenshot (61)](https://user-images.githubusercontent.com/51835554/72280019-5ee2c600-365d-11ea-9852-3e34fe8c9b75.png)

[2020-01-13 18:06] developer22-university commented on #1193
what should i do now

[2020-01-13 18:08] VladimirMikulic commented on #1193
Awesome @developer22-university. Now create that PR :rocket:

[2020-01-13 18:08] VladimirMikulic commented on #1193
Provide a title and the description.

[2020-01-13 18:09] VladimirMikulic commented on #1193
The title can be "FIX: Squished cancel export button with a progress bar"
In the description, you can just mention Fixes (number of this issue -> #1193)

[2020-01-13 18:19] developer22-university commented on #1193
thanks  for being patient and  helpful @VladimirMikulic .more issues for me till i set up some repo in my system

[2020-01-13 18:23] VladimirMikulic commented on #1193
That's it!!!!! I am proud of you @developer22-university. Very nice job :rocket: :rocket: :rocket:

[2020-01-13 18:27] SidharthBansal commented on #1199
https://github.com/publiclab/plots2/issues/6808#issuecomment-573388883

On Mon, Jan 13, 2020 at 11:13 PM Uzay-G <notifications@github.com> wrote:

[2020-01-13 18:28] SidharthBansal commented on #1199
Kindly read https://github.com/publiclab/plots2/issues/6808#issuecomment-573388883

[2020-01-13 18:28] SidharthBansal commented on #1199
@Uzay-G you forget to tell about your learnings

[2020-01-13 18:33] cesswairimu commented on #1199
Great topic @Uzay-G and thanks for opening this :tada: :tada:
I am working on a project that needs integration with a couple of js libraries and js is not my strongest language..I am learning a lot of js and whenever something works I get so excited.
Great week ahead everyone

[2020-01-13 18:37] #1021 closed

[2020-01-13 18:43] Uzay-G commented on #1199
Thanks! I will :+1:
I am honestly learning so much through GCI and Publiclab.
I am currently researching and exploring how I could build a natural language processing program that would help detect spam in Publiclab with the help of @skilfullycurled. I am also learning a lot about all the cool, not so obvious things you can do with Rails (system testing) andsetting up complex login systems across

[2020-01-13 19:57] jywarren commented on #1191
And need to make Free Rotate the "r"

[2020-01-14 16:52] jywarren commented on #1191
Some follow-ups:

* [ ] allow deleting old exports (that did not succeed?)
* [ ] get exports listing to update when a new one is generated (using a partial and an update)
* [ ] clean up display of exports: show spinner for in-progress
* [ ] get exports listing to refetch status.json periodically

[2020-01-14 19:21] jywarren commented on #1191
still need to make "free rotate" be the "r" key i think...

[2020-01-15 17:19] emilyashley commented on #1199
Oh yes good topic. I've never built or worked on anything with Ruby/Rails before so it looks like I'll be learning that very soon with Public Lab. I've worked with Elixir/Pheonix, Python/Django, and JavaScript/Angular in the past so fingers crossed that I'll pick it up quickly.

I'm trusting that I can come to you all with any questions and putting my learning cap on! :)

[2020-01-16 19:47] jywarren commented on #1199
Hi all! Thanks for opening this, @Uzay-G !!

My learning is that you can make carbon quantum dots by microwaving polyethelene glycol (used in vaping liquid) and saccharide (sugar?), and that these, when filtered or treated with coatings, can be used to detect different chemicals... i'm really out of my depth here, but just love it when some really wildly experimental technique just ends up using a

[2020-01-16 20:41] icarito opened #1208 "Passenger crashes and leaves a core dump"
This is related to #1191, the reason why _unstable_ is failing to build, is because starting the app crashes passenger at some point and leaves a "core" file.

Since our binaries don't have debugging symbols, GDB is unable to give us much more information, it says:
[code]
Although the app seems to be able to run fine afterwards, the created dump file is unreadable by the Docker daemon so therefore

[2020-01-16 21:29] nstjean commented on #1199
Ahh I forgot to respond! This week we've been learning a lot about testing in Jasmine and how it works... I have a feeling I'm going to learn a lot more about the subject before I'm done!

I've also been learning more about how the maps systems interact with each other, from LEL to LBL and plots2. It's interesting to see things done a few different ways!

[2020-01-16 22:17] jywarren commented on #1199
Hi all, i also wanted to point folks to this great convo about testing, it really made me feel good! ❤️ 🎉 😄

https://github.com/publiclab/plots2/pull/7181#issuecomment-573276544

cc @Uzay-G @shipcy @skilfullycurled

[2020-01-16 22:18] Uzay-G commented on #1199
I'm happy it did :+1:! That was a really interesting conversation

[2020-01-17 16:24] #1178 closed

[2020-01-17 16:27] #1146 closed

[2020-01-17 17:21] cesswairimu commented on #965
Fixed in https://github.com/publiclab/mapknitter/pull/966 closing this

[2020-01-17 17:21] #965 closed

[2020-01-17 17:25] cesswairimu commented on #899
We changed the home page and we are not currently using this page anywhere so no need to change it its being deprecated. Thanks and closing this

[2020-01-17 17:25] #899 closed

[2020-01-17 20:05] #1208 closed

[2020-01-19 13:17] cesswairimu commented on #1199
Thanks everyone for sharing...interesting things are happening :rocket: . Moved to https://github.com/publiclab/image-sequencer/issues/1540 . Thank you all

[2020-01-19 13:17] #1199 closed

[2020-01-20 16:30] gr455 commented on #1066
If no one is currently working on this issue, can I work on it?

[2020-01-20 20:10] cesswairimu commented on #1066
@gr455, the opened PRs did not complete the whole tasks and no communication has been done for a while. You can do ahead and work on this. Thanks

[2020-01-21 17:56] Kajol-Kumari commented on #1066
I would like to work on this if no one currently is working on it.

[2020-01-24 13:12] gr455 commented on #1065
Hey @cesswairimu , can I work on this issue?

[2020-01-24 13:41] cesswairimu commented on #1065
Hey @gr455, sure go ahead. Thanks

[2020-01-25 18:47] cesswairimu opened #1221 "Move styling from front_ui to stylesheets"
In the spirit of following rails way lets move the styling on the front_ui/index to stylesheets

To do
--------
Create a file named `front_ui.scss` under `app/assets/stylesheets`
Move this block of code to the file
https://github.com/publiclab/mapknitter/blob/main/app/views/front_ui/index.html.erb#L7-L48

Make sure you send a screenshot to make sure we did not break anything

[2020-01-25 18:48] cesswairimu commented on #1221
@katungi here you go

[2020-01-25 18:51] katungi commented on #1221
@cesswairimu i will work on it asap.

[2020-01-26 18:52] #1065 closed

[2020-01-28 20:47] Uzay-G commented on #1151
No I don't think codenvy will work at least in the near future because they don't provide the rails stack. Maybe we could use cloud9 although to use it you have to register an AWS account with your credit card. What do you think?

[2020-01-30 16:10] #1066 closed

[2020-02-02 12:26] #1221 closed

[2020-02-02 18:04] gr455 commented on #939
Hey, has this issue been fixed? Because the names appear fine(dont overlap with the buttons) when I ran mapknitter locally

[2020-02-05 12:50] gr455 commented on #1183
Hey, I would like to work on this issue

[2020-02-05 13:02] gr455 commented on #1183
However, I can't find a way to reach that page apart from adding a '/login' onto the url

[2020-02-28 02:19] icarito commented on #1191
Hi, just checking if there's been the required testing or what is blocking this. If there's any way I can be useful please direct me. I can see that it doesn't seem to work well but I'm unsure of how it is supposed to work.

[2020-03-25 19:53] jywarren commented on #298
Getting closer in https://github.com/publiclab/mapknitter/pull/1192

[2020-03-25 19:55] jywarren commented on #296
Closing this now in favor of https://github.com/publiclab/image-sequencer-app/

[2020-03-25 19:55] #296 closed

[2020-03-26 13:45] #1175 closed

[2020-03-26 18:52] #1190 closed

[2020-03-27 14:36] jywarren commented on #1191
Ok, so we need to do some multi image testing on

https://stable.mapknitter.org/maps/testmap/edit

Then we can publish to production and ask folks to do broader testing! Then... Some UI refinements.

[2020-03-28 21:22] icarito commented on #1191
Yes! It seems to work, and fast, for many images:
![](https://mapknitter-exports-warps.storage.googleapis.com/1585430085/1585430085.jpg)

This one is from https://stable.mapknitter.org/maps/vibora2/edit

The UI does need some work! Also several warnings on the Javascript console to fix too.

[2020-03-31 19:28] jywarren opened #1244 "Load testing new MapKnitter exporter! Help wanted!"
We've just published the new MapKnitter cloud exporter for the first time, in a beta mode. We're very excited to try it out before putting some final touches on it!

The design and user interface is not complete, but we'd like to ask people to try running exports on some big maps.

To run the export, click Edit this Map:
![image](https://user-images.githubusercontent.com/24359/78066954-de7e5800-73

[2020-03-31 19:38] jywarren commented on #1191
Testing out at https://github.com/publiclab/mapknitter/issues/1244

[2020-03-31 20:00] jywarren commented on #1244
https://mapknitter.org/maps/lincoln-peak-vineyard/

* 24 cm/px
* 48 images, 3mb each
* https://mapknitter-exports-warps.storage.googleapis.com/1585683543/1585683543.jpg (~3000x2000)

[2020-03-31 20:00] jywarren commented on #1244
Running last one again - https://mapknitter.org/maps/lincoln-peak-vineyard/ - at 10cm/px, in same open window...

[2020-03-31 20:07] jywarren commented on #1244
Now trying at 5cm/px

[2020-03-31 20:27] sentry-io[bot] opened #1245 "uninitialized constant Exporter"
Sentry Issue: [MAPKNITTER-1A](https://sentry.io/organizations/publiclab/issues/1590331322/?referrer=github_integration)

[code]

[2020-03-31 20:27] jywarren commented on #1245
This is defined here: https://github.com/publiclab/mapknitter/blob/main/lib/exporter.rb

However, maybe this version of Rails needs an explicit link to that file...

[2020-03-31 20:29] jywarren commented on #1245
Yes, we need to as shown here: https://github.com/publiclab/plots2/blob/899d5a156362cf0f48d8059dc69c36ac9e83da65/config/application.rb#L22

[2020-03-31 21:15] #1245 closed

[2020-04-07 17:42] jywarren commented on #1244
OK, so, noting that while exporting works, there seem to be some inconsistencies on local saving of export status:

* [ ] https://mapknitter.org/maps/the-mews/edit gave an alert upon completion but did not save status of most recent export within the Rails app (stuck at 2 of 22)
* [ ] i think this may be because we are fetching the status differently in these two blocks of code? We should be relyi

[2020-04-07 17:54] jywarren commented on #1244
Wow, @icarito doesn't see the discrepancy but noting here i saw a discrepancy on both browser downloads and `wget`

[2020-04-07 18:16] jywarren commented on #1244
OK so we can bypass by:

let's do this

[2020-04-07 18:24] jywarren commented on #1244
https://github.com/publiclab/mapknitter/blob/b085f654b6c117d72979570b382f75dbafb2f129/app/views/maps/_cloud_exports.html.erb#L15

[2020-04-07 18:33] icarito commented on #1244
I suppose this ought to do it: `export_url + "?cachebust=#{rand(1000)}"`

[2020-04-07 19:11] jywarren commented on #1244
https://github.com/publiclab/mapknitter/commit/8e20d25ffd975a1f2e769a8730cc2591b24da081 - made the change here! I did it in JS

[2020-04-07 19:40] jywarren opened #1251 "Archive/spam action is not working"
From https://mapknitter.org/gallery, the "ban" buttons leading to https://mapknitter.org/map/archive/newnew-c2f02200-abfd-45e7-a1a9-d2b56f451cb8 show a 404 error.

(Note that the -permenant- trash button is now added so this is no longer critical)

![image](https://user-images.githubusercontent.com/24359/78712133-22cea280-78e6-11ea-8f47-00c37cfcb5f1.png)

Can't find a Sentry error but i believe th

[2020-04-07 19:46] jywarren commented on #1251
link to trash can fix for posterity: https://github.com/publiclab/mapknitter/commit/f58c1a9ce11b94f2cc08ba41b9175e98a681e6c8

[2020-04-07 20:14] jywarren commented on #1244
Confirmed it worked... not 100% sure it busted the cache but it ought've -- we'll publish to production to confirm in a sec...

[2020-04-08 18:13] jywarren commented on #1244
Confirmed!

[2020-04-12 20:38] jywarren commented on #1191
We are now ready to publish to production with the legacy exporter offline, and test moving this to a container!

[2020-04-12 20:38] jywarren commented on #1191
cc @icarito -- we can test the current `main` branch in a Google Cloud container now as it no longer has legacy in-app exporting offered. 🎉

[2020-04-13 17:19] icarito commented on #1191
That is awesome, I'll look into it today!

El dom, 12 de abr de 2020 a las 13:39, Jeffrey Warren
<notifications@github.com> escribió:

[2020-04-14 01:10] #1183 closed

[2020-04-15 03:32] icarito opened #1258 "Move dependency install to build step not before first run"
### What happened just before the problem occurred
I attempted to deploy container in Google Cloud and it became stuck trying to compile nokogiri on the final container. This really should be done during build step. It was moved to a new start script in order to speed up Travis runs, which is a lofty goal and so was accepted, but it should not go in detriment of deployability, containers should st

[2020-04-15 03:33] icarito commented on #1258
@alaxalves @jywarren a heads up that I'll try to fix this as it is blocking our migration.

[2020-04-21 15:13] jywarren opened #1263 "Front page map not loading"
Seeing this error on front page, which seems new!

[code]

Seems to be this line, not sure why!

https://github.com/publiclab/mapknitter/blob/75c5f641ec1a05d57185fab2bed5eb8c05f060e6/app/views/front_ui/index.html.erb#L194

I also see:

[code]

Which seems more related to the login system but could be a follow-up bug affecting these lines:

[code]

[2020-04-21 15:39] jywarren opened #1264 "Error on pages while looking for delete map button"
Via @joyofsoy -

So, this isn't about deletion itself - it's about being able to access the deletion button on the map view or map edit pages.

Looks like not a 404 or 500, but... something else? We should be able to track this in Sentry, so i'll try to link to a Sentry issue.

![image](https://user-images.githubusercontent.com/24359/79900148-c8503e80-83db-11ea-8edb-c646adee099a.png)

High priorit

[2020-04-21 16:19] sashadev-sky commented on #1177
@jywarren labeled this priority and help wanted to give it some attention because its so old. Shouldn't be tough to fix

[2020-04-21 16:27] sashadev-sky commented on #1177
@jywarren labeled this priority and help wanted to give it some attention because its so old. Shouldn't be tough to fix

[2020-04-21 17:39] emilyashley opened #1265 "Deleting Mapknitter spam via "edit map""
Just making a post-fix issue to document code changes on deleting mapknitter spam from a staff [slack thread](https://publiclab.slack.com/archives/CV7KG8MFT/p1585750578000700). It's part work around and part code change. Thanks!!

Make “description” text visible to public - where? Below title on view map page - https://github.com/publiclab/mapknitter/commit/b085f654b6c117d72979570b382f75dbafb2f129

[2020-04-21 17:39] emilyashley commented on #1265
(Hoping I documented this right feel free to chime in or change the title!)

[2020-04-21 17:39] #1265 closed

[2020-04-21 18:03] jywarren commented on #1263
My guess is that this is related to Leaflet Environmental Layers changes... that's likely where the `L.layerGroup.mapKnitterLayer()` item came from. Let's see if we can manually initialize the map using the newer LEL syntax. https://github.com/publiclab/leaflet-environmental-layers/

[2020-04-21 18:18] jywarren commented on #1263
Great, this seems to fix it:

`L.LayerGroup.EnvironmentalLayers({include: ['mapknitter']}).addTo(Mapknitterunique);`

Now i need to figure out why the route it's pointed at isn't working, 404: https://mapknitter.org/map/region/Gulf-Coast.json?minlon=-92.95532226562501&minlat=28.806173508854776&maxlon=-87.3907470703125&maxlat=30.949346915468563

[2020-04-21 18:27] jywarren opened #1267 "Clicking to the next page of search results brings you back to the first page"
via @joyofsoy:

https://mapknitter.org/search?q=london

![image](https://user-images.githubusercontent.com/24359/79900327-0ea59d80-83dc-11ea-9306-d74fc29d1fa8.png)

Confirming that https://mapknitter.org/search?maps=2&q=london shows the same results as page 1.

It seems it's a parameters issue, maybe with the configuration of the `will_paginate` gem. The correct 2nd page link is:

https://mapknitt

[2020-04-21 18:35] jywarren commented on #1267
Looks like this will be on the gallery template here: https://github.com/publiclab/mapknitter/blob/45793bbf2dc9dbc8710806b256cab47ae1180b08/app/controllers/maps_controller.rb#L194

[2020-04-21 18:41] jywarren commented on #1267
OK, yeah... we have a param mismatch. I'm going to try to fix it here:

https://github.com/publiclab/mapknitter/blob/45793bbf2dc9dbc8710806b256cab47ae1180b08/app/controllers/front_ui_controller.rb#L65

and here:

https://github.com/publiclab/mapknitter/blob/45793bbf2dc9dbc8710806b256cab47ae1180b08/app/views/front_ui/_maps.html.erb#L41

[2020-04-21 18:44] jywarren commented on #1264
I suspect we're not showing the button and not allowing even admins to view due to the map status, somehow.

So this map's properties are:

` => #<Map id: 6011, name: "viagra-sale", lat: 0.0, lon: 0.0, version: 1, password: "", styles: nil, created_at: "2014-07-10 17:01:18", updated_at: "2014-09-19 21:28:10", description: "...", author: "anonymous", zoom: 0.2e1, location: "New York", static_data:

[2020-04-21 19:12] jywarren commented on #1264
OK, i think the edit button was wired wrong and I made changes here: https://github.com/publiclab/mapknitter/commit/b16d65c25b45833b59e34cc1fa77dcc8c0d55578

This still doesn't tell us why we are getting a `422 not allowed` error on trying to edit the map. Part 2...

[2020-04-21 19:12] jywarren commented on #1264
but we should be able to test the initial button fix here: https://stable.mapknitter.org/maps/viagra-sale

[2020-04-21 19:13] #1267 closed

[2020-04-21 19:13] jywarren commented on #1267
We'll need to test here: https://stable.mapknitter.org/search

[2020-04-21 19:36] jywarren commented on #1264
Aha! Sentry got it. A subtle one!

[code]

[2020-04-21 19:38] jywarren commented on #1267
Confirmed! https://stable.mapknitter.org/search?q=london

[2020-04-21 19:40] Uzay-G commented on #1177
@jywarren there is already a built-in explanation that is supposed to display when the query is too small. But an error in the code is preventing it from working correctly.

The bug is because the `@maps` class variable contains zero maps when the query is too small because there is a problem with the way the maps are collected when the query is too small:
https://github.com/publiclab/mapknitter/b

[2020-04-21 19:58] jywarren commented on #1264
OK button fix worked, btw!

[2020-04-21 20:01] jywarren commented on #1264
https://github.com/publiclab/mapknitter/blob/6c79669983a5707a622f1cd90b3cc1d5d562eb84/lib/not_at_origin_validator.rb#L6

[2020-04-21 20:05] jywarren commented on #1264
Amazing. We are tripping this validation here:

https://github.com/publiclab/mapknitter/blob/6db947fc01b05d6879cee4cd8bfcd480c35ad21a/app/views/layouts/knitter2.html.erb#L201-L204

[2020-04-21 20:08] jywarren commented on #1264
The issue is that the welcome modal "switch" of the `display_welcome` column of `maps` means

https://github.com/publiclab/mapknitter/blob/main/app/models/map.rb#L16

[2020-04-21 20:12] jywarren commented on #1264
The `viagra-sale` map was made in 2014-07-10.

[2020-04-21 20:13] jywarren commented on #1264
The validation was added Jan 13, 2015 - https://github.com/publiclab/mapknitter/commit/0927a82b3f6e80609695c4fdc3cbcb61eea0806b

[2020-04-21 20:20] jywarren commented on #1264
Great, so we fixed this in https://github.com/publiclab/mapknitter/commit/bc2be71ca78c132702d6f6fe0df7b8bddedcc12a

To test this in stable, any user should open https://stable.mapknitter.org/maps/viagra-sale and confirm that it loads without a 422 error.

[2020-04-21 20:21] jywarren commented on #1263
This should be solved but can be double checked at https://stable.publiclab.org - it's solved if the interactive map loads properly!

[2020-04-21 20:51] jywarren commented on #1264
Hmm, it didn't work, so I'm adding the exception to the next line as well - https://github.com/publiclab/mapknitter/commit/04fa19a31132157fac96b2b7ad75fc7cd4e86703

[2020-04-21 21:11] jywarren commented on #1264
Tried to address everything together in a more organized way here: https://github.com/publiclab/mapknitter/pull/1269

[2020-04-21 21:24] jywarren commented on #1264
Fixed!!! Closing

[2020-04-21 21:24] #1264 closed

[2020-04-22 02:04] sashadev-sky commented on #1124
closing this -- was resolved!

[2020-04-22 02:04] #1124 closed

[2020-04-28 15:24] jywarren commented on #1251
Delete button is now there, and working. Spam button still broken!

[2020-04-28 16:09] alaxalves commented on #1191
Linking https://github.com/publiclab/mapknitter/pull/1273

[2020-05-05 20:42] jywarren opened #1280 "Maps should initialize showing all images in bounds"
We used to have this behavior, where we just collect bounds from all images and then use Leaflet's fitBounds, i think?

https://leafletjs.com/reference-1.3.4.html#map-fitbounds

https://leafletjs.com/reference-1.3.4.html#polygon

[2020-05-05 23:06] jywarren commented on #1191
Re-opening to track follow-ups!

[2020-05-07 00:22] icarito commented on #1167
I don't know but I believe this is slowing the gallery down. While deploying to the Google Cloud helped with performance, this route remains slow (2s-6s)

[2020-05-07 13:45] realkislay commented on #338
I would love to do this. Can I?

[2020-05-07 22:29] jywarren commented on #338
Sure, please do! Thanks!

[2020-05-08 17:45] jywarren commented on #1244
OK, haha i think i reached the limit: https://mapknitter.org/maps/2011-08-06-brooklyn-newtowncreek-north

13960x20698 px

1.15589GB

2020-05-07 22:18:28 +0000

stalled at making a JPG from that 1.15GB GeoTiff 😂

[2020-05-09 19:38] icarito commented on #1244
Oh! What can we do? do we know where it failed?

Logs should be at
<https://console.cloud.google.com/logs/viewer?project=public-lab&resource=gae_app%2Fmodule_id%2Fdefault>

El vie, 8 de may de 2020 a las 10:45, Jeffrey Warren
<notifications@github.com> escribió:

[2020-05-09 19:39] icarito commented on #1244
Oh wait that is for the app itself not the exporter...

[2020-05-12 15:23] jywarren commented on #1251
@joyofsoy notes:

So i believe the delete button in list view is not working, so this is partially re-opening as a bug!

[2020-05-12 15:26] jywarren opened #1296 "Pagination on per-author gallery listings"
@joyofsoy reports:

I think this is just cross-wired with the main gallery pagination at https://mapknitter.org/gallery !

[2020-05-12 16:17] jywarren commented on #1296
This is related to https://github.com/publiclab/mapknitter/pull/1268

[2020-05-12 16:29] jywarren commented on #1244
It probably ran out of memory? I mean, imagemagick will crash with a gigantic enough image. I think not super high priority as it's probably beyond the limit of what we'd want to support. 13k x 20k pixels is a TON.

[2020-05-12 18:57] jywarren commented on #1280
Indeed:

[code]

Let's just start by adding this as a button! https://github.com/publiclab/mapknitter/commit/0c842d624e5c9464e5b9eed2d5ef581fdc2b437b done!

If it works, we should test adding it to the startup sequence here:

https://github.com/publiclab/mapknitter/blob/0c842d624e5c9464e5b9eed2d5ef581fdc2b437b/app/assets/javascripts/mapknitter/Map.js#L121-L137

[2020-05-12 18:57] jywarren commented on #1280
and on the view page?

[2020-05-12 22:24] jywarren opened #1297 "Optimizations for gallery page view"
...which is experiencing slow load times -- possibly connected to #1167...?

https://github.com/publiclab/mapknitter/blob/5022129ab6352f754a1103db4cf26ea1875d3730/app/controllers/front_ui_controller.rb#L64-L73

Looking in skylight here: https://oss.skylight.io/app/applications/ArYnJAb3VUC9/1589300520/6h/endpoints

[2020-05-12 22:30] jywarren commented on #1280
This is now live via the button. We could extent to the view page if we like it!

[2020-05-12 22:37] jywarren commented on #1297
https://oss.skylight.io/app/applications/ArYnJAb3VUC9/1589236560/1d/endpoints/FrontUiController%23gallery?responseType=html

![image](https://user-images.githubusercontent.com/24359/81752569-aea49300-947f-11ea-8003-525fc7db5496.png)

[2020-05-12 22:39] jywarren commented on #1297
Nice, a lot is selection from maps -- which we do call twice. I wonder if we simply need some more indexing on the maps table?

[2020-05-12 22:41] jywarren commented on #1297
I mean, pagination via the `will_paginate` gem should cover limiting the query.

Indeed we only index maps on `slug` it seems?

https://github.com/publiclab/mapknitter/blob/2c5704c3718476a2cfd932f4dc246d050c842c1f/db/schema.rb#L78

The queries we are seeing take 1.2 seconds each are:

[code]

and

[code]

[2020-05-12 22:42] jywarren commented on #1297
Ah, if we are joining `warpables` and we are saving a TON of versions of those, maybe that is causing the slowness. Yes:

https://github.com/publiclab/mapknitter/blob/2c5704c3718476a2cfd932f4dc246d050c842c1f/app/models/map.rb#L92-L97

[2020-05-12 22:50] jywarren commented on #1167
Noting we can limit # of saved versions with this config:

https://github.com/paper-trail-gem/paper_trail#2e-limiting-the-number-of-versions-created

[2020-05-12 22:53] jywarren opened #1298 "Reverting old versions doesn't work!"
Clicking revert on this map: https://mapknitter.org/maps/pvdtest/edit

here:

![image](https://user-images.githubusercontent.com/24359/81753473-dd236d80-9481-11ea-8b22-4d6bfae2a8bd.png)

leads to: https://mapknitter.org/images/revert?id=312456&version=760691

This seems like a routing error, though, since it's a 404. I hope so!

[2020-05-12 22:54] jywarren commented on #1297
So, we may be able to filter out any warpables which aren't the latest version, here: https://github.com/paper-trail-gem/paper_trail#3-working-with-versions

This uses a `versions` table, but I'm not sure if it creates many copies of the warpables records themselves?

[2020-05-12 22:55] jywarren commented on #1298
Aha this routing error didn't trip tests because they were functional tests!

@divyabaid16 would you have any time to take a look at routes and help us get your work back online? Thank you!

[2020-05-12 22:56] jywarren commented on #1298
(tests are here: https://github.com/divyabaid16/mapknitter/blob/641b30d9070f096308b4bbc9e29226bc5bceb318/test/functional/images_controller_test.rb#L103)

[2020-05-19 15:49] jywarren commented on #1280
Context - this page is affected so if we set it to the default this should be solved: https://mapknitter.org/maps/stavanger2013/edit

[2020-05-19 17:22] jywarren commented on #1167
Attempted this in #1312 !

[2020-05-19 17:38] jywarren commented on #1167
That is merged and ready for testing in stable! We can also monitor performance in relation afterwards.

[2020-05-19 17:56] jywarren commented on #1167
Confirmed on stable.mapknitter.org that only 20 versions may be saved!

https://stable.mapknitter.org/maps/unc-charlotte-balloon-mapping--2/edit

![image](https://user-images.githubusercontent.com/24359/82361233-916c4900-99d8-11ea-9ac4-eec86692c9d5.png)

[2020-05-19 17:56] jywarren commented on #1167
I don't think this removes past instances of too many versions though. Not sure!

[2020-05-19 17:58] jywarren commented on #1167
https://stable.mapknitter.org/maps/caldwell-campus/edit shows 38 revisions on an image, so it didn't trim retroactively:

![image](https://user-images.githubusercontent.com/24359/82361458-dc865c00-99d8-11ea-8a50-82e7384a1ef3.png)

[2020-05-19 17:59] jywarren commented on #1167
But i noticed that many images have only 2-5 revisions. So maybe it's not too bad... i had worried that thousands of versions were being saved...

[2020-05-19 18:08] sentry-io[bot] opened #1313 "ActionView::MissingTemplate: Missing template front_ui/save_location, application/save_location with {:locale=>[:en], :formats..."
Sentry Issue: [MAPKNITTER-2S](https://sentry.io/organizations/publiclab/issues/1648542014/?referrer=github_integration)

[code]

[2020-05-19 18:16] jywarren commented on #1298
Attempted fix in https://github.com/publiclab/mapknitter/commit/d6189a60e9291c1bbc3e663e4b91365a4e7b534c ... i think it was routes ordering?

[2020-05-19 18:33] jywarren commented on #1298
Hmm, didn't work -- i still get a 404 -- https://stable.mapknitter.org/images/revert?id=248766&version=754823 at https://stable.mapknitter.org/maps/unc-charlotte-balloon-mapping--2/edit for example.

[2020-05-19 19:37] emilyashley commented on #1280
Coooool, looking at this now. Getting my mapknitter environment setup and running into issues on finding the libxml headers on mojave.

[2020-05-19 20:37] jywarren commented on #1297
Updating that we actually aren't saving all that many versions of images, we've found. But we could try for a narrower query on line 93, anyways? I mean, we only use the count and the first one (for the lead image).

[2020-05-19 20:57] #1313 closed

[2020-05-24 19:10] jywarren opened #1320 "Calculate and display exported image dimensions from selected cm/px export resolutions"
Some maps are stalling and hitting on the right resolution isn't easy. See these 2 stalled maps:

![image](https://user-images.githubusercontent.com/24359/82762471-34ed9d00-9dcf-11ea-876c-a1fa454419d5.png)

Note we don't see output resolution until they're complete, and they probably crashed or stalled.

We should be able to calculate at least roughly what the output dimensions in pixels would loo

[2020-06-01 14:09] alaxalves opened #1325 "Setup Dockerfile for Production"
### What happened just before the problem occurred

Currently we use [this](https://github.com/publiclab/mapknitter/blob/main/Dockerfile) Dockerfile for production, currently it has stuff setup for development only - such as the installation of ChromedDriver, completely unnecessary for production.

As suggested by @icarito we should setup a Dockerfile for production and other for development only.

[2020-06-01 14:10] alaxalves commented on #1325
@icarito Should we setup a docker-compose yaml file for production onyl as well?

[2020-06-01 18:48] icarito commented on #1325
If it is possible to use environment variables to reuse the same
docker-compose yaml file, then that would be preferred.

El lun, 1 de jun de 2020 a las 07:10, Álax de Carvalho Alves
<notifications@github.com> escribió:

[2020-06-01 19:31] icarito commented on #1325
Oh and besides in production we're not really using docker-compose
except at image building time.

El lun, 1 de jun de 2020 a las 07:10, Álax de Carvalho Alves
<notifications@github.com> escribió:

[2020-06-02 16:42] jywarren opened #1328 "Add image array re-ordering step to export sequence"
https://github.com/publiclab/Leaflet.DistortableImage#single-image-interface-1 describes how to use the StackAction to re-order images for export, and we implemented that here in MapKnitter:

https://github.com/publiclab/mapknitter/blob/6731eecdf187fc7e691ca9616eda7c0489e1712f/app/assets/javascripts/mapknitter/Map.js#L108

However, using this does not affect the order of `opts.collection`, and the

[2020-06-02 18:02] jywarren commented on #1328
Aha, they all lead back to:
 https://github.com/Leaflet/Leaflet/blob/37d2fd15ad6518c254fae3e033177e96c48b5012/src/dom/DomUtil.js#L95-L102

which simply reorders the elements in the HTML DOM.

So, we need to order the `collections` array to match the order in `$('img.collected').toArray();` -- this isn't a generalizable solution as it'll break if more than one map is shown on a page, but it'll work

[2020-06-02 18:22] jywarren commented on #1328
So we could do:

[code]

So we can try to find the DOM order by the `id` of the collection items:

[code]

So it should be:

[code]

[2020-06-02 18:25] jywarren commented on #1328
OK, attempted this fix in https://github.com/publiclab/mapknitter/commit/e5054f0c33f2a8f3807338dd322fd499aade0360, let's test once it builds!

[2020-06-02 18:40] jywarren commented on #1328
Confirmed that submitted image order in AJAX request is now ordering differently corresponding to the displayed order...

[2020-06-02 18:41] jywarren commented on #1328
Nice! Closing.

[2020-06-02 18:41] #1328 closed

[2020-06-11 22:08] jywarren commented on #1298
We'll need a local install to fix this...

[2020-06-15 01:33] alaxalves commented on #1325
We use docker-compose for development

[2020-06-16 22:19] #1325 closed

[2020-06-17 16:36] icarito opened #1338 "Production deployment broken"
Seems like we've misconfigured the database variables for production.

Trying to deploy today:
[code]

[2020-06-17 16:39] nsachin08 commented on #1059
I am interested and like to work.

[2020-06-17 16:41] icarito opened #1339 "SPAM moderation slows down site"
### What happened just before the problem occurred
The site was down briefly because of heavy load.
"joyofsoy" on #publiclab reported believing his spam moderation was the culprit, as he was opening ~20 tabs to handle spam moderation.

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the ab

[2020-06-17 16:43] cesswairimu commented on #1059
Great :tada:  go ahead. Thanks

[2020-06-17 16:51] joyofsoy commented on #1339
I used search to find maps that mention "viagra" (there are a lot of spam posts about viagra!). Because the spam and trash buttons on the admin view aren't functioning, I tried opening the search results in individual tabs to manually delete the maps, but the site stopped responding after ~20 tabs.

[2020-06-17 16:53] icarito commented on #1339
Thanks! From the cloud side I observed high RAM use, probably this caused the hang.
![mkdown2](https://user-images.githubusercontent.com/199755/84926476-1195d500-b091-11ea-8d87-125d6dd923af.png)

But I couldn't single out in Skylight which was the problematic API route.

[2020-06-18 13:00] mstenta opened #1343 "TMS URLs returning 404 Not Found"
I work on a project called farmOS (https://farmOS.org), which is for farm management. It has a mapping component, and we have a module that allows users to pull in an aerial imagery map layer from MapKnitter using the TMS URL.

This has worked for a long time, but recently we have been seeing 404s returned from the TMS URLs. Reported here: https://farmos.discourse.group/t/farmos-mapknitter-integra

[2020-06-18 13:16] deadcalf commented on #1343
this is the screenshot of the 404 error and the files is looking for
![image](https://user-images.githubusercontent.com/17411516/85024677-b3dbb880-b176-11ea-91c3-70278b7c325d.png)

[2020-06-19 12:09] cesswairimu commented on #1059
I am so sorry @nsachin08, My bad, I didn't check if the code was still unchanged. seems it was changed and this  issue was never closed..I will try and find you another issue...so sorry for the inconvenience

[2020-06-20 16:41] alaxalves commented on #1338
Probably the RAILS_ENV variable has not been set.

[2020-06-23 15:49] sentry-io[bot] opened #1350 "Error at https://mapknitter.org/maps, but that's an old unused route"
Sentry Issue: [MAPKNITTER-2X](https://sentry.io/organizations/publiclab/issues/1648894209/?referrer=github_integration)

[code]

[2020-06-23 15:49] jywarren commented on #1350
This seems triggered by going to https://mapknitter.org/maps, but I don't see a link to that (need to do a thorough search!)

We should redirect to https://mapknitter.org/gallery !

[2020-06-29 05:04] #1059 closed

[2020-07-07 15:07] #1350 closed

[2020-08-04 16:23] jywarren commented on #1338
Hi, was this resolved, just checking! Thank you!!

[2020-08-04 16:53] icarito commented on #1338
Oh hi, no, I'm afraid. I'll take a look now.

[2020-08-10 07:37] #1251 closed

[2020-08-19 21:12] jywarren commented on #1343
Hi, all, i'm so sorry for the slow response. I'm wondering if the TMS route got modified possibly during one of our upgrades? Perhaps @cesswairimu @alaxalves @kaustubh-nair or others may have an idea?

I'm seeing that the export links for TMS are mostly `.zip` files now, and there may be an error even there:

* https://mapknitter.org/maps/placa-salvador-segui-barcelona
* https://mapknitter.org/map

[2020-09-01 14:42] jywarren opened #1407 "Route missing for spam button: https://mapknitter.org/map/archive/MAPNAME"
Joe reports:

[2020-09-01 14:48] jywarren commented on #1407
got the bug - it should be `maps` not `map` in https://mapknitter.org/maps/archive/cialis

Fixed in https://github.com/publiclab/mapknitter/commit/0f907eb2f1cd4f60a47d1f245f28c941d57542ce

[2020-09-01 14:48] #1407 closed

[2020-09-01 16:37] #1036 closed

[2020-09-11 15:46] cesswairimu commented on #920
Closed this the bug hasn't come up since then

[2020-09-11 15:46] #920 closed

[2020-09-21 14:52] cesswairimu opened #1437 "Double pagination for maps on the author profile"
We have two pagination bars displayed here  https://mapknitter.org/profile/warren

 Lets display just one

![Screenshot from 2020-09-21 17-45-00](https://user-images.githubusercontent.com/17081074/93781758-628a0c00-fc32-11ea-9b29-c9692f292077.png)

[2020-09-21 15:00] cesswairimu commented on #1177
Currently on prod, the search button is not clickable if the chars are less than 3. Which I believe is okay. Closing this. Thanks everyone

[2020-09-21 15:00] #1177 closed

[2020-09-21 19:06] chethanagopinath commented on #1437
@cesswairimu Hi, I would love to pick this up.

[2020-09-21 19:10] cesswairimu commented on #1437
Hi @chethanagopinath, go ahead. Thanks

[2020-09-22 17:01] chethanagopinath commented on #1437
@cesswairimu Hi, I am unable to assign myself as I am not the owner of the issue, so it would be great if you could assign the issue to me.

[2020-09-22 17:29] cesswairimu commented on #1437
cool, done

[2020-09-22 18:52] jywarren commented on #1298
Hi @cesswairimu - i'm wondering if you have time in your hours to take a look at some of this to see if it's a relatively easy fix? Tell me what you think!

[2020-09-22 19:00] cesswairimu commented on #1298
sure thing, I will take a look within the week

[2020-10-05 20:28] chethanagopinath commented on #1437
@cesswairimu  Hi, so as per the new rules of Hacktoberfest, contributing to a repo which has topic, '**Hacktoberfest**' or a label as '**hacktoberfest-accepted**' are valid it seems. Since I really want to work on this issue and participate in Hacktoberfest, would you be willing to do either of these? Sorry about the trouble. Thanks!

[2020-10-06 05:29] cesswairimu commented on #1437
Hey @chethanagopinath, sure thing added the topic. Go ahead

[2020-10-06 13:26] chethanagopinath commented on #1437
@cesswairimu Thank you! :)

[2020-10-06 15:38] jywarren opened #1446 "Error on asset precompilation test run: Sprockets::FileNotFound: couldn't find file 'jquery-ui/jquery-ui.min.js'"
We're getting a consistent test failure in the asset precompilation test, as follows, where it can't find `jquery-ui/jquery-ui.min.js`: (example #1425)

[code]

[2020-10-06 15:38] jywarren commented on #1446
https://github.com/publiclab/mapknitter/pull/1443/checks?check_run_id=1185976380

[2020-10-06 15:39] jywarren commented on #1446
And on https://github.com/publiclab/mapknitter/pull/1443!

[2020-10-07 16:04] #1446 closed

[2020-10-09 03:04] chethanagopinath commented on #1437
@cesswairimu Could I have more details as to how I can reproduce this issue? I'm sorry if my question is a bit vague, I'm new to this project and open source in general, so any details would be great. Would I need to login as Warren? And how would I get this particular page? If I log in and try to create a map to check for this error, I get another error while saving the map.
![Screen Shot 2020-10

[2020-10-09 16:50] cesswairimu commented on #1437
Hello yeah sure, glad to.
First run `rake db:seed` to get some users. Then you can get logged in locally using this url `/local/harry` then maybe see if you can  get any map data... the url for this should be `/profile/harry` locally

[2020-10-09 16:54] cesswairimu commented on #1437
if you have some maps on harry's profile, you could edit this line https://github.com/publiclab/mapknitter/blob/main/app/controllers/users_controller.rb#L8 and use `per_page: 1` to see the double pagination. Please feel free to reach out if you have further questions or if this doesn't make sense. Thanks

[2020-10-11 19:29] akp2603 commented on #1296
@cesswairimu Hi is this up for grabs? Would love to look this up.

[2020-10-11 19:35] cesswairimu commented on #1296
HI @akp2603 just checked, looks like its solved. Closing this. Thanks

[2020-10-11 19:35] #1296 closed

[2020-10-11 22:01] shubhangikori commented on #1174
Can I work on it if this first-timers-only issue is still open?

[2020-10-11 22:07] VladimirMikulic commented on #1174
@shubhangikori the issue is still present, feel free to take over. Let me know if you need any help. Thanks.

[2020-10-21 23:40] chethanagopinath commented on #1437
@cesswairimu Really sorry for the delay, but when I run `rake db:seed` I get,
`ActiveRecord::RecordNotUnique: Mysql2::Error: Duplicate entry '16' for key 'warpables.PRIMARY': INSERT INTO `warpables` (`id`, `image_content_type`, `image_file_name`, `width`, `created_at`, `updated_at`, `map_id`, `history`) VALUES (16, 'image/png', 'demo.png', 500, '2020-10-21 23:37:50', '2020-10-21 23:37:50', 92, 'si

[2020-10-22 04:40] cesswairimu commented on #1437
that is strange, could you try dropping the db and immediately after running setup you try to seed again

[2020-10-22 04:51] chethanagopinath commented on #1437
Sure, I will do that now @cesswairimu. Thank you!

[2020-10-23 00:14] chethanagopinath commented on #1437
@cesswairimu If there are no maps on Harry's profile, is there any other user I could try? (Who isn't the admin)

[2020-10-26 07:05] #1437 closed

[2020-11-05 06:44] IC1101Virgo commented on #1174
May I work on this? 😃

[2020-11-05 20:17] jywarren commented on #1338
Ah, it looks like we created a new `RAILS_ENV` var here, maybe we have to create that in Jenkins or in production container too?

https://github.com/publiclab/mapknitter/pull/1329/files#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485R69

It's just set up for Travis.

[2020-11-05 21:33] icarito commented on #1338
I think this was resolved, the issue with deploying was fixed with https://github.com/publiclab/mapknitter/pull/1428 - so this should autodeploy already! Sorry this was left open.

[2020-11-05 21:33] #1338 closed

[2020-11-10 19:03] pydevsg commented on #1174
Go ahead @IC1101Virgo :)

[2020-11-11 04:31] IC1101Virgo commented on #1174
Thanks ! :)

[2020-12-08 07:03] cesswairimu opened #1474 "Weekly Community Check-In #86"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-12-08 12:50] RuthNjeri commented on #1474
Thanks @cesswairimu! I'll be sure to post the link to my blog here once done.

I'm currently working on the All posts page, I've been able to make progress on what is needed. I'll be breaking it down into smaller tasks and begin working on them.

[2020-12-11 14:17] RuthNjeri commented on #1474
Hi everyone,

I was finally able to post my first Outreachy blog... [enjoy](https://publiclab.org/notes/ruthnwaiganjo/12-11-2020/hello?_=1607695851) 😄

[2020-12-15 12:01] cesswairimu commented on #1474
Hi all, I will keep this open for this week too...lets check-in here  this week too. Thanks

[2020-12-20 22:45] jywarren commented on #1474
Thanks Cess. I'm so relieved to be mostly done with the GitHub actions work! Some follow-ups now and then repeating (but simpler i hope) for some other PL repositories! 😅😁

[2020-12-21 11:53] cesswairimu commented on #1474
Moved to https://github.com/publiclab/plots2/issues/8877 . Thanks everyone.

[2020-12-21 11:53] #1474 closed

[2021-01-31 08:03] cesswairimu opened #1489 "Move Travis to Github actions"
We moved plots2 and the Editor to git-actions and the CI is now running seamless... Lets do the same here...
 plots2 PR: https://github.com/publiclab/plots2/pull/8795/
Editor PR: https://github.com/publiclab/PublicLab.Editor/pull/680
Image Sequencer: https://github.com/publiclab/image-sequencer/pull/1783

[2021-04-19 08:44] autocarstorage opened #1511 "Submission Problem"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2021-05-04 14:31] sentry-io[bot] opened #1514 "ActiveRecord::StatementInvalid: Mysql2::Error: Incorrect string value: '\xE0\xB8\xAD\xE0\xB8\xB3...' for column 'location' at row..."
Sentry Issue: [MAPKNITTER-4N](https://sentry.io/organizations/publiclab/issues/1907602956/?referrer=github_integration)

[code]

[2021-05-04 14:51] sentry-io[bot] opened #1515 "OpenID login error: NoMethodError: undefined method `index' for server_url (which is nil)"
Sentry Issue: [MAPKNITTER-5B](https://sentry.io/organizations/publiclab/issues/2218376361/?referrer=github_integration)

[code]

[2021-05-04 14:53] jywarren commented on #1515
I just saw this while trying to log in using OAuth, as "warren" --

Why is `server_url` nil? Are we seeing an issue with openid filesystem storage?

[2021-05-04 15:09] icarito commented on #1514
We may have to migrate like we did with Plots2, since this DB is a lot smaller it should be easier.

[2021-05-04 15:11] icarito commented on #1515
Hmmm is it an OAuth or OpenID issue? Are they coupled in any way?
We tested this, will investigate.

[2021-05-04 15:18] icarito commented on #1515
Hmm I couldn't reproduce at first from here:
- I logged in to Publiclab.Org with Github OAuth,
- I logged into Mapnitter using OpenID from Publiclab.Org (regular user/password).
But I did get a 500 error when *trying to log into Mapknitter with Github OAuth*.

[2021-05-04 15:27] icarito commented on #1515
We host Mapknitter in Google Appengine since a long time, and we hadn't previously noticed this. There's been no change in this, I'll dig into the Google infrastructure for clues.

[2021-05-04 15:30] icarito commented on #1515
I see errors for this as far back as February in Sentry, I guess it's been there all along since we moved to Google Appengine.

[2021-05-04 15:37] jywarren commented on #1514
OK!

This failed due to the unicode text in the location field:

"169 Moo 10, Gudkla-Phansuk Rd, Tambon Moosi, Pak Chong, อำเภอปากช่อง นครราชสีมา 30130, Thailand"

[2021-05-04 15:44] sentry-io[bot] opened #1516 "GitHub OAuth login error NoMethodError: undefined method `[]' for nil:NilClass"
Sentry Issue: [MAPKNITTER-4G](https://sentry.io/organizations/publiclab/issues/1901646111/?referrer=github_integration)

[code]

[2021-05-04 15:44] jywarren commented on #1515
OK great, i moved the OAuth error to https://github.com/publiclab/mapknitter/issues/1516

[2021-05-04 15:45] jywarren commented on #1515
When logging into PL.org fresh (in incognito) then using OpenID from MapKnitter, I don't see this error.

[2021-05-04 15:47] jywarren commented on #1515
This has happened only 4 times. I'll try logging out of my current session and logging back in.

[2021-05-04 15:49] jywarren commented on #1515
Strange, i didn't even have to log out. The second time i tried to log in from MapKnitter via OpenID, it worked. I'll close this with the recommended fix "try again" -- dissatisfying but... pretty rare!

[2021-05-04 15:49] #1515 closed

[2021-05-04 15:51] jywarren commented on #1516
Trying this I didn't see an error, it worked normally for me. But I am suspicious - i wonder if "nickname" exists for all GitHub OAuth accounts?

[2021-05-04 15:52] #657 closed

[2021-05-04 15:53] jywarren commented on #1516
https://github.com/publiclab/mapknitter/blob/4331ef0b2873a3cf53007023d52c2515d93f1e63/app/controllers/sessions_controller.rb#L75-L94

[2021-05-04 16:17] jywarren commented on #1516
We seem to be seeing a web of errors; let's try to map it out:

### Scenario A

- what's the initial state?
- logging into MK.org using GitHub OAuth shows a 500 error
- this happened multiple times; the Sentry error at top of this issue shows 4x for @icarito today

### Scenario B

1. While logged into PL.org and having GitHub OAuth associated with PL.org, tried logging into MK.org using GitHub OAu

[2021-05-04 16:18] jywarren commented on #1516
Inconsistent results, too! From @icarito -

[2021-05-04 16:27] icarito commented on #1516
I tried again from a different browser, and in Scenario B, I was able to login on second attempt via Github.

[2021-05-04 16:29] jywarren commented on #1516
I wonder, on the error itself, if the `nil` value is for `registration[]` or `identity_url.split('/')[]`? That could make a big difference... i'll check the logs on PL.org maybe:

```identity_url = identity_url.split('/')[0..-2].join('/') + '/' + registration['nickname']```

[2021-05-04 16:42] icarito commented on #1516
Perhaps the 500 issue (Scenario A) is arising from a faulty response from Github? That would explain why we can't reproduce.

[2021-05-04 18:29] sentry-io[bot] opened #1517 "Users are having trouble creating new maps (missing required key: map_id)"
ActionView::Template::Error: No route matches {:action=>"index", :controller=>"warpables", :map_id=>nil}, missing required key...

Sentry Issue: [MAPKNITTER-F](https://sentry.io/organizations/publiclab/issues/1335478082/?referrer=github_integration)

[code]

[2021-05-04 18:43] icarito commented on #1517
Could this have something to do with our login issues at https://github.com/publiclab/mapknitter/issues/1516? maybe if a user isn't properly logged in? how would we be losing the map_id during map editing?

[2021-05-04 19:22] jywarren commented on #1517
I believe map_id is just the slug of the map, generated by concatenating the name of the map. I've asked Jeremiah in https://publiclab.org/questions/jerejack0507/05-04-2021/we-are-having-trouble-with-our-map-knitting to share what was submitted in the form, to try to clarify.

I made a new map earlier today so it's not affecting everyone.

Update: yes, i was able to reproduce this when trying to s

[2021-05-04 19:25] jywarren commented on #1517
So to reproduce, create a map at https://mapknitter.org/maps/new but enter only a location (with latitude/longitude).

A related error is when you try to save with no location -- i.e. a completely blank form -- then you get this error: https://sentry.io/share/issue/b02e97eea11a42998c83bfa4de1e4e9a/

[2021-05-04 23:29] colintalex commented on #338
Is anyone touching this right now? I'd love to actually get this finished.

[2021-05-12 13:34] icarito opened #1525 "Apt repository key is expired"
We need to figure out how to re-sign the apt repo that we use for our GDAL packages.
[code]

[2021-05-12 18:46] #1525 closed

[2021-07-02 15:46] karimabuseer commented on #338
Hey heroes! Has anyone claimed this issue yet? If not I'd love to :)

[2021-08-31 20:12] icarito opened #1535 "Need to add CORS headers"
### What happened just before the problem occurred
We migrated to Google App Engine and then realized we were missing headers that were previously set with NGINX.
Appengine lacks the ability to add headers, thus we need to implement this in the app's code.

[2021-09-02 21:15] #1535 closed

[2021-09-09 05:21] icarito commented on #1535
https://publiclab.org/map#14/40.7110947680185/-73.96068613976242 This seems to be working.

[2021-09-20 22:50] #1489 closed

[2021-10-04 15:02] aliciapaz opened #1542 "Unable to locate package npm in CI's Docker check builds"
We have an error in the CI's docker builds (both development and production):

[code]

[2021-11-09 17:31] jywarren commented on #1343
Hi - coming back here after a long while, we are about to have TMS working due to https://github.com/publiclab/mapknitter/pull/1548, but are troubleshooting the coordinate systems before it's 100%. But this should re-establish TMS as an export option. Thanks for your patience on this.

[2021-11-16 18:53] jywarren commented on #829
I think this is wrapped up now, thank you!

[2021-11-16 18:53] #829 closed

[2021-11-16 18:56] jywarren commented on #326
![image](https://user-images.githubusercontent.com/24359/142047925-f341aeff-3afc-44a2-b8ea-d894f1653ef2.png)

We're doing really well here now! We still don't have:

- [ ] slider for resolution
- [ ] name of who started the export
- [ ] exports near here... is this helpful?

[2021-11-16 18:58] #364 closed

[2021-11-16 19:07] jywarren commented on #1343
Hi, just writing to say that the export system is back up with some refinements, including that hosted TMS is back.

You'll be able to see TMS export products in this format:

https://mapknitter-exports-warps.storage.googleapis.com/1637088561//tms/

They look like this:

![Screen Shot 2021-11-16 at 1 55 24 PM](https://user-images.githubusercontent.com/24359/142048494-bab72e43-0518-4e96-b8a0-1c83ab

[2021-11-16 19:15] ebarry commented on #1343
This is so awesome! When you get a chance, please also share this in the internal Slack #web so staff can see!

[2021-11-16 19:17] jywarren commented on #1343
Yep, will do - doing finishing touches and coordinating a Twitter announcement too. Thanks!

[2021-11-16 21:52] jywarren commented on #1263
Noting I'm still seeing the front page map not completely load; error is on line 4 of this code segment, although I'm not sure if this is from a library or what because it's not in our codebase here??

[code]

[2021-11-16 21:56] jywarren commented on #1263
So strange. The code is from https://github.com/publiclab/plots2/pull/7086 but I don't see how it got pulled into mapknitter's application.js...

[2021-11-16 21:57] jywarren commented on #1263
Whoa it's in a direct reference to https://publiclab.org/assets/application-c9ad5ea707b1e200fb756fa08b081cc95ddc22c7c0a674c6c717f55e1fa04513.js

how did we get that in here?

[2021-11-16 22:03] jywarren commented on #1263
Very mysterious. Possibly related to intermittent asset loading, waiting to see about that...

[2021-11-16 23:06] jywarren commented on #1263
So i think those are from our iframes; they shouldn't be affecting load of the maps:

[code]

[2021-11-16 23:15] jywarren commented on #1263
Gonna say i think this may be that a new setting was added to LEL so you have to set it to true before it'll show the map: https://github.com/publiclab/mapknitter/commit/9f0d988bc65d17c5c62e2fb22800c4468ace63d4

[2021-11-16 23:24] #1343 closed

[2021-11-16 23:59] jywarren commented on #1263
That was it! Fixed!

[2021-11-16 23:59] #1263 closed

[2022-01-06 23:24] jywarren opened #1580 "Coordinates not set on drag when making new map"
https://mapknitter.org/maps/new

![image](https://user-images.githubusercontent.com/24359/148466477-813d2dc9-eec1-450e-a7bf-76f1b465ce07.png)

[2022-01-23 21:41] Xuewei-Chen commented on #338
Hi, can I claim this issue?

[2022-01-26 00:29] #1280 closed

[2022-02-14 00:08] yuktea commented on #1174
Hello @VladimirMikulic, I'm starting my OSS Journey and am a first timer. Can I please take this issue up?

[2022-02-14 08:40] VladimirMikulic commented on #1174
Hi @yuktea. Think this was resolved in #1176, but if not feel free to submit a new PR.

[2022-03-05 15:10] sakshi-2412 commented on #1174
Hey @VladimirMikulic Can I work on this issue?
I tried to follow the steps provided but this is what the buttons looked like -

![Screenshot from 2022-03-05 20-21-57](https://user-images.githubusercontent.com/85152262/156888796-518529d3-112c-4cab-8f27-dced190d290d.png)

Also noting that the codes are not at the specified lines (as this is a very old issue, maybe other code has been added/deleted)

[2022-03-05 15:15] VladimirMikulic commented on #1174
@sakshi-2412 feel free to take over :)

[2022-03-07 07:29] sakshi-2412 commented on #1174
@VladimirMikulic I have opened a PR, can you please check it once? Thanks ✨

[2022-03-09 17:45] sakshi-2412 commented on #1182
hello @Uzay-G @cesswairimu  can I work on this issue?
Also, do we have a dedicated page for featured maps/mappers?.. I could see them in https://mapknitter.org/gallery which is linked in the home page as "All Maps"
Maybe here too we can provide a link to the gallery page with the error text if there are no results?

[2022-03-10 04:57] sakshi-2412 commented on #1169
@VladimirMikulic is this issue still there?

[2022-03-10 10:13] Uzay-G commented on #1182
Definitely! Go ahead :)

[2022-03-10 11:11] sakshi-2412 commented on #1182
Okay thanks!
I tried some changes...How does this look?

![Screenshot from 2022-03-10 00-25-23](https://user-images.githubusercontent.com/85152262/157649972-d62b3472-04d1-4263-9add-bdaf6eb443fa.png)

[2022-03-11 01:39] VladimirMikulic commented on #1169
No, it was resolved. Thanks @sakshi-2412.

[2022-03-11 01:39] #1169 closed

[2022-03-11 19:48] sakshi-2412 opened #1611 "Navbar overlapping site content"
### What happened just before the problem occurred
Bootstrap fixed-top navbar is overlapping the site content, thus notifications are not completely visible.

https://user-images.githubusercontent.com/85152262/157945224-a73748a3-1eca-4806-8dc4-76cb58dac068.mp4

Specifically, for a particular screen size the content hides behind the navbar.

![navbar-overlapping](https://user-images.githubuserconte

[2022-03-11 20:15] sakshi-2412 commented on #1611
Noting that this overlapping problem is much more visible in Ubuntu than Windows (almost nil). Both have the same google chrome version (checked in it my dual boot system)

[2022-03-12 08:24] cesswairimu commented on #1182
Hi all,
this is looking good @sakshi-2412 :100:  yeah I agree lets provide the link to the gallery. Thanks for working on this

[2022-03-13 06:59] sakshi-2412 commented on #1182
okay thanks.. I'll make a PR soon :sparkles:

[2022-03-13 07:37] sakshi-2412 commented on #1611
Replacing `navbar fixed-top` with `navbar static-top` will solve this problem
@jywarren @cesswairimu can I open a PR for the same?

[2022-03-15 06:40] cesswairimu commented on #1611
Hey @sakshi-2412,  sure we would love your help, go ahead. Please test locally if possible and share some screenshots on the PR. Thanks

[2022-03-16 17:20] sakshi-2412 commented on #1611
yes sure!

[2022-03-21 06:38] cesswairimu opened #1615 "Weekly Community Check-In #134 - Outreachy Contribution starts this week!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-03-21 07:35] RaviAnand111 commented on #1615
Hey @cesswairimu, I would like to open the next week's check in.

[2022-03-21 08:59] cesswairimu commented on #1615
Thanks @RaviAnand111 :tada:
Please feel free to ping me or Tilda if you need any help. Thanks

[2022-03-22 19:45] #1182 closed

[2022-03-22 20:58] jywarren commented on #1615
I'm making some first-timers-only candidates which are also good issues for folks who've recently made a first-timers-only contribution! Please check out https://github.com/publiclab/plots2/labels/fto-candidate and I'm happy to answer questions too!

[2022-03-25 10:05] cesswairimu commented on #1615
Outreachy welome issue is here https://github.com/publiclab/plots2/issues/10840

[2022-03-26 04:38] reeshi-18 commented on #1580
@jywarren I want to take up this issue as a part of my contributions for Outreachy '22.
I am interested to work on the project "MapKnitter.org Spam Management system"
Please assign me this issue

[2022-03-26 11:42] reeshi-18 commented on #1580
@jywarren @TildaDares please guide me what is to be done in this issue so that I can start working on it

[2022-03-27 22:08] chepyego commented on #1615
do we have two project here plot2 and mapkinter right?

[2022-03-28 14:33] cesswairimu commented on #1615
Hi @RaviAnand111 feel free to open the check-in anytime today.
Hi @chepyego we have a number of projects in publiclab, you can find them all [here](https://github.com/orgs/publiclab/repositories). Thanks all

[2022-03-29 13:11] chepyego commented on #307
am having trouble setting up my database though am able to acces mysql with `mysql -u root -p`  but when i ran 'bundle exec rails db:setup` am getting this error  'How to Solve MySQL Error: Access denied for user root@localhost` i have tried the proposed solutions above but still getting same error

[2022-03-29 17:11] jywarren commented on #1580
Hi @reeshi-18 thank you!! have you taken on a first-timers-only issue already? If you have, then I can add some more detail here.

Are you able to go to the address above and reproduce the issue?

1. visit https://mapknitter.org/maps/new (after logging in)
2. drag the map around and look for the coordinates to be auto-filled

I'm actually seeing it working -- see screenshot:
![mk](https://user-ima

[2022-03-30 22:39] chepyego commented on #1611
is this ticket available?, am little bit confused there are so many projects here  at Public.am outreachy 2022 applicant, is this project in outreachy?

[2022-03-31 21:38] cesswairimu commented on #1615
Moved to https://github.com/publiclab/plots2/issues/10871. Thanks

[2022-03-31 21:38] #1615 closed

[2022-04-02 10:03] roli25 commented on #1580
@jywarren @TildaDares If this issue is still available, I would like to work on it.

[2022-04-02 10:04] roli25 commented on #1320
@jywarren Can I work on this?

[2022-04-02 11:09] imranburki commented on #1611
I am Outreachy 2022 applicant. Can i work on this issue, If it is still open?

[2022-04-02 14:00] chepyego commented on #1174
is this issue still on? am outreachy applicant 2022 and I would like to work on it

[2022-04-02 14:44] illyShelly opened #1624 "Add some Margin on top of buttons on homepage underneath of Activities and Questions"
### What happened just before the problem occurred
Hello, I have a suggestion for homepage of mapknitter. When you scroll down on the main page to the each frame fro Activities and Questions, there are buttons 'Add an activity' and 'Ask question'. It will be nicer if the buttons have additional class with some added margin on top for instance 30px, not to be on the exact edge of the frames.

### R

[2022-04-02 19:23] TildaDares commented on #1624
Hi @illyShelly, thank you for opening this issue. The code for the Q&A section is in the plots2 repo. An iframe was used to embed this section in MapKnitter. You can find the code here https://github.com/publiclab/plots2/blob/main/app/views/grids/_notes.html.erb#L83-L85

If you want I could transfer this issue to plots2 and you can resolve it there.

[2022-04-02 19:56] illyShelly commented on #1624
@TildaDares Hi, thank you. OK, please, transfer it there and I like to work on it :)

[2022-04-02 21:40] reeshi-18 commented on #1580
@jywarren the coordinates are set on dragging the map! I went through the entire map and coordinates were set at all places. According to me this issue is resolved and can be closed.

[2022-04-03 05:45] sakshi-2412 commented on #1611
Hey @chepyego @imranburki , sorry but I have already opened a PR for this issue. You can work on other issues if you want :sparkles:

[2022-04-03 11:44] sakshi-2412 commented on #1015
Can we simply make the title field as required? I think that will solve this issue. @cesswairimu @TildaDares

[2022-04-04 09:26] sakshi-2412 opened #1625 "Map show page buttons not scaled"
### Problem

Buttons on map show page have no padding and are not of the same width.

![buttonsBefore](https://user-images.githubusercontent.com/85152262/161514758-4ebf0db3-dbdf-43ed-bddb-7af8a441085d.png)

Solution ->

![buttonsAfter](https://user-images.githubusercontent.com/85152262/161514985-d573d6d0-4ea2-4056-bbfa-ab797d7ce94c.png)

### Relevant URLs

https://mapknitter.org/maps/la-fe-dam-the

[2022-04-04 09:29] PeculiarE opened #1626 "Update Onboarding/Installation Documentation in README.md"
### What happened just before the problem occurred
I tried setting up the project on my local machine and faced some challenges while doing so because the README.md for the project had some issues and didn't cater to some specific problems faced by macOS Big Sur users like me. These include:

- [ ] Table of contents misdirection especially in the installation section - #1628
- [ ] Missing forking

[2022-04-04 09:33] PeculiarE commented on #1626
Hello @jywarren @cesswairimu @TildaDares....please review and let me know if I can go ahead with this. Thank you 😄 .

Also do you need me to provide video or screenshot evidence? Or are the explanations okay?

[2022-04-04 09:49] TildaDares commented on #1626
Hi @PeculiarE, this sounds like an amazing idea. Can you specify which part of the documentation caused issues for you?

[2022-04-04 10:10] PeculiarE commented on #307
Hello @chepyego. Most times, that error is thrown if you haven't configured your database correctly in the `database.yml` file. Could you please confirm that the username and password for your development database is correctly inputted?

[2022-04-04 10:16] PeculiarE commented on #1174
I believe this has been resolved @chepyego

[2022-04-04 10:25] chepyego commented on #1174
yeah I think so

[2022-04-04 10:29] chepyego commented on #307
Hello @PeculiarE i managed to fix it by changing the test_database password and username to be the same as the development database. But am having another problem I can attach a screenshot below
![yarnerror](https://user-images.githubusercontent.com/22706319/161525812-e52a84b6-7bab-49cb-9ba9-8c8c91adb38f.png)

[2022-04-04 11:00] PeculiarE commented on #1626
Thank you 😄  @TildaDares. Okay, so here goes:

**1. Table of contents misdirection especially in the installation section**:

Clicking on the headers (specified with arrows in the image below) doesn't take me anywhere. Plus the arrangement of the subheadings in the table of contents don't match exactly what's in the body of the installation section. And it got me a bit confused at first before I w

[2022-04-04 11:15] PeculiarE commented on #307
Nicey. Well done 😄 😄 @chepyego. Please check out this stackoverflow thread to fix the incompatible module issue: https://stackoverflow.com/questions/56617209/the-engine-node-is-incompatible-with-this-module.

[2022-04-04 14:42] TildaDares commented on #1626
These are really great observations @PeculiarE. Well done!!

I think it's better if you work on it since you know the problems and how to fix them.

[2022-04-05 06:56] chepyego commented on #307
am getting twosolution one is to run `yarn install --ignore-engines` and another one is to delete(delete node_modules/, package-lock.json & yarn.lock) and run yarn install .Am not sure which should I go with, @PeculiarE  what is your take here?

[2022-04-05 08:10] cesswairimu commented on #307
Hi @chepyego ,  you could give this solution a try
[code]

[2022-04-05 08:14] chepyego commented on #307
hey @cesswairimu  i think I have managed to solve the issue I installed node v16 and set nvm to use this version then I `yarn install ` and I didn't receive any errors

[2022-04-05 08:15] chepyego commented on #307
![mapknitter](https://user-images.githubusercontent.com/22706319/161709678-a17972ee-5806-4479-942b-a720975fb2f2.png)
it is up and running

[2022-04-05 08:15] chepyego commented on #307
Thank you @PeculiarE and @cesswairimu for your help

[2022-04-05 08:17] chepyego commented on #307
just a quick question @cesswairimu  how do we login in using data in seed.rb I haven't understood from the installation guide

[2022-04-05 09:27] cesswairimu commented on #307
@chepyego  if you have already ran `rake db:seed` (_ run it if not_) you can navigate to this url locally and you should be logged in `http://localhost:3000/local/harry`

[2022-04-05 09:47] PeculiarE commented on #307
You're welcome @chepyego 😄 ...I'm glad it's working now for you

[2022-04-05 15:34] PeculiarE commented on #307
@cesswairimu .....please, I have a question. If we want to run the app on gitpod, do we need either mysql2 or sqlite3 already installed on our PCs?

[2022-04-05 19:00] jywarren commented on #1580
Hi Thank you @reeshi-18 much appreciated!

@roli25 if you would like a first-timers-only issue, please check out https://github.com/publiclab/plots2/issues/10153, and if not perhaps you'd like to dig back into the issues to find another? Thank you!

[2022-04-05 19:00] #1580 closed

[2022-04-05 19:45] #1626 closed

[2022-04-05 20:09] illyShelly opened #1629 "FTO - Correct typo on mapknitter about page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-05 20:48] jywarren commented on #1629
No worries @illyShelly i just transferred it! Thank you!!

[2022-04-05 20:49] jywarren commented on #1629
Hello @ginabeki this is reserved for you!

[2022-04-06 04:08] ginabeki commented on #1629
Thank you @jywarren

[2022-04-06 05:09] roli25 commented on #1580
Hello @jywarren, I have done a First timers issue. I would like to work on #1320. I have commented on that issue but got no reply yet. If you could assign me that issue, it would be really helpful.

[2022-04-06 09:32] pranayrauni commented on #1629
Hi, I'm an Outreachy applicant. Where can I start?

[2022-04-06 10:28] pranayrauni commented on #898
Hi, My Outreachy 2022 application is approved. Can I work on this issue?

[2022-04-06 11:52] chepyego commented on #307
just ran rake db:seed  and I get this huge error which I can't seem to get solution since yesterday (Mysql2::Error: Duplicate entry '82' for key 'warpables.PRIMARY)

[2022-04-06 14:24] jywarren commented on #1320
Hi @roli25 sure we'd love your help with this. How would you approach the calculation, do you think?

[2022-04-06 14:26] #1611 closed

[2022-04-06 14:27] jywarren commented on #1629
Thanks @ginabeki !

@pranayrauni - we’re trying to collect a lot of Q&A on the program here in this discussion issue: https://github.com/publiclab/plots2/issues/10754 - I hope it's helpful.

Please also feel free introduce yourself at https://github.com/publiclab/plots2/issues/10840, and in our chatroom at https://publiclab.org/chat

Then if you haven’t already, request a first-timer issue at http

[2022-04-07 09:34] chepyego commented on #1629
is anybody working on this ticket? I would like to work on it

[2022-04-07 09:40] ginabeki commented on #1629
@chepyego yes, I worked on it already.

[2022-04-07 09:48] chepyego commented on #967
hey can i work on this or it is closed?

[2022-04-07 09:48] chepyego commented on #967
I think it is still on let me see then work on it

[2022-04-07 18:44] #1193 closed

[2022-04-07 19:33] asaayushisingh opened #1632 "Changes Required in Frontend Design of Footer in Mapknitter Website"
### Problem
Website - https://mapknitter.org/
### The current Footer Design is not proper
[code]
https://user-images.githubusercontent.com/67657066/162281187-34f66ebb-eb2b-415d-ad1e-c6fcad88e171.mp4

[2022-04-08 13:30] KarishmaVanwari opened #1634 "[BUG] Use singular `map` for 1 map (instead of `1 maps`) in Featured Mappers"
### What happened just before the problem occurred
On the home page, under the Featured Mappers, plural `maps` is used for 1 map.
![image](https://user-images.githubusercontent.com/78212650/162444823-a43f1400-8729-4b67-9469-9ebcea0e1e61.png)

### Relevant URLs

https://mapknitter.org/

[2022-04-08 13:30] KarishmaVanwari commented on #1634
@jywarren @TildaDares @cesswairimu Can I work on this?

[2022-04-08 13:33] kunmi02 opened #1635 "[BUG] Empty search string on page"
### What happened just before the problem occurred

Clicking on the search icon on the home page returns an error. The appropriate way there should be a validation for empty strings before the query is been ran

### Relevant URLs
http://127.0.0.1:3000/search?q= on local

https://mapknitter.org/search?q=
### PublicLab.org username
akinkunmi02
(to help reproduce the issue)

### Browser, version, and

[2022-04-08 13:34] kunmi02 commented on #1635
@jywarren and @TildaDares I saw this issue on the project and I would like to work on the fix.

[2022-04-09 16:44] #1629 closed

[2022-04-11 09:55] asaayushisingh opened #1637 "Responsive error for "Getting a map kit" button"
### Relevant URLs
https://mapknitter.org

### Problem
**The view of the "Getting a map kit" button layout is not changing its state according to the screen resolution.**

![Before](https://user-images.githubusercontent.com/67657066/162709903-11f2ae4c-beec-4c96-8960-93527dfb3758.png)

[2022-04-11 12:06] PeculiarE commented on #307
Hi @chepyego...I replied your inquiry on this same issue in the gitter chatroom, but I dunno if you saw it. So I'm just going to repost it here incase you didn't and also to help anyone else who might have this issue in the future.

Here's my best guess: You probably already ran `rake db:setup` when setting up the project on your PC. I'm not so familiar with Rake, so had to go do my research. Foun

[2022-04-11 12:38] chepyego commented on #307
hey, I guess i didn't see your comment, your point makes sense and is very helpful . i can now make my first PR

[2022-04-11 12:39] chepyego commented on #307
but still i can't login in the browser with those credentials in in seed.rb

[2022-04-11 12:55] PeculiarE commented on #307
What's the error you get?

[2022-04-11 13:13] chepyego commented on #307
it is not an error but am trying to login in URL using this `http://localhost:3000/local/harry` where `harry` is the username and it is in our seed.rb but nothings happens . i don't know if this is how it is suppose to be

[2022-04-11 13:18] chepyego commented on #307
hey I just ran this I copied from the documentation  `http://localhost:3000/local/harry ` and it has worked although I don't see any difference with the one above. Am now good to go  thanks a lot again you have really helped me

[2022-04-11 13:24] PeculiarE commented on #307
You're welcome 😃 ❤️ ....glad you're up and running now 🚀

[2022-04-11 13:24] chepyego commented on #1637
Hey can i work on this issue?

[2022-04-11 13:27] chepyego commented on #1637
I believe no one is working on this ticket, am working on it

[2022-04-11 13:36] chepyego commented on #307
yes am happy too I hope am that late to start making my contributions

[2022-04-11 15:37] sakshi-2412 commented on #1637
hey all !! I think this issue is similar to #1174 🤔

[2022-04-11 15:38] PeculiarE commented on #307
It basically stands for first-timer-only. It's a label given to issues. An FTO issue is specially curated for first-timers, that is, newbies to the project/codebase.

In an FTO issue, the problem and solution are given to you. All you have to do is implement it by following the instructions given. Solving an FTO issue gets you familiar with the project's version control, starts helping you get fam

[2022-04-11 19:44] chepyego commented on #307
okay got it, am an outreachy applicant and plot2 is not part of the outreachy project and I would like to work on this mapknitter project ,I guess I can find some FTO tickets in mapknitter too, or is it a must to work on FTO in publiclab/plot2 project?

[2022-04-11 23:35] cesswairimu commented on #307
hi all, you are right @chepyego,  you do not work on plots2 project , you could just work on mapknitter only. I really love the great collaboration here. Many thanks everyone for helping each other and helping out :heart: :heart:

[2022-04-12 04:07] asaayushisingh commented on #1637
hey! even I am working on this issue

[2022-04-12 06:36] sakshi-2412 commented on #1637
I have already opened a [PR](https://github.com/publiclab/mapknitter/pull/1606) for the same, it is in progress 😄

[2022-04-12 06:59] asaayushisingh opened #1638 "Frontend UI used for the cards image is not up-to the mark in Map Gallery"
### Problem
->Frontend UI used for the cards image can be improved

<img width="960" alt="Screenshot 2022-04-12 122602" src="https://user-images.githubusercontent.com/67657066/162899193-c111530d-ab57-40b6-9883-16590df1912b.png">

### Relevant URLs

https://mapknitter.org/gallery

[2022-04-12 10:09] asaayushisingh opened #1640 "No styling in author's name at Maps Gallery Page"
### Problem
**No styling in author's name**

<img width="233" alt="author" src="https://user-images.githubusercontent.com/67657066/162925273-d89089f1-c6a2-448f-8582-7fda2c7fec95.png">

### Relevant URLs

https://mapknitter.org/gallery

[2022-04-12 10:13] asaayushisingh opened #1641 "Alignment of image count is not proper in Maps Gallery Page"
### Problem
**Alignment of image count is not proper**

<img width="233" alt="image" src="https://user-images.githubusercontent.com/67657066/162926733-e89a2838-3140-4c2f-9904-f06dec339ff3.png">

### Relevant URLs
https://mapknitter.org/gallery

[2022-04-12 10:22] asaayushisingh commented on #1640
can i work on this issue? @TildaDares @jywarren

[2022-04-12 10:23] asaayushisingh commented on #1641
Can i work on this issue? @TildaDares @jywarren

[2022-04-12 10:53] asaayushisingh commented on #1637
Hey! All the best for that!.. Even I had opened a PR for it.

[2022-04-12 16:22] PeculiarE opened #1645 "FTO: Fix admin creation on seeds.rb"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all) and fixing it will resolve the issue in #10944. We've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out a

[2022-04-12 17:36] TildaDares commented on #1645
@PeculiarE The README links to plots2 readme.

[2022-04-12 17:37] TildaDares commented on #1645
@PeculiarE Same with `seeds.rb`

[2022-04-12 17:41] PeculiarE commented on #1645
I'm sorry, that was an oversight on my part 🤦 . Fixed!

[2022-04-12 18:04] TildaDares commented on #1645
Nice catch @PeculiarE. Thanks!!

[2022-04-12 18:06] TildaDares commented on #1645
Reserved for @essilfiequansah for 24 hours!!

[2022-04-12 20:49] jywarren commented on #1634
Hi @KarishmaVanwari yes if you'd like! I believe there are pluralization helpers available in Rails, it's probably worth looking them up! Thank you!

[2022-04-12 20:50] jywarren commented on #1635
Hi @kunmi02 we'd welcome a PR for this - should it be a simple conditional to check that it's not nil or zero? Thank you!

[2022-04-12 22:43] #1174 closed

[2022-04-14 04:57] #1635 closed

[2022-04-14 05:38] cesswairimu commented on #1625
Hi @sakshi-2412 and thanks for raising this. Could you please add the details of the device OS and browser you are using smth different on my end. This  is what I see on the same url. I have tried with chrome and firefox on Ubuntu 20
![Screenshot from 2022-04-14 08-25-41](https://user-images.githubusercontent.com/17081074/163319770-b1f40000-30a9-424e-bc5c-f83317d798f5.png). I have checked your PR

[2022-04-14 07:15] KarishmaVanwari commented on #1634
Sure, @jywarren. Thanks!

[2022-04-14 23:42] fetian-debug commented on #1645
Hi @TildaDares please can review first-timers-only issue, thank you

[2022-04-15 07:08] sakshi-2412 commented on #1625
hey @cesswairimu :sparkles:  .. i am using the following versions ->
Browser - Google Chrome
Version - 99.0.4844.51
OS -Ubuntu 20.04

For the current design of side-by-side buttons, is it getting disturbed for smaller screens on your browser? I am not sure how to solve it ( media queries? )... since it is displaying differently on our browsers.

[2022-04-15 09:55] kunmi02 opened #1650 "The search feature breaks when the search character is less than 3 characters"
### What happened just before the problem occurred
The search feature breaks when the search character is less than 3 characters

### Relevant URLs

http://localhost:3000/search?q=ab

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.
<img width="1440

[2022-04-15 12:22] #1650 closed

[2022-04-15 12:41] #1638 closed

[2022-04-15 12:42] #1640 closed

[2022-04-15 14:14] shubhi-arora commented on #898
Hi @17sushmita , I am an outreachy applicant, can I work on this issue?

[2022-04-15 19:01] sakshi-2412 opened #1652 "Text too close in About page for smaller screens"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-15 19:04] sakshi-2412 commented on #1652
Hi @jywarren, @cesswairimu, @TildaDares can you please review this FTO. Thanks!

[2022-04-16 05:23] sakshi-2412 opened #1653 "Featured places overflowing on smaller screens"
On the index page, featured places are overflowing from the window for smaller screen size.

https://user-images.githubusercontent.com/85152262/163662712-1f73c5c8-e6d0-4ac0-a88e-24cb4551d92c.mp4

Proposed change ->

https://user-images.githubusercontent.com/85152262/163662727-eabb0808-bc48-4460-a746-a27f6a38e243.mp4

### Relevant URLs
https://mapknitter.org/

### Browser, version, and operating sy

[2022-04-16 06:59] asaayushisingh opened #1655 "Documentation mistake"
### Problem
The word **to** is wriiten twice on the **About page** of Mapknitter website.

### Relevant URLs ----https://mapknitter.org
![error1](https://user-images.githubusercontent.com/67657066/163665112-ace1f0d4-635d-4608-a0d4-93efe45c7ad3.png)

https://mapknitter.org

[2022-04-16 07:03] asaayushisingh commented on #1655
Hey !@jywarren @cesswairimu @TildaDares Can I work on this issue? Thank You!

[2022-04-16 08:18] asaayushisingh opened #1656 "Responsive Error of About Page"
### What happened just before the problem occurred
The About Page of Mapknitter is not responsive according to screen resolution

https://user-images.githubusercontent.com/67657066/163667678-a886f8fd-0e9c-44e8-bb47-fd8249764680.mp4

### Relevant URLs

https://https://mapknitter.org/about

[2022-04-16 08:19] asaayushisingh commented on #1656
Hey! @cesswairimu I will soon raise the PR for this issue. Thank You!

[2022-04-16 08:20] #1655 closed

[2022-04-16 08:23] asaayushisingh commented on #1655
This issue has already been resolved by #1629

[2022-04-16 20:18] sakshi-2412 opened #1658 "Add link to all maps by logged-in user"
Feature Request

Right now, there is no directly approachable link for a logged-in user to see the maps they have created. We can add a link to the MapKnitter profile of this user in the navbar dropdown, something like this -

https://user-images.githubusercontent.com/85152262/163690020-42e6f28e-f878-48fe-995e-c2b91fa53620.mp4

[2022-04-16 20:20] sakshi-2412 commented on #1658
Hey @jywarren, @cesswairimu, @TildaDares can you please have a look on this. Thanks! :sparkles:

[2022-04-17 22:07] PeculiarE opened #1659 "Weekly Community Check-In #138 - GSOC and Outreachy Applications are Closing This Week!!!!"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, and contribute together. So why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better? We have a Community Check-In each week where every community member can share something about their work from the past week and about

[2022-04-18 04:09] guyinmanhattan2021 commented on #1645
Hi @PeculiarE can I claim this?

[2022-04-18 09:05] PeculiarE commented on #1645
Hi @guyinmanhattan2021, thank you for wanting to help out on this issue but it is already being worked on by someone else.

[2022-04-18 10:29] on2onyekachi commented on #1659
Awesome @PeculiarE Thank you.

[2022-04-18 11:16] akanbifatimah commented on #1659
Thank you @PeculiarE

[2022-04-18 11:27] asaayushisingh opened #1660 "Card Alignment Enhancement"
### Problem

The cards ( of[ Map Gallery](https://mapknitter.org/gallery))and its details are not align in according to the different screen resolution

### Relevant URLs
https://mapknitter.org/gallery

![card-alignment](https://user-images.githubusercontent.com/67657066/163801750-a1c61088-cc8b-4b2f-98b4-efb703896e32.png)

[2022-04-18 11:28] asaayushisingh commented on #1660
Hey! @jywarren @cesswairimu Can I work on this issue?

[2022-04-18 12:59] illyShelly commented on #1659
Clock is ticking and we are running 😄

[2022-04-18 19:39] jywarren commented on #1659
Hi all - due to the high number of applicants for our programs this year, we are closing the Outreachy projects to new contributors in 24 hours, so please be sure to begin your proposal on the Outreachy site before we close it! You don't have to have completed or submitted it but you must begin it or you won't be able to using the interface on their site.

We want to see your proposal on [PublicLa

[2022-04-21 08:53] on2onyekachi opened #1662 "Add language attribute to the html start tag"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-04-21 11:55] TildaDares commented on #1662
Thanks @on2onyekachi. This looks good!!

[2022-04-21 12:03] TildaDares commented on #1662
Reserved for @Pragati1419 for 24 hours!

[2022-04-21 16:29] Pragati1419 commented on #1662
@TildaDares thank you mam for opening this issue to me

[2022-04-21 22:53] AndresCarignano commented on #1662
Hi can I try it out?

[2022-04-22 06:24] Pragati1419 opened #1665 "scrollable and suggestion options for the users"
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>MapKnitter</title>
    <meta name="author" content="MapKnitter contributors"/>
    <meta name="description" content="Make maps from aerial photos with Public Lab's free and open source web toolkit"/>
    <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <link href="/assets/b

[2022-04-22 07:15] BioMeindinyo commented on #1662
Hi @Pragati1419, have you been able to solve the issue already?

[2022-04-22 16:32] cesswairimu commented on #1659
Moved to https://github.com/publiclab/mapknitter/issues/1659. Thanks all

[2022-04-22 16:33] cesswairimu commented on #1659
fgg

[2022-04-25 11:48] shahern004 commented on #1662
Trying to fix this

[2022-04-25 16:58] ebarry commented on #1659
at least 37 applications posted to publiclab.org -- so excited to review this great work everyone!

[2022-04-26 11:32] PeculiarE opened #1675 "Use secure url link on image upload modal"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all) and this means we have worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're espec

[2022-04-26 11:36] PeculiarE commented on #1675
Hi @TildaDares, @jywarren, @cesswairimu...Please help review for a possible FTO issue. Thank you!

[2022-04-26 16:22] cesswairimu commented on #1675
This is great @PeculiarE, thanks a lot for opening this :heart:

[2022-04-26 16:37] shefali12-ab commented on #1675
Hey @cesswairimu  i have worked on FTO issue before, can I work on this FTO  also.

[2022-04-26 16:42] cesswairimu commented on #1675
Hi @shefali12-ab , we usually leave these ones for first time  contributors...I could try get a non-fto issue if you are interested :)

[2022-04-26 16:58] PrajwalBorkar commented on #1675
Hi @cesswairimu  Can I work on this issue. It will be great first issue for me.

[2022-04-26 17:14] shefali12-ab commented on #1675
sure @cesswairimu I am interested to work on the non-FTO issue.

[2022-04-26 17:16] PrajwalBorkar commented on #1675
Can I work on this @cesswairimu ?

[2022-04-26 17:18] cesswairimu commented on #1675
Go ahead @PrajwalBorkar , thanks. Great @shefali12-ab , I will ping you once I find one, thanks

[2022-04-26 17:26] PeculiarE commented on #1675
😄 ❤️ ...Thank you for reviewing it @cesswairimu

[2022-04-27 08:33] on2onyekachi commented on #1659
Next check-in https://github.com/publiclab/infragram/issues/406

[2022-04-28 11:16] PeculiarE opened #1680 "FTO: Correct console messages and errors in rake tasks"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all) and this means we have worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're espec

[2022-04-28 11:56] TildaDares commented on #1680
Looks good @PeculiarE. Thank you!!

[2022-04-28 12:36] BenoitDeo commented on #1680
Hiya, I would like to take over this issue.

[2022-04-28 12:44] PlusUltra404 commented on #1662
@TildaDares  Hello, Would I be able to work on this also. I am a FT.

[2022-04-28 13:31] TildaDares commented on #1662
Hi @shahern004, are you still working on this? If you need help, please feel free to reach out.

@PlusUltra404 While we wait for @shahern004’s response, you can request for an issue in https://github.com/publiclab/plots2/issues/11105 and we’ll ping once we have one ready for you. Thanks!!

[2022-04-28 13:47] akanbifatimah commented on #1680
I would love to be assigned this issue @TildaDares

[2022-04-28 14:01] TildaDares commented on #1680
Hi @akanbifatimah, we usually leave FTOs for first timers only. Thank you for offering to help ❤️

[2022-04-28 14:07] akanbifatimah commented on #1680
😊😊❤

[2022-04-28 14:35] jongwon254 commented on #1680
Hey, can I try this one? :)

[2022-04-28 15:03] TildaDares commented on #1680
Hi @jongwon254, it looks like you haven't opened a PR in `publiclab/mapknitter`.

[2022-04-28 15:13] jongwon254 commented on #1680
Hi @TildaDares, I think I opened a PR right now.
Could you please check?

[2022-04-28 19:16] illyShelly opened #1682 "The coordinates lat & lon doesn't match the location on pin info window"
### What happened just before the problem occurred

I opened up mapknitter website and explored the map 🗺️ of Nairobi city in Kenya 🇰🇪 .
When clicked on the pin 📌 it shows picture with title, location, lat and longitude.

**Problem/suggestion** when you check the printscreen below the `location` doesn't correspond to the `lat` and `lon`.

Would not be nice to have some check whether location actua

[2022-05-04 02:01] PeculiarE opened #1683 "FTO: Fix dropdown menu going offscreen for usernames with short length"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all) and this means we have worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're espec

[2022-05-04 02:24] PeculiarE commented on #1683
### **Before proposed change**

Username with short length has the dropdown menu cut off:

<img width="417" alt="Screenshot 2022-05-04 at 03 05 30" src="https://user-images.githubusercontent.com/75625011/166615333-6e4f0142-1f9c-4203-b15f-ba3f5fcf163f.png">

Poor alignment of dropdown content:
<img width="359" alt="Screenshot 2022-05-04 at 03 06 59" src="https://user-images.githubusercontent.com/75

[2022-05-04 02:26] PeculiarE commented on #1683
Hi @TildaDares, @jywarren, @cesswairimu...Please help review for a possible FTO issue whenever you get the chance to. Thank you!

[2022-05-04 06:09] TildaDares commented on #1683
@PeculiarE This looks really great. Will the drop down get cut off when there’s not enough space at the right? Can you test that with a shorter username? Thanks @PeculiarE !!

[2022-05-04 18:21] illyShelly commented on #1682
Hi @cesswairimu, can you please look at it.

[2022-05-04 19:04] PeculiarE commented on #1683
Hi @TildaDares. Apologies for the delayed response. Wasn't with my PC for most of today.

So I've tested it with an even shorter username (**jo**) 😄 and it seems to work perfectly for every screen reduction until we get to the smallest screensize possible and then the original problem resurfaces.

Please see the screen recording below:

https://user-images.githubusercontent.com/75625011/166807566-

[2022-05-04 21:06] #1680 closed

[2022-05-06 19:43] sentry-io[bot] opened #1688 "ActionView::Template::Error: couldn't find file 'jquery-ui/jquery-ui.min.js' with type 'application/javascript'"
Sentry Issue: [MAPKNITTER-7A](https://sentry.io/organizations/publiclab/issues/3254068868/?referrer=github_integration)

[code]

[2022-05-06 19:44] jywarren commented on #1688
The line is

https://github.com/publiclab/mapknitter/blob/b393e579db12eee02295c4392e1574c61ea10ee3/app/assets/javascripts/maps.js#L1

[2022-05-06 19:47] jywarren commented on #1688
It's odd, the trace also notes line 5 of index.html:

https://github.com/publiclab/mapknitter/blob/9bd04f7ff3471805666cd9eb1d9267ae03518463/app/views/front_ui/index.html.erb#L5

I notice it's on a series of lines with absolute references, but it doesn't specify an absolute path. So just in case i updated it to match the others. I could imagine somehow it's initiating Sprockets by searching for the

[2022-05-07 08:20] #1641 closed

[2022-05-07 10:36] PeculiarE commented on #1683
Hi @TildaDares. I have added the fix for smaller screen sizes and updated the issue description with the proposed fixes.

**Here is a screen recording of how the navbar and the dropdown menu look like currently (before any of the proposed changes):**

https://user-images.githubusercontent.com/75625011/167250368-18b48ae4-24e5-4b61-b0e2-085ba156ad07.mp4

**Here is a screen recording of how the navba

[2022-05-07 14:26] #1632 closed

[2022-05-07 14:52] #1675 closed

[2022-05-07 18:41] TildaDares commented on #1683
Thanks for working on this @PeculiarE. This looks great!!!

[2022-05-07 18:43] TildaDares commented on #1683
Reserved for @FoleyDom for 24 hours!

[2022-05-07 22:04] FoleyDom commented on #1683
Thank you so much, I'll start working on this issue tonight.

[2022-05-08 09:34] PeculiarE opened #1690 "Allow multiple images selection for upload"
### Please describe the problem (or idea)

Currently on MapKnitter, when a user tries to upload images onto their created maps, they can drag and drop multiple images at once. But on using the 'Select Images' button, they can only pick one file from their computer at a time.

https://user-images.githubusercontent.com/75625011/167290277-d468c4d1-93c0-4e5a-b051-fd7e3661b344.mp4

I expect that users

[2022-05-08 14:52] PeculiarE commented on #1690
Hi @TildaDares, @cesswairimu, @jywarren....can I please work on this?

[2022-05-08 20:46] FoleyDom commented on #1683
Still no green checkmark but I tried to fix the issue on my own system and downloaded everything but I'm not sure if I did it right. Please let me know what I can change for next time. Thank you.

[2022-05-08 20:51] TildaDares commented on #1683
Hi @FoleyDom, you did everything right. I just had to approve the PR for the tests to run. Thanks!

[2022-05-08 20:56] FoleyDom commented on #1683
Oh alright cool, I was convinced I broke everything hahah

[2022-05-09 05:03] FoleyDom commented on #1683
Green checkmark! Please let me know if there is anything I could've done better or differently. Thank you so much!

[2022-05-09 16:29] TildaDares commented on #1683
@PeculiarE The overflow-scrolling property is not supported by most browsers.

[2022-05-09 16:32] TildaDares commented on #1683
Also, the highlight that appears when you hover on a dropdown item doesn't extend to the extreme end of the dropdown container. You can fix that by removing the left and right padding on the dropdown container.

[2022-05-09 16:33] TildaDares commented on #1683
HI @FoleyDom, you did everything right. We might need you to add a few things to your PR that we didn't see initially. Thank you!!

[2022-05-10 10:01] cesswairimu commented on #1682
Hi @illyShelly, really great catch :tada: I was able to see the same on the  website. I will look more into this, we would love your help too if your interested. thanks for opening this

[2022-05-10 10:16] cesswairimu commented on #1690
Hi @PeculiarE please go ahead and really good catch :tada: . Thanks!

[2022-05-10 10:33] illyShelly commented on #1682
@cesswairimu Hi 🙂  I would love to! I tried to go through code base, but I am not familiar with it so I didn't know which file to test.

[2022-05-10 11:02] cesswairimu commented on #1682
This is the file  https://github.com/publiclab/mapknitter/blob/main/app/views/front_ui/index.html.erb. I will add any info I find here too. thanks

[2022-05-10 11:17] illyShelly commented on #1682
Thank you. Yes, I went through this one and I suppose it will be related with some partial file to test the logic. I look at it :)

[2022-05-10 11:44] cesswairimu commented on #1652
Hi @sakshi-2412 thanks for opening this, I tried the on my phone on localhost on my end. here are the screenshots
before:
![Screenshot_2022-05-10-14-31-10-643_com android chrome](https://user-images.githubusercontent.com/17081074/167620303-533651e2-c9cb-450c-8f52-c351ff8dce68.jpg)

after:
![Screenshot_2022-05-10-14-30-25-056_com android chrome](https://user-images.githubusercontent.com/17081074/16

[2022-05-10 16:35] jywarren commented on #1688
So one thing is that this file - jquery-ui.min.js was added to get `jquery-draggable` as part of a 2014 project: https://github.com/publiclab/mapknitter/blame/b393e579db12eee02295c4392e1574c61ea10ee3/app/assets/javascripts/maps.js#L1

I think possibly we need to change how we include it, as there are lots of pages saying it's changed.

We can also just try removing that line, because it relates to

[2022-05-10 19:44] PeculiarE commented on #1690
Alright. Thank you @cesswairimu 😄

[2022-05-10 21:54] jywarren commented on #1688
Reopening, it failed with similar error on `exif.js` package. Checking that but also updating to node 16 LTS in meantime because:

[2022-05-10 22:07] jywarren commented on #1688
Strangely pushing to unstable before upgrading to node 16 got Yarn to step 5/5 already https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/331/console but I'm also watching it after the v16 update here: https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/332/console

[2022-05-10 22:14] jywarren commented on #1688
OK we are no longer seeing the yarn errors in any case. not sure if exif.js error will still happen on production though...

[2022-05-10 22:34] jywarren commented on #1688
OK, for what it's worth, maybe I found an issue - the paths being checked don't include `/assets/...` -- but in stable/unstable, that seems to be where they're being unpacked. Is that config somehow getting skipped?

[code]

[2022-05-10 22:38] jywarren commented on #1688
However, we are configured to load assets from `/node_modules/` here:

https://github.com/publiclab/mapknitter/blob/513106bd98802cf84ceb3615a03d24615449fa4d/config/initializers/assets.rb#L11-L12

[2022-05-10 22:39] jywarren commented on #1688
Let's see. If the upgrade to node 16 above causes yarn to complete properly, maybe we are just OK here. If not, then we should try changing the `yarn_cache` path to `/node_modules/`, maybe?

[2022-05-10 23:58] jywarren commented on #1688
I wonder if the inconsistency w MapKnitter stable/unstable was that we had partial collections of files in some other directory on the Sprockets search path... left over or something...

[2022-05-11 05:44] sakshi-2412 commented on #1658
Sure @cesswairimu !! 😄

[2022-05-11 08:09] sakshi-2412 commented on #1652
@cesswairimu yes I am facing the same problem. I have updated the code according to that. Can you check it once? Thanks!

[2022-05-11 13:31] jywarren commented on #1688
Question for later: why isn't yarn error triggering a build failure in CI?

[2022-05-11 17:42] sentry-io[bot] opened #1695 "undefined method `zero?' for nil:NilClass on creating new map with no coordinates selected"
Sentry Issue: [MAPKNITTER-4F](https://sentry.io/organizations/publiclab/issues/1900346113/?referrer=github_integration)

[code]

[2022-05-11 17:47] jywarren commented on #1695
Added a nil check at https://github.com/publiclab/mapknitter/commit/219804a44db56c94a651c89490f274229e0873c1

However, we also see this in the browser:

[code]

That's at:

https://github.com/publiclab/mapknitter/blob/4331ef0b2873a3cf53007023d52c2515d93f1e63/app/views/maps/_geocoder.js.erb#L15

[2022-05-11 18:00] jywarren commented on #1695
Fixing with re-addition of jquery-ui in https://github.com/publiclab/mapknitter/pull/1696

[2022-05-11 18:09] #1695 closed

[2022-05-12 16:14] #1690 closed

[2022-05-12 17:35] PeculiarE commented on #1683
Hi @FoleyDom, there are a couple of changes to be made to your PR at #1689. Thank you.

[2022-05-12 20:26] illyShelly commented on #1682
@cesswairimu hi, I just wonder. Last approx. 1 week I cannot see live on the website and when running locally the pins (location). Nor in Safari, nor in Chrome. I checked my settings, cookies and everything looks okay?? Not sure, why do I have this problem. btw. the location is wrong there I thought it's not hard coded - I can change it. I wanted to check as well how it is with pins, but without w

[2022-05-13 21:21] #1688 closed

[2022-05-14 15:29] illyShelly commented on #1682
@cesswairimu, I guess I got it. I thought there is bug in the code.
But because the map was **created by** `@anonymous`, and the **map** itself is called `'nowhere' `which captures **Nairobi** with location  (created piece of screenshot) **from Paris** (France). It's ended up with quite wrong popup window with misleading informations.

Probably we cannot influence what pice of picture (mapshot) an

[2022-05-16 11:52] PeculiarE commented on #1121
I was just about to create an issue on improving the issue templating system on MapKnitter as what we currently have is not as comprehensive as those of Plots2 and Infragram (no first-timer-only or feature request templates on the interface, no automatic assigning of bug label to bug report templates etc).

But fortunately, in the process of exploring, I discovered a similar issue has already been

[2022-05-17 11:40] TildaDares commented on #1662
Reserved for @istarlet for 24 hours!!

[2022-05-17 18:35] istarlet commented on #1662
I hope I did this correctly. Please review when you are able!

[2022-05-18 17:05] cesswairimu opened #1702 "Update Staging urls"
### 💡Format this Issue Into a First Timers Issue
This has been marked as a good candidate for becoming a [first-timers-only issue](https://code.publiclab.org/#r=all) like these, meaning that it's **simple, self-contained**, and with some extra formatting✍️, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider **reformatting it as a first-tim

[2022-05-18 17:21] nakoyawilson commented on #1702
I'd like to try this!

[2022-05-18 19:08] nakoyawilson commented on #1702
I went ahead and updated the urls. Hope that's ok. Please review my pull request when you are able to. Thanks!

[2022-05-18 21:20] TildaDares commented on #1121
Hi @PeculiarE, I think we can create FTOs for that. Thank you!!

[2022-05-19 06:34] PeculiarE commented on #1121
Alright @TildaDares...thank you. Will get started on doing that

[2022-05-19 17:38] jywarren opened #1705 "why didn't a yarn error trigger a build failure in CI?"
_Originally posted by @jywarren in https://github.com/publiclab/mapknitter/issues/1688#issuecomment-1123767176_

[2022-05-19 17:49] jywarren commented on #1705
When comparing the same or similar code (i believe, this was hours earlier than the above error, and merged), we saw no such error. But i think that's because default node version on GitHub Actions was higher than v13?

https://github.com/publiclab/mapknitter/runs/6374206383?check_suite_focus=true

The yarn error above was: `error webgpu@0.1.16: The engine "node" is incompatible with this module.

[2022-05-19 17:52] jywarren commented on #1705
Yes, GitHub Actions uses at least node v16! https://github.blog/changelog/2021-12-10-github-actions-github-hosted-runners-now-run-node-js-16-by-default/

and indeed we just switched to v16 to fix this issue, as it's a LTS version. Should we fix this?

[2022-05-19 17:54] jywarren commented on #1705
Note that Jenkins doesn't run the tests. And Google Cloud is yet another environment, although it will probably use the same files in `dockerfiles/development` and `dockerfiles/production` that we changed to upgrade to node v16: https://github.com/publiclab/mapknitter/pull/1694

[2022-05-19 18:41] jywarren commented on #1705
there is dockerfile support for GH Actions, makes sense... we could converge a bit... but is it worth it? https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions

[2022-05-19 18:52] PeculiarE opened #1706 "FTO: Fix typos and update config.yml"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all), and this means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especi

[2022-05-19 18:56] PeculiarE commented on #1706
Hi @TildaDares, @cesswairimu, @jywarren....please do help review for a possible FTO issue whenever you get the chance. Thank you!

[2022-05-19 21:48] TildaDares commented on #1706
Looks good @PeculiarE. Thank you!!

[2022-05-20 12:33] cesswairimu commented on #1702
Hi @nakoyawilson, awesome :tada: reviewing now, thanks

[2022-05-20 16:44] TenTraicion commented on #1706
"I'd like to try this!"

[2022-05-20 17:32] TenTraicion commented on #1706
Please review my pull request when you are able to. Thanks!

[2022-05-20 20:01] #1702 closed

[2022-05-21 10:44] #1706 closed

[2022-05-24 23:25] jywarren opened #1714 "AWS credentials issue on stable"
After publishing https://github.com/publiclab/mapknitter/pull/1712, I'm seeing a 500 upon uploading images:

[code]

[2022-05-25 15:28] jywarren commented on #1714
We had changed creds and not updated on stable, so made new keys, let's reboot and see!

[2022-05-25 15:58] #579 closed

[2022-05-26 01:19] jywarren commented on #1714
We tried deploying to production but got:

`error webgpu@0.1.16: The engine "node" is incompatible with this module. Expected version ">= 13.0.0". Got "12.22.5"`

[2022-05-26 01:22] jywarren commented on #1705
Will try setting this here: https://github.com/publiclab/mapknitter/blob/da8ec9df6d8334da078c24e0d3ae359a53f03cc4/package.json#L48

[2022-05-26 01:22] jywarren commented on #1714
Will try setting this here: https://github.com/publiclab/mapknitter/blob/da8ec9df6d8334da078c24e0d3ae359a53f03cc4/package.json#L48

[2022-05-26 21:17] jywarren opened #1733 "CodeCov not registering recent test reports"
I'm trying to get it to accept them by introducing the workflow-based trigger from plots2 -- here's the new trigger:

https://github.com/publiclab/mapknitter/commit/423d7cbfacda3e2f318761710144724166dcef00#diff-1db27d93186e46d3b441ece35801b244db8ee144ff1405ca27a163bfe878957fR5-R7

https://github.com/publiclab/mapknitter/actions/runs/2393173328 was successfully retriggered on the final commit as a

[2022-05-26 21:19] jywarren commented on #1733
Don't think this is related but i did just update simplecov: https://github.com/publiclab/mapknitter/pull/1729

[2022-05-27 11:09] #1660 closed

[2022-05-27 13:04] jywarren commented on #1733
I think the change in https://github.com/publiclab/mapknitter/commit/423d7cbfacda3e2f318761710144724166dcef00#diff-1db27d93186e46d3b441ece35801b244db8ee144ff1405ca27a163bfe878957fR5-R7 worked... at least, PRs seem to be passing now and registering a new commit!

[2022-05-27 13:04] #1733 closed

[2022-05-27 14:48] jywarren commented on #1733
this didn't pass but i didn't rebase it so maybe that was the issue: https://github.com/publiclab/mapknitter/pull/1728

[2022-06-01 16:25] PeculiarE opened #1744 "Outreachy: "MapKnitter.org Spam Management System" Project Planning"
This is a planning issue breaking down the project goals outlined in my Outreachy proposal into small, measurable tasks.

_N.B.: This is a Work-In-Progress which means in the course of this project, some tasks might be added to the list, removed, or even broken down further into smaller chunks or modules._

You can find the designs for the spam dashboard (map and user moderation tables) and go thr

[2022-06-02 08:14] cesswairimu commented on #1744
I agree, its looking great @PeculiarE :tada:
On the milestone blocker, I could create one for you in the meantime and you should be able to add the issues to that milestone. If you would like to, please give me what you would like the name to be. Thanks

[2022-06-02 09:06] PeculiarE commented on #1744
Thank you very much ❤️  @cesswairimu.

Yup, I'd like that. Here goes:

**Title**: [Outreachy] MapKnitter.org Spam Management System
**Description**: This project aims to build an effective spam management system for MapKnitter based on and similar to the existing system at PublicLab by integrating MapKnitter with PublicLab's spam management system, creating a unified visual style between both syst

[2022-06-02 11:03] cesswairimu commented on #1744
cool, [here](https://github.com/publiclab/mapknitter/milestone/10) it is

[2022-06-02 13:06] PeculiarE commented on #1744
Thank you! @cesswairimu. It looks great 😄

Seems like I can only create new issues from the milestone and cannot add an already existing issue to it 😞

https://user-images.githubusercontent.com/75625011/171635266-a44e3990-3787-4695-affd-055be7afb003.mp4

As I don't plan to create issues from scratch but rather convert each task on the list to an issue using the 'Convert to Issue' option that appea

[2022-06-02 15:18] PeculiarE commented on #1744
Thank you @cesswairimu. Wasn't able to do that as well.

Could I please get permission to add existing issues to the created milestone? @jywarren. Thank you 😄

[2022-06-02 20:21] jywarren commented on #1744
Hi all, i don't have much to add beyond agreeing fully with @TildaDares and @cesswairimu that this looks super. I'll add permissions so you can add to milestones!

[2022-06-02 20:31] jywarren commented on #1744
@PeculiarE what are some of the things you're interested in doing first? Any information or experience you think you need in the next few days to get started? Just let us know!

[2022-06-02 22:58] PeculiarE opened #1745 "Outreachy: "MapKnitter.org Spam Management System" Project Q&A"
This is the discussion thread for questions on my Outreachy project (#1744).

[2022-06-02 23:12] PeculiarE commented on #1744
@jywarren, so I arranged the tasks in the order I'd like to work on them. I intend to develop the backend functions first before focusing on the user interface that will use these functions.

Yes, I definitely do have questions and have created a separate issue/thread for it here: #1745

[2022-06-02 23:32] jywarren commented on #1745
I would be OK with either route. Do you have a feeling for which you think makes more sense, based on the work Gaurav did, or would you like me or another mentor to look through the PR and see how far along it is, and whether we think there's a best way forward?

I think we should make spammed/archived maps status 0, as essentially all of them are spam. And in any case, we aren't deleting them --

[2022-06-03 10:30] PeculiarE commented on #1745
I believe I'd prefer incorporate stuffs from the PR as I work down the planning list. While there are some functions in there that are pretty straightforward and I can understand what they do and where they are to be used, I'm not so sure of others. But they might begin to make sense as I progress through the project. And I believe in that case, it's better to come to those conclusions myself rath

[2022-06-03 17:10] ornevirardi commented on #1645
Done :)

[2022-06-04 05:59] jywarren commented on #1745
I think you're right that although, as a matter of policy, we usually ban authors, we don't have to in this retrospective way. Although I want to note that banning is reversible and we usually tell people how to appeal in the message they see upon logging in, so it's not a permanent state. But I still agree with you, let's just spam the maps, not the users for now.

One additional advantage of tak

[2022-06-04 12:54] PeculiarE commented on #1745
Thank you @jywarren! I do agree with you on the importance of writing tests to help protect against any breaking changes.

I'm used to solving a task in one huge PR, and breaking one task into several related PRs is going to be a major (but very doable) shift in my coding style. I'm excited (and a wee bit anxious) to delve into this and learn a new way of doing things 😅

[2022-06-08 16:05] PeculiarE opened #1752 "Create status columns on maps and users tables"
A status column needs to be created on both the maps and users table for effective spam moderation.

[2022-06-09 06:49] cesswairimu commented on #1745
Hi @PeculiarE you are right, for codecov, we normally use it on pull requests to check for test coverage and its weird  that the reports are appearing locally I will look into that but you can ignore those for now, thanks

[2022-06-09 09:47] PeculiarE commented on #1745
Alright! Thank you 😄  @cesswairimu

[2022-06-10 08:20] #1752 closed

[2022-06-13 22:15] matthewjholmes commented on #1662
Great--I'll get to work on this.

[2022-06-14 03:59] #1662 closed

[2022-06-14 10:10] PeculiarE commented on #1745
Hi @jywarren....so I've been working on the single spam and batch spam endpoints for the past few days. Usually, the policy at PublicLab.org is that spamming content bans the author, but since we have anonymous authors on MapKnitter, what I implemented checks if the owner of the map is anonymous, and if yes, the only action to be carried out will be the spamming of the map; banning of the author i

[2022-06-14 12:58] jywarren commented on #1745
I think that sounds great. Thanks!

[2022-06-19 22:29] PeculiarE opened #1761 "Create batch-spam and single spam endpoints"

[2022-06-19 23:17] PeculiarE commented on #1745
Hi @jywarren, so I have a PR up at #1762 on spamming maps (either singly or in batches).

Code Climate is requesting for a bit of refactoring to reduce complexity. While I work on that, I'd love to get a bit of clarity on some questions:

**1.** In the project goals, we have:

Now, when we spam a map or several maps, we ban the author(s) (as long as they aren't anonymous). Based on the project goa

[2022-06-21 06:26] jywarren commented on #1745
Hi @PeculiarE - sounds super, this is great to see.

to your questions, for 1) each of these takes some careful consideration. I think it's likely that an author posting spam will mean their previous maps are also spam. But it's not 100% the case. I think it's OK to spam all maps belonging to that author, as long as we a) clearly tell the admin that this happened, and b) link to an easy place to r

[2022-06-24 11:54] PeculiarE commented on #1745
Hi! @jywarren

**1.** I was thinking through your responses and had already started mapping a feasible solution based on these ideas when I realised a flaw(or at least something I think will be a major design/logic flaw) with an undo action:

If a user is banned and all their maps automatically spammed, providing the admin the option of 'undoing' this auto-spam (i.e. unspamming one or more of the

[2022-06-28 12:28] jywarren commented on #1745
Hi, @PeculiarE i appreciate your careful thinking on this! I'm OK with this extra page showing recently spammed maps, but yes you are right it will require a new column. I think we can not for the maps table for the time being.

Actually, does changing the user status automatically change `user.updated_at`? Could we sort by that?

Could we also have a button on that page that just says "spam all m

[2022-06-29 13:08] PeculiarE opened #1771 "Create batch-publish and single publish endpoints"
Routes for publishing a single map or multiple maps at once should be created and extensively tested.

[2022-07-01 11:47] #1771 closed

[2022-07-01 13:10] #1656 closed

[2022-07-01 14:13] cesswairimu commented on #1625
Hi @sakshi-2412 I was able to reproduce the error using a tablet. Seems the display changes based on screen/resolution and I agree this is the safest style for all the screens. Thanks for raising and working on this :100: . Merging the PR in a few. Thanks

[2022-07-01 14:14] #1625 closed

[2022-07-01 14:31] cesswairimu opened #1774 "Improve "card" section of the maps show page"
Follow up for:  https://github.com/publiclab/mapknitter/issues/1625.
With the new changes the "Make your own map" & "Ask a question" section needs some improvement for consistency.

![buttonsAfter](https://user-images.githubusercontent.com/85152262/161514985-d573d6d0-4ea2-4056-bbfa-ab797d7ce94c.png)
Going to the previous style may be an option but we need to make sure it looks good on all screens.

[2022-07-01 15:26] PeculiarE opened #1775 "Add first-timers-only issue template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-07-01 15:32] PeculiarE commented on #1775
Hi! @TildaDares

Could you please help review this for a possible FTO? Based on our conversation at #1121

[2022-07-01 22:10] shourya2002-geek commented on #1775
Thanks a lot , I will work on it!

[2022-07-01 22:24] shourya2002-geek commented on #1775
Hey, I have done the required work. Now, do I push on the master branch ?

[2022-07-04 18:10] jbrannigan89 commented on #1775
Hi, I think I've made all the necessary changes.   Let me know if I've done anything incorrectly and I will try to fix, I'm new to this :).
Sorry shourya if you are working on this, im just trying to get some practice in.

[2022-07-05 01:26] PeculiarE opened #1779 "Create batch-delete endpoint"