[2019-04-03 19:08] icarito commented on #326
Hi @sashadev-sky - I will work on integrating https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1 the exporter code into a _very simple_ JSON parsing Sinatra app (my first Ruby, based on "hello world"). The idea is to POST json with metadata and obtain a _status.json_ location.

[2019-04-03 19:25] jywarren commented on #326
I think you could use a static `status.json` file in this format, stored
locally, and point your code at it. Then manually change the different
values and save the file, and your code should re-fetch it -- that can
simulate everything until we're ready! And, that is probably a good idea to
build tests around, too, does that make sense?

On Tue, Apr 2, 2019 at 11:46 PM Sasha Boginsky <notifications

[2019-04-03 19:56] gauravano commented on #479
Hi @igniteeng000, this happens because for logging in, mapknitter use plots2 database via Open id. So, I think, it's fine to have a prompt. What do you think?

[2019-04-03 20:05] gauravano commented on #369
Can't we get more data from Openid? Currently, we fetch only nickname --- username and email from plots2 as required fields. I think, we should be able to get more data. I will see.

[2019-04-03 20:51] igniteeng000 commented on #479
But if some site is added as a trusted site then a prompt may not be required.
Like in our publiclab account if we have a feature that if a request comes from this site so login them without any prompt. @gauravano what you think?

[2019-04-03 21:49] sashadev-sky commented on #326
@jywarren Yes I think so I am adding a PR for this shortly :)

[2019-04-03 22:43] sashadev-sky commented on #481
@alaxalves Yeah just getting the ball rolling. There will still be a lot of work to do for SoC in terms of upgrades even if we get it to Rails 4. But @kaustubh-nair had a proposal for doing the upgrades and he's getting involved here early (thank you!)

[2019-04-03 22:55] sashadev-sky commented on #481
@alaxalves Sorry I just realized you might have a proposal for this too based on a comment you wrote!! I'm not involved in the proposal process at all I just happened to see @kaustubh-nair's at some point so apologies if I created any confusion or left you out in the last comment. Just trying to upgrade Rails sooner and thank you for helping too :)

[2019-04-04 08:50] gauravano commented on #369
I went through the whole code and it turns out that we can only access 8 fields allowed by Simple registration extension - https://openid.net/specs/openid-simple-registration-extension-1_0.html

Options we have:
1. Making API
2. Accessing role by another name like fullname which is allowed. But, yeah, it can confuse people.
3. These fields are maintained in openid/extensions/sreg - https://github.

[2019-04-04 11:09] avsingh999 commented on #305
@jywarren @SidharthBansal Rails 6 is in Beta according to this link https://rubygems.org/gems/rails/versions so it would be good for changing rails 3.2 to rails 6.0 I am just confirming.
thank you : )

[2019-04-04 14:18] tech4GT commented on #298
@jywarren Since divy is looking into puppeteer for the gl based implementation, I was wondering what should we pick next?
I mean on the js track we are left with canvas-resize, geotiff and JSON conversion. Did I miss anything?

[2019-04-04 14:22] avsingh999 commented on #476
Hi @igniteeng000 I think this is same as #315.
thank you :smile:

[2019-04-04 15:20] igniteeng000 commented on #476
Ohh I tried the GitHub related issue beta feature.
No problem closing this issue.
Thanks.

[2019-04-04 15:20] #476 closed

[2019-04-04 16:28] xanderj22 commented on #435
Submitted first pull request. Ready for review.

[2019-04-04 18:04] jywarren commented on #305
I suspect that by the time we get to 5.x, it might be out of beta... or
close to it! One thing we can add is to resolve warnings and deprecations
in preparation for 6 in advance. so, +1!

On Thu, Apr 4, 2019 at 7:10 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-04-04 19:48] #377 closed

[2019-04-04 19:49] jywarren opened #487 "button styling for "Place" button"
It looks like in the Bootstrap 4 upgrade, some buttons didn't quite get restyled- this `Place` button and perhaps it's neighbor are appearing as plain text:

![image](https://user-images.githubusercontent.com/24359/55584064-600bbd80-56f1-11e9-98fc-e09072094063.png)

https://github.com/publiclab/mapknitter/blob/8901fb0d0b982abd549af64ed09f48720a5ffe8e/app/views/images/_index.html.erb#L21-L22

[2019-04-04 19:50] jywarren commented on #487
@stefannibrasil sorry i should've caught this but it seems a very small tweak -- would you mind? Thank you!!!

[2019-04-04 20:12] stefannibrasil commented on #487
oops, I missed that one! Working on it :+1:

[2019-04-04 22:22] jywarren commented on #298
Those are definitely critical, so let's dive into canvas-resize and
Geotiff? And if you can keep supporting Divy on webgl too, that would be
awesome. Thank you Varun!

On Thu, Apr 4, 2019 at 10:18 AM Varun Gupta <notifications@github.com>
wrote:

[2019-04-04 22:30] #487 closed

[2019-04-04 22:36] #436 closed

[2019-04-05 00:57] tech4GT commented on #298
Sure! I’ll get started of cancas-resize then. 😄

[2019-04-05 14:58] kaustubh-nair opened #490 "Prevent multiple builds for internal PRs"
Currently, Travis builds twice for an internal PR. One build each for push and pr.
This hogs up on resources unnecessarily, so it would be better to build only once for a PR.
Since all our PRs are only to the main and unstable branch, we can restrict travis to build only for them by adding,

[code]

[2019-04-05 15:00] kaustubh-nair commented on #490
@jywarren @icarito What are your thoughts about this? Will this be beneficial?

[2019-04-05 15:23] kaustubh-nair opened #491 "Environment variables not loading on travis for external PRs"
Travis does not load environment variables due to security concerns, (https://docs.travis-ci.com/user/pull-requests#pull-requests-and-security-restrictions)
This is a valid security concern because anyone can send a PR that prints and exposes the env variables to the logs.
It is however a setback for us since it restrains us from sending coverage reports to Coveralls/Codeclimate. Because of this w

[2019-04-05 15:24] kaustubh-nair commented on #491
Someone please add the discussion label :sweat_smile:

[2019-04-05 21:18] jywarren commented on #491
Done, also adding you as a collaborator you you can too! 👍

[2019-04-05 21:34] icarito commented on #490
Yes I agree - didn't know how to avoid the duplicate. If only for environmental reasons it is worth it!

[2019-04-06 06:00] sashadev-sky opened #492 "Update Gemfile.lock / README for Ruby 2.4.6"
Ruby was updated from 2.4.4 -> 2.4.6 via #489 and updates need to be reflected in Gemfile.lock and README

Updated in Gemfile:
https://github.com/publiclab/mapknitter/blob/5b0a8b16896fb8f9f7fbe91cf4c07849c53d17e8/Gemfile#L3

Not updated in Gemfile.lock:
https://github.com/publiclab/mapknitter/blob/5b0a8b16896fb8f9f7fbe91cf4c07849c53d17e8/Gemfile.lock#L219-L220

[2019-04-06 06:32] sashadev-sky commented on #226
I am closing this issue as a recent one #257  is opened and it's now a duplicate. I will transfer information from the user and linked issues

[2019-04-06 06:32] #226 closed

[2019-04-06 06:41] sashadev-sky commented on #257
This issue has been reported in the past but I closed them all because they were from years ago. Linking them here because the issue described is the same:

- #226 (on Chrome Version 52.0.2743.116 (64-bit) Mac OS 10.11.6)

- #179 (on Browsers: Firefox 38.0.1, Chrome 43.0.2357.81). Also reports that it has to do with the state of not having any images already because refresh resolves the problem bu

[2019-04-06 06:42] sashadev-sky commented on #257
Also linking #154

[2019-04-06 11:22] kaustubh-nair commented on #490
Great! I'll send a pull

[2019-04-06 13:29] gauravano commented on #307
@emestabillo have you tried @cesswairimu's solution?  If the problem still exists, let us know, we'll give you cloud9 invite and you can fetch the PR #420 and complete the setup. Thanks!

[2019-04-06 13:40] gauravano commented on #479
We can include a button "Don't ask again" or something like that? But, yeah we should prompt for the first time as the user would get the idea what's happening in the background.

Thanks!

[2019-04-06 13:40] gauravano commented on #479
@jywarren should we add such button?

[2019-04-06 14:11] gauravano commented on #481
I think you all can divide the upgrade tasks and work keeping each other in sync?

[2019-04-06 14:13] kaustubh-nair commented on #481
The upgrade is paused for now. Since we don't have enough test coverage. We'll continue after that

[2019-04-06 14:25] sashadev-sky commented on #481
@kaustubh-nair yeah thats what I think @gauravano was getting at - dividing up the test coverage and other work between us

[2019-04-06 14:25] sashadev-sky commented on #481
+1 @gauravano

[2019-04-06 14:37] gauravano commented on #481
Also, you can get expert help from @Souravirus (expert of big PRs :see_no_evil: ) and he also did this kind of upgrade last year for plots2 - https://github.com/jywarren/plots2/pull/266 and then Rails upgrade in GSoC. And, you know @siaw23 (the Rubyist)

Thanks!

[2019-04-06 15:20] igniteeng000 commented on #479
Yeah we must use prompt for the first time. But not after that.

[2019-04-06 19:37] jywarren commented on #300
Added more info on `Collections` model which would be related many-to-many to Images, instead of Warpables that belong to only one Map.

[2019-04-07 03:07] alaxalves opened #495 "Integrate Coveralls with Travis"
It would be nice having Coveralls as Merge Request acceptance step, by integrating its pipeline with Travis.
I think it would be cool exporting this kind of data somehow for external/easier access. Just like I did here:
![image](https://user-images.githubusercontent.com/19597045/55678073-3b1e7280-58ca-11e9-8d86-db41624a00bc.png)

https://klara-org.gitlab.io/klara-api/coverage/#_AllFiles

REF: http

[2019-04-07 03:09] alaxalves commented on #495
@jywarren @icarito @sashadev-sky What's your opinion on this?

[2019-04-07 03:45] kaustubh-nair commented on #491
@icarito do you have any ideas about this?
Thanks

[2019-04-07 12:58] igniteeng000 commented on #454
Hi @avsingh999. I think this is solved now. Please check it again and close this.
If you are able to reproduce this again ping me.Thanks.

[2019-04-07 13:16] cesswairimu commented on #387
Thanks to @stefannibrasil We now have this great layout for deleting map that only shows up when one has the rights to delete the map. The `setting dropdown icon` does not exist anymore
![mapshow](https://user-images.githubusercontent.com/17081074/55684114-664ba500-5950-11e9-93ba-ab3327f8acf8.png)

Guess we can close this now. Thanks

[2019-04-07 14:04] sashadev-sky commented on #60
@jywarren should I close this if its resolved in LDI? Or add some kind of special tag to it like 'resolved downstream`?

[2019-04-07 14:37] sashadev-sky commented on #440
This has been reassigned to @igniteeng000 (his PRs are tagged below)

[2019-04-07 16:39] jywarren commented on #495
Yes!!! This would be great. What would the steps be? Thanks!!

On Sat, Apr 6, 2019, 11:10 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-04-07 16:47] jywarren commented on #60
Yes let's close it, maybe linking to the PR if you haven't already! Thanks!

On Sun, Apr 7, 2019, 10:05 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-07 16:50] kaustubh-nair commented on #495
Hmm, but we already have coveralls set up here https://coveralls.io/github/publiclab/mapknitter
You can also view test coverage for each file there under the list section.
But there is an issue with coveralls working on external PRs: https://github.com/publiclab/mapknitter/issues/491
If you can figure that out it'll be awesome. Thanks!

[2019-04-07 17:04] sashadev-sky commented on #60
I can only link one issue to a PR but I added it in a new "Multiple Image" Epic I created and the merged PR is also referenced above. But yes closing via [Leaflet.DistortableImage/pull/158](https://github.com/publiclab/Leaflet.DistortableImage/pull/158).

As you have probably noticed I am really enjoy closing all of these issues 😅

Will get the toolbar updates into two sep branches and review rexa

[2019-04-07 17:04] #60 closed

[2019-04-07 17:06] #440 closed

[2019-04-07 17:10] sashadev-sky commented on #35
Moving this into assigned column for myself to see it but its still up for grabs because can't get to it immediately

[2019-04-07 17:51] divyabaid16 commented on #390
Hey!!!
Is this issue open to be worked upon?
I would like to help here.
Thanks!

[2019-04-07 17:55] divyabaid16 commented on #395
Hey!!
Can I work on this?

[2019-04-07 18:00] kaustubh-nair commented on #390
Hey @divyabaid16 I believe this is a duplicate of issue https://github.com/publiclab/mapknitter/issues/389
which already has a pull: https://github.com/publiclab/mapknitter/pull/455
Perhaps you can find another issue? If you need help in finding one please give a shout!
Thanks

[2019-04-07 18:00] kaustubh-nair commented on #390
@SidharthBansal  lets close this one?

[2019-04-07 18:09] divyabaid16 commented on #390
Thank you @kaustubh-nair
Can you please help me find some issues that I can solve here in mapknitter involving Javascript or anything else?

[2019-04-07 18:46] kaustubh-nair commented on #390
Looks like we are running a but low on javascript issues. @gauravano @sashadev-sky can we do something about this?
@divyabaid16 Perhaps you can give these a try in the meantime https://github.com/publiclab/mapknitter/issues/382, https://github.com/publiclab/mapknitter/issues/219
Thanks!

[2019-04-07 22:42] alaxalves commented on #495
@jywarren We basically should just add a couple of steps to Travis' yml script section.

[2019-04-07 22:46] alaxalves commented on #495
I've seen the Coveralls setup in `test/test_helper.rb` my point here was integrating the Coveralls pipeline with Travis, so that this code coverage could be more visible to new PRs. By by that we could track better the code coverage. Also, I have made a comment in #491 that might be useful. :smile:

[2019-04-07 22:55] alaxalves commented on #491
If if have understood well the problem here I think that we could use Travis CLI to encrypt any kind of file we want(In our case a .env file) and then decrypt the file in `travis.yml`, export those needed variables and use them inside our build. Maybe something like I have set here:
https://raw.githubusercontent.com/falko-org/Falko-API/1f2bd28964a82ede6c9ea56084fab29589ffe8d3/.travis.yml

Note tha

[2019-04-08 01:06] #395 closed

[2019-04-08 02:30] stefannibrasil commented on #387
it was a little confusing, so I moved the button to be close to the other actions. Thanks, everyone!

[2019-04-08 02:37] emestabillo commented on #307
Hi @gauravano , yep still having problems. The cloud9 option might be best for now. However..I think the issue I was going to work on may already be solved #454 . (I also couldn't replicate it on the live site). Let me find another one before I bother you :-) Thank you so much for checking in!

[2019-04-08 03:21] kaustubh-nair commented on #495
But don't we do that already? We display test coverage for pull requests like this,
![image](https://user-images.githubusercontent.com/30197132/55696573-4614f800-59db-11e9-9ec6-49168116a947.png)

Am I misunderstanding something here?

[2019-04-08 08:04] tech4GT commented on #296
Wow npmjs.com/geotiff is seriously amazing work!

[2019-04-08 13:33] #490 closed

[2019-04-08 13:38] #492 closed

[2019-04-09 01:43] #474 closed

[2019-04-09 07:06] sagarpreet-chadha commented on #419
Hey @igniteeng000 ,
So there is already a PR opened for this issue : https://github.com/publiclab/mapknitter/pull/466 by @divyabaid16 .
Kindly comment on the issue before working so that this does not happen 😄 .

So i think both of you are solving it right , it is weird that the `leaflet-hash` library is currently not present in `bower.json` .

So i think in order to maintain uniformity across all

[2019-04-09 07:16] sashadev-sky commented on #419
@sagarpreet-chadha I still would like to figure out why I have the layers on my screen already! Can you please confirm that your code is up to date and without the updates made by @divyabaid16, you don't have the layers panel on your screen?

[2019-04-09 07:37] divyabaid16 commented on #419
Yes, @sagarpreet-chadha I would like to collaborate with @igniteeng000 here :smile:

I just pulled all the commits made and I still can't see any layers @sashadev-sky
![Selection_123](https://user-images.githubusercontent.com/32747809/55781626-40491080-5ac8-11e9-8c5d-a41b5100df6f.png)

Thanks!

[2019-04-09 07:40] sagarpreet-chadha commented on #419
I think i can solve the confusion here . @sashadev-sky , if you delete the libraries installed from **bower** which should be in `lib` folder and run `bower install` again . The layers button should disappear .
Most probably , there `leaflet-hash` library was removed after you installed mapknitter project .
Do let me know if this works 😄 . Thanks !

[2019-04-09 08:10] sashadev-sky commented on #419
Yes you're right it is because of leaflet-hash from missing. From the blame view of `bower.json` It looks like [5 months](257f64921976f7782560e171783c04e06a7a54a5) you deleted `leaflet-hash` from it.  Was this intended?

[2019-04-09 08:15] sashadev-sky commented on #419
@sagarpreet-chadha confirming if you re-add  `"leaflet-hash": "*"` to the bottom of `bower.json` the site works again. Also, in my case it is impossible to just generate a root page with no hash after it. So without leaflet hash I got an error message and no view. But I don't understand what that would have to do with the layers pane.

[2019-04-09 08:23] divyabaid16 opened #508 "Search bar must be present on a single line"
### What happened just before the problem occurred
The search bar is not present on a single line.
![Selection_126](https://user-images.githubusercontent.com/32747809/55784714-bf414780-5ace-11e9-8ab2-c60f197d1ec3.png)

It must be present in a single line.

### Relevant URLs
https://mapknitter.org/

### PublicLab.org username
divyabaid16

(to help reproduce the issue)

### Browser, version, and ope

[2019-04-09 08:24] divyabaid16 commented on #508
@publiclab/reviewers Is this issue correct?
If yes, I would like to work on this!
Thanks!

[2019-04-09 08:27] sashadev-sky commented on #419
Oh i see I just re-read what you said above about the URL! I think people have been trouble getting mapknitter to run ([see here](https://github.com/publiclab/mapknitter/issues/397)), so let's just add the `"leaflet-hash": "*"` back in. Its just one line of code and its fixed. And then we can check in with that user if it's working for him now because his error looked exactly like mine when I dele

[2019-04-09 08:45] sagarpreet-chadha commented on #419
@sashadev-sky awesome :smile: !
Yes , I think it was intended --- most probably i was facing a similar error then :

![image](https://user-images.githubusercontent.com/14952645/55786101-3d065280-5ad1-11e9-9008-68cb905b745f.png)

I guess as we are shifting to `Leaflet-fullhash` , lets completely remove `leaflet-hash`  by removing this 2 lines :
https://github.com/publiclab/mapknitter/blob/05cb5593f

[2019-04-09 08:52] sagarpreet-chadha opened #509 "Completely remove leaflet-hash ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-04-09 08:55] sagarpreet-chadha commented on #509
Hi @sashadev-sky apologies , i jump the gun and opened this issue 😄 .

[2019-04-09 09:36] sagarpreet-chadha opened #510 "Add leaflet-fullHash.js ."
Continued from : https://github.com/publiclab/mapknitter/issues/419#issuecomment-481160685

Let's add` leaflet-fullHash.js` to mapknitter index map 🗺 .

- [x] Add leaflet-fullHash.js to bower.json .  See this for example :
https://github.com/publiclab/leaflet-environmental-layers/blob/cb4b72824d0186bba1fa1bca1bdafff8a1742992/package.json#L46

- [x] Incorporate this dependency in the from of script

[2019-04-09 10:15] divyabaid16 commented on #219
Hey!!
While solving this issue, I was unable to upload the image in the localhost. I don't know what is happening, but I'm unable to see the images.
GIF for the same:
![Peek 2019-04-09 15-42](https://user-images.githubusercontent.com/32747809/55792466-4e099080-5ade-11e9-8672-203377862aef.gif)

@jywarren can you please tell me what wrong am I doing?
Thanks!

[2019-04-09 12:26] alaxalves commented on #495
@kaustubh-nair Maybe this have been set only a little while ago because I haven't seen this pipeline in my older contributions. Closing this for now then.

[2019-04-09 12:26] #495 closed

[2019-04-09 12:27] alaxalves commented on #509
@sagarpreet-chadha I'm doing this already.

[2019-04-09 14:20] divyabaid16 commented on #510
Can I help here?

[2019-04-09 15:37] jywarren commented on #495
Yes, actually can we re-open until this is resolved? For
example @cesswairimu has been writing tests but that check doesn't appear
on those PRs... i wonder why?
https://github.com/publiclab/mapknitter/pull/507

On Tue, Apr 9, 2019 at 8:27 AM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-04-09 15:38] #304 closed

[2019-04-09 15:39] kaustubh-nair commented on #495
That is because of the environment variables issue I mentioned earlier. https://github.com/publiclab/mapknitter/issues/491
I shall try out @alaxalves thoughts on this and send a PR soon

[2019-04-09 15:48] kaustubh-nair opened #513 "Code cleanup"
Once we have enough test coverage, we can proceed to remove/refactor our codebase.
Lets use this issue to compile a list of files that need to be modified!

- [ ] Rename `Warpable` to `Image`

[2019-04-09 15:49] kaustubh-nair commented on #513
@jywarren Which files do you think need to be refactored? Can you help out here?
Thanks

[2019-04-09 17:34] igniteeng000 commented on #510
Hi @sagarpreet-chadha . I have already solved this issue, Please check https://github.com/publiclab/mapknitter/pull/501.

[2019-04-09 17:40] igniteeng000 commented on #510
But, I have added leaflet hash instead of leaflet-full Hash.  I will send another PR soon.

[2019-04-09 17:52] kaustubh-nair opened #514 "Set up codeclimate"
I'm thinking of setting up codeclimate for code review. This will help us fix linting and other stuff like enforcing the ruby style guide.

[2019-04-09 18:00] kaustubh-nair commented on #491
@alaxalves Travis documentation says encrypted files are not available for pull requests across forks https://docs.travis-ci.com/user/encrypting-files/

[2019-04-09 18:05] kaustubh-nair commented on #491
@jywarren @alaxalves I guess whatever solution we implement, the env variables will always be available be during the build, thus open to being accessed. So I don't really think there is any point in encrypting these. What do you think? Should we put the coveralls token in travis.yml?

[2019-04-09 18:06] kaustubh-nair commented on #514
@jywarren what do you think?

[2019-04-09 18:19] jywarren commented on #491
Hmm, we can just as easily put them in the Travis settings env. variables,
unencrypted, right? Thank you!

On Tue, Apr 9, 2019 at 2:05 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-04-09 18:21] kaustubh-nair commented on #491
@jywarren  No we can't do that. It's mentioned [here](https://docs.travis-ci.com/user/pull-requests#pull-requests-and-security-restrictions) that Travis does not load env variables from settings for external PRs. That's why coveralls is working for internal but not for external PRs

[2019-04-09 19:11] alaxalves commented on #491
@kaustubh-nair Isn't there a space in Mapknitter's project settings where we could set env variables, just like we have in Gitlab?

[2019-04-09 19:40] kaustubh-nair commented on #491
@alaxalves Hmm, I don't think Github has that feature. If I am right, only gitlab has that.

[2019-04-09 20:17] kaustubh-nair commented on #514
@jywarren If we have got Coveralls reporting test coverage, we don't need to set test coverage for CodeClimate right?

[2019-04-09 20:32] gauravano opened #515 "Deletion of Images by Image owner as well as map author"
As per https://github.com/publiclab/mapknitter/issues/463#issuecomment-478184881, it has been decided that we should allow the image owner(upoader) to delete the image from the map.

Thanks!

[2019-04-09 20:41] gauravano commented on #463
Opened new issue at #515 and I will implement it.

Image author is required for above implementation too so I'll add it in the data model.

Versioning of images will make it possible and agree that it would be good way to fight vandalism. Also, we can put revisions in moderation like anonymous user can make the change and author of map can decide whether they like to accept that change or not. But

[2019-04-09 20:50] igniteeng000 opened #517 "Add search and sort feature in author list"
Enhancement Idea.
Add search and sort feature in author list to find author infromation easily.

Link: https://mapknitter.org/users

[2019-04-10 07:06] divyabaid16 commented on #510
Oops!!
I was about to send the PR.
No problem!! I will look into other issue :smile:

[2019-04-10 09:48] avsingh999 opened #520 "Search by Space/blank should stop"
### What happened just before the problem occurred
It also Searches by space/blank. So I think need to add some query to stop this.

### Relevant URLs

https://

### PublicLab.org username
singhav
(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-04-11 01:24] avsingh999 opened #522 "Improve login page"
### What happened just before the problem occurred
all input fields, buttons, label, etc. are not in a proper way Because it should be in the center or left side.
But here is left margin is too much which is not required.
![pub24](https://user-images.githubusercontent.com/25536022/55924222-95029d80-5c26-11e9-95bb-e07189b94b68.png)

### Relevant URLs

https://

### PublicLab.org username

(to help

[2019-04-11 02:30] avsingh999 opened #523 "navbar not showing when click on toggle side bar button"
### What happened just before the problem occurred

![pub71](https://user-images.githubusercontent.com/25536022/55926627-ad2aea80-5c2f-11e9-898c-29205f6c083e.gif)

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-04-11 02:31] avsingh999 commented on #523
@jywarren @gauravano @sashadev-sky  what do you think about this.
thank you : )

[2019-04-11 10:49] divyabaid16 commented on #520
Can I work on this issue?

[2019-04-11 13:04] sashadev-sky commented on #390
@kaustubh-nair I try to not open too many FTOs at once so that I can make sure people get help on the ones I do but I think an endless source of FTOs is updating all of the hash rocket syntax key-value pairs to the newer syntax. What is your opinion on that?

[2019-04-11 15:22] gauravano commented on #454
Thanks @igniteeng000 for the update. Closing this one. @emestabillo we would love to have your help with other issues, as this one is solved. Thanks!

[2019-04-11 15:22] #454 closed

[2019-04-11 15:29] gauravano commented on #387
Thanks @stefannibrasil and yes, great work :tada:. Closing this now. Thanks all!

[2019-04-11 15:29] #387 closed

[2019-04-11 15:33] gauravano commented on #307
hey @emestabillo, although the issue #454 is solved, we have many more issues and we would love to have your help with them.

So, let's ask @jywarren for a cloud9 invite for you. You can use it whenever you want and as PR for setting cloud9 is not complete so you can share the cloud9 workspace with me and I can do the setup for you.

Thanks!

[2019-04-11 16:15] emestabillo commented on #307
Appreciate the help @guaravano!

[2019-04-11 16:16] emestabillo commented on #307
Appreciate the help @gauravano!

[2019-04-11 17:03] avsingh999 commented on #520
@divyabaid16 Sorry, I am working on it
thank you : )

[2019-04-11 19:24] cesswairimu opened #527 "Move some controller code to models/Refactor models"
Hey @jywarren I have been going through the controllers and could not find code that could potentially belong to the model. Refactoring some code though. Any pointers of code you had in mind for this and maybe I could start from there? Thanks

[2019-04-12 04:25] sashadev-sky opened #528 "Contributing.md syntax mistake"
File here: https://github.com/publiclab/mapknitter/blob/main/CONTRIBUTING.md

Formatting issue: two ## from markdown syntax left behind

[2019-04-12 05:35] sashadev-sky commented on #413
moving a small piece of information from jywarren commented in #483:
<blockquote>
I think next step will be to allow for it to have a remote status.json file. So, we:

add a remote_url column to Exports
check if it exists
if it does, we redirect requests to status to the remote URL (which'll be our external exporter)
we think of how the client may send a remote URL up to the MapKnitter Rails app f

[2019-04-12 06:02] divyabaid16 opened #529 "Improving comment section"
### What happened just before the problem occurred
![Selection_133](https://user-images.githubusercontent.com/32747809/56015237-f5243d00-5d15-11e9-8e48-afbcd2b6c23f.png)

### PublicLab.org username

divyabaid16

Here, some changes that can be done are:
- [ ] The comment must also be placed in a box. We can use the panel header and body from bootstrap 4 to implement this.
- [ ] Emjois can be added.

[2019-04-13 20:58] jywarren commented on #491
Hi all, sorry i hadn't had time to chime in here. Just to clarify, what makes a PR internal or external?  #467 and #462 are both by project collaborators, no?

In any case, I'm OK with putting them in `travis.yml`, and we can see how that works. We can always revoke and revert. What should the format be? I can add to a PR with a travis.yml update...

[2019-04-14 03:06] kaustubh-nair commented on #491
Internal PRs are created from a Mapknitter branch and external ones are sent from a branch across a fork.
If you think it's okay to make the token public, I'll send a pr!
Cheers

[2019-04-14 04:41] jywarren commented on #491
Yes let's do it!!! Thanks!!!

On Sat, Apr 13, 2019, 10:07 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-04-14 04:41] #514 closed

[2019-04-14 07:12] divyabaid16 opened #532 "[Discussion]Implementation of Multi-user Synchronous Editor"
As mentioned in the issue #300, the "simultaneous multi-user UI, like Google docs" section. I would like to brainstorm about how can we implement this using Sockets and/or [Y-js](http://y-js.org/). Should we use Operational Transformation or Conflict-Free Replicated Data Types (CRDT)? Any suggestions would be very helpful.

[2019-04-14 08:58] kaustubh-nair opened #533 "Fix rubocop offences"

[2019-04-14 09:57] gauravano commented on #529
I think we can first go for comment card design? Thanks!

[2019-04-14 10:02] #528 closed

[2019-04-14 10:07] gauravano commented on #523
I checked in Chrome and Firefox and not getting this issue. Also, @avsingh999 the screenshot is from localhost, is you clone in sync with the main branch?

I will also test locally!

Thanks!

[2019-04-14 10:12] gauravano commented on #523
Yup, the issue can be reproduced locally. Maybe, it's related to bootstrap upgrade?

[2019-04-14 10:14] gauravano commented on #522
yes, @avsingh999, we can surely improve the login section. Also, you can coordinate with @SidharthBansal on this one and he's working on login flow. Thanks!

[2019-04-14 10:16] gauravano commented on #520
I think we can impose min length of 3 chars? Let's ask @jywarren. Thanks!

[2019-04-14 10:17] gauravano commented on #520
Also, @divyabaid16 maybe you can work on adding the test for this one? Thanks!

[2019-04-14 10:19] gauravano commented on #517
@igniteeng000 would you be solving this one or should I add `help wanted` label? Thanks!

[2019-04-14 10:20] gauravano commented on #517
Also, nice idea!

[2019-04-14 10:22] gauravano commented on #475
We can surely improve here. Thanks @igniteeng000!

[2019-04-14 17:04] avsingh999 commented on #523
@gauravano yes I am sync with main.
thank you : )

[2019-04-14 17:16] avsingh999 opened #536 "add required in login input field"
### What happened just before the problem occurred
add required true in the login input section.

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-04-14 18:09] divyabaid16 commented on #520
Okay @gauravano
Thanks!

[2019-04-15 05:08] divyabaid16 opened #538 "Add font awesome icon"
**Description**
Add a font-awesome-icon to ```Ask a question``` to make it consistent with the other two.
![Selection_135](https://user-images.githubusercontent.com/32747809/56108630-7ecc4880-5f6a-11e9-864d-c154e89b0768.png)

[2019-04-15 06:24] divyabaid16 opened #541 "Map view must not be scrolled"
### What happened just before the problem occurred
![Peek 2019-04-15 11-50](https://user-images.githubusercontent.com/32747809/56111254-ef786280-5f74-11e9-9ba3-d460605970ac.gif)

Position of map must be fixed on the screen and only the right column must be scrolled.

### PublicLab.org username
divyabaid16

[2019-04-15 07:27] divyabaid16 opened #542 "Leaflet popup toolbar with image"
### What happened just before the problem occurred
![Selection_139](https://user-images.githubusercontent.com/32747809/56114061-5568e800-5f7d-11e9-89e5-1a40c970c5c2.png)

When I zoom in and zoom out the image, the toolbar is not moving with the image.
It must move with the image.

### PublicLab.org username

divyabaid16

[2019-04-16 06:26] divyabaid16 commented on #408
@jywarren Can I write the documentation on how to install Mapknitter on Codenvy for first timers if you have tried to install?

[2019-04-16 12:13] jywarren commented on #408
Yes please, that'd be great!!!

On Tue, Apr 16, 2019, 4:32 AM Divya Baid <notifications@github.com> wrote:

[2019-04-16 21:08] alaxalves opened #544 "Docs in wrong folder"
### What happened just before the problem occurred

Some template documents are in the wrong place, actually they should bi in .github/ folder.

### PublicLab.org username

@alaxalves

[2019-04-18 02:16] sashadev-sky commented on #542
@divyabaid16 this has been fixed in PR https://github.com/publiclab/Leaflet.DistortableImage/pull/201 and should be merged and upstreamed to mapknitter soon!

[2019-04-18 02:29] sashadev-sky commented on #135
@jywarren can you explain this issue please? Not sure if its outdated, but the only way to get the example into the uploader is to take a screenshot of it and then upload it after it's already gone. Also based on the current UI I don't find it confusing!

[2019-04-18 13:22] SidharthBansal commented on #388
I checked this. /maps route is linked to show the maps. Root page is directed to show the maps on the dashboard page. So closing this issue.

[2019-04-18 13:22] #388 closed

[2019-04-18 17:25] jywarren commented on #307
Just noting that the install script at https://github.com/publiclab/mapknitter/blob/main/install_cloud.sh now works at https://Codenvy.io ! It's a very easy install process.

@emestabillo did you need an invite? I might've missed an email if you sent it to me but if you still do, please email web@publiclab.org and I can get you one! Or, try Codenvy, which doesn't need an invite! 👍

[2019-04-18 17:26] jywarren commented on #345
I think we're doing MUCH better here now, and can close up and focus on Rails upgrades!!!

[2019-04-18 17:26] jywarren commented on #345
https://travis-ci.org/publiclab/mapknitter/builds/520554195

[2019-04-18 17:26] #345 closed

[2019-04-18 17:26] jywarren commented on #345
Thanks, everyone!

[2019-04-18 17:57] emestabillo commented on #307
Hi @jywarren! Let me try it on Codenvy. I’ll message you if I’m still having issues. Thank you!!

[2019-04-19 13:33] alaxalves opened #548 "Integrate Rubocop with Travis"
It could be very useful having rubocop implemented along with Travis pipelines. This would enforce what @kaustubh-nair suggested [here](https://github.com/publiclab/mapknitter/pull/547#issuecomment-484629635).

### Relevant URLs

I have implemented this same thing in:
https://gitlab.com/klara-org/klara-api/blob/master/.gitlab-ci.yml#L44
https://gitlab.com/noosfero/noosfero/blob/master/.gitlab-ci.y

[2019-04-19 13:34] alaxalves commented on #548
@kaustubh-nair @icarito @jywarren I could take advantage of my Rubocop Config related PR and solve this already too. What yall think?

[2019-04-19 13:35] kaustubh-nair commented on #548
Sounds interesting.. But I'm unsure how this is different from code climate running rubocop?

[2019-04-19 14:30] alaxalves commented on #548
The travis build would break if Rubocop linting issues don't get solved. This would encourage developers to follow our Rubocop stylesheet if they want their PRs merged.

[2019-04-19 14:43] kaustubh-nair commented on #548
Yes this can be a good way to encourage the style guide, but in my opinion we should keep Travis separate from Rubocop since it can get a bit oppressive at times. This might get a little demotivating ( especially for newcomers) if we have such a strict enforcement. I believe Rubocop offenses can be ignored sometimes if it is not a major offense. In such a case where we want to ignore the offences,

[2019-04-19 20:32] #536 closed

[2019-04-19 20:33] jywarren commented on #135
OK, agreed!

[2019-04-19 20:33] #135 closed

[2019-04-19 20:54] cesswairimu opened #549 "Images preview not working during upload"
This was working previously not sure what broke it.

When uploading an image when you select the image(s) they are not shown on the modal
![images](https://user-images.githubusercontent.com/17081074/56443801-d2d68480-62fe-11e9-88b8-deeec5f5e3ae.png)

[2019-04-19 22:00] cesswairimu opened #550 "Reorganize templates"
Consolidate and reorganize editor vs. viewer vs. maps listing templates, exporter
templates for readability and maintainability

[2019-04-19 22:01] cesswairimu opened #551 "Map out js endpoints and test"
Map out JS API endpoints of MapKnitter, write functional tests for them (image
uploading, repositioning, deletion, etc)

[2019-04-19 22:05] jywarren commented on #549
awww, darn! Can you show a screenshot? Thanks!

On Fri, Apr 19, 2019 at 4:55 PM Cess <notifications@github.com> wrote:

[2019-04-20 01:59] sashadev-sky commented on #542
This is now merged! Now only pending thing to do is to upstream the updates to mapknitter. @jywarren  is selecting the optimal time to do this as we have a lot of different changes going on at once

[2019-04-20 02:49] #529 closed

[2019-04-20 02:57] jywarren commented on #542
i made a release on DistortableImage, so we can check the bower.json
version in this repo and update it... !

On Fri, Apr 19, 2019 at 10:00 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-04-20 04:04] icarito opened #553 "Tests fail sometimes due to bad keyservers"
Seems to be a common problem, here's the best doc found about it:
https://github.com/docker-library/faq#openpgp--gnupg-keys-and-verification

We've tried:
- limiting to IPv4
- using high availibility pool
- using specific server

Next I'll try https://github.com/tianon/pgp-happy-eyeballs as a workaround.

[2019-04-20 04:11] sashadev-sky commented on #553
@icarito just going to put some PRs failing due to keyserver issues here for your easy reference: (delete this if you dont need this here)
- Add remote_url to export model #552
- Moving docs to right folder #545

[2019-04-20 04:27] icarito commented on #553
I'm going to merge #554 which fixes this then. I don't think it needs a review but just here's a not @jywarren i'm adding a public key to let our container verify the key of our backported GDAL package.

[2019-04-20 04:28] #553 closed

[2019-04-20 04:38] icarito commented on #553
Thanks I left a note on each and merged the fix to the main branch!

[2019-04-20 05:22] sashadev-sky commented on #553
Thank you!! Is there anything you want me to note to do in case I see more of these keyserver issues, so I don't have to put them all on you?

[2019-04-20 05:32] icarito commented on #553
:surfing_man:
Thank you for your offer!
If you see previous PRs running into this feel free to restart builds with my apologies!
I'll issue same fix to `mapknitter-exporter` - this could surface there as well!

[2019-04-20 05:33] sashadev-sky commented on #553
Ok sounds good!

[2019-04-20 05:41] sashadev-sky commented on #542
@jywarren ok great! Just made the update locally and all the updates are there! Looks so good! I am going to open a PR with the updated bower.json to close this issue

[2019-04-20 15:31] cesswairimu commented on #549
Hey @jywarren there is a sreenshot above. Thanks

[2019-04-20 18:39] SidharthBansal commented on #375
Everything is working fine with the current changes done in the https://github.com/publiclab/plots2/pull/5472
So closing this issue

[2019-04-20 18:39] #375 closed

[2019-04-21 12:45] cesswairimu commented on #550
### Ideas for home page(maps index)
* Have a fixed display space for map image preview so that the rows are equal and standard
* Center pagination bar and have the first and last tabs as `prev` and `next`
*  Capitalize author names in "Recent authors"
* Remove "Create a map" button if not logged in or change it to "create a map  anonymously"
* Align "create a map" button with h1

[2019-04-21 15:08] SidharthBansal commented on #522
Thankd @avsingh999 for opening up an issue. We are working in #385 regarding this. Please join there.
Thanks

[2019-04-21 15:08] #522 closed

[2019-04-21 15:10] SidharthBansal commented on #385
@IshaGupta18 have you prepared the design 4?
Thanks @jywarren and @stefannibrasil for the amazing Bootstrap work.

[2019-04-21 15:12] #374 closed

[2019-04-21 15:14] SidharthBansal commented on #376
This issue is broken up into many sub issues for solving. So, closing this now.

[2019-04-21 15:14] #376 closed

[2019-04-21 15:21] SidharthBansal commented on #411
I checked. For openid we need to supply the username for sure in the route. Also, we cannot supply the email address as it contain many symbols unfit for url. So, closing this issue.

[2019-04-21 15:21] #411 closed

[2019-04-21 15:29] SidharthBansal commented on #371
Update: After removal of the gateway page(https://github.com/publiclab/plots2/pull/5472), the flows have reduced a lot.
if username at MK/SWB matches the username at plots2
.......then user is logged in to MK/SWB
else
......flash error to ask user to again log in or try logging MK/SWB with same username as they are logged
......in with plots2
end

[2019-04-21 15:32] SidharthBansal commented on #371
This functionality is working. I think we can close this issue. In case you feel there are more flash error messages needed then feel free to open it @jywarren.
Thanks @jywarren.

[2019-04-21 15:32] #371 closed

[2019-04-21 15:42] SidharthBansal commented on #372
Hi, I checked all these behaviours. They are working correctly after removing the Gateway Page.
Closing this issue.

[2019-04-21 15:42] #372 closed

[2019-04-21 15:49] SidharthBansal commented on #378
Update: Design 4 is being implemented by @IshaGupta18 in https://github.com/publiclab/mapknitter/issues/385 as per @jywarren 's suggestion.
I am making the route for OAuth in this issue as per @jywarren 's suggestion (https://github.com/publiclab/mapknitter/issues/378#issue-416361527).

[2019-04-21 17:01] IshaGupta18 commented on #378
Yes absolutely! Thank you!

On Sun, Apr 21, 2019, 9:19 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-04-21 18:12] SidharthBansal commented on #369
(1) I think we should consider making an API in case we need a lot of other things except role, status and map coordinates.
(2) We can hide the fullname from people like we did in the user_tag values for the oauth providers,
like fullname = "status=xyz,role=pqr" etc then use split(',') method etc. Good option.
(3) I will try this. This will be the best option. But playing can go wrong too so need

[2019-04-21 18:13] SidharthBansal commented on #369
Thanks @gauravano for the insight. I am trying which can be the best option.

[2019-04-21 21:12] SidharthBansal commented on #369
On thinking, I came to the conclusion that we should drop 1 and 3 idea as
1. API can be built but we already have the gem. So, it's better to use the existing code then to create it.
3. Uses all the gem related files which we need to clone and then set up. Then we will also need to manually update those files with an upgrade in the rails gem. So, this doesn't seem a great option for me.

So, I am

[2019-04-21 21:14] SidharthBansal commented on #369
We can add it here
https://github.com/publiclab/plots2/blob/9230253d5bdf7ab1eaff7b4532904b29f7cddd67/app/controllers/openid_controller.rb#L19
and
https://github.com/publiclab/plots2/blob/9230253d5bdf7ab1eaff7b4532904b29f7cddd67/app/controllers/openid_controller.rb#L287 and we will be done with this issue. Thanks Gaurav for your help.

[2019-04-21 21:26] SidharthBansal commented on #369
Opened a PR for this issue https://github.com/publiclab/plots2/pull/5571/files

[2019-04-21 22:02] SidharthBansal commented on #369
Please review https://github.com/publiclab/spectral-workbench/pull/447 and https://github.com/publiclab/mapknitter/pull/557/files also.
Thanks

[2019-04-21 23:37] SidharthBansal commented on #385
@IshaGupta18 the PL icon in design 4
![image](https://user-images.githubusercontent.com/20972099/56476882-686b4300-64bc-11e9-8a37-edfc0434a294.png)
will be linked to the same route as login button on
![image](https://user-images.githubusercontent.com/20972099/56476880-60ab9e80-64bc-11e9-9c2c-3c341a8476fe.png)
There will be 4 providers: Github, Google, Facebook and Twitter. For that please use the

[2019-04-22 09:10] SidharthBansal opened #559 "Replace Login button with PL icon"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-04-22 10:33] SidharthBansal commented on #378
The issue just requires us to create routes.
https://github.com/publiclab/mapknitter/blob/04222fad0036ea706ac1a94f89e7948118908217/app/controllers/sessions_controller.rb#L21
I checked. open_id_url is it is localhost:3000/people/admin/identity for admin entered in the text field.
So, I went to the plots2 and found

https://github.com/publiclab/plots2/blob/1df46d088cb88615a58719261cb1411bc8da25bd/ap

[2019-04-22 10:43] SidharthBansal commented on #378
Hurray!! One step closer. Found
https://github.com/publiclab/plots2/blob/1df46d088cb88615a58719261cb1411bc8da25bd/app/controllers/openid_controller.rb#L57
If I change it to `redirect_to '/auth/github'` then I am able to login MK through GitHub. Isn't that great?

[2019-04-22 10:46] SidharthBansal commented on #378
I guess we can have if-else conditions for these providers. Just checking it up.
May be we will need to change these lines too
https://github.com/publiclab/plots2/blob/1df46d088cb88615a58719261cb1411bc8da25bd/app/controllers/openid_controller.rb#L87
and https://github.com/publiclab/plots2/blob/1df46d088cb88615a58719261cb1411bc8da25bd/app/controllers/openid_controller.rb#L122

Things can become eas

[2019-04-22 10:47] IshaGupta18 commented on #385
Yes it does make sense! Thanks!

On Mon, Apr 22, 2019, 5:07 AM Sidharth Bansal <notifications@github.com>
wrote:

[2019-04-22 11:05] SidharthBansal commented on #378
Currently, user tries to login at MK through github is not able to login to MK but is able to login to the plots2.
So, we need to make the user logged in to the MK too after logging them to plots2. This can be achieved after my all other prs are merged @jywarren.

Thanks. We are almost at last stage of completion of the project now. Thank you.

[2019-04-22 11:07] SidharthBansal commented on #378
I receive this error after user logs in github and pl
![image](https://user-images.githubusercontent.com/20972099/56497841-d9dade00-651c-11e9-84fa-f3b15c0b7950.png)

[2019-04-22 11:09] SidharthBansal commented on #385
When are your exams ending? Just curious to know it.

On Mon, Apr 22, 2019 at 4:17 PM Isha Gupta <notifications@github.com> wrote:

[2019-04-22 11:10] IshaGupta18 commented on #385
This Friday only!

On Mon, Apr 22, 2019, 4:39 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-04-22 11:17] SidharthBansal commented on #385
Great

On Mon, Apr 22, 2019, 4:40 PM Isha Gupta <notifications@github.com> wrote:

[2019-04-22 14:33] stevenks17 commented on #559
Claimed

[2019-04-22 14:49] stevenks17 commented on #559
I am still a bit new to Github and HTML I just want to make sure I am understanding the issue. I should be replacing the dropdown login icon with the PL Icon?

[2019-04-22 15:31] SidharthBansal commented on #559
yeah, best of luck

On Mon, Apr 22, 2019 at 8:19 PM stevenks17 <notifications@github.com> wrote:

[2019-04-23 00:05] SidharthBansal commented on #369
https://github.com/publiclab/plots2/pull/5571 and https://github.com/publiclab/spectral-workbench/pull/447 remaining for this issue.
Thanks

[2019-04-23 01:08] #369 closed

[2019-04-23 16:32] #527 closed

[2019-04-24 11:56] #407 closed

[2019-04-24 12:00] #257 closed

[2019-04-24 12:00] gauravano commented on #257
Solved in #562. Thanks!

[2019-04-24 12:01] gauravano commented on #549
Solved in #562. Thanks!!

[2019-04-24 12:01] #549 closed

[2019-04-27 10:35] SidharthBansal commented on #559
Hi, how is it going on?

[2019-04-27 10:38] SidharthBansal commented on #385
I hope your exams went well.
You have to follow the following steps:
Step 1. Install Mapknitter
Step 2. Copy _login_form.html.erb as https://github.com/publiclab/mapknitter/blob/668595a4d356dd43b199ebaa658070e6539dae81/app/views/layouts/_login_form.html.erb
Step 3. Change design formed after step 2 to the design proposed by Isha by any method such that the links are working.

[2019-04-27 14:13] SidharthBansal commented on #385
![image](https://user-images.githubusercontent.com/20972099/56850769-86093400-6924-11e9-9f54-59bc58d9e879.png)
![image](https://user-images.githubusercontent.com/20972099/56850772-8efa0580-6924-11e9-9082-9b61eb510623.png)

@IshaGupta18 I created this much. Now just we need to make it look beautiful and change the ''login'' button to public lab icon.

[2019-04-28 11:47] igniteeng000 opened #565 "Add next/prev icons in pagination"
### What happened just before the problem occurred
![image](https://user-images.githubusercontent.com/25272573/56863626-72b6a100-69d6-11e9-93e0-4ac6c2c4a40f.png)

prev and next icons are missing on both the home page and author page.

### Relevant URLs

https://mapknitter.org

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, version, and operating system
chrome,

[2019-04-28 11:47] igniteeng000 opened #566 "Improve header ui"
### What happened just before the problem occurred
![image](https://user-images.githubusercontent.com/25272573/56863702-5a935180-69d7-11e9-859c-a3c439a01f8a.png)

### Relevant URLs

https://mapknitter.org

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, version, and operating system
chrome, ubuntu/windows

For bug reports, fill out the above template; for featur

[2019-04-28 11:47] igniteeng000 opened #567 "Map details do not show in beta annotation tool."
### What happened just before the problem occurred
Map details do not show in beta annotation tool.
![image](https://user-images.githubusercontent.com/25272573/56863749-de4d3e00-69d7-11e9-9475-6c4a05f4b5f0.png)

### Relevant URLs

https://mapknitter.org/maps/sol/annotate

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, version, and operating system
chrome, ubunt

[2019-04-28 11:47] igniteeng000 opened #568 "Add like or dislike feature"
### What happened just before the problem occurred
It will motivate users to place images on the map and can also help in reducing spam images.

### Relevant URLs

https://mapknitter.org

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, version, and operating system
chrome, ubuntu/windows

For bug reports, fill out the above template; for feature requests, you ca

[2019-04-28 11:47] igniteeng000 opened #569 "Improve search feature"
### What happened just before the problem occurred
Add option to search image from author name.

### Relevant URLs

https://mapknitter.org

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, version, and operating system
chrome, ubuntu/windows

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-04-28 11:47] igniteeng000 opened #570 "Do not show anonymous images on home page."
### What happened just before the problem occurred
Add an option to view anonymous posts by clicking on anonymous posts.
Show only registered user posts on home screen.

### Relevant URLs

https://mapknitter.org

### PublicLab.org username
igniteeng000
(to help reproduce the issue)

### Browser, version, and operating system
chrome, ubuntu/windows

For bug reports, fill out the above template; for

[2019-04-28 16:30] cesswairimu commented on #565
Hey @igniteeng000 good catch, maybe I should have mentioned this elsewhere but I fixed the pagination buttons on #558

[2019-04-28 19:13] igniteeng000 commented on #565
Okay no problem @cesswairimu , Please mention this issue in your PR. I am closing my PR. Thanks

[2019-04-28 20:29] umuur commented on #559
Is @stevenks17 still looking at this?

[2019-04-29 23:04] rarrunategu1 commented on #307
Hello, I have tried installing on cloud 9 and on a ubuntu terminal I installed for my windows but each of them gave me the same error:
App 21975 output: Error: The application encountered the following error: Access denied for user 'mapknitter'@'localhost' (using password: YES) (Mysql2::Error)
I've signed on to Codenvy seeing as c9 will not be available after June 30th anyway but I don't understan

[2019-04-30 00:36] #406 closed

[2019-04-30 05:11] kaustubh-nair commented on #307
Hey @rarrunategu1
In order to install on Codenvy:
1. Select a new workspace with the ubuntu stack
2. Add the URL of your forked version of mapknitter under the projects section. It should be something like `https://github.com/USERNAME/mapknitter`
3. Hit create
4. Go the the directory and run `source install_cloud.sh`

This should set everything up on codenvy
If you encounter any problems let us kn

[2019-04-30 10:33] AnthoniaOkafor commented on #408
I have not been able to get Plots2 to run on Codenvy. I don't know how to navigate through the error; "'couldn't find file 'bootstrap/dist/css/bootstrap.min.css' with type 'text/css'" (please see the attached photos). Could someone else try the installation @jywarren? Thanks

![Codenvy](https://user-images.githubusercontent.com/40716023/56955925-94c93400-6b3a-11e9-828b-0ae863d202ca.png)
![Codenvy_

[2019-04-30 11:07] cesswairimu commented on #408
Hi @AnthoniaOkafor try running `yarn install ` then try starting the server again

[2019-04-30 11:43] AnthoniaOkafor commented on #408
Thanks @cesswairimu . There are few commands that do not run;
**$ yarn install returns bash: yarn: command not found.
$ rvm install ruby-2.4.4  returns bash: rvm: command not found
$ npm install -g yarn returns bash: npm: command not found
Rails 5.0.1 and ruby ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux] are pre-installed but rvm is not.

[2019-04-30 11:48] cesswairimu commented on #408
mmh beats me...also I think you should post these findings here https://github.com/publiclab/plots2/issues/5622

[2019-04-30 12:07] AnthoniaOkafor commented on #408
I have done that. Thanks

[2019-04-30 13:36] divyabaid16 commented on #565
I think this issue can also be closed @igniteeng000
Thanks!

[2019-04-30 21:03] rarrunategu1 commented on #307
@kaustubh-nair  thank you!  I finally have mapknitter on code envy but this other section to install_cloud.sh does not work for me.  This is my error -
user@:/projects/mapknitter
$ source install_cloud.sh
bash: install_cloud.sh: No such file or directory

I've done some googling to see what that is about but it all seems very confusing.  I ran echo $PATH and this is my result in case it helps
/pro

[2019-04-30 21:44] #542 closed

[2019-04-30 22:29] jywarren commented on #307
Hm, can you run just "ls" in the current directory to show where you are?
In theory, you should be in the 'mapknitter' folder, and the
"install_cloud.sh" file should be there, since it's a copy of this
directory: https://github.com/publiclab/mapknitter/tree/main/

What do you see in your local directory when you run "ls"? Thank you!

On Tue, Apr 30, 2019 at 5:04 PM rarrunategu1 <notifications@gith

[2019-04-30 22:40] #378 closed

[2019-05-01 05:40] SidharthBansal opened #574 "Enhance frontend of providers"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-05-01 06:55] SidharthBansal commented on #385
This issue is broken into ftos already. SWB is left.

[2019-05-01 06:55] #385 closed

[2019-05-01 06:56] SidharthBansal opened #576 "Removal of email/username field from the login menu."
@jywarren 's suggestion

This isn't super critical but could save one step. But maybe I haven't thought of some shortcoming of this plan...?

[2019-05-01 07:00] SidharthBansal commented on #576
Completed it successfully. Please check both the prs.

[2019-05-01 07:46] benfanderson commented on #574
Claimed. I'll fork the repository, have a look and then ask you some questions. Thanks so much.

[2019-05-01 08:02] SidharthBansal commented on #574
Cool

On Wed, May 1, 2019, 1:16 PM Ben Anderson <notifications@github.com> wrote:

[2019-05-01 11:15] benfanderson commented on #574
Okay, I have forked and cloned the repo. First question: Should I name my new branch something like button-enhance-574 so it's obvious which issue I am dealing with?

[2019-05-01 11:23] SidharthBansal commented on #574
Sure

On Wed, May 1, 2019, 4:45 PM Ben Anderson <notifications@github.com> wrote:

[2019-05-01 17:38] rarrunategu1 commented on #307
Hi @jywarren,
There is a start.sh in the mapknitter folder.  I don't see a install_cloud.sh folder.

![image](https://user-images.githubusercontent.com/29240939/57031645-3a9da100-6c16-11e9-8210-9e76f663af46.png)

[2019-05-01 22:14] jywarren commented on #307
OK, how did you set it up? I think the best way would probably be to enter the Git url like this (note that I actually want to point it at my own fork of MapKnitter):

![Screen Shot 2019-05-01 at 5 55 24 PM](https://user-images.githubusercontent.com/24359/57045124-af82d200-6c3a-11e9-8bed-111f4c2a7704.png)

(also, select "Rails" under "Select Stack")

To fork (for anyone who wants to know), you go

[2019-05-01 23:13] jywarren commented on #307
@emestabillo @rarrunategu1 I also encountered the issue @emestabillo saw in cloud9, of:

`Bundler could not find compatible versions for gem "bundler":`

And i also tried `gem install bundler -v 1.0.10`, and after that, i was able to start it with `rails s`.

It's running now. But this is a weird question, I'm not sure how to open it in a new browser tab and interact with the site! Uh......

[2019-05-01 23:29] jywarren commented on #307
https://github.com/codenvy/codenvy/issues/2503 ... researching...

[2019-05-01 23:29] rarrunategu1 commented on #307
@jywarren Thank you.  I was able to source install_cloud.sh, however I'm still not able to run.  I installed everything that your video says to install and in their right places and when I try to run it I'm getting errors. I did notice that the file has a database.yml and config.yml file already so I didn't copy those.  Could that cause an issue?  Here's my error:
![image](https://user-images.gith

[2019-05-01 23:31] jywarren commented on #307
Ah, you're getting further than me! Your run command looks to be trying to use the `go` programming language. See if you can edit the `run` command to use `rails s -p 51656` instead of `go get && go run main.go`... now, i have to find how you got the preview URL to appear!

[2019-05-01 23:33] jywarren commented on #307
OK, i changed my whole `run` command to, in full, `cd /projects/mapknitter && source ~/.profile && rails s -p 49286` (but you should use your own port number 51656). I got it to boot but it's not showing me the preview URL... weird...

[2019-05-01 23:36] jywarren commented on #307
Here seems to be a good guide! https://guides.railsgirls.com/install#using-a-cloud-service

[2019-05-01 23:45] rarrunategu1 commented on #307
Thank you @jywarren .  This looks like a great guide.  I'll follow it and see what I come up with.

[2019-05-01 23:53] jywarren commented on #307
I think the preview URL is when using the rails stack option, and you should be able to trust it rather than hunting through it as in the railsgirls.com guide -- that probably is for an older version where they didn't so conveniently show you the URL!

[2019-05-01 23:58] jywarren commented on #307
OK! I was able to get it running by making that change to the `run` command:

`cd ${current.project.path} && source ~/.profile && rails server -b 0.0.0.0 `

![Screen Shot 2019-05-01 at 7 57 36 PM](https://user-images.githubusercontent.com/24359/57050597-74d56580-6c4b-11e9-865c-419fb3312677.png)

[2019-05-01 23:59] jywarren commented on #307
![image](https://user-images.githubusercontent.com/24359/57050624-a0585000-6c4b-11e9-81e6-e4df657fc19b.png)

@SidharthBansal this could be a good way to test out your login changes!

[2019-05-02 01:03] cesswairimu commented on #154
This was also solved in https://github.com/publiclab/mapknitter/pull/562 forgot to reference it

[2019-05-02 01:11] cesswairimu commented on #154
![Peek 2019-05-02 04-09](https://user-images.githubusercontent.com/17081074/57052503-56458d80-6c90-11e9-9db3-3ea076357b20.gif)

[2019-05-02 01:11] #154 closed

[2019-05-02 01:27] rarrunategu1 commented on #307
Hi unfortunately I continue to have issues with getting it to run.  I'm getting the following error which means I don't have rails right?
![image](https://user-images.githubusercontent.com/29240939/57052792-90466d80-6c57-11e9-9a14-65ed1a5fa526.png)
So I went looking back to see what was installed and I don't see a .gem file, I can't use rvm...or bundle install..etc.... when I thought all of that w

[2019-05-02 02:33] jywarren commented on #307
Ah Is your initial command "cd" need to be "cd projects/mapknitter" so you
end up in the right directory before trying to run "rails"? Maybe? I hope
that's it! Thanks!

On Wed, May 1, 2019, 9:27 PM rarrunategu1 <notifications@github.com> wrote:

[2019-05-02 08:02] benfanderson commented on #574
Done. I need to upgrade Ruby and instal Rails on my new machine. While I do that are you able to give me an idea of what you mean by enhancing the provider buttons? Does that men changing the CSS styles? Sorry if this is a rookie question, I am still very new at this.

[2019-05-02 08:05] SidharthBansal commented on #574
Please see publiclab.org/login
We want mapknitter.org to look similar in terms of provider icons like
Facebook, github, google and github.
Yes you have to use HTML CSS skills there. Make them look as good as you
can.
In case you have further doubts, please free to interact with mentors. We
are here to help you. Best of luck

On Thu, May 2, 2019, 1:32 PM Ben Anderson <notifications@github.com> wrot

[2019-05-03 06:09] benfanderson commented on #574
Hi, i am having some trouble getting the right gems installed but once I have done that I'll get stuck into it.

[2019-05-03 07:06] SidharthBansal commented on #574
Cool

On Fri, May 3, 2019, 11:39 AM Ben Anderson <notifications@github.com> wrote:

[2019-05-03 18:06] rarrunategu1 commented on #307
Hi @jywarren , I clicked on the folder and it returned what I needed but still it gave me issues.  I restarted everything using a rails default stack instead of the go default which is what I understood we had to use.  That one went by so smoothly and I now have a running application with all of your and everyone else's directions from above.  The teamwork here is truly amazing.  Thank you so much

[2019-05-03 18:34] rarrunategu1 commented on #568
Hello I'd like to work on this issue.

[2019-05-03 19:40] jywarren commented on #307
Oh, awesome to hear! Great work!

On Fri, May 3, 2019 at 2:07 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-05-05 04:48] benfanderson commented on #574
Hi, when I try to launch the rails server ``` rails s``` I get the following error:

```DEPRECATION WARNING: Support for Rails versions before 4.2 is deprecated and will be removed from skylight 2.0.```

Should I upgrade the rails gem in the gemfile to 4.2.0?

[2019-05-05 04:53] SidharthBansal commented on #574
You can use rvm to set up the required rails version.

Please don't make any modification in gemfiles.

On Sun, May 5, 2019, 10:18 AM Ben Anderson <notifications@github.com> wrote:

[2019-05-05 08:25] cesswairimu commented on #481
Just noting here, I was trying to build on top of #482 as we had discussed with @kaustubh-nair but was finding it overwhelming because of the different changes in the in between versions. I also found elsewhere that the Rails 4.0 and Ruby 2.4 compatibility was fixed. Trying out if this will work on https://github.com/publiclab/mapknitter/pull/578. This would be better if it works for debugging and

[2019-05-05 15:07] jywarren opened #579 "Check aws s3 path types"
Aws is deprecating an old style of referencing paths, and we may need to check this:

[2019-05-05 15:35] jywarren commented on #481
Awesome!

On Sun, May 5, 2019, 4:26 AM Cess <notifications@github.com> wrote:

[2019-05-06 07:45] benfanderson commented on #574
Hi, I used rvm to create a gemset with ruby version of 2.4.6 and a rails version of 2.4.0 and tried to switch to that but when I run ```rails -``` I am still getting ```Rails 3.2.22.5```.

Here is the full error message when I run ```rails s```:

[code]

[2019-05-06 07:47] benfanderson commented on #574
Hi, I used rvm to create a gemset with ruby version of 2.4.6 and a rails version of 2.4.0 and tried to switch to that but when I run ```rails -v``` I am still getting Rails 3.2.22.5.

Here is the full error message when I run ```rails s```:

```from /Users/bena/.rvm/gems/ruby-2.4.6/gems/railties-3.2.22.5/lib/rails/application/configuration.rb:115:in `database_configuration'
	from /Users/bena/.rvm/

[2019-05-06 08:10] SidharthBansal commented on #574
First install the correct version of ruby
Then do ruby use version_name
Thanks

On Mon, May 6, 2019, 1:17 PM Ben Anderson <notifications@github.com> wrote:

[2019-05-06 08:54] benfanderson commented on #574
Sorry, I am still getting the same error message.
I am using ruby 2.4.6p354 and rails 3.2.22.55. Are they the correct versions. I can't seem to change them.

[2019-05-06 19:13] SidharthBansal commented on #574
Use ruby use default commands they should work.
Please close your PC and open it and try.

On Mon, May 6, 2019, 2:24 PM Ben Anderson <notifications@github.com> wrote:

[2019-05-06 19:15] SidharthBansal commented on #574
Please do bundle install.
I think there is some problem there.
You can see the versions required in the gemfile.

[2019-05-07 19:48] #413 closed

[2019-05-07 19:51] #446 closed

[2019-05-08 03:18] sashadev-sky opened #582 "target=_blank not protected by noopener"
### What happened just before the problem occurred

### Relevant URLs

https://

https://github.com/publiclab/mapknitter/blob/8ed7283b845dbce1a932d9abd3cba226fec2400f/app/views/layouts/_header.html.erb#L20-L26

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the

[2019-05-08 03:58] sashadev-sky commented on #541
@divyabaid16 are you still getting this issue because I cannot reproduce it locally or on production site

[2019-05-08 08:14] benfanderson commented on #574
Just letting you know I have sorted out my gem issues and I will be able to get started on the html/css stuff soon. Thanks for your patience.

[2019-05-08 08:15] SidharthBansal commented on #574
Cool

On Wed, May 8, 2019, 1:44 PM Ben Anderson <notifications@github.com> wrote:

[2019-05-08 19:51] jywarren commented on #408
This now works using `install_cloud.sh`!

[2019-05-08 19:51] #408 closed

[2019-05-09 11:54] gauravano commented on #510
Hey @sagarpreet-chadha, the PR for the first part is up at #516, please review. Thanks!

[2019-05-09 11:59] gauravano commented on #219
Hi @divyabaid16, I tried to reproduce the issue you're facing and it seems solved now so please update your clone and try again. And please let us know if it worked for you or not. Thanks!

[2019-05-09 13:14] divyabaid16 commented on #219
Okay @gauravano I will just do it in a couple of days.
Thanks!

[2019-05-09 18:51] jywarren opened #585 "New release planning?"
I just drafted a 3.0.0-rc.1 release. @cesswairimu @stefannibrasil @avsingh999 @alaxalves @kaustubh-nair @SidharthBansal @sashadev-sky what do you think of this?

https://github.com/publiclab/mapknitter/releases/tag/untagged-30a78f77c3ae60d3e38c

[2019-05-09 19:07] alaxalves commented on #585
@jywarren I'm not being able to see it. I'm getting a 404 :/

[2019-05-09 19:08] SidharthBansal commented on #585
Can you please elaborate on this?
I am little new to this release planning stuff.
Thanks

[2019-05-09 19:19] jywarren commented on #585
This is largely symbolic, since nobody is using MK as a dependency. But
with all the huge changes, I thought we may want to consider it all part of
an overall 3.0.0 release. We can use `v3.0.0-rc.1` `v3.0.0-rc.2` etc for a
while as we get ready for whatever we consider our "main" release in a
month or so, and then changes like Rails 4, 5, 6 and other big changes like
the external exporter could be

[2019-05-09 19:24] SidharthBansal commented on #585
Oh I can know correlate with what I learnt in college about release
planning.
Thanks Jeff for explaining. Things are highly interlinked and
understandable know.

On Fri, May 10, 2019, 12:49 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-09 19:28] alaxalves commented on #585
I'm getting this for the link you've provided:

![image](https://user-images.githubusercontent.com/19597045/57480960-6ef90900-7277-11e9-9f55-6fc8ed6ea844.png)

[2019-05-09 19:33] jywarren commented on #585
Sorry, maybe not everyone can see drafts. Let's not sweat it, it's not
anything more than what I wrote on this page -- just based on the current
main branch latest commit. Thanks!

On Thu, May 9, 2019 at 3:25 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-05-09 19:34] cesswairimu commented on #585
Aha sounds awesome, just read the semantic versioning documentation. One question though, since we merge have all our commits  in `main` as we develop for different features, do we like cherry pick the commits for, say, `bug-fixes` create a new branch and deploy that branch as the `bugfix release`?

[2019-05-09 19:35] jywarren commented on #219
Oh whoaaaaa. Actually, could we try to solve this upstream in https://github.com/publiclab/Leaflet.DistortableImage/issues/164, perhaps? Or at least connect the two efforts? It could be a function of DistortableCollection upstream. But very cool!

[2019-05-09 19:38] jywarren commented on #585
When i publish a release in GitHub, it copies the branch I'm basing it on
(the default branch latest commit) and makes a tagged commit (basically a
branch) from it, with the name of the release, so in this case
"v3.0.0-rc.1". So we don't have to think about managing branches to do
this, it just kind of pins the latest commit and we can keep working as we
were. Thanks!

On Thu, May 9, 2019 at 3:34

[2019-05-09 19:46] cesswairimu commented on #585
Gotcha! Nice, thanks Jeff!

[2019-05-09 22:04] jywarren commented on #434
@lizprogrammer told me this is now available again! Marking accordingly. Thanks!

[2019-05-09 22:05] jywarren commented on #400
This is still available; marking accordingly; thanks!

[2019-05-09 22:13] jywarren commented on #404
Hello, sorry this took a while, but I've posted on BountySource the stipend that was offered on this issue: https://www.bountysource.com/issues/73848940-remove-legacy-image-controller-code

Please claim it by clicking that link. Thanks!

[2019-05-09 22:21] jywarren commented on #403
Hello, sorry this took a while, but I've posted on BountySource the stipend that was offered on this issue: https://www.bountysource.com/issues/73946089-refactor-bbox-function-s-activerecord-query-to-new-rails-syntax

Please claim it by clicking that link. Thanks!

[2019-05-09 22:23] milomacphail commented on #404
Hey Jeff!

Thanks. Can you mark it closed so I can receive the stipend?

I also ended up backing it trying to cash it out. Whoops!

Let me know if there are any issues!

Milo

On Thu, May 9, 2019, 4:13 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-09 22:23] jywarren commented on #435
Hello, sorry this took a while, but I've posted on BountySource the stipend that was offered on this issue: https://www.bountysource.com/issues/72733917-update-activerecord-query-syntax-to-more-recent-style

Please claim it by clicking that link. Thanks!

[2019-05-09 22:24] jywarren commented on #404
Oh goodness. Well i guess you get it back. Yes, i will now.

[2019-05-09 22:24] #404 closed

[2019-05-09 22:28] milomacphail commented on #404
Awesome, thanks!

Also, not to breach the bounds of professionalism but you're going to love
working with Rose Parker; she's the best and is going to knock it out of
the park.

Thanks for the opportunity and see you around,
Milo

On Thu, May 9, 2019, 4:24 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-09 22:32] milomacphail commented on #404
Hey Jeff,

Just needs you to accept it for the disbursement to happen.

Thanks,
Milo

On Thu, May 9, 2019, 4:28 PM Milo MacPhail <milomacphail@gmail.com> wrote:

[2019-05-09 22:33] jywarren commented on #404
Awesome, thanks!

[2019-05-09 22:38] #517 closed

[2019-05-09 22:39] #569 closed

[2019-05-10 03:36] Welquer commented on #434
Working on this one!

[2019-05-10 03:47] Welquer commented on #434
Just created PR. Review required here: https://github.com/publiclab/mapknitter/pull/586. Thanks!

[2019-05-10 13:22] xanderj22 commented on #435
Ok. Awesome!! Thanks!!

On Thu, May 9, 2019 at 6:23 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-10 14:23] jywarren commented on #403
Oh sorry @labseven -- this message was for you, but i see you don't get notifications from this issue:

[2019-05-10 17:13] #544 closed

[2019-05-10 20:08] #576 closed

[2019-05-10 21:25] xanderj22 commented on #435
Hi Jeffrey,

I'm not quite sure how to claim the stipend on BountySource. When I click
on the link for PayPal, it appears as though I'm checking out $ (as in
paying out).

Thanks so much for offering the stipend!! Sorry for the lack of clarity
with the instructions on how to claim/retrieve it.

Xander

On Fri, May 10, 2019 at 9:21 AM Xander James <xannederjames@gmail.com>
wrote:

[2019-05-10 21:34] jywarren opened #587 "Test for user profile route"
I found and just fixed an issue with the profile controller action, https://github.com/publiclab/mapknitter/commit/9a36e6cde5fa14345baad24f7ac5a8d4e52c755a

so i think we should add functional tests for that, and see if there are others we're missing! Thanks!

[2019-05-10 22:33] jywarren commented on #435
Hmm, do you see a button that says "Solve Issue"?

On Fri, May 10, 2019 at 5:26 PM xanderj22 <notifications@github.com> wrote:

[2019-05-10 22:57] xanderj22 commented on #435
Ok Yes! I see that.

On Fri, May 10, 2019 at 6:33 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-10 23:08] xanderj22 commented on #435
I submitted a "Solve Issue"

On Fri, May 10, 2019 at 6:57 PM Xander James <xannederjames@gmail.com>
wrote:

[2019-05-10 23:09] #435 closed

[2019-05-10 23:15] jywarren commented on #435
OK, all good, i think! Thank you very much!

[2019-05-10 23:18] xanderj22 commented on #435
Thank you!!

[2019-05-11 05:28] benfanderson commented on #307
Apologies if this has already been answered but whenever I try to run ```rake db:setup``` I get the following error
```LoadError: Please install the mysql2 adapter: `gem install activerecord-mysql2-adapter` (cannot load such file -- mysql2/mysql2)```
I have tried installing the activerecord-mysql2-adapter gem but the error remains.
The adapters in my database.yml file are all mysql2
I am running `

[2019-05-11 14:39] rarrunategu1 opened #590 "Cannot log into unstable mapknitter website"
### What happened just before the problem occurred
I was working on an issue and testing in the unstable website after clicking a map.  As I attempted to delete a map for testing it asked that I log in but I can't log into the unstable website. Is this normal?

### Relevant URLs

http://mapknitter-unstable.laboratoriopublico.org/maps/test--226

### PublicLab.org username
parker_rose

(to help repr

[2019-05-11 14:53] #590 closed

[2019-05-11 18:52] jywarren opened #591 "Can't delete map images"
Looks like it's not possible to delete images, due to a bug! I believe @rarrunategu1 may be looking into this? Noting connection to Sairam's question at https://publiclab.org/notes/silentsairam/05-11-2019/how-to-delete-the-images-which-i-do-not-want-to-place-in-the-map

[2019-05-12 08:39] #538 closed

[2019-05-12 19:28] SidharthBansal commented on #559
@umuur I think they busy with something else.
@umuur please take it if you wish to do so.
Sorry for late reply.

[2019-05-12 19:31] SidharthBansal commented on #574
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2019-05-13 03:01] benfanderson commented on #574
Hi I am still getting stuck on launching the app.
whenever I try to run rake db:setup I get the following error
LoadError: Please install the mysql2 adapter: `gem install activerecord-mysql2-adapter` (cannot load such file -- mysql2/mysql2)
I have tried installing the activerecord-mysql2-adapter gem but the error remains.
The adapters in my database.yml file are all mysql2
I am running Ruby 2.4.6p

[2019-05-13 06:29] SidharthBansal commented on #574
![image](https://user-images.githubusercontent.com/20972099/57600094-6f92e780-7576-11e9-9642-c8303adc7ebe.png)
Please do like this.
Add your system password in the password field. I hope it works.

[2019-05-13 08:10] benfanderson commented on #574
Sorry, i did that but I am still getting the same error message. when I I do ```gem list``` I can't see ```activerecord-mysql2-adapter``` anywhere in the list but when I do ```gem list activerecord-mysql2-adapter``` I get

[code]

[2019-05-13 12:57] SidharthBansal commented on #305
@alaxalves @kaustubh-nair @jywarren let's discuss the project in this planning issue.
As per @jywarren 's suggestion, I will be mentoring this project (as much as I am capable of). This is my first time mentoring 4-5 big project. I hope everything goes well. :smile:

I have heavily edited the above issue body.

[2019-05-13 12:58] SidharthBansal commented on #305
Please feel free to open independent issues for each of the sub-issues present in the above issue body @alaxalves @kaustubh-nair
In the individual issues you can decide which of you will be willing to do.
This will resolve the time difference ambiguity you are facing.

[2019-05-13 13:01] SidharthBansal commented on #305
Let's create a project and a milestone friends for this issue. And I will be requiring your help folks and also don't forget to take help from the vast community.
Ultimately goal of GSoC is not completing a project but its learning how to develop team spirit and friendly relations. Once you will be happy conversing with each other you all will feel you are not working, just you are discussing thin

[2019-05-13 13:10] SidharthBansal commented on #305
@alaxalves will you take the initiative to do the following?
* [ ] Open up a milestone
* [ ] Open Up a project
* [ ] Open sub issues for all the above listed in the issue body
* [ ] Edit the issue body with more information
* [ ]  Comment on the issues you wanna work on

@kaustubh-nair I will like to ask you in case you are interested in doing the following. It will be great help to the Public Lab

[2019-05-13 13:22] divyabaid16 commented on #305
Hey!!!
Should I create a check list of the task that I had mentioned in my GSoC proposal in a seperate issue and you can guide me there?

[2019-05-13 13:23] SidharthBansal commented on #305
Also folks, we can use tree-like structures here.
There may be sub-issues which require further break up.
Like link tests to these planning issues. In the tests subissue you can break it into sub sub issues unit tests, controller tests and so on.
This help us to have modularity at different levels. We will be dividing requirements in top-down approach and we will be executing them in a bottom-up m

[2019-05-13 13:24] SidharthBansal commented on #305
@divyabaid16  yeah sure. I will help you there for sure.

[2019-05-13 13:25] SidharthBansal opened #593 "Planning Issue: Mapknitter Image Management and Synchronous Editing"
### What happened just before the problem occurred

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, fill out the above template; for feature requests, you can delete the template.

[2019-05-13 13:28] divyabaid16 commented on #305
Okay I will open it soon. :)

[2019-05-13 13:28] SidharthBansal commented on #305
@divyabaid16 https://github.com/publiclab/mapknitter/issues/593 please edit it. We can have further conversations there.
Thanks

[2019-05-13 13:32] SidharthBansal commented on #305
Just noticed the tree like structure can also be adopted using the cards of the project section. So, please use that too. It will help us.

[2019-05-13 13:33] alaxalves opened #594 "Increase Test Coverage"
I have realized that currently on Mapknitter we have ~60% of test coverage according to [this](https://coveralls.io/github/publiclab/mapknitter) right?!
I think that before we start we the upgrade it would be a MUST if we raised that to >80% minimum, as recommended [here](https://guides.rubyonrails.org/upgrading_ruby_on_rails.html#test-coverage). Or we could be more ambitious and set a goal of 100

[2019-05-13 13:37] alaxalves commented on #305
I started opening sub issues but I need more permissions to put labels in the issues, create projects and such.

[2019-05-13 13:41] jywarren commented on #594
Hi @alaxalves I believe Cess is already taking steps towards a Rails 4.0 upgrade here: https://github.com/publiclab/mapknitter/pull/578

CodeCov cites ~70% coverage here: https://codecov.io/gh/publiclab/mapknitter

However, I think more test coverage would be great, and 80 or near 100% would be a great goal. I think @rarrunategu1 may be helping us with this as well in the coming weeks.

I would lo

[2019-05-13 13:44] SidharthBansal commented on #594
Regarding test coverage, I think, we have create a lot of tests too. We miss many important test cases. I examined some flows, we have only 2-3 tests for those flows but there should be more test cases for them. So, may be we can create ftos for them later on.

[2019-05-13 13:47] SidharthBansal commented on #305
@jywarren can you please help us with the permissions. I think someday you gave me permissions such that I can give permissions to other. But I forget how to upgrade permissions. Please assist us.
Thanks

[2019-05-13 14:08] kaustubh-nair commented on #594
I agree. We should aim for aroung 85% and pay special attention to edge cases

[2019-05-13 14:17] SidharthBansal commented on #574
@jywarren @gauravano please help us here.

On Mon, May 13, 2019 at 1:40 PM Ben Anderson <notifications@github.com>
wrote:

[2019-05-13 14:18] SidharthBansal commented on #593
@divyabaid16 please feel free to edit it.
Thanks

[2019-05-13 14:19] kaustubh-nair commented on #305
Hey Sidharth, thanks for the detailed guide!
I'm traveling back home today. I'll start working actively from tomorrow!
Cheers

[2019-05-13 14:23] divyabaid16 commented on #593
Yes.
Actually my exams just got over today and now I'm traveling back to my home. I will reach there by tomorrow and then edit it.
Thanks!

[2019-05-13 14:30] SidharthBansal commented on #593
Sure. Best of luck for the results. I have 2 exams remaining. Don't wanna study for sometimes. haha

[2019-05-13 14:45] ViditChitkara commented on #593
Will work on it after 16th. Tied up with exams till then.
Thanks!

[2019-05-13 14:51] SidharthBansal commented on #593
No problem. We all are having exams.

[2019-05-13 23:43] jywarren opened #596 "Export bug (during deployment) - map pages don't load during exports"
@icarito and I are deploying a new version of MapKnitter and keep seeing this series of events:

1. start an export (as non-logged-in user)
2. during export, the map page doesn't load, with a 500 error but no log output (example: https://mapknitter.org/maps/test-mtwapa-creek)
3. when map completes export, the map page loads again
4. if the export is interrupted, the map page never loads

Also, all

[2019-05-13 23:47] jywarren commented on #596
Yes, I can change the export status to `warping 1 of 1` manually in the console and then the map page doesn't load.

[2019-05-13 23:50] jywarren commented on #596
Even better. I can set `export.running?` to return `true` and that causes the map page to 500

[2019-05-13 23:57] jywarren commented on #596
And noting that actually locally i'm on Ruby 2.4.4, so I don't think it's a Ruby version number issue vs. 2.4.6

[2019-05-14 00:02] jywarren commented on #596
yep, this line:

https://github.com/publiclab/mapknitter/blob/3d25dc7bdaff774b4ae256ea98d0a71f2d70a11b/app/views/maps/_sidebar_exports.html.erb#L50

[code]

[2019-05-14 00:04] jywarren commented on #596
Fixed in https://github.com/publiclab/mapknitter/commit/3b50d1f1b42d622a0d9988279ee56d5e1695fc5f - testing on jenkins unstable

[2019-05-14 00:23] #596 closed

[2019-05-14 00:38] jywarren opened #597 "Ensure a refresh is not required to see "Downloads" that result from an export"
We should be refreshing the Exports menu on the fly if an export completes. I think this could be done in:

https://github.com/publiclab/mapknitter/blob/main/app/views/maps/_sidebar_exports.html.erb

The template partial is: https://github.com/publiclab/mapknitter/blob/main/app/views/maps/_exports.html.erb

But it's loaded from:

https://github.com/publiclab/mapknitter/blob/main/app/views/layouts/

[2019-05-14 00:39] jywarren commented on #597
It could use some styling help as well!!!

![image](https://user-images.githubusercontent.com/24359/57662798-287d1480-75bf-11e9-881c-807fd5bf5ca0.png)

[2019-05-14 01:41] alaxalves commented on #594
@jywarren Could you add me and @kaustubh-nair to Mapknitter's Collaborators team with "write" privileges so that I can create the things proposed [here](https://github.com/publiclab/mapknitter/issues/305#issuecomment-491815768) by @SidharthBansal ??

[2019-05-14 01:43] jywarren commented on #594
Yeah!!! I just did.

[2019-05-14 13:12] alaxalves commented on #513
@kaustubh-nair Do you think this should also enter the Rails Upgrade milestone?

[2019-05-14 13:24] alaxalves opened #598 "Improve TravisCI workflow"
### What happened just before the problem occurred

Travis sometimes takes too long and shouldn't need [this](https://github.com/publiclab/mapknitter/blob/main/.travis.yml#L10) to work properly.

This will also help @cesswairimu with the upgrade being done at https://github.com/publiclab/mapknitter/pull/578

### Relevant URLs

https://github.com/publiclab/mapknitter/blob/main/.travis.yml#L10

###

[2019-05-14 13:26] alaxalves commented on #598
@cesswairimu Do you want me to do this on top of your `rails-4` branch? Or I just do it on top of `main` branch and you merge it later?

[2019-05-14 13:36] alaxalves opened #599 "Split test env and production env in Travis"
### What happened just before the problem occurred

Currently our `travis.yml` file uses the `docker-compose.yml` file to run the test suite and whatever. But the problem is that our yml use the `mapknitter.env` file that defines the environment as production and not test. I feel like this might be the cause of some of our issues.

I feel like the best approach here is having multiple yaml files t

[2019-05-14 13:37] cesswairimu commented on #598
Just do it of of main then I will rebase once its merged. Thanks

[2019-05-14 13:37] alaxalves commented on #599
@publiclab/community-reps what you think of this?

[2019-05-14 13:43] alaxalves opened #600 "Upgrade from Rails 4.2.8 to Rails 5.0.1"
Follow the steps below will definitely help:
https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-4-2-to-rails-5-0
This depends on #481 and #594

[2019-05-14 13:46] alaxalves opened #601 "Upgrade from Rails 5.0.1 to Rails 5.1.6"
Follow the steps below will definitely help:
https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-0-to-rails-5-1
This depends on #600

[2019-05-14 13:48] alaxalves opened #602 "Upgrade from Rails 5.1.6 to Rails 5.2.2"
Follow the steps below will definitely help:
https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-1-to-rails-5-2
This depends on #601

[2019-05-14 13:49] alaxalves opened #603 "Upgrade from Rails 5.2.2 to Rails 6.0.0"
Follow the steps below will definitely help:
https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-2-to-rails-6-0
This depends on #602

[2019-05-14 13:55] alaxalves commented on #305
I have created the issues you've requested @SidharthBansal and self-assigned to the one I'd like to start working on, I have created the issues based on the following diagram took from my [proposal](https://docs.google.com/document/d/1dYoVMVyhbz4Y8daeCCINxY_NFpi-rcP7C7X1L7Or_Zs/edit?usp=sharing) and on what I have previously discussed with the PublicLab members.

![](https://i.imgur.com/HaKjJm1.pn

[2019-05-14 14:08] jywarren commented on #599
Hi, actually i think we need input from @icarito on this, as community-reps
are more focused on the community who use the website, rather than system
setup and configuration. Do take a look at how plots2 is set up here,
though, maybe this would help?
https://github.com/publiclab/plots2/tree/master/containers/

On Tue, May 14, 2019 at 9:37 AM Álax de Carvalho Alves <
notifications@github.com> wrote

[2019-05-14 14:13] alaxalves commented on #599
Just updated the comment @jywarren. Maybe @cesswairimu could help too, also I'll check on the plots2 config thnx

[2019-05-14 16:27] SidharthBansal commented on #305
Thanks. I have read your proposal.

On Tue, May 14, 2019 at 7:25 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-05-14 17:26] umuur commented on #559
on it.

[2019-05-14 18:00] umuur commented on #559
Hi there, I think it will be better to put pl icon in the input field. The icon itself is smaller for to be a button, and it didn't have tranparent background in order to put inside the blue login button.

![Screenshot from 2019-05-14 20-43-16](https://user-images.githubusercontent.com/8915912/57720739-22546a00-768b-11e9-84f4-eb045fd173c0.png)
![Screenshot from 2019-05-14 20-43-28](https://user-im

[2019-05-14 19:41] alaxalves commented on #599
![image](https://user-images.githubusercontent.com/19597045/57727136-1ce52880-7667-11e9-9459-f89077b0a441.png)

Log in Travis available at: https://travis-ci.org/publiclab/mapknitter/builds/532203223?utm_source=github_status&utm_medium=notification

[2019-05-14 19:58] alaxalves opened #604 "Version control of Docker images"
I have been working on #598 and #599 and have realized that it would be a great idea if we create a registry account for publiclab org(in dockerhub for instance) and manage our docker images from there, instead of building our images every time we need to lift our environment (either production, tests ran in travis or development(which we dont have docker env for)) somewhere. It would make our env

[2019-05-14 20:23] alaxalves commented on #604
This would also shorten the travis builds duration time. Because there would be no need to mount the docker image every time we trigger a travis build

[2019-05-14 21:57] nycbeardo commented on #434
Started this one

[2019-05-14 22:10] nycbeardo commented on #434
PR created, #606

[2019-05-14 23:38] jywarren commented on #565
Actually i think the pagination needs some extra work; we just published MapKnitter.org (yay!) but i see this:

![image](https://user-images.githubusercontent.com/24359/57738992-d3ed9e00-767f-11e9-888b-60e5715b08ab.png)

Can anyone check this out? Thank you!

[2019-05-15 04:25] SidharthBansal commented on #559
Please check the latest master. Your changes are outdated.
Thanks

On Tue, May 14, 2019 at 11:30 PM umuur <notifications@github.com> wrote:

[2019-05-15 04:54] sashadev-sky commented on #604
@alaxalves I don't work with the docker setup personally so @icarito would be the person to answer this, but just to better understand the discussion: in Plots2, which has a more complete Docker setup, are we just managing different environments and the services we need for each by having multiple configuration files (`docker-compose-production.yml` `docker-compose-stable.yml`, etc.)? But the unde

[2019-05-15 05:02] kaustubh-nair opened #607 "Configure Travis for system tests"

[2019-05-15 07:56] cesswairimu commented on #565
Hey @jywarren I believe #558 should fix it. Thanks

[2019-05-15 11:10] divyabaid16 commented on #593
Hey, @SidharthBansal I am unable to edit the issue. I guess I don't have the required rights.

[2019-05-15 11:20] divyabaid16 opened #608 "Plnanning issue: Mapknitter Image Management"
I would like to complete the following task in Mapknitter image management as part of my GSoC

- [ ] Image ordering in sidebar
- [ ] Selection of multiple images to export
- [ ] Toggle view option to select your images and all images
- [ ] Fix the issues with Download button
- [ ] Testing
- [ ] Documentation

The details of which I had already mentioned in my GSoC proposal.

[2019-05-15 12:22] divyabaid16 commented on #608
Here, I have mentioned the task that I need to complete and will create a detailed issue for each of the task as I proceed with.
Please have a look at them @SidharthBansal @jywarren @gauravano
Thanks!

[2019-05-15 12:26] divyabaid16 opened #609 "Planning issue: Synchronous Editing"
I would like to complete the following task in Synchronous editing as part of my GSoC

- [ ] Real-time multi-user image placement
- [ ] Low latency API using sockets
- [ ] Testing
- [ ] Documentations
- [ ] FTO

@ViditChitkara I would like to discuss it with you too. I'm aware about your exams but tagging you here so that you have a look once you're done with your exams.

[2019-05-15 12:27] divyabaid16 commented on #609
@jywarren @SidharthBansal @gauravano how do I get the label and edit rights here?
And should we create a different project for Synchronous editing?

[2019-05-15 12:40] alaxalves commented on #604
@sashadev-sky Actually I could not find those files in https://github.com/publiclab/plots2/ :thinking:. What I actually mean in this issue is for us to have a version control of our docker images just like I have for Klara-API project [here](https://hub.docker.com/r/alaxalves/klara-api/tags). See that I have build the images and pushed to my personal DockerHub registry, and those images are used i

[2019-05-15 12:50] alaxalves commented on #593
@jywarren Needs to add @divyabaid16  as collaborator in order to edit issues, create projects, add labels and such.

[2019-05-15 13:24] alaxalves commented on #604
Actually I'd like to do the same work I'd like to accomplish here in Plot2 too. Stuff like #604 #598 would apply to plots2 in a certain way too.

[2019-05-15 13:36] kaustubh-nair commented on #594
I'll start adding tests, since @alaxalves is doing https://github.com/publiclab/mapknitter/issues/598

[2019-05-15 13:42] jywarren commented on #604
Hi, this is interesting and I think @icarito has mentioned some of these
possibilities. I think he is the best person to provide input on this.
Would there be any version sync issues with running Travis on the latest
code? I'm just not that familiar with Docker myself. And, noting, the
plots2 files are in /containers/docker-compose-______.yml -- hope that
helps!

On Wed, May 15, 2019 at 9:25 AM Ál

[2019-05-15 13:44] #550 closed

[2019-05-15 13:45] jywarren commented on #607
this would be great. I think they're only available in rails 5? or maybe
4... not sure.

On Wed, May 15, 2019 at 1:02 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-05-15 13:45] alaxalves commented on #604
Actually we use tag the images as we want, and Travis would use the version defined in our yml file. I'd love to pair up with @icarito and get this train rolling.

[2019-05-15 13:46] kaustubh-nair commented on #607
Yeah this we'll be done later. After we've got Rails 5 running

[2019-05-15 13:49] alaxalves commented on #594
Thank you @kaustubh-nair I love DevOps, that's why I had to get #598 :smile: :smile: :smile:. Let me know if I can help you with anything. BTW, @cesswairimu said in https://github.com/publiclab/mapknitter/pull/578#issuecomment-492100825 that he started this testing stuff. Maybe you could take advantage of his work.

[2019-05-15 13:56] alaxalves commented on #607
@kaustubh-nair Actually I'm not familiar with this. Could you explain me?

[2019-05-15 14:06] kaustubh-nair commented on #607
Travis can be configured to run full stack system test to test javascript and everything. We can configure it to display screenshots of failed tests. Similar to what has been done for plots2 https://github.com/publiclab/plots2/pull/4888

[2019-05-15 14:17] alaxalves commented on #607
OOhhh, cool I knew those selenium tests as Acceptance tests and not System test :smile: :smile:

[2019-05-15 15:32] rarrunategu1 commented on #591
Yes, this is something I'm currently working on.

[2019-05-15 17:03] rarrunategu1 commented on #591
@jywarren I tested the mapknitter.org website and it deletes images and maps just fine.  If I delete an image it keeps the map ready for me under my author name.  If I delete the map, it deletes the entire thing and it doesn't show up on my authored maps anymore. Here's a picture of their creation:

![image](https://user-images.githubusercontent.com/29240939/57793872-63429200-7710-11e9-9ca2-337025

[2019-05-15 17:56] umuur commented on #559
Hi Sid, does the demo link points the latest master? Could you please send me the screenshots about what should be achieved?

[2019-05-15 18:45] SidharthBansal commented on #559
Hi my name is Sidharth.
Please make the login modal of mapknitter.org/login similar to login modal of spectralworkbench.org/login.

Yes, there are major changes in the master.

[2019-05-15 19:03] SidharthBansal commented on #559
Thanks for asking @umuur

[2019-05-15 20:10] SidharthBansal commented on #608
Please arrange them in form of project

On Wed, May 15, 2019, 5:52 PM Divya Baid <notifications@github.com> wrote:

[2019-05-15 22:07] sashadev-sky commented on #604
@alaxalves that sounds like a plan, although emphasizing @icarito is your guy here haha

Another question, would these be held in a private or public repo?

[2019-05-15 22:27] sashadev-sky opened #612 "Getting error from seeds.rb file"
For the line:
https://github.com/publiclab/mapknitter/blob/1ba35931e4d24dc3854fe663a19fcce61dd4009c/db/seeds.rb#L15

I got the error that the method `login` was undefined when I ran `rake db:setup`

This code was recently merged (8 hours ago)

[2019-05-15 23:35] alaxalves commented on #604
Well, registries are usually public such as https://hub.docker.com/_/ruby/ are made public to make our imaeg available to everyone else in the community.

[2019-05-16 14:51] kaustubh-nair opened #613 "Missing templates for annotations"
The template views for the `index` and `show` actions are missing for annotations.
Is this a missing feature? Or are these two actions part of the legacy annotations
Also is the legacy annotations discontinued?

[2019-05-16 14:51] kaustubh-nair commented on #613
@jywarren

[2019-05-16 16:22] kaustubh-nair opened #614 "Imports from url doesn't work"
While trying this, I get an error
`NoMethodError: undefined method uploaded_data=' for #<Warpable:0x0000555ad9de3b98>`
There are no frontend components for this. I came across this will testing the controller
Is this a desired feature that doesn't work or was it discontinued?

[2019-05-16 19:28] rarrunategu1 opened #616 "Two search bars on mapknitter.org with id of "search-input""
### What happened just before the problem occurred
There are two search bars with the same name and id.  I don't see a need for two search bars that do the same thing.

![image](https://user-images.githubusercontent.com/29240939/57881283-e0443900-77ee-11e9-8e1a-aa458f11d3d8.png)

![image](https://user-images.githubusercontent.com/29240939/57881327-fe119e00-77ee-11e9-8065-f2180fcc7f40.png)

### Rel

[2019-05-16 21:20] jywarren commented on #614
I think Paperclip may have turned off this option by default due to a
security concern. I'd like to be able to do this in order to allow other
sites or services to allow "open this image in MapKnitter" -- but perhaps
we could do so only if someone is logged in? What do you think? In any
case, we can leave a comment to this effect inline in the code to at least
explain what's going on. Thanks!

On

[2019-05-16 21:34] jywarren commented on #616
Hi! Are you seeing a warning, or is there a bug when you use one of these inputs? I know browsers are getting more strict these days. Do both work the same, and do they both still work if we change the `id` of one of them?

Thank you!!

[2019-05-16 21:35] jywarren opened #617 "Page scrolls when sidebar content is too long"
I think we may need to set the sidebar to be "overflow:scroll" in css to prevent this. But open to ideas!

Here's what I see:

![mapknitter](https://user-images.githubusercontent.com/24359/57888725-ef33e700-7800-11e9-9eed-91f9df1f5b90.gif)

[2019-05-16 21:37] jywarren commented on #617
MDN is a great resource for this: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow

[2019-05-16 21:38] jywarren commented on #617
And just noting possible relationship to https://github.com/publiclab/mapknitter/pull/583, probably not, but just in case!

[2019-05-16 21:46] rarrunategu1 commented on #616
They both search the same information.  When you search on one and it returns the results, your search keyword appears in other search box as well.
![image](https://user-images.githubusercontent.com/29240939/57888946-813bef80-7801-11e9-9d00-a99559b35f0b.png)
 If we changed the id what would we use the second search bar for?  It seems that they both search for any word in the map uploads to include

[2019-05-16 21:47] rarrunategu1 commented on #616
This is the other image that shows the AS220 reference of Nepal
![image](https://user-images.githubusercontent.com/29240939/57889321-8483ab00-7802-11e9-9ef5-ea8802afdf4c.png)

[2019-05-16 21:47] jywarren commented on #616
Hmm. I think we just didn't used to have a search bar in the nav bar. Maybe
now that we do, we can remove the lower one. It's not formatted properly
anyways. Let's just take it out!

On Thu, May 16, 2019 at 5:46 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-05-16 21:48] rarrunategu1 commented on #616
Will do.

[2019-05-16 22:30] alaxalves commented on #604
![image](https://user-images.githubusercontent.com/19597045/57891212-f9f67800-7810-11e9-8734-d9c1710c1da6.png)
Just recording this here. I'll work on it. :muscle:

[2019-05-16 22:33] jywarren commented on #604
Just so we can all be on the same page here, would you mind drawing us a
diagram of how the image in the registry is updated, where Travis pulls
from, and where a PR stands in relation to the versions of the image?
Thanks a lot, Alax!

On Thu, May 16, 2019 at 6:31 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-05-16 22:34] jywarren commented on #613
The legacy annotations system -- is that the one you can use in the
interface now? Under the Annotations tab? If so, it seemed to be /almost/
working. What do you think?

On Thu, May 16, 2019 at 10:52 AM Kaustubh Nair <notifications@github.com>
wrote:

[2019-05-16 22:34] alaxalves commented on #604
No problem @jywarren, I'll do it and upload it here. ;)

[2019-05-16 22:39] #509 closed

[2019-05-16 23:09] jywarren commented on #608
This looks great! Thanks, this will help others stay synced with you!

On Wed, May 15, 2019 at 8:22 AM Divya Baid <notifications@github.com> wrote:

[2019-05-17 04:15] sashadev-sky commented on #510
@sagarpreet-chadha reopening this as point 3 has not been resolved yet. Is it still relevant and, if so,
would you like to open an FTO with the code to add the new leaflet-fullHash object?

[2019-05-17 04:21] sashadev-sky commented on #397
@shubhscoder I think your error may have been resolved in some recently merged PRs (see discussion in #419)

Could you please make sure your repo is up to date and then confirm if you are still receiving this error?

[2019-05-17 05:20] icarito commented on #604
Hi @alaxalves actually this is something we want! The devil is in the details! I did some work in this direction - but we need to put everything in ENV variables and iron out details!

[2019-05-17 05:21] icarito commented on #604
https://hub.docker.com/search/?q=mapknitter&type=image
![image](https://user-images.githubusercontent.com/199755/57904726-a5b3be00-7839-11e9-90c2-2b7a27ea9711.png)

[2019-05-17 16:13] SidharthBansal commented on #609
Yeah, It will be great to have a project too. @jywarren please give her rights. i don't have permissions to distribute permissions.

[2019-05-17 16:21] SidharthBansal commented on #609
You can remove FTO from the checklist. FTOs are complimentary.

[2019-05-17 16:23] divyabaid16 commented on #609
I have updated it :smile:

[2019-05-17 16:31] SidharthBansal commented on #609
* [ ] Real-time multi-user image placement
 * [ ] Low latency API using sockets

Can you please divide this further so that we can have much more modularity in reviewing the tasks?

[2019-05-17 18:44] sashadev-sky commented on #183
Hi! I am late this game but looks like this issue is still relevant. My thoughts are these:

-  `Distort` is a much more rarely seen editing tool compared to `RotateScale`, which is pretty standard. So personally, I think staying on distort makes sense.

- Swapping them is also not a real solution to the question of making it clear to a user which editing tools they have at their disposal. It is t

[2019-05-17 19:49] jywarren commented on #183
Another aspect of this is that distort can leave an image accidentally
distorted incorrectly for a first time user. There may be other ways to
address this too, though, like:

1. An easy undo action
2. An easy "revert to original" action

Thanks!

On Fri, May 17, 2019, 2:45 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-17 19:57] rarrunategu1 opened #619 "Allow edit of comment in maps immediately after posting it"
### What happened just before the problem occurred
When a user writes a comment and posts it, it doesn't allow for editing right away because the page needs to be reloaded and it doesn't do that when the post button is clicked.  If you try editing right away the comment disappears and the comment count is subtracted by 1 but if you reload the page it shows the comment again and then you have the a

[2019-05-17 20:07] rarrunategu1 commented on #619
It has been passing the tests because the comments_controller_test actually uses @comment.reload to refresh the object to be able to update.  Otherwise it returns an error.

[2019-05-17 20:09] sashadev-sky commented on #183
@jywarren Ok closing this out and moving relating comments from here into a new issue :)

[2019-05-17 20:09] #183 closed

[2019-05-17 20:11] sashadev-sky opened #620 "Users overlooking that other editing modes exist (besides the default)"
### **Roughly** we are looking for a plan (anyone can add ideas) to resolve the question of how to make LDI editing features more intuitive to a user.

Initially prompted by #183, where it was pointed out that the default `distort` handles:

- [x] make programmers overlook that other editing modes even exist  - **not solved**

- [x] are inconvenient for programmers finding themselves using mostly

[2019-05-17 20:18] rarrunategu1 commented on #591
@jywarren I believe we can close this issue.  Image deletion works fine.  I have not had any issues with it.  Should the user be contacted to see if they're still having the same issue?

[2019-05-17 20:23] jywarren commented on #591
Yes, can you leave a comment on their post on PublicLab? Sairam will be helping us find issues and it'll be good to be in touch!

[2019-05-17 20:23] jywarren commented on #591
Thanks!!

[2019-05-17 20:39] sashadev-sky commented on #183
@jywarren Can you please go into the implications of this in the context of this discussion? I am not grasping what you mean

[2019-05-17 20:58] sashadev-sky commented on #620
@jywarren This is an example of what I mean, how the toolbar will make it obvious what available immediately:

**We could a section that looks like this (except it would really contain Rotate, Scale, RotateScale, Distort)**
<img width="159" alt="Screen Shot 2019-05-17 at 4 54 25 PM" src="https://user-images.githubusercontent.com/41092741/57955684-7f873000-78c4-11e9-9d37-0bbb52132d73.png">

I would

[2019-05-17 21:10] sashadev-sky commented on #620
@jywarren  [commented on Jul 6, 2015](https://github.com/publiclab/mapknitter/issues/183#issuecomment-118884834)

<blockquote>
Another solution, although a bit crude, could be using a separate rotation handle, as is done in some drawing tools:

![image](https://cloud.githubusercontent.com/assets/24359/8525503/3e9ef8e6-23cf-11e5-8696-df164ad81c0d.png)

</blockquote>

[2019-05-17 23:45] alaxalves commented on #604
@jywarren So here I used Plots2 and Mapknitter as an example of what I want to accomplish here.

![image](https://user-images.githubusercontent.com/19597045/57961268-2929e980-78e4-11e9-99ab-553d51dab82a.png)

In a computer somewhere, inside mapknitter project folder:
[code]

After building our image and making it available on our PublicLab Registry on https://hub.docker.com/u/publiclab (for exampl

[2019-05-18 01:26] IgorWilbert commented on #305
Hello! As I was talking to @alaxalves , I am very interested in helping out with this proposal! Here are some thoughts I had after reading @alaxalves proposal:
- The goal to "Update the entire code to a newer Ruby language syntax and Rails framework syntax" seems to be broad and very time-consuming. Maybe we should divide it into smaller parts to handle it better;
- I see that improving CI and may

[2019-05-18 15:38] divyabaid16 commented on #608
@SidharthBansal @jywarren I'm unable to add the project.
I don't have the edits rights yet.

[2019-05-18 19:07] gauravano commented on #608
Hi @divyabaid16, I have created the project - https://github.com/publiclab/mapknitter/projects/3. As @ViditChitkara will be implementing the Synchronous editing part, so I have added more extended the goals. Also, not to worry, I will be coding do the work with you. Please see the goal list in the description of the project. Thanks!

Hi @jywarren, please add more repositories in the https://github

[2019-05-18 19:13] gauravano commented on #608
Also @divyabaid16, as both @ViditChitkara and you have shown interest in Synchronous editing, so you both can collaborate on that, maybe @ViditChitkara can take the majority implementation of Synchronous as their GSoC proposal includes only that. So, let us know, how both of you want to work? Thanks!

[2019-05-19 00:48] alaxalves commented on #604
I have already done the image upload at: https://cloud.docker.com/u/publiclab/repository/docker/publiclab/mapknitter
After we merge #605 I'll go on with this and replace every place the builds the image to start using our already built registry image.

[2019-05-19 05:07] benfanderson commented on #574
Hi, I don't want to hold up things here so feel free to give this task to someone else. Thanks for your patience.

[2019-05-19 07:49] divyabaid16 commented on #608
Okay @gauravano
Thanks!

[2019-05-20 05:03] sagarpreet-chadha opened #621 "Add Leaflet FullHash object for dynamic URL"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-05-20 05:04] sagarpreet-chadha commented on #510
Opened issue #621 for solving 3rd pointer 👍

[2019-05-20 05:41] sashadev-sky commented on #621
assigned to @konolga!

[2019-05-20 05:43] sashadev-sky commented on #510
@sagarpreet-chadha great thank you!! i assigned it to someone already 😊

[2019-05-20 09:47] sashadev-sky commented on #491
@jywarren @alaxalves was this resolved with the switch to codecov(#543)? can it be closed?

[2019-05-20 13:50] alaxalves commented on #491
I think that https://github.com/publiclab/mapknitter/commit/f88fa70629075ccaab32901243fc2bda640a7bd6 already solved this but I might be mislead, @kaustubh-nair Can you answer this?

[2019-05-20 14:19] kaustubh-nair commented on #491
This isn't really resolved, the point of this issue was that it was a prerequisite to getting Coveralls working.
But since we've got Codecov set up, we can close this.

[2019-05-20 14:20] kaustubh-nair commented on #491
Or we can keep it open, in case it is required for something else in the future?

[2019-05-20 14:52] kaustubh-nair opened #623 "Page number buttons formatted incorrectly"
![Screenshot_20190520_202411](https://user-images.githubusercontent.com/30197132/58031037-3f7eb200-7b3d-11e9-8d42-7ea796f570ee.png)

[2019-05-20 20:52] sashadev-sky commented on #491
@kaustubh-nair @alaxalves if it was specific to coveralls lets just close it. It's likely in the future it'd just be easier to start clean and the information in the issue is still available when its closed. Im all for less clutter

[2019-05-20 20:52] #491 closed

[2019-05-20 23:14] #582 closed

[2019-05-20 23:41] jywarren commented on #403
@labseven just checking if you got my message? Thanks!

[2019-05-21 04:40] #612 closed

[2019-05-21 05:17] tech4GT commented on #298
Okay just to sum up, we have a basic exporter process running in gCloud based on is-app
Now the nest steps would be:
- To complete the function which converts the lat/lon coordinates in the json to the inputs for the sequencer module
- Export the completed app as a docker container and deploy it on cloud engine
- Add a geotiff generation module in image sequencer
- Doing optimizations to make the

[2019-05-21 07:43] SidharthBansal commented on #609
Great

On Fri, May 17, 2019, 9:53 PM Divya Baid <notifications@github.com> wrote:

[2019-05-21 10:01] cesswairimu opened #625 "Download as geo.tiff bug"
### What happened just before the problem occurred
During the upgrade to rails 4.2, this test was failing for me https://github.com/publiclab/mapknitter/blob/main/test/unit/warpable_test.rb#L62. Thought it was something I broke and been trying to fix it until @alaxalves and @sashadev-sky informed me they were having the same prob with the test. Thanks guys :smiley:

So I checked out main and tried

[2019-05-21 16:05] jywarren commented on #625
Ah hmm. Are we sure the geotiff is being generated, and is it possibly just
in the wrong place or wrong filename? We should be able to look into
public/warps/... to check and debug this, after running an export!

On Tue, May 21, 2019 at 6:02 AM Cess <notifications@github.com> wrote:

[2019-05-21 16:47] rarrunategu1 opened #626 "Calling API to retrieve user profile location map from PublicLab.org"
### What happened just before the problem occurred
I'm going through PublicLab's API documentation in order to pull a user profile "location map" to display on their mapknitter profile.  Looking at the documentation, I can't seem to find what will help achieve that.  I'm not returning any profile information when I search for a username that exists.  Am I missing something?  Will the API not retur

[2019-05-21 16:55] jywarren commented on #626
Hi! Hoping perhaps @milaaraujo @stefannibrasil @cesswairimu could offer input on API, and @sagarpreet-chadha on display in a leaflet map? And @SidharthBansal I think we can skip direct referring to a PL resource via ruby because if we have the username and uid we can just point a JavaScript function directly at the remote Json from the API and display it in a map, but just pinging you about mk/PL

[2019-05-21 17:00] jywarren commented on #626
It's possible we may need to make a single profile API endpoint but I thought we should be able to get it the way our people map works!

[2019-05-21 17:05] sagarpreet-chadha commented on #626
Hey,
So if the location is shared on publiclab.org , do you want to show the map automatically on mapknitter profile page ?

Currently i think there is no API that gives the location of one user via username or uid .
We have a /peoples API though that gives the location of all users (we can after calling this API , search for xyz person's location if it exists) .

@milaaraujo , @cesswairimu and @s

[2019-05-21 17:11] cesswairimu commented on #625
might be the geotiff its not being created. The folder `public/warps/saugus-landfill-incinerator` exists but `saugus-landfill-incinerator-geo.tif` file is not in the folder. I will need to investigate this further. Thanks Jeff.

[2019-05-21 17:11] rarrunategu1 commented on #626
Thank you @sagarpreet-chadha.  That's very helpful information.  I will look into the /peoples API.

[2019-05-21 17:16] rarrunategu1 commented on #626
@sagarpreet-chadha where can I find the /peoples API?  I can't find it when I search through PublicLab.

[2019-05-21 17:28] sagarpreet-chadha commented on #626
Okay so it seems we have depreciated the /people API that gave all users location information .
We now use this : https://github.com/publiclab/plots2/blob/439d3ce4feed3fdef5323b679ed2b04c8bc93179/app/views/map/_peopleLeaflet.html.erb#L59

As you can see we have to provide two diagonally opposite coordinates in URL which forms a bounding rectangle and all locations within that rectangle are returne

[2019-05-21 18:24] jywarren commented on #626
https://publiclab.org/api/srch/profiles?query=warren should return my username since it's an exact match but it doesn't. If we can ensure the API does return exact matches we can use this endpoint to get lat/Lon for sure. How's that?

[2019-05-21 18:25] jywarren commented on #626
@rarrunategu1 have you added your location on PublicLab.org? If you do I hope your lat/Lon would appear with such a query.

[2019-05-21 18:27] jywarren commented on #626
We may have to modify/improve this function to ensure perfect matches are included!

https://github.com/publiclab/plots2/blob/439d3ce4feed3fdef5323b679ed2b04c8bc93179/app/services/search_service.rb#L233

[2019-05-21 18:29] rarrunategu1 commented on #626
@jywarren I do have my location added which shows with the map on my profile and the following below my photo:
![image](https://user-images.githubusercontent.com/29240939/58121149-b5822800-7bd4-11e9-9b95-7b4ab3172a2a.png)

[2019-05-21 23:28] jywarren commented on #625
Hmm. All the other products are built from the GeoTiff, so if we're not
getting the geotiff we shouldn't get jpg or tiles or zip. I think this is
all working on the live site as i tested it... is this just in your local?
Thanks!

On Tue, May 21, 2019 at 1:11 PM Cess <notifications@github.com> wrote:

[2019-05-21 23:44] jywarren commented on #626
OK, then indeed we have a bug where it's not showing the location for this API endpoint. We'll have to solve this in addition to ensuring it returns exact matches for the query!

https://publiclab.org/api/srch/profiles?query=parker_rose

Let's break this into 2 issues then - one for fixing the inclusion of API, and the other for ensuring exact matches are included.

This is the line where the quer

[2019-05-21 23:49] jywarren commented on #298
This seems just right, although geotiff can wait, for sure! I think the key here is getting the canvas-resize, the overlay/compositing, and the whole thing running to generate a correct output for a given map, which need not include geotiff for now. And actually the optimization is important, but with more memory, we should be OK on that too, and can circle back to that later.

For reference, here

[2019-05-21 23:54] cesswairimu commented on #625
Yeah, maybe, could be :thinking:... @alaxalves could you please try to test this locally if you have a minute and let me know if it works fine or otherwise?

[2019-05-22 00:37] jywarren commented on #626
Oh! Noting that this reliably returns my profile: https://publiclab.org/api/srch/profiles?query=warren&sort_by=recent&field=username

Not sure why that's different but maybe it's at least a workaround to the first issue above.

[2019-05-22 00:38] jywarren commented on #626
(obscure, maybe not helpful, but here's the conditions that extra parameter adds to the query: https://github.com/publiclab/plots2/blob/e201b3b8e7b7bb4a56f7e926a7f6e8bd8b5a7dba/app/services/search_service.rb#L46-L50)

[2019-05-22 02:05] alaxalves opened #627 "Warpable test failing"
### What happened just before the problem occurred

Test for Warpable is breaking.

### PublicLab.org username

@alaxallves

Check https://github.com/publiclab/mapknitter/pull/578/files#r285558211 and https://github.com/publiclab/mapknitter/pull/605#issuecomment-494199024

This test is blocking my work at #605 and consequently a lot of upcoming work.

For bug reports, fill out the above template;

[2019-05-22 15:23] #616 closed

[2019-05-22 15:26] jywarren commented on #619
This is great! Let's aim to fix it, but relatively low priority for now. Thanks!

[2019-05-22 15:42] rarrunategu1 commented on #626
@jywarren , your insight is super helpful.  It makes total sense.  I'm going to give it a try.

[2019-05-22 17:48] rarrunategu1 commented on #626
@sagarpreet-chadha what do you use for testing the API locally?  I looked through the README documentation but I couldn't find information how to test the API.  I am currently using Postman but as I'm researching on testing api's with ruby I ran into rspec which is a gem installed in the application which can be used for testing as well.  What do you suggest for testing them in your local environm

[2019-05-22 18:02] jywarren commented on #626
Hi @rarrunategui1 - i forgot, it's a totally separate app, but you've
gotten plots2 running already I think? If so, you can boot it up, and the
API is just a set of routes in that app. Like,
https://localhost:3000/api/srch/profiles?query=warren

Make sense?

On Wed, May 22, 2019 at 1:49 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-05-22 18:10] rarrunategu1 commented on #626
Oh!  That's much easier.  I was returning the same in Postman...but one less program is nice.

[2019-05-22 20:38] jywarren commented on #608
Hi, all, thanks for getting organized here and sorry it took me a little bit to add the repository privileges! You should be all good now!

[2019-05-22 20:41] jywarren commented on #608
On these two:

* Image ordering in sidebar
* Selection of multiple images to export

There's been much work on this by @sashadev-sky in https://github.com/publiclab/Leaflet.DistortableImage/, most recently in https://github.com/publiclab/Leaflet.DistortableImage/pull/254/

So, it'll be good to introduce yourselves (if you havent already 😄) and get familiar with some of the work there! There is a n

[2019-05-22 22:17] rarrunategu1 commented on #626
@jywarren I've added the code to the search.rb and tested it.  It returns the lat and lon perfectly :)  I'll do a pull request on seperate branches for each issue so I'll turn this one in now and then make the changes for the exact matches on it's own branch.

[2019-05-22 22:49] jywarren commented on #626
Awesome!!!! Great work!!!

On Wed, May 22, 2019, 6:18 PM rarrunategu1 <notifications@github.com> wrote:

[2019-05-23 02:28] sashadev-sky commented on #608
@divyabaid16 are familiar with each other already! 😊😊
If you want to setup a time to go through everything over a phone call I would be glad to help out with that! For image ordering, I need to look into this to confirm but I believe I read somewhere that the featureGroup controls the order of the images ... so this will probably solve that issue for us

[2019-05-23 02:37] jywarren commented on #608
Awesome, I had guessed so! And, we may want to try to develop a plan for
persisting the image order as well, which could be difficult, but might
involve an extra column on the images model! We can dig into this problem
when the time comes. Thanks!!!

On Wed, May 22, 2019, 10:28 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-23 03:07] divyabaid16 commented on #608
That would be great @sashadev-sky.
We can discuss everything in detail either on a video chat or on a text chat.

[2019-05-23 03:08] sashadev-sky commented on #608
Sounds good! @divyabaid16 what is your timezone?

@jywarren agree with digging in when the times comes!

[2019-05-23 14:21] IgorWilbert commented on #599
@alaxalves @jywarren I believe complete separation of `production`and `test` environments would be ultimately necessary to get rid of these errors. Is there any reason why they are tied?

[2019-05-23 15:13] alaxalves commented on #599
I totally agree! It's a huge concern for PL rn.

[2019-05-23 16:51] jywarren opened #631 "Can't scale things down, only up"
In MapKnitter now, on this map, i'm using the "r" key to switch to rotate+scale, but can only seem to scale up, not down: https://mapknitter.org/maps/irish-uk-border-mapping/

As this is in production, I'm marking it as priority -- let's try to pin this down! 🙌

[2019-05-23 17:46] rarrunategu1 opened #632 "Option for Create another map button after user creation of map with image upload"
### What happened just before the problem occurred
When a user creates a map an uploads and image this is the result next to their map:
![image](https://user-images.githubusercontent.com/29240939/58274410-d1b2d000-7d60-11e9-9d3c-1fca85c6f503.png)
I really think the user should be able to have the option of creating another map right from this section, so a button to create another map should help

[2019-05-23 22:11] jywarren commented on #632
This is a good question for @stefannibrasil who's working on some UI issues!

On Thu, May 23, 2019 at 1:46 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-05-23 22:35] stefannibrasil commented on #632
I think it's a good idea :+1:

[2019-05-24 12:49] alaxalves commented on #599
This is being shown a lot problematic. Our current work at Rails 4 upgrade is being blocked due to this, check it out:
![image](https://user-images.githubusercontent.com/19597045/58328661-07ab8f00-7e09-11e9-88bc-fdb18b6664e9.png)

We have to get https://github.com/publiclab/mapknitter/pull/628 merged first than https://github.com/publiclab/mapknitter/pull/605 after this @cesswairimu can integrate

[2019-05-24 21:00] cesswairimu commented on #627
also linking #625 might be related

[2019-05-25 04:46] gauravano opened #634 "Call for Reviewers 🎉"
Hi everyone, our community is growing fast :rocket: :zap:. Thanks to the number of contributions each one of you has made. With the growth of new contributors to the Mapknitter and so many new and exciting projects, we want your help with reviewing and so we invite people to step up and volunteer to be the part of reviewers group :smiley:. Also, we are preparing the software community roadmap at h

[2019-05-25 13:16] alaxalves commented on #627
@cesswairimu Is it breaking on the `main` branch or in https://github.com/publiclab/mapknitter/pull/578

[2019-05-25 15:35] cesswairimu commented on #627
Yes it is...Could you please try on your end

[2019-05-26 11:59] gauravano commented on #593
Hi, closing this issue as we are running separate planning issues for Image management and Synchronous editing - #608 and #609. Thanks!

[2019-05-26 11:59] #593 closed

[2019-05-26 12:03] gauravano commented on #609
Hi @divyabaid16, yes it's better to create a separate project for Synchronous editing. Also, try to label issues of mapknitter now, I think @jywarren added mapknitter to access the list of SoC. Let us know if you're still having problem with editing/labeling issues.

Also, I saw that you have shown interest in Image management in #608. So, would you be working on both Image Management and Synchron

[2019-05-26 12:29] divyabaid16 commented on #609
I checked it just now again and I still don't have the privileges.

I was planning to first finish up with the task of Image Management and then go with Synchronous Editing.
But if needed at a later stage, I may start up with Synchronous Editing early before finishing the Image Management Part.

Thanks!

[2019-05-26 12:32] divyabaid16 commented on #608
Hello @sashadev-sky I'm sorry it took me few days to reply.
My time zone is GMT+5:30 i.e Indian Standard Time.
We can have a chat tomorrow so that we can go through everything.

Is this fine with you?

Thanks!

[2019-05-26 12:46] gauravano commented on #609
As @ViditChitkara has only proposed for Synchronous editing, so maybe we can let him start with it first and you can start with Image management. After completing Image management, you can join Synchronous editing? What do you think @divyabaid16?

[2019-05-26 12:48] gauravano commented on #609
@jywarren the labeling rights are still not in place. Maybe, try changing the access to write type - https://github.com/orgs/publiclab/teams/soc/repositories here? Thanks!

[2019-05-26 14:24] ViditChitkara commented on #609
Hi @divyabaid16 , @gauravano , we may discuss the synchronous editing part here like how shall we approach it. Then we may split the tasks among us. Does that make sense?
Thanks

[2019-05-26 15:34] gauravano commented on #574
Hi @benfanderson, no issues. Are you still getting this - https://github.com/publiclab/mapknitter/issues/574#issuecomment-491720393 error while running `rake db:setup`?. Also, please pull the latest main branch as we are continuously updating the `main` branch.  Thanks!

[2019-05-27 00:00] sashadev-sky opened #636 "Fix singularization case for "images""
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-05-27 05:32] PoseidonSigmaX commented on #636
Hey, I'd like to work on this, shall I get started?

[2019-05-27 06:30] divyabaid16 commented on #609
That's great @ViditChitkara
Thanks!

[2019-05-27 06:47] divyabaid16 opened #638 "Image ordering in sidebar"
Option to sort the images based on
- [ ] Size of the file
- [ ] Name of the file
- [ ] Time of upload
- [ ] Based on the image placement on the map. i.e the topmost image must be placed on the top of the sidebar.

These can be arranged in descending as well as ascending order.

Steps to follow:
- [ ] Create a basic UI
- [ ] Implement the function of sorting

[2019-05-27 07:12] divyabaid16 commented on #638
@jywarren @gauravano Should I also implement the option for the user to drag and drop the image and arrange them in the order they want in the sidebar? This can be considered as manual sorting.

[2019-05-27 11:12] divyabaid16 opened #639 "Change cursor to pointer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-27 13:33] sashadev-sky commented on #390
I'm going to close this one because @divyabaid16 is right that it's a duplicate and the other has a pull! I'm going to check-in with the user on their pull request there because they opened it a month ago

[2019-05-27 13:33] #390 closed

[2019-05-27 13:36] sashadev-sky commented on #570
@jywarren @gauravano this issue never got any attention but I was actually just thinking about it too! Is this the best way to approach showing anonymous maps? Would it make more sense to make an "all" option instead next to the "featured" and "authors" sections that doesn't discriminate between anonymous / not?

[2019-05-27 16:51] kaustubh-nair opened #641 "Creating maps with password"
This looks like an old feature which was recently removed.
I don't think it is a very useful feature, and if we are not going to have such a feature, we should remove it properly. What do @publiclab/mapknitter-reviewers think?
The password attribute is still present in the model and it is being mentioned in a lot of places in `maps_controller`
Let's remove all the remnants of this feature from the

[2019-05-27 19:49] sashadev-sky commented on #568
Closing this one because of duplication with #126 !

[2019-05-27 19:49] #568 closed

[2019-05-28 05:45] divyabaid16 opened #644 "Order images in the sidebar using drag and drop"
**Description**
The user must be able to move the images in the sidebar and position them.
![Peek 2019-05-28 11-11](https://user-images.githubusercontent.com/32747809/58453659-9be36200-8139-11e9-904e-e3f3a6f60fa8.gif)

[2019-05-28 12:12] gauravano commented on #638
Yeah, that would be good.

[2019-05-28 16:22] tech4GT commented on #298
Update on the node.js exporter:
- The export process is now using multiSequencer parallelized workflow!
- The app is set up with docker, and is ready to be deployed and tested.
cc @jywarren

[2019-05-28 16:25] jywarren commented on #298
OK, awesome. Great to hear it!

On Tue, May 28, 2019 at 12:23 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 16:32] tech4GT commented on #298
@jywarren I was also thinking of adding a benchmarking test like we have on main is repository. That'll tell us how each of the optimizations we make affects the server response times!

One more thing.. what kind of workload can we expect on this service? I mean is it possible we would be dealing with multiple requests at the same time?
Actually, right now I have not scaled the app for multiple pr

[2019-05-28 16:36] jywarren commented on #298
And, we still need to address the array size issue in get-pixels and
save-pixels, right? I made an issue here to track all of that thoroughly:
https://github.com/publiclab/image-sequencer-app/issues/12

On Tue, May 28, 2019 at 12:25 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-28 16:45] tech4GT commented on #298
@jywarren Could you please also respond to the query I mentioned above! Thanks a ton! :)

[2019-05-28 17:25] jywarren commented on #298
We should be able to load balance a cluster using the infrastructure Sebastian has made, yes!

[2019-05-28 17:26] tech4GT commented on #298
Oh! In that case I don't have to worry about it! Awesome!! Thanks a lot!! 🤩

[2019-05-28 17:32] jywarren commented on #298
:-)

On Tue, May 28, 2019 at 1:27 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:06] #636 closed

[2019-05-28 18:08] jywarren commented on #634
@publiclab/mapknitter-reviewers how do we feel about the above "policy" of 2+ approving reviews, with tests preferred, and using this policy to expand the group with merge privileges?

[2019-05-28 18:21] cesswairimu commented on #634
Sounds good to me

[2019-05-28 18:33] jywarren commented on #641
Ah, thanks for opening this here! I just commented on the other end. Let's
just be sure that we don't expose any previously passworded map. It's not
currently possible to make a passworded map, is it?

On Mon, May 27, 2019 at 12:52 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-05-29 02:45] tech4GT opened #646 "[URGENT] API key commited?"
<img width="681" alt="Screen Shot 2019-05-29 at 8 13 30 AM" src="https://user-images.githubusercontent.com/25617855/58525550-becd4f00-81e9-11e9-85fd-e382bca74b19.png">
The email says that it is contained here https://github.com/publiclab/mapknitter/blob/cf1015ae69ebc3640e886634329775e683227edc/app/models/map.rb

@sashadev-sky @jywarren Is this intentional??

[2019-05-29 02:48] tech4GT commented on #646
<img width="666" alt="Screen Shot 2019-05-29 at 8 18 10 AM" src="https://user-images.githubusercontent.com/25617855/58525710-59c62900-81ea-11e9-9048-1edb358a3022.png">

[2019-05-29 02:50] jywarren commented on #646
Was this maybe pushed by accident?

https://github.com/publiclab/mapknitter/commits/cf1015ae69ebc3640e886634329775e683227edc/app/models/map.rb

It should be ok and we should be able to turn off that key, but good catch
if it wasn't intentional!

On Tue, May 28, 2019, 10:45 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-29 03:04] jywarren commented on #646
Hi! Ok I checked and it's just a maps API key. Not a big deal. Thanks
anyway!!!

On Tue, May 28, 2019, 10:50 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-29 04:04] #646 closed

[2019-05-29 04:04] tech4GT commented on #646
Glad to hear it! :smile:

[2019-05-30 00:18] #508 closed

[2019-05-30 02:27] divyabaid16 commented on #608
Hi @sashadev-sky I have pinged you in Gitter.
Have a look at it once.

Thanks!

[2019-05-30 02:28] sashadev-sky commented on #608
@divyabaid16 Sorry i missed this! Will do right now

[2019-05-30 08:37] divyabaid16 opened #647 "Update Developers section in Readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-30 15:33] kaustubh-nair commented on #641
Yes that is correct.
We make passworded maps anymore. The input box is commented out.

https://github.com/publiclab/mapknitter/blob/6c79669983a5707a622f1cd90b3cc1d5d562eb84/app/views/map/_new.html.erb#L96-L97

[2019-05-30 16:19] kaustubh-nair commented on #641
The input box was commented out for even the first commit for the file`mapknitter/app/views/map/_new.html.erb` ( about 10 years old)
Was map passwords ever supported? :)
https://github.com/publiclab/mapknitter/commit/d5dcf83425f0af3e2cf0c355e1b92e3e0c5d79f6#diff-cfcebd3fbbb051aab6177fbe45073891

[2019-05-30 16:22] divyabaid16 commented on #280
I think this issue has been fixed now.
Thanks!

[2019-05-30 16:24] kaustubh-nair opened #648 "Remove coveralls badge from Readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-30 17:15] divyabaid16 opened #649 "Update Readme"
Update README.md
Currently, Readme.md looks a bit messy without any index.
Add Table of contents and arrange everything in a serial manner.

Thanks!

[2019-05-31 06:04] kaustubh-nair commented on #634
Sounds like a good idea @jywarren

[2019-05-31 10:59] sashadev-sky opened #654 "Cloud Setup - add Codenvy"
**Codenvy** - workspaces are disabled as of tomorrow so the whole **AWS** section will have to be removed and replaced with Codenvy.

[2019-05-31 11:03] cesswairimu opened #656 "Understanding/Upgrading the image upload feature"
### What happened just before the problem occurred
I am upgrading Rails from 3.2 to 4.2. The image upload feature is not working right now, nothing happens when you hit the upload button.
![images](https://user-images.githubusercontent.com/17081074/58700142-fd106d00-83a7-11e9-9afa-b7ac6100144f.gif)
Nothing is registered in rails logs as well as js so its hard to debug :confused: .

### Relevant UR

[2019-05-31 11:25] cesswairimu commented on #656
There was a confusion on what the create action  https://github.com/publiclab/mapknitter/blob/main/app/controllers/images_controller.rb#L26-L43 . So when changing from to strong parameters. I passed all the warpable attributes in the params hash like so
[code]
That did not work. I tried a couple of things but the next "correct" path I followed was to leave it as is and just have mass assignment se

[2019-05-31 11:26] cesswairimu commented on #656
Pinging @jywarren @gauravano @sashadev-sky any pointers? Thanks.

[2019-05-31 13:23] sashadev-sky commented on #656
@cesswairimu I pulled your branch and made commit suggestion that should fix it! If that works you, you understand the upload feature and it was just a bug 👍👍

[2019-05-31 13:54] kaustubh-nair commented on #307
@benfanderson Sorry for such a late reply... What operating system are you running?

[2019-05-31 14:55] kaustubh-nair opened #657 "OAuth providers uses PL system for authentication"
Clicking on Twitter/Github/Google login uses the public lab authentication system
Is this something to be done in the future?

[2019-05-31 14:55] kaustubh-nair commented on #657
@SidharthBansal @jywarren

[2019-05-31 15:21] cesswairimu commented on #656
Thanks so much @sashadev-sky for taking a look. Giving it a try in a few.

[2019-05-31 15:46] jywarren commented on #654
Thanks! +1 CodeEnvy, folks have been using it! It's not perfect but it does
work.

On Fri, May 31, 2019 at 6:59 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-31 15:48] jywarren commented on #657
Sorry, is there a problem? We want the user accounts to be run out of PL.org, and to enable using PL.org's OAuth -- i think this is working now, is it not?

Thanks @kaustubh-nair !!!

[2019-05-31 15:49] #649 closed

[2019-05-31 15:52] #617 closed

[2019-05-31 16:00] kaustubh-nair commented on #657
@jywarren  Ah I see how it works now...
I got a little confused because I'm logged in to my PL account that uses Github as the Oauth provider, mapknitter would log in to the same PL account no matter which provider used.
So if I'm already logged in on PL, twitter/google/github/facebook yields the same account on mapknitter.
So I guess this is not a problem? we should be okay as long as it yields t

[2019-05-31 16:31] jywarren commented on #657
Ah, yes, that is the idea. If @SidharthBansal has anything to add, though,
I defer to him, as he wrote the system! Thanks!

On Fri, May 31, 2019 at 12:00 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-05-31 22:59] sashadev-sky commented on #654
@jywarren they probably setup before the merge conflict then! It works just I think its good to consider a way where that doesn't happen. I also spend a lot of time with FTOs so its been on my mind how to make setup easier with rails.

Maybe codeEnvy has a way to change the default branch. I will check ☺️. I also was thinking, have you ever used **Gitpod**? I think it might be a complete game chan

[2019-06-01 00:22] nycbeardo commented on #647
Will try my hand at this!

[2019-06-01 13:45] st3v0o commented on #648
I would like to claim this issue. Thanks!

[2019-06-01 14:13] cesswairimu commented on #656
Closing this. Thanks again @sashadev-sky :raised_hands:

[2019-06-01 14:13] #656 closed

[2019-06-01 15:12] spShashankGit commented on #647
I would like to claim this issue if not already claimed.

[2019-06-01 15:45] spShashankGit commented on #647
I tried commit my fix to the main branch as well as to a newly created branch called 'first-timer-issue-647' but both the times I got error msg saying 'remote: Permission to divyabaid16/mapknitter.git denied to spShashankGit.'
Could you please let me know what I am missing?
I am sorry to bother you over such a trivial problem :(

[2019-06-01 22:00] gauravano commented on #654
Hey @sashadev-sky Gitpod looks great. They have an Open source plan too which gives 100 hrs/month. If the # of hours is sufficient then, we can think about it too?

[2019-06-02 16:16] spShashankGit commented on #647
Above problem is solved.
I did not fork your repo hence the whole problem.
All good now!

[2019-06-03 07:26] divyabaid16 opened #659 "Selection of multiple images to export"
I would like to work on the following:

- [ ] The user can select multiple images to export via checkbox.
- [ ] The user can select the option to get the images via email after the export is completed.

Thanks!

[2019-06-03 14:59] jywarren commented on #659
Thanks Divya! This is in the sidebar, right? Just pinging @sashadev-sky to
stay synced as the multiple image export generator is coming together.
Perhaps you can brainstorm how to divide this up or who would take an
initial pass on it? Thank you both!

On Mon, Jun 3, 2019 at 3:27 AM Divya Baid <notifications@github.com> wrote:

[2019-06-03 17:21] divyabaid16 commented on #659
Yes, this is in the sidebar.

[2019-06-03 19:42] alaxalves commented on #627
Fixed at https://github.com/publiclab/mapknitter/pull/605/commits/654361e0e451ee3c473efde379c295ab50860b43

[2019-06-03 19:42] #627 closed

[2019-06-03 19:44] alaxalves commented on #599
Done in https://github.com/publiclab/mapknitter/pull/605/

[2019-06-03 19:44] #599 closed

[2019-06-03 21:49] rexagod opened #663 "Refactor EXIF conditionals"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-03 21:50] rexagod commented on #663
@gauravano Can you give this a FTO label, thanks!

[2019-06-03 22:58] gauravano commented on #663
Sure! Also, would you like to have some more permissions on this repository like labeling, editing issues, `unstable` use, etc?

[2019-06-03 23:53] rexagod commented on #663
Considering the fact that my project has to finally be integrated here (from LDI), I guess this will make things a lot more easier! Thanks, @gauravano!👍

[2019-06-04 00:45] gauravano commented on #663
Do you have special permission in image sequencer and leaflet blurred location as we may need to change permission for other repos to "write" here - https://github.com/orgs/publiclab/teams/soc/repositories?

[2019-06-04 11:41] rexagod commented on #663
@gauravano I do have special permissions (read, label, edit issues) for image-sequencer and lbl repos, but please go ahead with this only if it seems convenient and okay to you, in any case, I'm fine with pinging with you (or others with special permissions) for minor tasks, if I don't get special permissions at the moment for any reason, whatever that may be.

[2019-06-04 12:36] kaustubh-nair opened #665 "Unstable branch usage for Rails upgrade"
Current proposal:
* Publish Rails upgrade to `unstable`
* Test and fix issues in small self-contained PRs
* Review PRs and merge again to `unstable`
* Maintain a work in progress PR from `unstable` to `main`
* Rebase WIP PR every 1-2 days (depends on frequency of fixes)

[2019-06-04 12:38] kaustubh-nair commented on #665
@cesswairimu @alaxalves @jywarren @sashadev-sky @SidharthBansal

[2019-06-04 12:52] cesswairimu commented on #665
Hey @kaustubh-nair, thanks for creating this. Great plan..I will create an issue for reporting bugs. Is it okay if I push to unstable right now @jywarren. Thanks all.

[2019-06-04 15:29] kylemumma commented on #663
It doesn't look like anybody else has claimed this issue, can I take it?

[2019-06-04 19:36] rexagod commented on #663
Hey, @kylemumma! Go ahead, and let us know if you need help with anything!

[2019-06-04 19:48] jywarren commented on #317
I was thinking if anyone wants to help go through these, maybe a good process would be:

1. choose one of these: https://github.com/publiclab/mapknitter/labels/dependencies
2. leave a comment like "i'm going to test this out locally!"
3. try updating the gem as shown in Dependabot's update
4. run `bundle install`
5. start up the application locally
6. try out the features that would be affected by

[2019-06-04 21:36] kylemumma commented on #663
Hi @rexagod I was not able to edit the code in the browser so I forked the repo and cloned it like in [the tutorials](https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github). I was reading the readme.md and saw installation instructions with prerequisites but was not able to follow it, i'm not sure if I need to or not. This is what I changed the code to:

first code block

[2019-06-05 00:28] alaxalves commented on #665
@cesswairimu Maybe you could open #578 to our unstable branch, I think that we could go further/faster with our work by doing that. Currently our work is very "slip up", and I think it's time we start integrating.

@publiclab/reviewers @publiclab/maintainers @sashadev-sky @jywarren @icarito @SidharthBansal could yall give your opinion here?

[2019-06-05 17:48] alaxalves commented on #665
Ok, so @cesswairimu @kaustubh-nair I have just created a branch named `development` so support this planning of ours. I'll merge #578 on top of this branch, and we all could open PR's/merge ou work to it, instead of the `main` branch.

[2019-06-05 17:56] alaxalves commented on #665
I'll work on the problematic tests and the rubocop offenses, I will create a PR to development after its done so you can check it out. The same goes for you guys, from now on we create branches from development branch and open PR to it. Meanwhile we could open a WIP PR from development to main, so that the mentors and community could keep track of what we're doing.

[2019-06-05 18:12] rarrunategu1 commented on #591
Hello @publiclab/reviewers.  I'm boggled by what is happening here.  I can delete any image I put on a map I create with no problem.  I thought it could've been something wrong with this person's url.  Everyone else has a Url that matches their map name but in this particular situation the map name is "Garbage hot spots" with a url id going to airpollution"  I replicated the situation by changing

[2019-06-05 18:13] rarrunategu1 commented on #591
I'm sorry to say that the image on the right of the map is mine.  I didn't think I could add one since it wasn't my map.  I tried deleting it but again this particular map does not allow that.  All other maps I've created do allow image deletion.

[2019-06-05 19:00] cesswairimu commented on #665
Hey @alaxalves am almost done with the codeclimate issues please take a look at the failing test that's what's left.  thanks

[2019-06-05 19:03] alaxalves commented on #665
@cesswairimu Check https://github.com/publiclab/mapknitter/pull/667, then publish your work on top of it.

[2019-06-05 19:21] jywarren commented on #665
Should be fine to publish to unstable as much as you need! Thanks!

On Wed, Jun 5, 2019 at 3:03 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-06-05 20:04] sashadev-sky commented on #665
Sounds like a plan!

[2019-06-05 20:15] cesswairimu opened #668 "Bugs reporting with Rails 4 upgrade"
I am finishing up with  Rails  4.2 upgrade #578  ... calling for people to test the upgraded version on unstable http://mapknitter-unstable.laboratoriopublico.org/ and please comment below if you find any bugs thanks.

[2019-06-05 20:16] alaxalves commented on #665
BTW @cesswairimu I have fixed the problematic test at #667 and fixed some minor offeses. If you and @kaustubh-nair please review that. :)

[2019-06-05 20:17] jywarren commented on #591
whoa. does this happen for only anonymous maps? I was thinking perhaps it
was because there's no way to know if an anonymous user uploaded a given
image -- otherwise i think we allow map owners to delete, but if it's
anonymous, we don't know if you're the map owner. But in that case should
we, perhaps, make it possible to take it off the map, but keep it in the
images sidebar?

On Wed, Jun 5, 2019

[2019-06-05 20:26] alaxalves commented on #665
![image](https://user-images.githubusercontent.com/19597045/58987957-fd00da80-87b6-11e9-80c4-f5a214993df4.png)
:tada: :tada: :tada: :tada:

[2019-06-05 20:31] alaxalves commented on #668
OMG, I did not know that this was on unstable already :smile: :smile: :smile: :smile:

[2019-06-05 20:45] rarrunategu1 commented on #591
anonymous maps...I'll look into that.  Thanks Jeff.

[2019-06-05 20:52] jywarren commented on #663
I tweaked the permissions, giving `write` to the `soc` team on all but plots2 and distortableImage... where i gave `triage`. But with protected branches I think we could do `write` on all... what do you think?

[2019-06-06 00:38] jywarren commented on #665
Awesome!!!

On Wed, Jun 5, 2019, 4:27 PM Álax de Carvalho Alves <
notifications@github.com> wrote:

[2019-06-06 01:12] ManethKulatunge commented on #648
I would like to claim this if available.

[2019-06-06 01:37] #280 closed

[2019-06-06 01:54] jywarren commented on #654
Oh my gosh it does look nice!

On Sat, Jun 1, 2019, 6:01 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-06 01:56] jywarren commented on #641
Wow an oldddddd commit!

Ok so how are we doing on a plan to preserve access and privacy for maps
that do have passwords. I can pull stats on how many there are...?

On Thu, May 30, 2019, 12:20 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-06-06 07:15] divyabaid16 commented on #659
Hey @sashadev-sky would you like to give your views on this?
What has been done and what has to be done?

As I can see from a huge discussion going on at #326 #298 that we have a huge exporting system implemented. I took some time to understand the process. Jeff has explained that in a very good manner :)

As far as I have understood, we can download a single image and the export is for all the im

[2019-06-06 11:16] kaustubh-nair commented on #641
@jywarren I have a question though. How do the users who have created passworded maps, view those maps?
It's not visible on the dashboard as you can see here. We don't display passworded maps.
https://github.com/publiclab/mapknitter/blob/03deef103df0d76a84c6de1a3c73e9712fd6f539/app/controllers/maps_controller.rb#L12-L17

[2019-06-06 11:20] kaustubh-nair commented on #641
Okay..wow
I also had a look at /profile/username and I realized that you can see all the maps belonging to the user on that page. Even the ones that are password protected!
Here's a screenshot:

Saugus Landfill Incinerator should not be seen since it is passworded

![Screenshot_20190606_164757](https://user-images.githubusercontent.com/30197132/59029136-18351e00-887b-11e9-8ce4-e2fe4f794024.png)

!

[2019-06-06 11:21] kaustubh-nair commented on #641
Here's the code
We're not doing a check for passwords
https://github.com/publiclab/mapknitter/blob/03deef103df0d76a84c6de1a3c73e9712fd6f539/app/controllers/users_controller.rb#L4-L9

[2019-06-06 11:24] kaustubh-nair commented on #641
Also can you give a count of how many passworded maps present currently?
Is it safe to make them public now, if we notify the users? (even though they kind of already are public if you know whose profile to look into :/)

[2019-06-06 11:29] kaustubh-nair commented on #668
- Can't login ( https://gist.github.com/kaustubh-nair/c919d8cf0a885d9adf4d112694038110)
- Oauth buttons don't show up
![Screenshot_20190606_165814](https://user-images.githubusercontent.com/30197132/59029638-6ac30a00-887c-11e9-84dd-c72a95334b86.png)

[2019-06-06 11:29] kaustubh-nair commented on #668
Let's create new issues for any bug that turns up? I can help out with the issues too

[2019-06-06 11:48] kaustubh-nair commented on #668
Just realized the login problem is because unstable has some commits ahead of main that don't work
https://github.com/publiclab/mapknitter/network
@jywarren Should we reset `unstable` to match with main?

[2019-06-06 11:59] kaustubh-nair commented on #648
@st3v0o @ManethKulatunge I believe @garg3133 already has a PR on this one!
Would it be okay if you try another FTO issue?
Thanks!

[2019-06-06 12:56] sashadev-sky commented on #659
@divyabaid16 Its not working just yet but it should be really soon! I am currently working on getting the json data out of the upstream library and making ajax request https://github.com/publiclab/Leaflet.DistortableImage/pull/286

[2019-06-06 14:28] jywarren commented on #668
You can force push to unstable!

On Thu, Jun 6, 2019, 4:48 AM Kaustubh Nair <notifications@github.com> wrote:

[2019-06-06 14:30] jywarren commented on #641
I'll check the count. Will need a few days though as I'm off today
and tomorrow, thanks for your patience! I think we used to hide them on
profile pages (or at least for others) and warn people to write down the
URLs.

Thanks!

On Thu, Jun 6, 2019, 4:25 AM Kaustubh Nair <notifications@github.com> wrote:

[2019-06-06 16:15] divyabaid16 commented on #659
So, should I work on multiple image export later?
Till that I can work on some other issue.
Thanks!

[2019-06-06 18:46] cesswairimu commented on #668
Thanks @kaustubh-nair yeah we can have issues for the failing parts and yeah you can go ahead and work on that. Also on the unstable part having commits ahead of main is because now unstable have the commits on #578 which  we are now testing

[2019-06-06 19:37] alaxalves commented on #668
Ok cool, so @kaustubh-nair will keep tracking bugs with 4.2 version and will keep his good work at https://github.com/publiclab/mapknitter/pull/357. I'll get https://github.com/publiclab/mapknitter/pull/667 merged then start working on the 4.2 ~> 5.1.6 upgrade. And @cesswairimu are you going to keep working with us on the upgrades or are going for different issues?

[2019-06-06 19:41] cesswairimu commented on #668
Sounds good..and yeah I will keep working with you on the upgrade :smiley:

[2019-06-07 06:57] divyabaid16 opened #673 "Add margin to sidebar content"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-07 07:26] theghostyced commented on #673
Hi @divyabaid16.. Has someone else claimed this yet? If not I would love to do it

[2019-06-07 10:09] sashadev-sky commented on #634
Hi I completed the tasks :)
1) FTO: #636
2) PRs Merged: #483, #552
3) Troubleshooting: https://github.com/publiclab/mapknitter/pull/547

[2019-06-07 10:12] sagarpreet-chadha commented on #634
I would also love to join this team as well :-)

[2019-06-07 17:16] rarrunategu1 commented on #591
The anonymous user can't delete an image nor delete a map.  Two fixes will be required.

[2019-06-07 18:11] jywarren commented on #591
One possibility is also just showing an error message to explain this?

On Fri, Jun 7, 2019, 10:16 AM rarrunategu1 <notifications@github.com> wrote:

[2019-06-07 18:30] cesswairimu commented on #668
@kaustubh-nair I just fixed the login error could you please try again on unstable when you get a minute? Thanks

[2019-06-08 06:33] sashadev-sky commented on #620
Still happening 2 days ago: https://github.com/publiclab/Leaflet.DistortableImage/issues/298

[2019-06-08 13:28] Danielshow commented on #623
Hey @kaustubh-nair, I think I can work on this if it has not been fixed

[2019-06-08 13:32] Danielshow commented on #597
Hey @jywarren, is this still open? I can work on it.

[2019-06-08 16:56] CoderJolly commented on #668
I was jst trying it, the error still persists (its nt really an error, bt the site doesn't respond aftr clicking on Google sign-in)

[2019-06-08 17:11] cesswairimu commented on #668
mmmh thats weird because it logs me in...@CoderJolly  did you try any of the other sign-in via methods and did any work? Thanks for taking a look

[2019-06-08 19:16] CoderJolly commented on #668
Sure, I am free with my exams now and will see these. 👍

[2019-06-08 19:45] cesswairimu commented on #668
Awesome! Thanks

[2019-06-08 21:22] sashadev-sky commented on #124
@jywarren is it okay to bump a new version of LDI because of the switch to material design? https://github.com/publiclab/Leaflet.DistortableImage/pull/255 (in LDI and here) and then close this one now? we've implemented `selected`, `mode`, fixed hovertext, etc. to address it (see list of issues in the epic) and have separate issues for unaddressed things like #620

[2019-06-08 22:40] sashadev-sky opened #676 "README Update Mapknitter spelling"
### What happened just before the problem occurred

We have at least 4 different names for mapknitter in the README:

- MapKnitter 2

- MapKnitter

- Mapknitter

- Map Knitter (This one is in the license!)

Can we standardize to one name? I think Mapknitter is sensible?

[2019-06-08 22:40] sashadev-sky commented on #676
@publiclab/mapknitter-reviewers @gauravano @jywarren

[2019-06-08 23:15] gauravano commented on #676
Is there any reason for MapKnitter 2? If not major rewrite or so, then agree with Mapknitter.

[2019-06-09 00:48] sashadev-sky commented on #676
I think its because there was once a version of it and we're revitalizing it! In `bower.json` its registered as mapknitter though (not sure if that matters)

It wouldn't be a huge update. Its mentioned in the actual library only a few times

[2019-06-09 11:00] #673 closed

[2019-06-09 11:05] divyabaid16 commented on #659
I will start with the UI part after publiclab/Leaflet.DistortableImage#286 is merged.
Thanks!

[2019-06-10 02:43] kaustubh-nair commented on #623
Sure @Danielshow go ahead!

[2019-06-10 13:09] kaustubh-nair opened #679 "Login does not work"
While trying to login on localhost I get the error
[code]

[2019-06-10 13:09] Divyanshu29 commented on #621
Is the issue still open? Can i contribute still?

[2019-06-10 13:09] kaustubh-nair commented on #679
@publiclab/mapknitter-reviewers Can anyone please try this out and confirm it not working?

[2019-06-10 13:13] cesswairimu commented on #679
Is this for the upgrade? If so I already fixed that.

[2019-06-10 13:13] kaustubh-nair commented on #679
No this is happening on the main branch as well

[2019-06-10 13:16] cesswairimu commented on #679
Oh gotcha. This was my fix for upgrade  https://github.com/publiclab/mapknitter/pull/578/commits/934dc8f7c50c2ea0e390f437684f30ea99132b2a maybe it could help whoever takes up to fix the issue

[2019-06-10 13:19] kaustubh-nair commented on #679
Ah awesome that works
Thanks! @cesswairimu!

[2019-06-10 13:24] kaustubh-nair commented on #679
Looks like it happened when @alaxalves changed the scope of the variables here using rubocop's autofix feature https://github.com/publiclab/mapknitter/commit/713e387bdbe8baaa64847dadf552ec29e4a0b2aa#diff-d5241d488259f32ecbe2f636133e5dda
@publiclab/mapknitter-reviewers Just a heads up, please be careful while autofixing rubocop errors!

[2019-06-10 13:26] cesswairimu commented on #679
Good catch @kaustubh-nair , could that be a reason why `development` branch is failing on unstable?

[2019-06-10 14:41] cesswairimu commented on #665
@alaxalves https://github.com/publiclab/mapknitter/tree/development is failing on unstable with
![Screenshot from 2019-06-10 17-38-40](https://user-images.githubusercontent.com/17081074/59203171-b50ef880-8ba6-11e9-9c61-adc1330b63d8.png)
Not sure what the error is but I guess its not safe to merge it to main we will have the other branch merged if that's okay with you so that I can unblock you guys

[2019-06-10 16:15] kaustubh-nair commented on #665
@cesswairimu I tried to clean some older commits and push to `unstable` but it is still broken
@jywarren Would it be possible to pull up the logs when you have time? Thanks

[2019-06-10 16:46] jywarren commented on #665
Hi all, i believe the startup log output is available at
https://jenkins.laboratoriopublico.org, but if not, ping me and I can look
on the server itself!

On Mon, Jun 10, 2019 at 12:16 PM Kaustubh Nair <notifications@github.com>
wrote:

[2019-06-10 17:04] kaustubh-nair commented on #665
Got it thanks :+1:
@cesswairimu Have you encountered this error before during the upgrade? If not I'll look into it.
https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/79/console

[2019-06-10 17:11] cesswairimu commented on #665
No I haven't.

[2019-06-10 18:11] jywarren commented on #665
Do we need to correct https://github.com/publiclab/mapknitter/#staging-infrastructure-and-testing to say that `main` is linked to `stable` but `unstable` is linked to `unstable`?

[2019-06-10 18:13] jywarren commented on #679
Will this need a fix, then? Thanks for the catch!

[2019-06-10 18:15] jywarren commented on #665
Also noting that @rarrunategu1 has just pushed to `unstable` but there seems to be an issue with the `chalk` js library...

https://jenkins.laboratoriopublico.org/

here's the log output for that build: https://jenkins.laboratoriopublico.org/job/Mapknitter-Unstable/81/console

`Uglifier::Error: Unexpected token: name (TemplateStringsArray)`

any ideas?

[2019-06-10 18:29] jywarren commented on #641
OK, there are 18 maps with passwords. I've identified about 12 that can be made public. 4 more are on a project I'm involved with and I'll email the creator.

The remaining 2 I believe I can track down and am doing so... thank you! So I believe we can plan to deprecate this feature once we figure this out.

[2019-06-10 18:37] #523 closed

[2019-06-10 18:38] kaustubh-nair commented on #679
Yes I think it needs a fix but I also think it's kind of weird that login works for `main`

[2019-06-10 18:54] kaustubh-nair commented on #679
Oh turns out it doesn't work on `main` either

[2019-06-11 13:11] alaxalves commented on #665
Yes, Cess the idea is only merging to main when we get it all working with Rails 6, so it'll take a lil time to merge it to main branch. The idea is keep hotfixing development with Rails 6 until it gets stable enough to get to main.

[2019-06-11 13:32] kaustubh-nair commented on #665
What is the idea behind waiting till Rails 6 ? @alaxalves ?

[2019-06-11 13:47] kaustubh-nair commented on #665
Anyway, `unstable` seems to be up with Rails 4 right now. Might have been some problems with older commits

[2019-06-11 13:51] cesswairimu commented on #665
That is still from branch #578 `development` is still failing

[2019-06-11 14:01] kaustubh-nair commented on #665
And the Gemfile.lock was different as well.
I see the problem now
[code]
This is the error on unstable for `development`
@alaxalves Please don't run `bundle update` without testing rigorously. The Recaptcha version bump in this commit https://github.com/publiclab/mapknitter/commit/5bb19c2ec8264d1b0a53855809a5fe3645f0af82 is causing the problem

[2019-06-11 14:58] kaustubh-nair commented on #665
I've pushed `development` to `unstable` @cesswairimu

[2019-06-11 15:02] alaxalves commented on #665
@kaustubh-nair I dont remember bundle updating on Mapknitter, maybe dependa-bot? Anyway if it was me I'm sorry. The schema file was not manually changed, actually it has been changed because we have adopted the same stylesheet as Plots2, so Rubocop has autofixed it.
I didn't mean we wait for Rails 6, I mean we keep updating development branch until it gets stable.

[2019-06-11 16:05] rarrunategu1 opened #681 "Images cannot be uploaded on mapknitter unstable"
### What happened just before the problem occurred
I tried uploading an image but it just stayed loading for 10 minutes now with no response
![image](https://user-images.githubusercontent.com/29240939/59287859-87768d80-8c40-11e9-87eb-79413c14bc0d.png)

Possible it's because the Amazon AWS file storage is not hooked up in unstable
It's generally set up to go to AWS in production but we use env vari

[2019-06-11 17:12] divyabaid16 opened #682 "Version tracking of images"
**Description**
Images can be updated by the users and the history of all the images must be stored.
The latest version of the image must be shown up.

Something similar to the GitHub comments:
![Selection_172](https://user-images.githubusercontent.com/32747809/59292079-e4526200-8c99-11e9-9389-6b0bc7579926.png)

Image versioning, locking, and reverting must be possible.

Thanks!

[2019-06-11 17:37] cesswairimu opened #683 "Correct stable url."
The stable url given in the readme file https://github.com/publiclab/mapknitter/blob/main/README.md  is for unstable. Change the url under  **Staging infrastructure and testing** where we have

[code]
to

[code]

[2019-06-11 17:52] jywarren commented on #682
Hi @divyabaid16 are you looking to plan this one out a bit? One thing you could do is look at another system in Rails that has versioning. For example our `node` model in `plots2` has "revisions" which are stored in a second table: https://github.com/publiclab/plots2/blob/master/app/models/node.rb

https://github.com/publiclab/plots2/blob/master/app/models/revision.rb

Potentially a second table c

[2019-06-11 17:55] jywarren commented on #682
Let's map out how it's done currently -- aha, actually we use the Node table:

https://github.com/publiclab/mapknitter/blob/3588ccd8b2510472d6aa73328fbf37f865f3f596/app/controllers/images_controller.rb#L73-L97

Perhaps we need to add a "version" column to that table, and then we can fetch the associated nodes using that, instead of using a concatenated list like `1,2,3,4` the way we do here:

http

[2019-06-11 18:12] jywarren commented on #683
cc @icarito just FYI - and let's merge this!

On Tue, Jun 11, 2019 at 1:37 PM Cess <notifications@github.com> wrote:

[2019-06-11 19:56] jywarren commented on #681
Ah, i think it's in this file we need to add our configs!
https://github.com/publiclab/mapknitter/blob/main/config/amazon_s3.yml.example

On Tue, Jun 11, 2019 at 12:06 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-06-12 00:39] amac714 commented on #683
Hello, I am a first timer. Can I work on this?

[2019-06-12 08:40] cesswairimu commented on #683
Hi @amac714, yeah sure go ahead

[2019-06-12 18:21] jywarren commented on #570
I think that would be great, @sashadev-sky and we should highlight this as something we may want to implement -- would anyone in SoC want to try this out? @kaustubh-nair @alaxalves or maybe @cesswairimu or @publiclab/mapknitter-reviewers ? Or @igniteeng000 you're welcome to it as well!

[2019-06-12 19:15] #679 closed

[2019-06-13 02:57] divyabaid16 commented on #570
I would like to work on this.
Thanks!

[2019-06-13 03:22] sashadev-sky opened #687 "Add first-timers-only-friendly badge to README"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-06-13 03:23] sashadev-sky commented on #687
assigned to @Hasan-Ali!

[2019-06-13 03:44] sashadev-sky commented on #434
assigned to @Welquer currently!

[2019-06-13 04:03] sashadev-sky opened #688 "Add chat-in-different-ways badge to README"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-06-13 04:03] sashadev-sky commented on #688
assigned to @st3v0o!

[2019-06-13 04:09] sashadev-sky commented on #648
@ManethKulatunge are you still looking for an FTO? If so you can add your name to the FTO issues tracker in https://github.com/publiclab/plots2/issues/4963 and say you want something for Mapknitter specifically and we'll assign you.

Or you can grab this open FTO from the leaflet-environmental-layers repo: publiclab/leaflet-environmental-layers#177

[2019-06-13 04:15] sashadev-sky commented on #647
@spShashankGit sorry to tell you this issue already has an open PR for it that is ready for merge. Are you still looking for an FTO? If so you can add your name to the FTO issues tracker in https://github.com/publiclab/plots2/issues/4963 and say you want something for Mapknitter specifically and we'll assign you.

Or you can grab this open FTO from the leaflet-environmental-layers repo: publiclab/

[2019-06-13 05:48] sashadev-sky opened #690 "Cannot see font-awesome icons under login"
in the PR #633 a new `<link>` tag was added to `application.html.erb` for font-awesome:

https://github.com/publiclab/mapknitter/blob/5f25aa60243918b9d6a8f50a3db862358b25dafa/app/views/layouts/application.html.erb#L15

This makes it so that the icons no longer show up for this particular set of icons:

<img width="385" alt="Screen Shot 2019-06-13 at 1 29 40 AM" src="https://user-images.githubuserc

[2019-06-13 06:23] divyabaid16 opened #691 "Remove dotted line around html element whenever a link is clicked"
**Description**
Whenever a link is clicked with ```<a>``` tag a dotted line exists around it.
For a better UI, this dotted line must be removed.

**Problem**
![Selection_174](https://user-images.githubusercontent.com/32747809/59408503-cb4ccc80-8dd1-11e9-8659-837ef53f9fb2.png)

[2019-06-13 07:07] divyabaid16 commented on #314
I think this can be worked upon now.
Reference can be taken from https://github.com/publiclab/plots2/blob/master/CODE_OF_CONDUCT.md
Thanks!

[2019-06-13 12:30] kaustubh-nair commented on #690
I believe this should fix it. https://github.com/publiclab/mapknitter/pull/669/commits/75c2fef36468ad17b0075085d389cd902b64d91a

[2019-06-13 15:52] #683 closed

[2019-06-13 17:39] #691 closed

[2019-06-13 20:55] sashadev-sky commented on #690
hmm, since it's a small bug, could you maybe submit a quick PR just for that part? @kaustubh-nair. Then we can confirm its fixing it.

[2019-06-13 20:59] #481 closed

[2019-06-13 21:12] Hasan-Ali commented on #687
@sashadev-sky thanks for the instructions, I'll do my best.

[2019-06-13 21:22] sashadev-sky commented on #676
@jywarren Confirmed MapKnitter. Will open PR.

[2019-06-13 21:30] #647 closed

[2019-06-13 21:34] sashadev-sky commented on #648
closed via #652

[2019-06-13 21:34] #648 closed

[2019-06-13 21:36] jywarren commented on #124
Do we need to add a default selected state within the MapKnitter codebase now?

[2019-06-13 21:45] sashadev-sky commented on #124
Yes!

[2019-06-13 21:56] jywarren commented on #124
OK, we'll have to update these two spots, i think?

https://github.com/publiclab/mapknitter/blob/ea898cc6311a5267b43174d05b1a5c764ff815ed/app/assets/javascripts/mapknitter/Map.js#L165-L169

https://github.com/publiclab/mapknitter/blob/ea898cc6311a5267b43174d05b1a5c764ff815ed/app/assets/javascripts/mapknitter/Map.js#L102-L107

But we'll want to make only the most recent image actually have this ena

[2019-06-13 21:56] jywarren commented on #124
And we'll have to bump the Leaflet.DistortableImage version.

[2019-06-14 04:11] sashadev-sky opened #696 "Community Microscope kits should be replaced with aerial kits"
From UI evaluation: https://publiclab.org/notes/molangmuir10/06-10-2019/mapknitter-ui-evaluation?_=1560394957

Note how community microscope kits is displayed on MapKnitter's home page:
![32768-1.png](https://images.zenhubusercontent.com/5c6571aec73a16411fa098e7/d9c415c3-ff2a-48ee-be05-3589a9220c57)

I found the line of code for it here:
https://github.com/publiclab/mapknitter/blob/ea898cc6311a526

[2019-06-14 04:12] sashadev-sky commented on #696
@jywarren Was wondering if you could help me out here please!

[2019-06-14 04:22] sashadev-sky commented on #124
@jywarren bumping now! I'll draft a new release too. Ill ping you here when it's done

[2019-06-14 05:43] sashadev-sky commented on #124
https://github.com/publiclab/Leaflet.DistortableImage/releases Ok feel free to release if you think its ready and let me know when you do!

[2019-06-14 06:02] kaustubh-nair commented on #690
@sashadev-sky I think it should be fixed now, since a6718529640a4469ba7e61443f4f23bf5ab657d2 got merged. Can you check again and confirm?

[2019-06-14 06:31] sashadev-sky commented on #690
Yes its fixed! But I still see were pulling 2 different font-awesome packages into /public/lib that are version 4.2.0 and also pulling in another one via cdn that is version 5.8.2. I am going to open a PR to try getting it down to 1? Or is there a reason for this? @kaustubh-nair

[2019-06-14 07:19] divyabaid16 commented on #124
Ya, I will give a try here :)

[2019-06-14 14:16] divyabaid16 opened #700 "Error in creating new map"
**Description**

After fetching the latest commits, I got the following error on creating a new map.

![Selection_183](https://user-images.githubusercontent.com/32747809/59515554-025bd480-8edd-11e9-8436-6bc1a8e1c3f8.png)

[2019-06-14 14:26] divyabaid16 commented on #700
Hi @cesswairimu maybe you can help here.
Thanks!

[2019-06-14 19:50] cesswairimu commented on #700
Hi @divyabaid16 sure taking a look

[2019-06-14 20:25] cesswairimu commented on #700
Unfortunately I can not replicate this locally..its creating a map fine on my end. Just making sure did  you run `bundle install` after pulling? Also if you could share the error displayed on the terminal logs maybe I can get more info to help/debug. Also anyone else getting this? Thanks

[2019-06-14 22:16] #570 closed

[2019-06-16 09:45] kaustubh-nair commented on #690
Hey @sashadev-sky I've tried looking into the cause of this.. I think this is happening because `image-sequencer` and `leaflet-distortableimage` have font-awesome as dependencies, which is causing a version mismatch. And maybe we should wait a bit to address this issue, since we are going to switch to yarn soon https://github.com/publiclab/mapknitter/pull/702/
Thanks!

[2019-06-16 09:53] kaustubh-nair opened #703 "rake db:migrate does not work"
While running migrations for the first time, the migrations fail. A workaround for this is to use `rake db:setup` but it's a good idea to have clean migration files.

[code]

[2019-06-16 11:40] sashadev-sky commented on #690
@kaustubh-nair also in the process of removing font-awesome dependency in favor of svg sprites so we can use any icons we'd like in LDI! @jywarren

[2019-06-17 00:12] #351 closed

[2019-06-17 12:07] kaustubh-nair opened #711 "Update installation instructions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-17 12:56] alaxalves commented on #703
Is this on `main` branch?

[2019-06-17 12:58] kaustubh-nair commented on #703
Yes its on the main branch

On Jun 17, 2019 6:26 PM, Álax de Carvalho Alves <notifications@github.com> wrote:

Is this on main branch?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/publiclab/mapknitter/issues/703?email_source=notifications&email_token=AHGMLDDGCF3IYR2FUURVEM3P26CYLA5CNFSM4HYQZZVKYY3PNVWWK3TUL52HS4DFVREX

[2019-06-17 13:06] alaxalves commented on #703
Weird, so [this](https://github.com/publiclab/mapknitter/pull/685#issuecomment-502653067) might be coming from `main`.

[2019-06-17 14:17] kaustubh-nair commented on #703
I think the problem here is with some specific migration file. Because here I can run `db:migrate` after deleting all the migrations. But it doesn't work on `rails-5`

[2019-06-17 16:39] divyabaid16 commented on #700
Ahh, it was working fine for me today.
Sorry for bothering you @cesswairimu .

[2019-06-17 16:39] #700 closed

[2019-06-17 17:16] cesswairimu commented on #700
cool, @divyabaid16, I am having the problem creating a map now(not the same error)+ the map is not being rendered in `maps/new`   If you have a minute, could you please pull the lastest code and let me know if you can successfully create a map...You might want to run `yarn install` since we have changed from bower to yarn. Thanks

[2019-06-18 06:56] divyabaid16 opened #716 "Create a better UI for login"
Currently, the UI for login is very simple and does not look so attractive.
When the user clicks on the login option, it must appear at the middle of the page as a box and must have better designs.
Something similar to Spectral Workbench and Plots2.

Thanks!

[2019-06-18 12:35] CheykoBlack commented on #711
Hi! I'm a first time contributor to any open source project and have to do so for my first summer internship (yay!) and I would like to claim this as my first practice step. =D Please and thank you!

[2019-06-18 12:55] divyabaid16 commented on #700
@cesswairimu, it is working for me.

[2019-06-18 13:01] cesswairimu commented on #700
Okay maybe I am missing something. Thanks

[2019-06-18 13:03] CheykoBlack commented on #711
I went ahead and submitted a pull request, had a more experienced employee help me with the git commands and filling out the thread post attached with the pull request but I did everything else myself so it wouldn't be surprising if I messed something up. Just let me know, and thank you so much! =D

[2019-06-18 14:10] steviepubliclab opened #719 ""log in" button not working"
### What happened just before the problem occurred
I'm on google chrome, and went to Mapknitter to search for some maps. I'm not logged in on this computer, but when I tried to use the button on the left-hand side of the page, it wasn't working. I kept getting a flash of a dropdown, but nothing happens when I click it.

![Screen Shot 2019-06-18 at 10 06 49 AM](https://user-images.githubusercontent

[2019-06-18 14:39] kaustubh-nair commented on #719
Thanks for the issue @steviepubliclab

https://github.com/publiclab/mapknitter/blob/5673c037ea653bef190cc2c02aa38d870a69069d/app/views/maps/index.html.erb#L23
The `mini-login` event seems to be missing here

[2019-06-18 15:40] jywarren opened #720 "Collection of bug reports/input from Mapping Fellows (Community Atlas)"
Our Mapping Fellows (https://publiclab.org/tag/community-atlas) had a call today and we're reporting in a collection of UI/UX input from them here -- very helpful! Thanks Sairam and Mo!

I've separated these out into issues for Leaflet.DistortableImage and MapKnitter. The matching Leaflet.DistortableImage issue is at https://github.com/publiclab/Leaflet.DistortableImage/issues/306

Also cc #312 an

[2019-06-18 16:02] rarrunategu1 commented on #681
Hi, @icarito can you help with this?  I've looked it over and over again but I just don't know what to do.  What does adding our configs entail?  Would I add something like "root: <%= Rails.root.join("storage") %>" to the config file?  Where is the storage located for unstable?

[2019-06-19 05:47] divyabaid16 commented on #659
@sashadev-sky @jywarren please review the PR #693

[2019-06-19 06:07] divyabaid16 commented on #720
I will start working with this.
Thanks!

[2019-06-19 07:10] divyabaid16 commented on #541
Closing this as it has been solved in #653
Thanks!

[2019-06-19 07:10] #541 closed

[2019-06-19 07:30] divyabaid16 opened #722 "Fix typo in MYSQL.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-19 07:38] divyabaid16 opened #723 "Correct Grammatical mistake in MYSQL.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-19 07:53] divyabaid16 opened #724 "Add toggle view for images in the sidebar"
**Description**

Add toggle view option in the image sidebar to view images in form of a
- list
- grid

According to user for a better UI.
![Selection_187](https://user-images.githubusercontent.com/32747809/59746734-216bb500-9295-11e9-9062-240ed6dab729.png)

[2019-06-19 09:24] tarokawada commented on #722
I claim it :)

[2019-06-19 10:27] cesswairimu commented on #634
I guess we can keep this open a little longer for other folks who would like to join. Thanks

[2019-06-19 13:34] fwSmit commented on #723
I'm working on it!

[2019-06-19 13:49] fwSmit commented on #723
Made a pull request

[2019-06-19 13:57] cesswairimu commented on #703
Which branch could I pull to replicate this? @alaxalves

[2019-06-19 14:49] jywarren commented on #634
Yes, good idea!

On Wed, Jun 19, 2019 at 6:28 AM Cess <notifications@github.com> wrote:

[2019-06-19 15:06] jywarren commented on #719
Thanks! @divyabaid16 would you be able to address this in your #717 PR? Thanks, all.

[2019-06-19 16:06] divyabaid16 commented on #719
Sure!

[2019-06-19 16:06] rarrunategu1 opened #728 "Adding map doesn't automatically populate the lat and long coordinates or the url. Map also doesn't show if information is entered manually"
![image](https://user-images.githubusercontent.com/29240939/59781648-3b53ca80-928a-11e9-8535-269144a4eb82.png)

If information is entered manually, it seems to create the map but doesn't show the map at all.
@divyabaid16 I'll start working on this.

### Relevant URLs

https://

### PublicLab.org username

(to help reproduce the issue)

### Browser, version, and operating system

For bug reports, f

[2019-06-19 16:09] divyabaid16 commented on #720
Hi @jywarren I couldn't understand which button or field you are talking about in the second point.
Can you please elaborate a bit here?
Thanks!

[2019-06-19 16:13] divyabaid16 commented on #728
Thank you @rarrunategu1 for opening this issue and starting to work on this. I was also facing this for a few times.

[2019-06-19 17:09] divyabaid16 commented on #719
I have fixed the issue @jywarren
Thanks!

[2019-06-19 17:10] cesswairimu commented on #728
Thanks for opening this, I am also experiencing the same.Plus the world map is not rendered on the maps/new template. Mentioning @kaustubh-nair who might have some pointers, it seems this first occurred after we changed from bower to yarn.

[2019-06-19 17:26] kaustubh-nair commented on #728
Is this happening only on `unstable`?
I tried this on `main` and it seems to work fine?

[2019-06-19 17:27] divyabaid16 commented on #728
It is working fine on main @kaustubh-nair .

[2019-06-19 17:28] cesswairimu commented on #728
oh, I am having the prob locally on main

[2019-06-19 18:52] jywarren commented on #719
awesome, thank you!!!!

On Wed, Jun 19, 2019 at 1:19 PM Divya Baid <notifications@github.com> wrote:

[2019-06-19 18:53] #716 closed

[2019-06-19 18:54] #723 closed

[2019-06-19 19:29] jywarren commented on #720
I was wondering if we could insert an image into the posts generated by the button here:

![image](https://user-images.githubusercontent.com/24359/59794486-0f930d80-92a7-11e9-86bc-9e5c25c56ff2.png)

Here is the code!

https://github.com/publiclab/mapknitter/blob/5987398a4067cfbd416cc3ab4905e4ba0709f818/app/views/layouts/knitter2.html.erb#L85

[2019-06-19 22:57] zelol commented on #639
Still open for first-timer? :)

[2019-06-19 23:11] #711 closed

[2019-06-20 02:19] claytron5000 commented on #248
Seems like this issue has been slow to move. I'm taking a shot at it. One thing that might be helpful is to know where the output clean rss feed ends up. I'm new to ruby and rails, so I haven't been able to follow the code-path to figure out where it might render. I've tried most common-sense feed uri's to no avail.

[2019-06-20 02:54] #676 closed

[2019-06-20 09:05] kaustubh-nair commented on #703
Hi @cesswairimu
This is a problem on the main branch

[2019-06-20 09:41] kaustubh-nair commented on #728
Any idea what package we're using for this? @cesswairimu @divyabaid16 @rarrunategu1
I couldn't find anything in error logs
It's possible some package isn't being loaded correctly.

[2019-06-20 10:15] cesswairimu commented on #728
I think its google maps api

[2019-06-20 16:32] rarrunategu1 commented on #728
I've been looking at the package.json and it still has some bower dependency in it.

prototypejs-bower": "plynchnlm/prototypejs-bower#1.7.2

Should that not be changed?  I'm looking into how that would be changed if we're using yarn instead.

[2019-06-20 17:33] jywarren commented on #728
`prototypejs-bower` is a very very old library, adapted to work with bower, which we don't use anymore... i hope we can drop prototypejs! But... indeed it seems like a variety of issues may have come up due to the Yarn switchover. Can folks share their JavaScript console logs when they start typing in the "title" field? It's supposed to:

1. make the title lowercase
2. replace spaces with hyphens

[2019-06-20 17:41] rarrunategu1 commented on #728
Yarn install now shows these errors which explain why it might not be working.

warning " > bootstrap@4.3.1" has unmet peer dependency "popper.js@^1.14.7".
warning "leaflet-environmental-layers > leaflet-spin@1.1.0" has incorrect peer dependency "leaflet@^0.7.3".
warning " > leaflet-illustrate@0.0.2" has unmet peer dependency "grunt-cli@0.1.13".
warning " > leaflet-spin@1.0.0" has incorrect peer d

[2019-06-20 18:42] jywarren commented on #248
I believe they appear here! https://mapknitter.org/feeds/tag/barataria Thank
you!

On Wed, Jun 19, 2019 at 10:20 PM Clayton <notifications@github.com> wrote:

[2019-06-20 19:29] rarrunategu1 commented on #728
When you remove the document.ready it works.  But I need to figure out why it's not working with it.

[2019-06-20 19:53] jywarren commented on #728
Hmm. document.ready is a bit odd, if it's run after the page is loaded,
then it'll miss that event and never trigger.

On Thu, Jun 20, 2019 at 3:29 PM rarrunategu1 <notifications@github.com>
wrote:

[2019-06-21 07:34] divyabaid16 commented on #639
Yes @zelol you can work on this.
Thanks!

[2019-06-21 15:24] jywarren commented on #327
Noting https://github.com/publiclab/mapknitter/pull/633 has a number of new front page updates!

[2019-06-21 15:41] jywarren commented on #327
Wow there's a lot of progress here: http://mapknitter-unstable.laboratoriopublico.org/front-page

OK, so what additional steps do we need?

* [ ] featured mappers might use the last image they uploaded
* [ ] let's replace "waterproof mini camera" with this: https://store.publiclab.org/products/raspberry-pi-camera
* [ ] can we look at some other map styles using MapBox?
* [ ] what about the idea of

[2019-06-21 15:42] jywarren commented on #327
Can any link to `/maps/new` open an optional modal to log in first? But that has an option "make an anonymous map" with a link to "limitations", maybe going to publiclab.org/wiki/mapknitter-anonymous where we'll write some additional documentation?

[2019-06-21 16:22] rarrunategu1 commented on #728
The page is not being loaded correctly.  I am receiving these errors when I inspect the page.
![image](https://user-images.githubusercontent.com/29240939/59936432-fc567e00-941d-11e9-94dc-47a441d66854.png)
![image](https://user-images.githubusercontent.com/29240939/59936485-185a1f80-941e-11e9-8b02-df15d8e41ff4.png)
![image](https://user-images.githubusercontent.com/29240939/59936515-34f65780-941e-1

[2019-06-21 16:37] jywarren commented on #728
Ah, good catch -- once the page says it's done loading, what happens when
you type `L` in the JS console and hit return? You should see Leaflet, but
if not, perhaps Leaflet is not itself loaded at all? Otherwise it's
probably what you're saying about ordering.

The other possibility is that now we're on Yarn, you need to re-install
dependencies using Yarn instead of Bower? have you run `yarn insta

[2019-06-21 16:46] kaustubh-nair commented on #728
Hi @rarrunategu1 I can look into this if you're stuck!
@jywarren Yes. Readme was updated in an FTO I made for it. https://github.com/publiclab/mapknitter/pull/718/files

[2019-06-21 18:47] rarrunategu1 commented on #728
hello @kaustubh-nair, I re-installed yarn globally per the instruction and installed yarn again with yarn install --force.  This is what I get.  It looks fine except for some warnings.
![image](https://user-images.githubusercontent.com/29240939/59944671-5c0b5400-9433-11e9-8340-5d7764388793.png) but when I try to run the application again I still get the same errors.  Is there something I'm missing

[2019-06-21 20:56] jywarren commented on #668
Hi all - Jenkins says our stable server has been down for the past week -- here's the last successful build: https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/lastSuccessfulBuild/console

No worries, just getting synced up here.

https://jenkins.laboratoriopublico.org/job/Mapknitter-Stable/lastFailedBuild/console is the most recent failed build, which right now shows:

[code]

I know fo

[2019-06-22 04:44] kaustubh-nair commented on #668
Oh wow I didn't notice this at all. So the yarn upgrade didn't get published to the live site? I'm surprised the Travis build didn't fail for it. I'm sure the problem is due to the database.yml that I had modified for getting it running on travis. I'll revert it to what it was.
Meanwhile @jywarren @alaxalves Is there a reason the Travis build is passing but jenkins is failing? Perhaps because of d

[2019-06-22 04:48] kaustubh-nair commented on #668
The only reported bug right now is https://github.com/publiclab/mapknitter/issues/728
Once we fix that we should be good!
Thanks!

[2019-06-22 05:40] kaustubh-nair opened #732 "Jenkins and Travis are inconsistent with each other"
Based on my changes in https://github.com/publiclab/mapknitter/pull/725, it seems jenkins and travis are not in sync
The the pr linked above, Jenkins is passing but Travis is failing.
Also in the Yarn upgrade, #702 Travis is passing but Jenkins is failing.
Are they running on the same environment?
This is a critical issue and we should be fixing this as soon as possible

[2019-06-22 05:41] kaustubh-nair commented on #732
Pinging @alaxalves @jywarren @icarito here

[2019-06-22 06:11] kaustubh-nair opened #734 "Annotation js not loading"
The js files for annotations are not loading correctly
This might be an ordering issue similar to https://github.com/publiclab/mapknitter/pull/733
Relevent errors:
![DeepinScreenshot_select-area_20190622114122](https://user-images.githubusercontent.com/30197132/59960219-ba434000-94e2-11e9-9c2d-7e06412acc5c.png)

[2019-06-22 06:13] kaustubh-nair commented on #728
Hi all
I've submitted a patch for this issue, but there is another problem of the annotation files not loading
If someone could help out with that, it could be great https://github.com/publiclab/mapknitter/issues/734
Thanks!

[2019-06-24 13:18] divyabaid16 opened #739 "Make single lines comment to multi line comment"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-24 13:23] Kunaldargan commented on #739
Hi, I'm interested in contributing here.

[2019-06-24 13:24] alaxalves commented on #668
I have set Travis to start using Test env, since it was using Production's. Maybe Jenkins have not been set to use the same env.

[2019-06-24 13:24] divyabaid16 commented on #739
Go ahead @Kunaldargan
Thanks!

[2019-06-24 13:26] alaxalves commented on #732
@kaustubh-nair Can you post the config file for Jenkins here? I could take a look into it

[2019-06-24 13:41] Kunaldargan commented on #739
Please let me know if tests are required and how to perform ?

[2019-06-24 16:15] jywarren commented on #668
Hi @alaxalves can you point at or elaborate on the change we'll need to make in Jenkins, so when @icarito has a second it'll be easy to make the changes? Thanks a lot! And thanks @kaustubh-nair i'll watch for #728 and we'll hopefully test it on stable before doing a publication to production. We're not yet running Rails 4 or Yarn on production but hoping to this week!

[2019-06-24 16:23] #728 closed

[2019-06-24 18:19] rarrunategu1 opened #741 "Image deletion menu with icons"
### What happened just before the problem occurred
Usually when you click on an image you upload on a map a menu with icons, including the trash icon pop up so that you can edit your image.  It's no longer showing when running locally.  If you double click on the image it just zooms in on the map.  If you drag and drop an image it works on that image but that in itself has another issue which I'll

[2019-06-24 18:47] alaxalves commented on #668
I can do that, currently I am a little unaware of what is going on with Jenkins but I'll catch up with Kaustubh.

[2019-06-24 18:49] jywarren commented on #668
Awesome, thanks so much! https://jenkins.laboratoriopublico.org - and
icarito is in the chatroom - i know a bit about it as well. Thanks!

On Mon, Jun 24, 2019 at 2:48 PM Álax de Carvalho Alves <
notifications@github.com> wrote: